@charset "UTF-8";
/* layout.css
******************************************/
#main{
	width:970px;
}
.title_block_05{
	margin-bottom:10px;
	padding-bottom:3px;
	text-align:left;
	border-bottom:solid #999999 1px;
}
.title_block_05 h3 {
	/*color:#343434;*/
}
.title_block_06{
	margin-bottom:10px;
	padding:0;
	text-align:left;
}
.item_block_02{
	width:730px;
	margin-bottom:20px;
	padding:15px 15px 25px;
	text-align:left;
	background:#ffffff;
}
.text_block_01 p {
	font-size: 1.2em;
}
/* access layout
******************************************/
.f_left_02 {
	float: left;
	width: 360px;
	height: auto;
}
.f_right_02 {
	float: left;
	width: 350px;
	margin-left: 10px;
}
p.catchcopy{
	font-size:1.6em;
}
/* position
******************************************/
.text_center {
	text-align: center;
	margin: 10px 0;
	padding: 0;
}
.text_center02 {
	text-align: left;
	margin:  10px 0;
	padding-left: 150px;
}
.text_left {
	text-align: left;
	margin: 0;
	padding: 0;
	float: left;
}
/* map
******************************************/
.mapInfo {
	margin-bottom: 20px;
	text-align: left;
	padding-top: 3px;
}
.mapInfo dl {
	font-weight: normal;
	margin-bottom: 15px;
	padding-bottom: 12px;
	background: url(/common/images/common_line_004.gif) repeat-x left bottom;
}
.mapInfo dt {
	clear: left;
	float: left;
	margin-bottom: 10px;
	padding-left: 5px;
}
.mapInfo dt,strong {
	font-weight: bold;
}
.mapInfo dl dd {
	font-size: 1.2em;
	line-height: 1.5;
	margin: 0 0 0 145px;
}
.mapInfo p {
	padding-left: 5px;
}
.mapInfo dl.wide dt {
	float: none;
	margin-bottom: 10px;
	padding-left: 5px;
}
.mapInfo dl.wide dd {
	margin: 0 0 0 0;
}
.mapInfo dl.wide .disc {
	margin-left: 2em;
}
.mapInfo dl.wide .disc li {
	font-size: 100%;
	list-style-position: outside;
	line-height: 1.2;
}


/* image
******************************************/
.img_center {
	text-align: center;
}
.img_center02 {
	width: 584px;
	margin: 0 auto;
}
/* mb
******************************************/
.bottom_up {
	margin-bottom: 25px;
}
.mt-10{
	margin-top: -10px;
}
/* caution
******************************************/
p.caution {
	text-indent: -15px;
	margin-left: 15px;
	font-size: 1.1em;
}
/* table
******************************************/
table p {
	font-size: 1em;
}
.table_widht {
	width: 100px;
}
.cell06 {
	width: 15%;
}
.cell07 {
	width: 10%;
}
.cell08 {
	width: 20%;
}
.cell09 {
	width: 13%;
}
/* list
******************************************/
ul.disc {
	margin-left: 0;
}
ul.disc li {
	list-style: disc outside none;
	font-weight: normal;
	margin-bottom: 6px;
	text-indent: 0;
}
/* caution
******************************************/
.table_block_01 table th,
.table_block_01 table td {
	padding-top: 7px;
	padding-bottom: 7px;
	line-height: 1.5;
}
/* access only style
******************************************/
.access_map_link {
	margin: 10px 0;
	padding: 0;
	text-align: right;
}
#parco_parking_detail {
	margin-bottom: 30px;
}
#parco_parking_detail table {
	table-layout: fixed;
	line-height: 1.4;
}
#parco_parking_detail table th,
#parco_parking_detail table td{
	padding-bottom: 8px;
}
#parco_parking_detail th {
	background-color: #ffffff;
	text-align: left;
}
#parco_parking_detail td {
	text-align: center;
}
#parco_parking_detail .parking_area th {
	background-color: #d9d9d9;
	text-align: center;
	font-size: 1.1em;
}
#parco_parking_detail .cell01 {
	width: 16%;
}
#parco_parking_detail .cell02 {
	width: 42%;
}
#parcoparking {
	/*margin-bottom: -10px;*/
}
#parking_bike table th {
	padding: 7px 5px;
}
#parking_bike table .bikeCont td {
	vertical-align: top;
	padding: 7px 5px;
}
#parking_bike table .cell01 { width: 16%; }
#parking_bike table .cell02 { width: 27%; }
#parking_bike table .cell03 { width: 15%; }
#parking_bike table .cell04 { width: 42%; }

#each_parking_service {
	margin-bottom: 8px;
}
#each_parking_service table {
	table-layout: fixed;
}
#each_parking_service table th,
#each_parking_service table td {
	word-break: break-all;
	word-wrap: break-word;
	text-align: center;
	line-height: 1.4;
}
#each_parking_service table th {
	font-size: 1.1em;
}
#each_parking_service table td {
	padding-left: 8px;
	padding-right: 8px;
}
#each_parking_service table td p {
	margin-bottom: 5px;
	line-height: 1.4;
}
#each_parking_service table .cell01 {
	width: 22%;
}
#each_parking_service table .cell02 {
	width: 16%;
}
#each_parking_service table .cell03 {
	width: 15%;
}
#each_parking_service table .cell04 {
	width: 14%;
}
#each_parking_service table .cell05 {
	width: 33%;
}
#parcoparking .dummy_block {
	background-color: #CCCCCC;
	display: table;
	height: 284px;
	width: 100%;
}
#parcoparking .dummy_block p {
	display: table-cell;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}

.pkTbl01 td {
	padding: 12px 10px !important;
}

.bikeHour {
	font-size: 16px;
	vertical-align: middle !important;
}
