@charset "UTF-8";

/* StyleList - - -
	*Reset
	*common
 - - - - - - - - */

/* Reset ******************/
html,body{color:#000;font-size:small;line-height:1;height:100%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input[type="text"],input[type="password"],input[type="checkbox"],textarea,p,blockquote,table,th,td,img{margin:0;padding:0;border:0;}
ol,ul{list-style:none;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
sup{vertical-align:text-top;line-height:0.5;}
sub{vertical-align:text-bottom;line-height:0.5;}
input,textarea,select,legend{color:inherit;font-family:inherit;font-size:inherit;font-weight:inherit;}
a,a:link,a:visited,a:hoverl,a:active{color:inherit;text-decoration:underline;}

/* common ******************/

.clear:after{content:"";display:block;clear:both;}
.w6{width:6% !important;}
.w8{width:8% !important;}
.w10{width:10% !important;}
.w12{width:12% !important;}
.w14{width:14% !important;}
.w16{width:16% !important;}
.w18{width:18% !important;}
.w20{width:20% !important;}

body{
background:#b3bac6;
}
#header{
background:#285d91;
color:#fff;
position:relative;
}
#header a{
color:#fff;
}
#header ul.header_basic,
#header .header_title_area p,
#header ul.header_menu{
display:block;max-width:1500px;margin:0 auto;position:relative;
}
#header .header_title_area p {
 padding-left: 9px;
}
#header .header_title_area{
background:#c5d7eb;
color:#000;
font-size:larger;
height:3em;
line-height:3em;
}
#header .header_title_area p strong{
color:#074276;
font-size:160%;
margin-left:20px;
}
#header ul.header_basic,
#header ul.header_menu{
height:2em;
line-height:2em;
}
#header ul.header_basic li,
#header ul.header_menu li{
display:inline;
padding:2px 20px;
border-left:1px solid;
}
.page-blog #header ul.header_menu li a.blog,
.page-member #header ul.header_menu li a.member{
text-decoration:none;
font-weight:bold;
}
#header ul.header_basic li:first-of-type,
#header ul.header_menu li:first-of-type{
border-left:none;
}
#header ul.header_basic li#logout_button{
border-left:none;
position:absolute;
right:20px;
}

#header .accordion_box{
position:relative;
}
.accordion_head {
cursor:pointer;
text-decoration:underline;
display:inline;
}
#header ul.header_basic .accordion {
    display     : none;
    width       : 163px;
    left        : 0;
    top         : 2em;
    border      : gray solid 2px;
    position    : absolute;
    z-index     : 9;
    background  : #fff;
}
#header ul.header_basic .accordion li {
    display     : block;
    cursor      : pointer;
    height      : 2em;
    border      : gray solid 1px;
}
#header ul.header_basic .accordion li.hover {
    background-color : #87cefa;
}
#header ul.header_basic .accordion a {
    color  : black;
}
#header .selected {
    text-decoration : none; 
}



#main {
    background: #b3bac6;
    color     : #000;
    position  : relative;
    padding   : 0;
    margin    : 20px;
}
@media screen and (min-width: 1500px) {
    #main {
        width  : 1460px;
        margin : 20px auto;
    }
    #header .header_title_area p {
        padding-left: 19px;
    }
}

#main a{
color:#0077bb;
}
#main #console_area,
#main #extraction_result_area{
display:block;max-width:1500px;margin:0 auto 10px;position:relative;
background:#fff;
border:#fc0 solid 3px;
padding:10px 20px;
}
#console_area form{
display:block;max-width:900px;margin:0 auto;position:relative;
}

#console_area .action_box{
position:absolute;
top:0;
right:0;
}
#console_area .action_box input {
/*background:#f1efe7;
border:#000 solid 1px;*/
padding:0 1.5em;
margin-right:1.5em;
}

#console_area .action_box input:last-of-type{
margin-right:0;
}
#console_area .condition_input_box input{
border:solid 1px #89a4bf;
margin:-1px 0;
text-align:center;
line-height:1em;
}
#console_area .condition_input_box dl{
float:none;
clear:both;
padding:0.5em 0;
}
#console_area .condition_input_box dl:after{content:"";display:block;clear:both;}
#console_area .condition_input_box dt,
#console_area .condition_input_box dd{
float:left;
height:2em;
line-height:2em;
}
#console_area .condition_input_box .shop_input dt,
#console_area .condition_input_box .period_input dt{
width:5em;
}
#console_area .condition_input_box .shop_input dd,
#console_area .condition_input_box .period_input dd{
margin-right:1.5em;
}
#console_area .condition_input_box .period_input dd input{
width:4em;
margin-left:1em;
margin-right:5px;
position: relative;
top: -0.5px;
}
/*#console_area .condition_input_box .period_input dd input:first-of-type{*/
#console_area .condition_input_box .period_input dd #afterY,
#console_area .condition_input_box .period_input dd #beforeY{
margin-left:0;
}
#console_area .condition_input_box .shop_input dd select{
margin-top:3px;
}


#extraction_result_area table{
min-width:900px;
width:100%;
border-collapse:collapse;
table-layout:fixed;
}
#extraction_result_area table th,
#extraction_result_area table td{
border:1px solid #000;
line-height:1.4em;
padding:0.2em 0.4em;
word-wrap: break-word;
word-break: break-all;
}
#extraction_result_area table .tableCaption th,
#extraction_result_area table .tableCaption td{
border:0;
font-size:120%;
}
#extraction_result_area table .tableHeader{
background:#fed;
}
#extraction_result_area table .tableHeader th{
text-align:center;
}
#extraction_result_area table .tableHeader th.tableHeaderTop{
border-bottom:none;
padding-bottom:0;
}
#extraction_result_area table .tableHeader th.tableHeaderBottom{
border-top:none;
padding-top:0;
}
#extraction_result_area table #total_mean-value{
background:#dee;
}
#extraction_result_area table #total_mean-value th{
text-align:center;
}
#extraction_result_area table #total_mean-value td,
#extraction_result_area tbody td,
#extraction_result_area tbody .row-number{
text-align:right;
}

#extraction_result_area table#blog_share tbody td.row-entry,
#extraction_result_area table#blog_share tbody td.row-submitter,
#extraction_result_area table#blog_share tbody td.row-share_co{
text-align:left;
}

#extraction_result_area table tbody tr:nth-child(2n+1){
background:#fff;
}
#extraction_result_area table tbody tr:nth-child(2n){
background:#f1efe7;
}

#extraction_result_area .row-number{
width:2.5em;
}

#extraction_result_area table .spacer{
border-top:0;
border-bottom:0;
background:#fff;
width:2em;

}

#extraction_result_area .extraction_info_area{
display:block;max-width:900px;margin:0.6em auto;position:relative;
}
#extraction_result_area .extraction_info_area #totalNumber,
#extraction_result_area .extraction_info_area #displayingNumber{
display:inline;
margin:0 1em;
}

#extraction_result_area .extraction_info_area #pagination{
text-align:center;
position:absolute;
width:100%;
top:0;
}
#extraction_result_area .extraction_info_area #pagination li{
display:inline;
font-size:100%;
margin:0.5em;
}
#extraction_result_area .extraction_info_area #pagination li.separate{
border-right:1px solid #000;
padding:0 0.5em;
margin:0;
}
#extraction_result_area .extraction_info_area #pagination li.separate:nth-last-of-type(1){
border-right:0 !important;
}
#extraction_result_area .extraction_info_area #pagination li.separate.location a{
color:#000;
text-decoration:none;
}

.page-index #signin_area{
display:block;width:600px;margin:20% auto ;position:relative;
background:#fff;
border:#fc0 solid 3px;
padding:15px 20px;
}
.page-index #signin_area .signin_block label{
display:block;
margin:0.6em auto;
padding-bottom: 10px;
}
.page-index #signin_area .signin_block label p{
display:inline-block;
line-height:3em;
height:3em;
}
.page-index {
    width: 100%;
    margin:0px auto;
    position:relative;
    min-height: 100%;
}
html > .page-index {
        height: auto;
}
.page-index #main{
    padding-bottom:6em;
}
.page-index #footer{
    position:absolute;
    bottom:0px;
    height:6em;
	line-height:6em;
    width:100%;
background:#c5d7eb;
color:#000;
}
.page-index #main #signin_area input[type="text"],input[type="password"]{
border:solid 1px #000;
margin-left:10px;
padding:0 0.6em;
height:1.5em;
}
.page-index #main #signin_area input#signIn{
float:right;
padding:0.5em 1.5em;
}

.page-index #footer .copyright{
text-align:center;
}
.signin_block{
text-align:center;
}

div.error_box {
    text-align: center; 
    color: red; 
    font-weight: bold; 
    margin: 5px;
}

/* category modify ******************/
.page_title {
	margin-left: 20px;
	margin-bottom: 10px;
	font-size:medium;
}
.category_modify .left_area {
	float: left;
	width: 30%;
}

.category_modify .right_area {
	float: right;
	width: 65%;
}
.category_modify table input {
	border: 1px solid #999999;
	padding-left: 2px;
	padding-right: 2px;
	width: 95%;
	display: block;
	margin: 0 auto;
}
.category_modify table input.labeled_checkbox {
    border: none;
    display: inline;
    width: 13px;
}
#extraction_result_area.category_modify .left_area table {
	min-width: 270px;
	margin-bottom: 10px;
}
#extraction_result_area.category_modify .left_area table th,
#extraction_result_area.category_modify .left_area table td {
	text-align: left;
}
#extraction_result_area.category_modify .left_area table .cell01{
	width: 40%;
}
#extraction_result_area.category_modify .left_area table .cell02{
	width: 60%;
}
#extraction_result_area.category_modify .right_area table {
	min-width: 590px;
}
#extraction_result_area.category_modify .right_area table td {
	text-align: left;
}
#extraction_result_area.category_modify .right_area table .cell01{
	width: 20%;
}
#extraction_result_area.category_modify .right_area table .cell02{
	width: 80%;
}

/* category order ******************/
#console_area.category_order_console form {
	float: left;
	margin-right: 5px;
}
.textCenter {
	text-align: center !important;
}
.category_order_extraction .cell01 {
	width: 5%;
}
.category_order_extraction .cell02 {
	width: 20%;
}
.category_order_extraction .cell03 {
	width: 25%;
}
.category_order_extraction .cell04 {
	width: 30%;
}
.category_order_extraction .cell05 {
	width: 10%;
}
.category_order_extraction .cell06 {
	width: 10%;
}

/* mail entry ******************/
.mail_entry .page_title {
	margin-left: 0;
}

.mail_entry .condition_input_box {
	margin-top   : 10px;
	margin-bottom: 10px;
    padding      : 2px;
}
.mail_entry input.txt_input {
	border        : 1px solid #999999;
    border-radius : 2px;
    box-shadow    : 2px 4px 8px -4px rgba(0, 0, 0, 0.3) inset;
    padding       : 6px;
    margin        : 0;
	padding       : 5px;
	width         : 95%;
}
#extraction_result_area.mail_entry .cell01 {
	width: 25%;
}
#extraction_result_area.mail_entry .cell02 {
	width      : 75%;
	text-align : left;
    padding    : 10px;
}
#header .header_menu #spMenu{
	position: relative;
	border-right: 1px solid;
	text-decoration:underline;
}
#header .header_menu #spMenu ul {
	display: none;
	position: absolute;
	z-index: 10;
	top: 100%;
	left: -1px;
	width: 100%;
	background: #285d91;
	border: solid 1px #fff; 
}
#header .header_menu #spMenu ul li {
	border-left: none;
}
#header .header_menu #spMenu:hover{
   	text-decoration : none; 
}