#header {
    padding : 3px 0;
}
#main {
    width      : 800px;
    margin     : 0 auto;
    line-height: 1.4;
}
#main form {
    background-color : #fff;
    border           : 1px solid #000;
    border-radius    : 3px;
    padding          : 10px;
    box-shadow       : 2px 2px 5px rgba(0, 0, 0, 0.2);
    width            : 500px;
    margin           : 25px auto;
}
#main form dt {
    font-weight   : bold;
    border-bottom : 1px dotted #999;
}
#main form dd {
    margin        : 5px 0 1.0em;
}
#main form dd input {
    border        : 1px solid #999;
    border-radius : 2px;
    box-shadow    : 2px 4px 8px -4px rgba(0, 0, 0, 0.3) inset;
    padding       : 6px;
    margin        : 0;
    width         : 300px;
}
#main ul.errors {
    color         : #c00;
}
#notfound {
    margin : 15px;
}