@charset "UTF-8";

/* = common
*************************************************/
body{
    color:#333333;
    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size:62.5%;
    margin:0;
    padding:0;
    text-align:center;
    background:url("/common/images/common_bg.jpg") #FFFFFF left top;
}

table{
    font-size:1.2em;
    border-style:none;
    border-spacing:0;
}

img{
    border-style:none;
    vertical-align:bottom;
}

div#logo_image {
    background-color:white;
    display:table-cell;
    vertical-align:middle;
    layout-grid-line:300px;
}

#logo_image img {
     vertical-align:middle;
}

a{
    outline:none;
}

a:link,a:active{
    color:#46639F;
    text-decoration:none; 
}
a:visited{
    color:#46639F;
}
a:hover{
    color:#46639F;
    text-decoration:underline;
}


h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,form,input,select,label{
    font-weight:normal;
    margin:0;
    padding:0;
}

p,li,dt,dd{
    font-size:1.2em;
    line-height:1.5;
    margin:0;
}

ul{
    list-style:none outside;
}

button {
    width: auto;
    padding:0;
    margin:0;
    background:none;
    border:0;
    font-size:0;
    line-height:0;
    overflow:visible;
    cursor:pointer;
}

/* clearfix */
.clear:after{
    content:".";
    display:block;
    height:0px;
    clear:both;
    visibility:hidden;
    font-size:0.1em;
    line-height:0;
}

/* Win版IE7とMac版IE5対策 */
.clear{
    display:inline-block;
}

/* Win版IE5および6対策 */
/* Hides from IE-mac \*/
*html .clear{
    height:1px;
}

.clear{
    display:block;
}
/* End hide from IE-mac */