@charset "UTF-8";

/* Blog Area Parts
******************************************/

/* TOP shopblog tabs (highlight) */
.blog_btn ul.common_3tabbtn {
	background:url(/common/images/common_3tab_bg.png) no-repeat 75px top;
}
.blog_btn ul.common_3tabbtn li {
	margin-right: 13px;
}
.blog_btn ul.common_3tabbtn li.tab_btn.tab_001.active {
	background:url(/common/images/common_3tabbtn_001_act.png) center bottom no-repeat;
}
.blog_btn ul.common_3tabbtn li.tab_btn.tab_002.active {
	background:url(/common/images/common_3tabbtn_002_act.png) center bottom no-repeat;
}
.blog_btn ul.common_3tabbtn li.tab_btn.tab_003.active {
	background:url(/common/images/common_3tabbtn_003_act.png) center bottom no-repeat;
}