@charset "UTF-8";

/* blog cart Add! 140408
******************************************/
.blog_cart_block {
	overflow: hidden;
	position: relative;
	padding-top: 27px;
	padding-bottom: 20px;
	background:url(../images/common_line_001.gif) repeat-x left top;
	font-size: 0.83em;
}
.blog_cart_block_head {
}
.blog_cart_img {
	float: left;
	width: 150px;
}
.blog_cart_img img {
	max-width: 150px;
	width:expression(document.body.clientWidth > 152? "150px" : "auto");
}
.blog_cart_meta {
	float: right;
	width: 346px;
}
.blog_cart_block_body {
	float: right;
	width: 346px;
}
.blog_cart_img {
	/*position: absolute;*/
	width: 150px;
	left: 0;
	top: 27px;
}
.blog_cart_shop {
	font-size: 109%;
	margin-bottom: 5px;
}
.blog_cart_title {
	color: #46639f;
	font-size: 150%;
	font-weight: bold;
	margin-bottom: 10px;
}
.blog_cart_price {
	line-height: 1.2;
}
.blog_cart_price .price01 {
	font-size: 217%;
	margin-right: 5px;
}
.blog_cart_price .price02 {
	font-size: 92%;
}
.blog_cart_btn {
}
.blog_cart_btn a {
	display: block;
	width: 346px;
	height: 49px;
	background: url(../images/blog_cart_btn01.png) no-repeat 0 0;
	overflow: hidden;
	text-indent: -9999px;
}
.blog_cart_btn a:hover {
	opacity: 0.7;
}
.blog_cart_ttl_variation {
	width: 346px;
	height: 36px;
	margin-bottom: 5px!important;
	background: url(../images/blog_cart_ttl_variation.png) no-repeat 0 0;
	overflow: hidden;
	text-indent: -9999px;
}
.blog_cart_item_status01 table {
}
.blog_cart_item_status01 table th,
.blog_cart_item_status01 table td {
	background: #f2f2f2;
	vertical-align: middle;
	padding: 15px 18px;
	word-break: break-all;
}
.blog_cart_item_status01 table th {
	width: 195px;
	border-bottom: 5px solid #fff;
	border-right: 5px solid #fff;
	font-weight: normal;
}
.blog_cart_item_status01 table td {
	border-bottom: 5px solid #fff;
}
.blog_cart_item_status02 p {
	background: #f2f2f2;
	padding: 15px 18px;
}

