header h1 {
	font-size: 20px;
	line-height: 20px;
	margin: 0;
}

.container .credit {
	margin: 20px 0;
}

article input {
	margin-bottom: 0 !important;
}

article .page-header h2 {
	font-size: 20px;
	line-height: 20px;
	margin: 0;
}

article h3 {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 10px;
}

span.required {
	color: #B94A48;
}
