#shop dt {
    font-weight   : bold;
    font-size     : 80%;
}
#shop dd {
    padding-left  : 0;
    margin-left   : 0;
    margin-bottom : 1.0em;
    font-family   : monospace;
}

#shoplist {
    margin  : 0;
    padding : 0;
}
#shoplist table, #shoplist th, #shoplist td {
    border : 1px solid #000;
}
#shoplist table {
    border-collapse : collapse;
}
#shoplist th, #shoplist td {
    padding    : 5px;
    box-shadow : 2px 4px 6px -4px rgba(0, 0, 0, 0.3) inset;
}
#shoplist td {
    font-family : monospace;
}
#cc {
    width       : 800px;
    margin      : 0 auto;
}
#cc ul li {
    font-size   : 90%;
    font-family : monospace;
    line-height : 1.4;
}
#cc .done {
    color       : #c00;
    font-weight : bold;
    font-size   : 80%;
}