@charset "UTF-8";


#main.no_sidenav {
	width: 760px;
}

/* ERROR page style */
#error_401 .bl_block_01 {
	width: 100%;
	margin-bottom: 15px;
} 
#error_401 .bl_block_01 .bl_block_01_left,
#error_401 .bl_block_01 .bl_block_01_right {
	width: 365px;
}
#error_401 .bl_block_01 .explain {
	margin-bottom: 20px;
}
#error_401 .bl_block_01 .bl_block_01_left p {
	width: 275px;
	margin-left: auto;
	margin-right: auto;
}
#error_401 .bl_block_01 .bl_block_01_left .cap {
	margin-top: 4px; 
}
.bl_block_01_left p.twitter a {
	width: 275px;
	background: url(../images/before_login_btn_004_on.gif) no-repeat;
}
.bl_block_01_left p.facebook a {
	width: 275px;
	background: url(../images/before_login_btn_005_on.gif) no-repeat;
}
#error_401 .bl_block_01 .bl_block_01_right {
	background-image: none;
	text-align: center;
	padding-left: 0;
}
#error_401 .bl_block_01 .bl_block_01_right .cap {
	margin-bottom: 9px;
}
#error_401 .bl_block_01 .bl_block_01_right .arrow_01 {
	width: 267px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	margin-bottom: 15px;
}
#error_401 .bl_block_01 .bl_block_01_right .bl_text {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	height: 36px;
	line-height: 36px;
}
#error_401 .bl_text input {
	padding-right: 5px;
	width: 265px;
	height: 36px;
	line-height: 36px;
}
#error_401 .bl_text {
	background: url(../images/common_form_bg_014.gif) no-repeat;
	width: 275px;
}
#error_401 .bl_text .overlabel {
	width: 270px;
	line-height: 36px;
	height: 36px;
}

#error_401 .btn {
	background: url(../images/login_btn_003_on.gif) no-repeat center center;
	width: 140px;
	height: 42px;
	margin-left: auto;
	margin-right: auto;
}
#error_401 .btn input:hover {
	filter:alpha(opacity=0);
	-ms-filter:alpha(opacity=0);
	opacity:0.0;
}
#error_401 .login_cb {
	margin-bottom: 15px;
}
