@charset "UTF-8";



/* facilities common

******************************************/

.border_left {

	background: url("../../images/img_dotline_vertical_common.gif") repeat-y scroll left top transparent;

	float: left;

	line-height: 1.2;

	margin-bottom: 10px;

	padding-left: 15px;

	width: 160px;

}

.border_left.two_lines {

	height: 2.5em;

}

.inner_05 {

	float: left;

	margin-right: 18px;

	width: 574px;

}

.inner_05_min {

	text-align: center;

}

.inner_05_left {

	float: left ;

	width: 543px;

}

.inner_05_right {

	float: right;

	width: 169px;

	text-align: center;

}

.bottom_up_01 {

	margin-bottom: 10px;

}

.cb {
	clear:both;
}

/* facilities links

******************************************/

#faci_links.item_block_02{

	padding-top: 12px;

	padding-bottom: 10px;

}

#faci_links .column3_block_03 {

	margin-bottom: 8px;

}

#faci_links ul {

	margin-left: 2px;

	margin-top: 9px;

}



/* facilities detail

******************************************/

#faci_detail h2 {

	margin-bottom: 18px;

	margin-left: -8px;

}

#faci_detail .inner {

	margin-bottom: 45px;

	padding-left: 8px;

}

#faci_detail p {

	margin-bottom: 10px;

}

#faci_cashing .caution {

	margin-bottom: 25px;

}

#faci_cashing p {

	margin-bottom: 0;

}

#faci_giftticket .text_block_01 {

	margin-bottom: 20px;

}

#faci_giftticket p.strong{

	margin-bottom: 3px;

}

#faci_school h2 {

	margin-bottom: 18px;

}

#faci_school .logo {

	padding-top: 10px;

	margin-bottom: 30px;

}

#faci_school .ttl {

	font-size: 1.4em;

	font-weight: bold;

	margin-bottom: 15px;

}

#faci_school .f_left {

	width: 420px;

}

#faci_school .f_right {

	width: 292px;

	padding-top: 2px;

}

#faci_school .child_class {

	margin-top: -5px;

	margin-bottom: 0;

}

#faci_school .child_class p {

	margin-bottom: 5px;

}

#faci_detail #faci_repair {

	margin-bottom: 0;

}
.wifi_note {
	font-size: 10px;
    margin-top: 5px;
    text-align: right;
}
#faci_wifi .caution {
	margin-bottom: 25px;
}
.title_block_05 h3{
    color:#666666;
    font-size:1.4em;
    font-weight:bold;
}