@charset "UTF-8";

#footer{
    width:100%;
    margin-bottom:10px;
    padding:10px 0 12px;
    background:url("/common/images/footer_bg.gif") #333333 repeat-x left top;
}

#footer_area{
    width:970px;
    margin:12px auto 0;
    text-align:left;
}

#footer_area p{
    color:#ffffcc;
    font-size:1.4em;
    font-weight:bold;
    margin-bottom:8px;
}

#footer_area p.ttl{
    margin-left:12px;
}

#footer_area li{
    margin-bottom:6px;
}

#footer_area li a{
    color:#ffffff;
}

/*Left*/
.footer_block_01{
    padding-bottom: 9px;
    border-bottom: 1px solid #ffffff;
}
.footer_block_01 p {
    width: 960px;
    text-align: left;
    padding-left: 8px;
    margin: 0 auto;
}

.footer_shop_block_01{
    float:left;
    width:105px;
}

.footer_shop_block_02{
    float:left;
    width:128px;
}

.footer_shop_block_03{
    float:left;
    width:105px;
}

.footer_shop_block_04{
    float:left;
    width:202px;
}


/*Left Middle*/
.footer_block_02{
    float:left;
    width:540px;
    min-height:278px;
    margin-right:12px;
    padding-right:12px;
    padding-top: 5px;
    background:url("/common/images/footer_line_001.gif") repeat-y right top;
}
#footer_area .footer_block_02 p {
    padding-left: 8px;
}
#footer_area .footer_block_02 p.ttl{
    margin-left: 0;
    padding-top: 10px;
    margin-bottom: 12px;
    background:url("/common/images/footer_line_002.gif") repeat-x right top;
}

.footer_block_02 .inner{
    width:286px;
    margin-bottom:15px;
    padding:0 12px 15px;
    background:url("/common/images/footer_line_002.gif") no-repeat left bottom;
}

#footer_area .footer_block_02 .inner p{
    float:left;
    margin-bottom:0;
}

.footer_etm_block_01{
    float:left;
    width:160px;
}

.footer_etm_block_02{
    float:right;
    width:110px;
}

.footer_etm_block_03{
    float:right;
    width:110px;
    padding-top:2px;
}

/*Right Middle*/
.footer_block_03{
    float:left;
    width:182px;
    min-height:283px;
    margin-right:10px;
    padding-right:12px;
    background:url("/common/images/footer_line_001.gif") repeat-y right top;
}
.footer_block_03 .inner_01,
.footer_block_03 .inner_02 {
    background:url("/common/images/footer_line_002.gif") repeat-x right bottom;
}
.footer_block_03 .inner_01 {
    padding: 5px 0 12px 8px;
}
.footer_block_03 .inner_02 {
    padding: 12px 0 12px 8px;
}
.footer_block_03 .inner_03 {
    padding: 12px 0 0 8px;
}

/*Right*/
.footer_block_04{
    float:left;
    width:200px;
}
.footer_block_04 .inner_01 {
    padding-left: 12px;
    padding-top: 12px;
}
.footer_block_04 .inner_02 {
    padding-top: 11px;
    padding-left: 12px;
}
.footer_block_04 .inner_03 {
    background:url("/common/images/footer_line_002.gif") no-repeat left bottom;
    padding: 5px 0 12px 8px;
}

.footer_other_block_01{
    width:100px;
    margin-bottom:15px;
    padding:0 12px 15px;
    background:url("/common/images/footer_line_002.gif") no-repeat left bottom;
}

.footer_other_block_02{
    width:140px;
    padding-left:12px;
}


/*Text link and Copyright*/
.footer_txt_link_block{
    width:960px;
    margin:0 auto 10px;
    padding-left:10px;
}

.footer_txt_link_block ul{
    margin-bottom: 10px;
    text-align:center;
}

.footer_txt_link_block li{
    font-size:1.1em;
    line-height:1.2;
    margin-right:8px;
    padding-right:8px;
    border-right:solid #333333 1px;
    display:inline; 
}

.footer_txt_link_block li.last{
    margin-right:0;
    padding-right:0;
    border-right-width:0;
}

.footer_txt_link_block li a{
    color:#333333;
}

.footer_txt_link_block p{
    clear: both;
    font-size:1.1em;
    line-height:1.1;
    text-align: center;
}

.footer_txt_link_block p sub{
    font-size:1.6em;
}