/* use opacity */
#glayer {
  position: fixed!important;
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:100;
  background-color:#1F1F1F;
  -moz-opacity: 0.8;
  opacity:.80;
  filter: alpha(opacity=80);
}

/* use png */
#glayer_img {
  position: fixed!important;
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:100;
  background-image: url(glayer.png);
}
* html #glayer_img {
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/glayer.png", sizingMethod="scale");
}
