@charset "UTF-8";

#header{
    width:100%;
    min-width: 970px;
    border-top:solid #333333 3px;
}

/* Each PARCO
******************************************/
#each_parco_area{
    width:100%;
    background:#333333;
    min-width: 970px;
}

#each_parco_area ul{
    width:970px;
    margin:0 auto;
    padding:5px 0 8px;
    text-align:left;
}

#each_parco_area li{
    line-height:1.2;
    float:left;
    /*	margin-right:7px;
        padding-right:7px;
        border-right:solid #999999 2px;
    }
    #each_parco_area li.last,
    #each_parco_area li:last-of-type{
        border:none;*/
}

#each_parco_area li a{
    color:#ffffff;
}

/* Header menu
******************************************/
#header_menu_area{
    width:100%;
    background:url("/common/images/header_bg_001.gif") repeat-x;
}

.header_menu_block{
    width:970px;
    height:44px;
    margin:0 auto 16px;
    padding:0;
}

.hmb_left{
    float:left;
    width:972px;
    margin-top:12px;
}

.hmb_left li{
    font-weight:bold;
    float:left;
    margin-right:11px;
    padding-right:11px;
    border-right:solid #999999 1px;
}
.hmb_left li.last{
    border:none;
    margin-right:0px;
    padding-right:0px;
}

.hmb_left li a{
    color:#333333;
}

.hmb_left li a:hover{
    color:#ff3366;
    text-decoration:none;
}

.hmb_left li.menu01 a{
    display:block;
    width:84px;
    line-height:18px;
}

.hmb_left li.menu02 a{
    display:block;
    width:49px;
    line-height:18px;
}

.hmb_left li.menu03 a{
    display:block;
    width:133px;
    line-height:18px;
}

.hmb_left li.menu04 a{
    display:block;
    width:110px;
    line-height:18px;
}

.hmb_left li.menu05{
    margin-right:0;
    padding-right:0;
    border-right-width:0;
}

.hmb_left li.menu05 a{
    display:block;
    width:142px;
    line-height:18px;
}

.hmb_right{
    float:right;
    width:100px;
}

.hmb_right_02{
    float:right;
    width:175px;
}

.hmb_left li.btn_003{
    font-weight:bold;
    float:left;
    margin-right:3px;
    padding-right:3px;
    border-right:solid #999999 0px;
}

.hmb_left li.btn_009 img{
    padding-top:3px;
    padding-bottom:3px;
}

.hmb_left li.btn_010 img{
    padding-top:3px;
    padding-bottom:3px;
}

/*Site search*/
.header_form{
    float:left;
    position:relative;
    width:190px;
    height:25px;
    margin-top:8px;
    background:url("/common/images/common_form_bg_001.gif") no-repeat;
}

.hf_text{
    color:#666666;
    font-size:1.1em;
    /*font-size:0.9em\9;*/
    position:absolute;
    top:2px;
    left:5px;
    width:155px;
    height:23px;
    height:20px\9;
    padding-top:6px\9;
    border:none;
    background:none;
    outline:none;
}
#header .header_form .hf_text {
    font-size:1.14em;
    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    color:#333333;
}
/* .header_form_after_l{
    float:left;
    position:relative;
    width:165px;
    height:25px;
    margin-top:8px;
    background:url(../images/common_form_bg_010.gif) no-repeat;
}

.header_form_after_l .hf_text{
    color:#666666;
    font-size:1.1em;
    font-size:0.9em\9;
    position:absolute;
    top:2px;
    left:7px;
    width:125px;
    height:23px;
    height:20px\9;
    padding-top:6px\9;
    border:none;
    background:none;
    outline:none;
}*/

.hf_text:not(:target) {
    font-size:1.1em\9;
    padding-top:1px\9;
}

.hf_btn{
    position:absolute;
    top:2px;
    right:2px;
    width:21px;
    height:22px;
    background:url("/common/images/common_form_btn_on.gif") no-repeat left top;
}

.hf_btn input:hover{
    filter:alpha(opacity=0);
    -ms-filter:alpha(opacity=0);
    opacity:0.0;
}

/*Login*/
.header_login{
    position:relative;
    width:100px;
    height:27px;
    margin-top:7px;
    float:right;
}

/*Login Window*/
.login_window{
    display:none;
    position:absolute;
    top:25px;
    right:-5px;
    padding-top:14px;
    text-align:left;
    background:url("/common/images/bg_login_top.png") no-repeat top left transparent;
    width: 278px;
    z-index:1000;
}
.login_window .conts{
	padding-bottom: 8px;
	background:url("/common/images/bg_login_btm.png") no-repeat bottom left transparent;
}
.login_window .inner{
	padding: 10px 12px 7px 10px;
	background:url("/common/images/bg_login_middle.png") repeat-y center left transparent;
}
.login_window .login_block {
	/*background:url("/common/images/common_line_005.gif") repeat-x left bottom transparent;*/
	padding: 0 11px 5px;
}
.login_window .login_block.line_02 {
    background:url(/common/images/line_02.png) no-repeat 0 bottom transparent;
    padding: 0 11px 10px;
    margin-bottom: 10px;
}
.login_window .login_block.line_02.w240 {
    padding: 0 8px 20px;
    margin: 0 auto 20px;
    background:url(/common/images/line_02.png) no-repeat 0 bottom transparent;
}

.login_window p.cap{
    font-size:1.4em;
    font-weight:bold;
    margin-bottom:10px;
	padding-top: 2px;
}

.login_window p.btn{
    line-height:0;
    margin-bottom:8px;
}

.login_window p.btn_02{
    line-height:0;
    margin-bottom:4px;
}

.login_cb input{
    float:left;
    margin:4px 8px 0 0;
    margin-top:0\9;
}

.login_cb label{
    float:left;
    height: 24px;
    padding-left:32px;
    padding-top: 3px;
    background:url(/common/images/common_form_cb_003.png) no-repeat left top;
    font-size:1.2em;
}

.login_cb .label_selected {
    background:url(/common/images/common_form_cb_004.png) no-repeat left top;
}
.login_text_01{
    width:270px;
    margin-bottom:10px;
    background:url("/common/images/common_form_bg_008.gif") no-repeat left top;
}

.login_text_01 input{
    width:265px;
    height:30px;
    padding-left:5px;
    background:none;
    border:none;
    outline:none;
    font-size: 1.14em;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    line-height: 30px;
    color: #666666;
}

.overlabel {
    color: #666666;
    width: 270px;
    height: 30px;
    padding-left: 5px;
    display: table-cell;
    vertical-align: middle;
    font-size: 11px;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
.header_form .overlabel {
	text-align: left;
}

#header .header_form .overlabel {
    color: #666666;
}

.bl_text {
    width: 240px;
    height: 33px;
    margin-bottom: 10px;
    background: url(/common/images/common_form_bg_017.png) no-repeat 0 0;
}

.bl_text .overlabel {
    width: 230px;
    height: 33px;
}
.bl_text input {
    color: #000;
    width: 230px;
    height: 33px;
    padding-left: 10px;
    background: none;
    border: none;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 14px;
}

.login_window .arrow_01{
	margin-top: -2px;
    margin-bottom:8px;
}

.login_window .btn03{
    text-align:center;
    /*background:url("/common/images/login_btn_003_on.gif") no-repeat center top;*/
}

.login_window .btn03 input:hover{
/*    filter:alpha(opacity=0);
    -ms-filter:alpha(opacity=0);
    opacity:0.0;*/
}

.registry_block{
    margin-bottom: 12px;
    text-align:center;
}

.registry_block p{
    margin-bottom:3px;
}

.login_window p.close{
    text-align:center;
    cursor:pointer;
}

.header_after_login{
    position:relative;
    width:175px;
    height:27px;
    margin-top:7px;
    float:right;
}

.header_after_login a.lgbtn{
    display:block;
    width:175px;
    height:27px;
    background:url("/common/images/header_login_btn_02.gif") no-repeat left top;
}

.header_after_login a.lgbtn.active{
    background:url("/common/images/header_login_btn_02_on.gif") no-repeat left top;
}

.header_after_login a.lgbtn.active .btn_passive{
    display:none;
}
.header_after_login a.lgbtn .btn_passive{
    display:block;
}
.header_after_login a.lgbtn.active .btn_active{
    display:block;
}
.header_after_login a.lgbtn .btn_active{
    display:none;
}


/*Login Window*/
.after_login_window{
    display:none;
    position:absolute;
    width:183px;
    top:25px;
    right:-5px;
    padding-top: 14px;
    text-align:left;
    background:url("/common/images/bg_after_login_top.png") no-repeat left top;
    z-index:1000;
}
.after_login_window .conts {
	padding-bottom: 7px;
	background:url("/common/images/bg_after_login_btm.png") no-repeat left bottom;
}
.after_login_window .inner {
	padding: 0 10px 0 7px;
	background:url("/common/images/bg_after_login_middle.png") repeat-y left center;
}

/* Header smp move area
******************************************/
#header_smp_move_area{
    width:100%;
    background:#ffffff;
}

.header_smp_move_block{
    width:970px;
    height:112px;
    margin:0 auto;
    padding:5px 0;
}

.login_window .btns {
    margin: 0 auto 20px;
    padding-bottom: 23px;
    background: url(../images/line_03.png) no-repeat 0 bottom;
}
.login_window .btns .btn {
    float: left;
    margin-bottom: 0;
}
.login_window .btns .btn_02 {
    float: right;
}
