@charset "UTF-8";

/* ===================================================================
CSS information
 file name:hotblog.css
=================================================================== */

#right_area {
	text-align: left;
}

/* search ----------------------------------------- */

.blog_nav_block.items3 {
	width: 740px;
	padding: 10px 10px 7px;
}
.blog_nav_block.items3 .blog_floor,
.blog_nav_block.items3 .blog_item_category {
	margin-right: 15px;
}
.blog_nav_block.items3 .blog_floor li.sub,
.blog_nav_block.items3 .blog_item_category li.sub,
.blog_nav_block.items3 .blog_event_sale li.sub {
	background-image: url(/common/images/common_form_bg_003.gif);
	width: 163px;
}
.blog_floor .menu li.click ul,
.blog_item_category .menu li.click ul,
.blog_event_sale .menu li.click ul {
	top: 26px;
}
.blog_nav_block.items3 .blog_floor li a,
.blog_nav_block.items3 .blog_item_category li a,
.blog_nav_block.items3 .blog_event_sale li a {
	min-width: 143px;
}
.blog_nav_block.items3 .form_block_01 {
	background-image: url(/common/images/common_form_bg_013.gif);
	width: 341px;
}
.blog_nav_block.items3 .jcarousel-skin-tango .jcarousel-container-horizontal {
	width: 640px;
}
#search_key .form_block_01 .ssf_text {
	width: 305px;
}
.blog_nav_block.items3 .calendar_block01 {
	width: 685px;
}
#search_key {
	border-top: 1px solid #CCCCCC;
	border-bottom: none;
	margin-bottom: 0;
	margin-top: 12px;
	padding-top: 12px;
	width: 100%;
}
#search_key dt {
	margin-top: 9px;
	width: 100px;
}


/* blog list ----------------------------------------- */
.blog_list_block {
	width: 770px;
	margin-left: -10px;
	position: relative;
}
.blog_list {
	margin-left: -10px;
}
.blog_account_box {
	background: #ffffff;
	padding: 10px;
	width: 162px;
	float: left;
	margin-left: 10px;
	margin-bottom: 15px;
	position: relative;
}
.blog_account_box p,
.blog_account_box .post_image {
	word-break: break-all;
	word-wrap: break-word;
}
.blog_account_box .post_shop a {
	color: #333333;
	text-decoration: none;
}
.blog_account_box .post_shop a:hover {
	text-decoration: none;
}
.blog_account_box .link a {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	height: 100%;
	width: 100%;
	white-space: nowrap;
	text-indent: 100%;
	overflow: hidden;
	z-index: 200;
	text-decoration: none;
}
.blog_account_box .link a:hover {
	text-decoration: none;
}
.blog_account_box .post_title,
.blog_account_box .post_title a {
	color: #46639F;
}
.blog_account_box:hover .post_title {
	text-decoration: underline;
}
.blog_account_box:hover .post_image img {
	opacity:0.6;
	filter:alpha(opacity=60);
	-ms-filter:"alpha( opacity=60 )";
}
p.more_post {
        left: 110px;
}