@charset "UTF-8";

/* ===================================================================
CSS information
 file name:kids.css
=================================================================== */

.main_visual {
}

.floor_map {
	margin-top: 40px;
	margin-bottom: 40px;
	text-align: left;
}
.floor_map .item_block_02 {
	padding-bottom: 15px;
}

.event_news {
	margin-bottom: 40px;
	text-align: left;
}
.facilities{
	text-align: left;
}
.facilities .column2_block_06 {
	margin-bottom: 20px;
}
.facilities p {
	margin-top: 10px;
	text-indent: -1em;
	padding-left: 1em;
}
.facilities .star {
	color: #ec008c;
}
.facilities .item_block_02 {
	padding-bottom: 15px;
}