@charset "UTF-8";

/* Common
******************************************/
#main{
    width:970px;
    margin:0 auto 60px;
}

.arrow_01{
    margin-bottom:8px;
    padding-left:9px;
    background:url(/common/images/common_icon_001.gif) no-repeat left 5px;
}

.arrow_02{
    margin-bottom:8px;
    padding-left:9px;
    background:url(/common/images/common_icon_004.gif) no-repeat left 13px;
}

.arrow_02 a{
    color:#ffffff;
}

.arrow_03{
    margin-bottom:8px;
    padding-left:9px;
    background:url(/common/images/common_icon_007.gif) no-repeat left 6px;
}

.new_window{
    padding-right:13px;
    background:url(/common/images/common_icon_002.gif) no-repeat right 3px;
}

/*Fancybox*/
#pop_up{
    background:none;
}

/*Breadcrumbs List*/
.breadcrumbs{
    margin-bottom:6px;
    padding-top:5px;
    text-align:left;
}

/*Page Top*/
#page_top{
    position:absolute;
    margin-top:-48px;
    width:100%;
    margin-bottom:15px;
    text-align:right;
}

/*Calendar*/
p.calendar_cap{
    float:left;
    margin:12px 0 0;
}

.calendar_block01{
    float:right;
    width:480px;
}

.calendar_block01 p{
    float:left;
    margin:10px 0 0;
}

.calendar_block01 ul{
    float:left;
    margin:0 2px !important;
    background:url(/common/images/common_line_002.gif) no-repeat left top;
}

.calendar_block01 li{
    line-height:1.4;
    width:49px;
    height:39px;
    text-align:center;
    background:url(/common/images/common_line_002.gif) no-repeat right top;
}

.calendar_block01 li.active{
    font-weight:bold;
}

.calendar_block01 li a{
    color:#333333;
    display:block;
    width:44px;
    height:34px;
    margin:0 3px 0 2px;
    padding-top:2px;
}

.calendar_block01 li a:hover,
.calendar_block01 li.active a{
    text-decoration:none;
    border-bottom:solid #ff3366 3px;
}

.calendar_block01 li.sat a{
    color:#3366cc;
}

.calendar_block01 li.sun a,
.calendar_block01 li.holiday a{
    color:#cc0000;
}

.calendar_block01 li span.week{
    font-size:smaller;
}

.blog_search_window .calendar_block01{
    float:none;
    width:520px;
    margin:0 auto 15px;
}

.blog_search_window .calendar_block01 ul{
    float:left;
    background:url(/common/images/common_line_002.gif) no-repeat left top;
}

.blog_search_window .calendar_block01 li{
    line-height:1.4;
    width:49px;
    height:38px;
    margin:0;
    padding:0;
    text-align:center;
    background:url(/common/images/common_line_002.gif) no-repeat right top;
}

/*Ul Style*/
ul.disc {
    margin-left: 1em;
}
ul.disc li {
    list-style: disc outside none;
    font-weight: normal;
    text-indent: 0;
}

/* Slide Calendar
******************************************/
.jcarousel-skin-tango .jcarousel-container-horizontal {
    width: 443px;
    padding:0 17px 0 18px;
}

.blog_search_window .calendar_block01 .jcarousel-skin-tango .jcarousel-container-horizontal {
    width: 448px;
    padding:0 37px;
}

.jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
}

.blog_search_window .calendar_block01 .jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango .jcarousel-next-horizontal {
    position:absolute;
    top:10px;
    right:0px;
    width:10px;
    height:34px;
    cursor:pointer;
    background:url(/common/images/common_icon_006.gif) no-repeat 0 0;
}

.blog_search_window .calendar_block01 .jcarousel-skin-tango .jcarousel-next-horizontal {
    position:absolute;
    top:10px;
    right:20px;
    width:10px;
    height:34px;
    cursor:pointer;
    background:url(/common/images/common_icon_006.gif) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
    position:absolute;
    top:10px;
    left:4px;
    width:10px;
    height:34px;
    cursor:pointer;
    background:url(/common/images/common_icon_005.gif) no-repeat 0 0;
}

.blog_search_window .calendar_block01 .jcarousel-skin-tango .jcarousel-prev-horizontal {
    position:absolute;
    top:10px;
    left:20px;
    width:10px;
    height:34px;
    cursor:pointer;
    background:url(/common/images/common_icon_005.gif) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

.blog_search_window .calendar_block01 .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.blog_search_window .calendar_block01 .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.blog_search_window .calendar_block01 .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:focus,
.blog_search_window .calendar_block01 .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}


.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

.blog_search_window .calendar_block01 .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.blog_search_window .calendar_block01 .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.blog_search_window .calendar_block01 .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:focus,
.blog_search_window .calendar_block01 .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

/*Side*/
.side_calendar_block{
    margin-bottom:20px;
    padding-bottom:7px;
    text-align:left;
    background:url(/common/images/common_left_bg_001.gif) #ffffff no-repeat left bottom;
}

.side_calendar_block .inner{
    padding:7px 7px 0;
    background:url(/common/images/common_left_bg_001.gif) no-repeat left top;
}

.month_block{
    position:relative;
    width:176px;
    height:28px;
    text-align:center;
    background:#333333;
}

.month_block p{
    color:#ffffff;
    line-height:28px;
}

.month_block p.prev{
    position:absolute;
    top:0;
    left:0;
}

.month_block p.next{
    position:absolute;
    top:0;
    right:0;
}

.side_calendar_block table{
    width:176px;
}

.side_calendar_block table th{
    width:24px;
    height:24px;
    font-weight:normal;
    text-align:center;
    border-bottom:solid #cccccc 1px;
}

.side_calendar_block table th.sat{
    color:#3366ff;
}

.side_calendar_block table th.sun{
    width:25px;
    color:#df0202;
}

.side_calendar_block table td{
    width:24px;
    height:24px;
    line-height:1;
    text-align:center;
    border-right:solid #cccccc 1px;
    border-bottom:solid #cccccc 1px;
}

.side_calendar_block table td.sat{
    background:#f1f1f1;
}

.side_calendar_block table td.sun{
    background:#f1f1f1;
    border-left:solid #cccccc 1px;
}

.side_calendar_block table td a{
    display:block;
    color:#ffffff;
    width:24px;
    padding:6px 0;
    background:#333333;
}


/* Before Login
******************************************/
.before_login{
    width:510px;
    margin:0 auto;
    text-align:left;
}

.before_login p.ttl{
    color:#ff3366;
    font-size:1.6em;
    font-weight:bold;
	padding-bottom: 10px;
	border-bottom: 1px solid #999999;
    margin-bottom:13px;
}

.bl_block_01{
    width:510px;
    margin-bottom:35px;
}
.before_login .bl_block_01{
    margin-bottom:10px;
}

.bl_block_01_left{
    float:left;
	width: 254px;
}

.bl_block_01_right{
    float:left;
    width:240px;
    padding-left:15px;
    background:url(/common/images/before_login_line_001.gif) repeat-y left bottom;
}

.bl_block_01_left p{
    margin-bottom:8px;
}

.bl_block_01_left p.cap,
.bl_block_01_right p.cap{
    color:#333333;
    font-size:1.4em;
    font-weight:bold;
    margin-bottom:10px;
	margin-top: 5px;
}

.bl_block_01_left p.facebook a{
    display:block;
    width:180px;
}

.bl_block_01_left p.twitter a{
    display:block;
    width:180px;
}
.bl_block_01_right .arrow_01 {
	margin-bottom: 2px;
	margin-top: -2px;
}

.before_login .btn{
    background: url(/common/images/header_login_btn_on.gif) no-repeat right top;
	margin-bottom: 6px;
}
.before_login .btn input:hover{
    filter:alpha(opacity=0);
    -ms-filter:alpha(opacity=0);
    opacity:0.0;
}

.bl_text{
    width:240px;
	height: 25px;
    margin-bottom:10px;
    background:url(/common/images/common_form_bg_015.gif) no-repeat left top;
}

.bl_text input{
    color:#666666;
    width:235px;
    height:25px;
    padding-left:5px;
    background:none;
    border:none;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 11px;
    line-height: 25px\0/; /* IE8+9  */

}
.bl_text input:-webkit-autofill {
    border-radius    : 3px;
    box-shadow       : 1px 1px 1px #666 inset;
}
.bl_text .overlabel {
	height: 25px;
	line-height: 25px;
	color: #666666;
}
.bl_cb input{
    float:left;
    margin:4px 8px 0 0;
}

.bl_cb label{
    float:left;
    font-size:1.4em;
    height: 20px;
}
.bl_block_01_right .bl_cb{
	margin-bottom: 5px;
	line-height: 20px;
}
.bl_block_01_right .bl_cb label{
	font-size: 1.2em;
}

.bl_block_02{
    margin-bottom:20px;
}
.before_login .bl_block_02{
    margin-bottom:10px;
}

.bl_block_02 .member_merit {
	border-left: 1px solid #808080;
	width: 509px;
}
.bl_block_02 .member_merit th {
	padding: 0;
	background-color :#808080;
	text-align: left;
}
.bl_block_02 .member_merit td {
	border-right: 1px solid #808080;
	border-bottom: 1px solid #808080;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #4c4c4c;
	border-collapse: collapse;
	width: 50%;
}
.bl_block_02 .member_merit .merit_01,
.bl_block_02 .member_merit .merit_03 {
	padding-left: 65px;
}
.bl_block_02 .member_merit .merit_02,
.bl_block_02 .member_merit .merit_04 {
	padding-left: 55px;
}
.bl_block_02 .member_merit .merit_01 {
	background: url(/common/images/before_login_icon_001.gif) no-repeat 9px center;
}
.bl_block_02 .member_merit .merit_02 {
	background: url(/common/images/before_login_icon_002.gif) no-repeat 9px center;
}
.bl_block_02 .member_merit .merit_03 {
	background: url(/common/images/before_login_icon_003.gif) no-repeat 9px center;
}
.bl_block_02 .member_merit .merit_04 {
	background: url(/common/images/before_login_icon_004.gif) no-repeat 9px center;
}

.bl_block_02 p.cap{
    color:#333333;
    font-size:1.4em;
    font-weight:bold;
    margin-bottom:20px;
}

.bl_block_02 li{
    font-size:1.4em;
    padding-left:63px;
}

.bl_block_02 li.merit01{
    min-height:25px;
    margin-bottom:15px;
    padding-top:5px;
    background:url(/common/images/before_login_icon_001.gif) no-repeat left top;
}

.bl_block_02 li.merit02{
    margin-bottom:10px;
    padding-top:5px;
    background:url(/common/images/before_login_icon_002.gif) no-repeat left 5px;
}

.bl_block_02 li.merit03{
    min-height:25px;
    margin-bottom:15px;
    padding-top:5px;
    background:url(/common/images/before_login_icon_003.gif) no-repeat left top;
}

.bl_block_02 li.merit04{
    padding-top:5px;
    background:url(/common/images/before_login_icon_004.gif) no-repeat left 5px;
}

.bl_btn{
    margin-bottom:10px;
    text-align:center;
}

.bl_btn p{
    font-size:1.4em;
    margin-bottom:5px;
}

.bl_btn a{
    color:#ffffff;
    font-size:1.3em;
    display:block;
    margin:0 auto;
	/*width:341px;
    line-height:42px;
    background:url(/common/images/before_login_btn_003.gif) no-repeat left top;*/
}

.bl_btn a:hover{
    text-decoration:none;
    /*background:url(/common/images/before_login_btn_003_on.gif) no-repeat left top;*/
}

.before_login p.close{
    text-align:center;
}

/* Like
******************************************/
.like{
    width:441px;
    margin:0 auto;
    text-align:left;
}

.like p.ttl{
    color:#ff3366;
    font-size:1.6em;
    font-weight:bold;
    margin-bottom:10px;
}

.like p.btn{
    margin-bottom:10px;
}

.like p.btn a{
    display:block;
    /*    width:406px;
    line-height:37px;
    padding-left:35px;
        background:url(../images/like_btn_001.gif) no-repeat;
    }

    .like p.btn a:hover{
    text-decoration:none;
        background:url(../images/like_btn_001_on.gif) no-repeat;*/
}

.like p.btn_02{
    margin-bottom:15px;
}

.like p.btn_02 a{
    display:block;
    /*    width:406px;
    line-height:37px;
    padding-left:35px;
        background:url(../images/like_btn_002.gif) no-repeat;
    }

    .like p.btn_02 a:hover{
    text-decoration:none;
        background:url(../images/like_btn_002_on.gif) no-repeat;*/
}

.like p{
    font-size:1.4em;
    margin-bottom:15px;
}

.like input{
    float:left;
    margin:4px 8px 0 0;
    margin-top:0\9;
}

.like label{
    float:left;
    font-size:1.4em;
    height: 20px;
}

.like p.close{
    width:441px;
    margin:15px 0 0;
    text-align:center;
}


/* Send to friend
******************************************/
.friend{
    margin:0 auto;
    text-align:left;
	width: 460px;
}
.friend.sendfb{
    width:550px;
    margin:0 10px;
    text-align:left;
}
.friend p.ttl{
    color:#ff3366;
    font-size:1.6em;
    font-weight:bold;
    margin-bottom:10px;
}

.friend p.btn{
    margin-bottom:10px;
}

.friend p.btn a{
    display:block;
    /*width:392px;
        line-height:37px;
    padding-left:49px;
        background:url(../images/friend_btn_001.gif) no-repeat;
    }

    .friend p.btn a:hover{
    text-decoration:none;
        background:url(../images/friend_btn_001_on.gif) no-repeat;*/
}

.friend p.btn_02{
    margin-bottom:15px;
}

.friend p.btn_02 a{
    display:block;
    /*width:392px;
        line-height:37px;
    padding-left:49px;
        background:url(../images/friend_btn_002.gif) no-repeat;
    }

    .friend p.btn_02 a:hover{
    text-decoration:none;
        background:url(../images/friend_btn_002_on.gif) no-repeat;*/
}

.friend p{
    font-size:1.4em;
    margin-bottom:15px;
}

.friend p.close{
    margin:15px 0 0;
    text-align:center;
}


/* Share
******************************************/
.share{
    width:440px;
    margin:0 auto;
    text-align:left;
}

.share p.ttl{
    color:#ff3366;
    font-size:1.6em;
    font-weight:bold;
    margin-bottom:10px;
}

.share textarea{
    color:#666666;
    width:416px;
    height:46px;
    margin-bottom:4px;
    padding:10px;
    border:solid #999999 2px;
}

.share form ul{
    float:left;
}

.share form li{
    float:left;
    padding-top:8px;
}

.share form li input{
    float:left;
    margin:6px 10px 0 0;
}

.share form li label{
    float:left;
    margin-right:25px;
}

.share form .cooperating li{
    padding-top:5px;
    margin-right:14px;
}

.submit_btn{
    float:right;
    width:120px;
    height:38px;
    background:url(/common/images/share_btn_001_on.gif) no-repeat right top;
}
.submit_btn_02{
    float:right;
    width:120px;
    height:38px;
    background:url(/common/images/share_btn_002_on.gif) no-repeat right top;
}

.submit_btn_02 input:hover,
.submit_btn input:hover{
    filter:alpha(opacity=0);
    -ms-filter:alpha(opacity=0);
    opacity:0.0;
}

.share p.close{
    width:440px;
    margin:25px 0 0;
    text-align:center;
}


/* Lightbox(fancybox)
******************************************/

/*! fancyBox v2.1.3 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    vertical-align: top;
}

.fancybox-wrap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8020;
}

.fancybox-skin {
    position: relative;
    background: #ffffff;
    color: #444;
    text-shadow: none;
}

.fancybox-opened {
    z-index: 8030;
}

.fancybox-opened .fancybox-skin {
    -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
       -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
            box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
    position: relative;
}

.fancybox-inner {
    overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
    -webkit-overflow-scrolling: touch;
}

.fancybox-error {
    color: #444;
    font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 15px;
    white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
    display: block;
    width: 100%;
    height: 100%;
}

.fancybox-image {
    max-width: 100%;
    max-height: 100%;
}

#fancybox-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -22px;
    margin-left: -22px;
    background-position: 0 -108px;
    opacity: 0.8;
    cursor: pointer;
    z-index: 8060;
}

#fancybox-loading div {
    width: 44px;
    height: 44px;
    background: url('/common/images/fancybox/fancybox_loading.gif') center center no-repeat;
}

.fancybox-close {
    position: absolute;
    top:-16px;
    right:-16px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    z-index: 8040;
    background-image: url('/common/images/fancybox/fancybox_sprite.png');
}

.fancybox-nav {
    position: absolute;
    top: 0;
    width: 40%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
    background: transparent url('/common/images/fancybox/blank.gif'); /* helps IE */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    z-index: 8040;
}

.fancybox-prev {
    left: 0;
}

.fancybox-next {
    right: 0;
}

.fancybox-nav span {
    position: absolute;
    top: 50%;
    width: 36px;
    height: 34px;
    margin-top: -18px;
    cursor: pointer;
    z-index: 8040;
    visibility: hidden;
}

.fancybox-prev span {
    left: 10px;
    background-position: 0 -36px;
}

.fancybox-next span {
    right: 10px;
    background-position: 0 -72px;
}

.fancybox-nav:hover span {
    visibility: visible;
}

.fancybox-tmp {
    position: absolute;
    top: -99999px;
    left: -99999px;
    visibility: hidden;
    max-width: 99999px;
    max-height: 99999px;
    overflow: visible !important;
}

/* Overlay helper */

.fancybox-lock {
    overflow: hidden;
}

.fancybox-overlay {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    display: none;
    z-index: 8010;
    background: url('/common/images/fancybox/fancybox_overlay.png');
}

.fancybox-overlay-fixed {
    position: fixed;
    bottom: 0;
    right: 0;
}

.fancybox-lock .fancybox-overlay {
    overflow: auto;
    overflow-y: scroll;
}


/*****************************************
Parts
******************************************/

/* 3Column Blog List
******************************************/
.column3_blog_list_block_01{
    width:558px;
}

.column3_blog_list_block_01 .each_post_block{
    float:left;
    width:178px;
    margin:0 8px 8px 0;
    background:url(/common/images/common_eachblog_bg_002.gif) #ffffff no-repeat left bottom;
}

.column3_blog_list_block_01 .each_post_block .inner{
    padding:10px;
    background:url(/common/images/common_eachblog_bg_002.gif) no-repeat left top;
}

/* 4Column Blog List
******************************************/
.column4_blog_list_block_01{
    width: 800px;
    text-align:left;
    padding-bottom: 44px;
    margin-left: -13px;
	position: relative;
}

.column4_blog_list_block_01 .each_post_block{
    float:left;
    width:178px;
    margin:0 0 15px 15px;
    background:url(/common/images/common_eachblog_bg_002.gif) #ffffff no-repeat left bottom;
}

.column4_blog_list_block_01 .each_post_block .inner{
    padding:10px;
    background:url(/common/images/common_eachblog_bg_002.gif) no-repeat left top;
}

.column4_blog_list_block_01 .post_icon_block{
    position:relative;
    width:158px;
    height:34px;
    margin-top:10px;
    background:#f2f2f2;
}

.column4_blog_list_block_01 .post_icon_block li.lefticon{
    position:absolute;
    top:6px;
    left:11px;
}

.column4_blog_list_block_01 .post_icon_block li.centericon{
    position:absolute;
    top:6px;
    left:68px;
}

.column4_blog_list_block_01 .post_icon_block li.righticon{
    position:absolute;
    top:6px;
    right:9px;
}

.column4_blog_list_block_01 .more_post {
    left: 105px;
}

/* Contents
******************************************/
#right_area{
    float:right;
    width:760px;
}

/* Center
******************************************/
.center_block{
    float:left;
    width:565px;
    text-align:left;
}

/*Title*/
.title_block_01{
    position:relative;
    width:550px;
    height:36px;
    margin-bottom:10px;
    background:url(/common/images/common_title_bg_003.gif) no-repeat left top;
}

.title_block_01 h2{
    position:absolute;
    color:#ffffff;
    font-size:1.4em;
    top:0;
    /*    left:10px;*/
    line-height:36px;
}

.title_block_01 p.gotolist{
    position:absolute;
    top:0;
    right:10px;
    line-height:36px;
}

.title_block_01 p.posts{
    position:absolute;
    color:#ffffff;
    top:0;
    left:138px;
    line-height:36px;
}

.title_block_02{
    width:530px;
    padding:7px 10px 6px;
    text-align:left;
    background:url(/common/images/common_title_bg_003.gif) no-repeat left top;
}

.title_block_02{
    color:#ffffff;
}

.title_block_03{
    width:760px;
    margin-bottom:20px;
    padding-bottom:9px;
    text-align:left;
    background:url(/common/images/common_title_bg_001.jpg) no-repeat left bottom;
    min-height: 43px;
}

.title_block_03 .inner{
    padding:10px 9px 0;
    background:url(/common/images/common_title_bg_002.jpg) no-repeat left top;
}

.title_block_03 h1{
    color:#ffffff;
    font-size:1.9em;
    font-weight:bold;
    margin:3px 0 0 6px;
}
.title_block_03.with_sns {
    min-height: 43px;
}
.title_block_03.with_sns h1 {
    float: left;
    width: 650px;
}
.title_block_03.with_sns ul {
    float: right;
    margin-right: 2px;
}
.title_block_03.with_sns li {
    float: left;
    margin-left: 5px;
}

.title_block_04{
    width:740px;
    padding:7px 10px 6px;
    text-align:left;
    background:url(/common/images/common_title_bg_004.gif) no-repeat left top;
}

.title_block_04{
    color:#ffffff;
}

.title_block_05{
    margin-bottom:10px;
    padding:0 5px 3px 0px;
    text-align:left;
    border-bottom:solid #999999 1px;
}

.title_block_05 h3{
    color:#666666;
    font-size:1.4em;
    font-weight:bold;
}

.title_block_06{
    margin-bottom:10px;
    padding:0 5px;
    text-align:left;
}

.title_block_06 h4{
    color:#666666;
    font-size:1.2em;
    font-weight:bold;
}

/* for image Htitles */
.title_block_07 {
    margin-bottom: 20px;
    text-align: left;
    position: relative;
}
.title_block_07.with_sns ul {
    position: absolute;
    top: 10px;
    right: 0;
    margin-right: 9px;
}
.title_block_07.with_sns li {
    float: left;
    margin-left: 5px;
}

.title_block_08 {
    text-align: left;
}

.item_block_01{
    width:520px;
    margin-bottom:10px;
    padding:15px 15px 10px;
    text-align:left;
    background:#ffffff;
}

.item_block_02{
    width:730px;
    margin-bottom:20px;
    padding:15px 15px 10px;
    text-align:left;
    background:#ffffff;
}

/*color*/
.red{
    color:#cc0000;
}

/*p*/
p.catchcopy{
    font-size:1.6em;
}

p.strong{
    font-weight:bold;
}

p.caution{
    text-indent:-16px;
    margin-left:16px;
}

p.caption01{
    font-size:1.0em;
    margin:2px 0 10px;
}

p.f_14{
    font-size:1.4em;
}


/*text*/
.text_block_01{
    margin-bottom:25px;
}

.text_block_01 p{
    font-size:1.4em;
}

.text_block_02{
    margin-bottom:25px;
    padding:10px;
    border:solid #cccccc 2px;
}

.text_block_03{
    margin-bottom:25px;
    padding:12px;
    background:#e5e5e5;
}

.text_block_04{
    margin-bottom:25px;
    border:solid #cccccc 2px;
}

.text_block_04 p.caption{
    font-size:1.4em;
    font-weight:bold;
    padding:5px 10px;
    background:#cecece;
}

.text_block_04 .inner{
    padding:10px;
}

.text_block_05{
    margin-bottom:25px;
    border:solid #e5e5e5 2px;
}

.text_block_05 p.caption{
    font-size:1.4em;
    font-weight:bold;
    padding:5px 10px;
    background:#cecece;
}

.text_block_05 .inner{
    padding:10px;
    background:#e5e5e5;
}


/*column*/
/*2*/
.column2_block_01{
    margin-bottom:25px;
}

.column2_block_01 .f_left{
    float:left;
    width:250px;
}

.column2_block_01 .f_right{
    float:right;
    width:250px;
}

.column2_block_02{
    margin-bottom:25px;
}

.column2_block_02 .f_left{
    float:left;
    width:116px;
}

.column2_block_02 .f_right{
    float:right;
    width:386px;
}

.column2_block_03{
    margin-bottom:25px;
}

.column2_block_03 .f_left{
    float:left;
    width:89px;
}

.column2_block_03 .f_right{
    float:right;
    width:413px;
}

.column2_block_04{
    margin-bottom:25px;
}

.column2_block_04 .f_left{
    float:left;
    width:230px;
    padding:10px;
    border:solid #cccccc 2px;
}

.column2_block_04 .f_right{
    float:right;
    width:230px;
    padding:10px;
    border:solid #cccccc 2px;
}

.column2_block_05{
    margin-bottom:25px;
}

.column2_block_05 .f_left{
    float:left;
    width:230px;
    padding:12px;
    background:#e5e5e5;
}

.column2_block_05 .f_right{
    float:right;
    width:230px;
    padding:12px;
    background:#e5e5e5;
}

.column2_block_06{
    margin-bottom:25px;
}

.column2_block_06 .f_left{
    float:left;
    width:355px;
}

.column2_block_06 .f_right{
    float:right;
    width:355px;
}

.column2_block_07{
    margin-bottom:25px;
}

.column2_block_07 .f_left{
    float:left;
    width:169px;
}

.column2_block_07 .f_right{
    float:right;
    width:543px;
}

.column2_block_08{
    margin-bottom:25px;
}

.column2_block_08 .f_left{
    float:left;
    width:130px;
}

.column2_block_08 .f_right{
    float:right;
    width:580px;
}

.column2_block_09{
    margin-bottom:25px;
}

.column2_block_09 .f_left{
    float:left;
    width:336px;
    padding:10px;
    border:solid #cccccc 2px;
}

.column2_block_09 .f_right{
    float:right;
    width:336px;
    padding:10px;
    border:solid #cccccc 2px;
}

.column2_block_10{
    margin-bottom:25px;
}

.column2_block_10 .f_left{
    float:left;
    width:336px;
    padding:12px;
    background:#e5e5e5;
}

.column2_block_10 .f_right{
    float:right;
    width:336px;
    padding:12px;
    background:#e5e5e5;
}

/*3*/
.column3_block_01{
    margin-bottom:25px;
}

.column3_block_01 .inner{
    float:left;
    width:160px;
    margin-right:20px;
}

.column3_block_02{
    margin-bottom:25px;
}

.column3_block_02 .inner{
    float:left;
    width:160px;
    margin-right:8px;
    padding:2px;
    border:solid #cccccc 2px;
}

.column3_block_02 .inner p{
    margin-top:8px;
}

.column3_block_03{
    margin-bottom:25px;
}

.column3_block_03 .inner{
    float:left;
    width:230px;
    margin-right:20px;
}

/*4*/
.column4_block_01{
    margin-bottom:25px;
}

.column4_block_01 .inner{
    float:left;
    width:116px;
    margin-right:18px;
}

.column4_block_02{
    margin-bottom:25px;
}

.column4_block_02 .inner{
    float:left;
    width:169px;
    margin-right:18px;
}

/*5*/
.column5_block_01{
    margin-bottom:25px;
}

.column5_block_01 .inner{
    float:left;
    width:89px;
    margin-right:18px;
}

.column5_block_02{
    margin-bottom:25px;
}

.column5_block_02 .inner{
    float:left;
    width:130px;
    margin-right:18px;
}

/*list*/
.list_block_01{
    margin-bottom:25px;
}

.list_block_01 ul li{
    text-indent:-16px;
    margin:0 0 10px 16px;
}

.list_block_01 ol li{
    margin:0 0 10px 16px;
}

.list_block_01 dl dt{
    clear:left;
    float:left;
    margin-bottom:10px;
}

.list_block_01 dl dd{
    margin:0 0 10px 90px;
}

/*table*/
.table_block_01{
    margin-bottom:25px;
}

.table_block_01 table{
    width:100%;
    border-top:solid #999999 1px;
    border-left:solid #999999 1px;
}

.table_block_01 table th{
    font-weight:bold;
    padding:5px 10px;
    text-align:left;
    background:#d9d9d9;
    border-right:solid #999999 1px;
    border-bottom:solid #999999 1px;
}

.table_block_01 table td{
    padding:5px 10px;
    text-align:left;
    border-right:solid #999999 1px;
    border-bottom:solid #999999 1px;
}

.table_block_01 table th.cell01,
.table_block_01 table td.cell01{
    width:20%;
}

.table_block_01 table th.cell02,
.table_block_01 table td.cell02{
    width:40%;
}

.table_block_01 table th.cell03,
.table_block_01 table td.cell03{
    width:40%;
}

.table_block_01 table th.cell04,
.table_block_01 table td.cell04{
    width:16%;
}

.table_block_01 table th.cell05,
.table_block_01 table td.cell05{
    width:28%;
}

.table_block_01 table td.cap{
    font-weight:bold;
    background:#f4f4f4;
}

/*form*/
.form_block_01{
    position:relative;
    width:190px;
    height:25px;
    margin-top:8px;
    background:url(/common/images/common_form_bg_001.gif) no-repeat;
}

.form_block_01 input{
    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.form_block_01_text{
    color:#666666;
    font-size:1.1em;
    /*    font-size:0.9em\9; */
    position:absolute;
    top:2px;
    left:7px;
    width:150px;
    height:23px;
    height:20px\9;
    padding-top:6px\9;
    border:none;
    background:none;
    outline:none;
}
.form_block_01_text:-webkit-autofill {
    border-radius :  3px;
    box-shadow    :  1px  1px  1px #666 inset;
    padding       :  2px 33px  0px  7px;
    margin        : -2px -7px -2px -7px;
}

.form_block_01_text:not(:target) {
    font-size:1.1em\9;
    padding-top:1px\9;
}

.form_block_02{
    position:relative;
    width:190px;
    height:25px;
    margin-top:8px;
    background:url(/common/images/common_form_bg_007.gif) no-repeat;
}

.form_block_02_text{
    color:#666666;
    font-size:1.1em;
    font-size:0.9em\9;
    position:absolute;
    top:2px;
    left:7px;
    width:150px;
    height:23px;
    height:20px\9;
    padding-top:6px\9;
    border:none;
    background:none;
    outline:none;
}

.form_block_02_text:not(:target) {
    font-size:1.1em\9;
    padding-top:1px\9;
}
.form_block_03{
    position:relative;
    width:341px;
    height:25px;
    margin-top:8px;
    background:url(/common/images/common_form_bg_013.gif) no-repeat;
}

.form_block_03_text{
    color:#666666;
    font-size:1.1em;
    font-size:0.9em\9;
    position:absolute;
    top:2px;
    left:7px;
    width:328px;
    height:23px;
    height:20px\9;
    padding-top:6px\9;
    border:none;
    background:none;
    outline:none;
}
.form_block_03_text:-webkit-autofill {
    border-radius :  3px;
    box-shadow    :  1px  1px  1px #666 inset;
    padding       :  2px  6px  0px  7px;
    margin        : -2px -7px -2px -7px;
}

.form_block_03_text:not(:target) {
    font-size:1.1em\9;
    padding-top:1px\9;
}
.form_block_03 input{
    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

/*btn*/
.text_btn_01{
    width:70px;
}

.text_btn_01,.text_btn_02,.text_btn_03{
    text-align:center;
    background:url(/common/images/common_btn_bg_001.gif) no-repeat right top;
}

.text_btn_01 a,.text_btn_02 a,.text_btn_03 a{
    display:block;
    color:#ffffff;
    text-decoration:none;
    width:40px;
    padding:7px 15px;
    background:url(/common/images/common_btn_bg_002.gif) no-repeat left top;
}

.text_btn_01:hover,.text_btn_02:hover,.text_btn_03:hover{
    background:url(/common/images/common_btn_bg_003.gif) no-repeat right top;
}

.text_btn_01 a:hover,.text_btn_02 a:hover,.text_btn_03 a:hover{
    background:url(/common/images/common_btn_bg_004.gif) no-repeat left top;
}

/*2*/
.text_btn_02{
    width:90px;
}

.text_btn_02 a{
    width:60px;
}

/*3*/
.text_btn_03{
    width:240px;
}

.text_btn_03 a{
    width:210px;
}

/*Pull Down*/
.pull_down_block01 li,
.pull_down_block02 li{
    position:relative;
}

.pull_down_block01 li.sub,
.pull_down_block02 li.sub{
    color:#666666;
    font-size:1.2em;
    width:165px;
    height:21px;
    padding:6px 0 0 6px;
    background:url(/common/images/common_form_bg_003.gif) no-repeat;
}

.pull_down_block01 li,
.pull_down_block02 li{
    font-size:1.0em;
    padding:3px;
    text-decoration:none;
    cursor:pointer;
    color: #46639f;
}
.pull_down_block01 .sub li a,
.pull_down_block02 .sub li a{
	display: block;
}

.pull_down_block01 li a:hover,
.pull_down_block02 li a:hover{
	color: #ffffff;
	text-decoration: none;
	background-color: #ff3366;
}

.pull_down_block01 .menu ul,
.pull_down_block02 .menu ul{
    position:absolute;
    left:-9999px;
}
.pull_down_block01 .menu li,
.pull_down_block02 .menu li{
    z-index:200;
}
.pull_down_block01 .menu li.hover,
.pull_down_block02 .menu li.hover,
.pull_down_block01 .menu .sub ul li:hover,
.pull_down_block02 .menu .sub ul li:hover{
    z-index:500;
    text-decoration: none;
    color: #ffffff;
    background-color: #ff3366;
}
.pull_down_block01 .menu li.hover a,
.pull_down_block02 .menu li.hover a{
    color: #ffffff;
}
.pull_down_block01 .menu li.click ul,
.pull_down_block02 .menu li.click ul{
    top:26px;
    left:0;
    width: 190px;
    background:#ffffff;
    border:solid #cccccc 1px;
}

/*2*/
.pull_down_block02 li.sub{
    width:79px;
    background:url(/common/images/common_form_bg_012.gif) no-repeat;
}

.pull_down_block02 li a{
    /*width:85px;*/
    width:74px;
}

/*checkbox*/
.check_box{
    display:none;
    z-index:-1;
}

.check_box_label{
    padding-left:27px;
    background:url(/common/images/common_form_cb_001.gif) no-repeat left top;
}

.check_box_label.disabled{
    color:#aca899;
}

.label_selected{
    background:url(/common/images/common_form_cb_002.gif) no-repeat left top;
}

/*flow_block*/
.flow_block_01{
    margin-bottom:25px;
}

.flow_block_01 li{
    float:left;
    margin-right:15px;
    padding-right:22px;
    background:url(/common/images/common_icon_008.gif) no-repeat right;
}

.flow_block_01 li.last{
    margin-right:0;
    padding-right:0;
    background:none;
}

/*error*/
.error_block_01{
    margin-bottom:25px;
    padding:5px 0;
    text-align:center;
    background:#fffde2;
    border:solid #ff3366 2px;
}

.error_block_01 p{
    font-size:1.4em;
}


/*Toppage amd ShopToppage Blog List*/
.blog_btn{
    width:550px;
    margin-bottom:10px;
}

.blog_btn ul{
    float:left;
    background:url(/common/images/common_tab_bg.gif) no-repeat 60px top;
}

.blog_btn li{
    float:left;
    margin-right:15px;
}

/*Tab Change*/
.content_wrap.disnon,
.content_wrap_02.disnon{
    position:absolute;
    left:-9999px;
    top:0;
}

.blog_btn li.tab_btn{
    font-size:1.2em;
    display:block;
    height:28px;
    text-align:center;
    cursor:pointer;
}

.blog_btn li.tab_btn:hover{
    color:#ff3366;
}

.blog_btn li.tab_btn.active{
    background:url(/common/images/common_tabbtn_001_act.gif) center bottom no-repeat;
}

.blog_btn li.tab_btn.active:hover{
    color:#333333;
}

.blog_btn li.last{
    margin-right:0;
    padding-right:0;
    background:none;
}

.blog_search_block{
    position:relative;
    float:right;
    width:110px;
    height:32px;
    z-index:300;
}
.blog_fav_cb{
    position:relative;
    float:right;
    width:110px;
    padding-top: 6px;
}
.blog_fav_cb label{
    display:inline-block;
    height:20px;
}
.blog_fav_cb label img{
    padding-top: 3px;
}

/*Search*/
.open_btn{
    color:#ffffff;
    display:block;
    width:110px;
    line-height:32px;
    text-align:center;
    /*background:url(../images/common_filter_btn.gif) no-repeat;*/
    cursor:pointer;
}

/*.open_btn:hover{
    background:url(../images/common_filter_btn_on.gif) no-repeat;
}*/

.blog_search_window{
    display:none;
    position:absolute;
    top:31px;
    right:0;
    padding-top: 14px;
    text-align:left;
    background:url(/common/images/bg_blog_search_top.png) no-repeat center top transparent;
    z-index:1000;
}
.blog_search_window .conts{
    background:url(/common/images/bg_blog_search_btm.png) no-repeat center bottom transparent;
    padding-bottom: 9px;
}
.blog_search_window .inner {
    background:url(/common/images/bg_blog_search_middle.png) repeat-y center center transparent;
    padding: 16px 16px 15px 16px;
}

.blog_search_window p.cap{
    color:#ffffff;
    line-height:17px;
    width:515px;
    margin-bottom:10px;
    padding:2px 0 0 5px;
    background:#808080;
}

.search_words{
    margin:0 0 20px;
}

.search_words ul{
    float:none;
    background:none;
}

.search_words li{
    line-height:1.6;
    margin-right:5px;
    padding-right:6px;
    border-right:solid #cccccc 1px;
}
.search_words li a {
    color: #46639f;
}
.search_words li.last{
    border-right-width:0;
}

.blog_search_window p.close{
    width:520px;
    text-align:right;
    cursor:pointer;
}

/*Blog List*/
.blog_list_block{
    position:relative;
    width:565px;
    z-index:100;
    padding-bottom:44px;
}

.each_post_block{
    float:left;
    width:268px;
    margin:0 14px 14px 0;
    background:url(/common/images/common_eachblog_bg_001.gif) #ffffff no-repeat left bottom;
    word-wrap: break-word;
}

.each_post_block .inner{
    padding:10px;
    background:url(/common/images/common_eachblog_bg_001.gif) no-repeat left top;
}

.post_image{
    position:relative;
    margin-bottom:15px;
}

.post_image a:hover img{
    opacity:0.6;
    filter:alpha(opacity=60);
    -ms-filter:"alpha( opacity=60 )";
}

.post_image .kaeru_block{
    position: absolute;
    top: 0px;
    left: 10px;
    width: 40px;
    height: 46px;
    background: url(/common/images/buy.png) no-repeat scroll left top rgba(0, 0, 0, 0);
}

.blog_account_box .kaeru_hotblog_block{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 40px;
    height: 46px;
    background: url(/common/images/buy.png) no-repeat scroll left top rgba(0, 0, 0, 0);
    z-index: 200;
}

.like_block{
    position:absolute;
    width:52px;
    height:18px;
    padding:40px 5px 0 0; 
    right:1px;
    bottom:1px;
    text-align:right;
    background:url(/common/images/common_like_bg.png) no-repeat left top;
}

.like_block p{
    color:#ff3366;
}

.post_shop{
    font-size:1.4em;
    font-weight:bold;
    margin-bottom:10px;
    padding-bottom:9px;
    background:url(/common/images/common_line_001.gif) no-repeat left bottom;
}

.post_shop .icon{
    margin-right:5px;
    vertical-align:middle;
}

.post_icon_block{
    position:relative;
    width:248px;
    height:34px;
    margin-top:10px;
    background:#f2f2f2;
}

.post_icon_block li.lefticon{
    position:absolute;
    top:6px;
    left:31px;
}

.post_icon_block li.centericon{
    position:absolute;
    top:6px;
    left:110px;
}

.post_icon_block li.righticon{
    position:absolute;
    top:6px;
    right:30px;
}

p.more_post{
    position:absolute;
    bottom:0;
    left:0;
}

p.more_post a{
    color:#ffffff;
    font-size:1.1em;
    display:block;
    width:550px;
    height:32px;
    line-height:32px;
    text-align:center;
    background:url(/common/images/common_moreposts_btn.gif) no-repeat;
}

p.more_post a:hover{
    text-decoration:none;
    background:url(/common/images/common_moreposts_btn_on.gif) no-repeat;
}


/* right
******************************************/
.right_block{
    float:right;
    width:190px;
}

.side_block{
    margin-bottom:20px;
    padding-bottom:15px;
    text-align:left;
    background:url(/common/images/common_left_bg_001.gif) #ffffff no-repeat left bottom;
}

.right_block .side_block p.ttl{
    margin-bottom:14px;
}

/*Weekly Blog Ranking*/
.ranking_btn{
    width:182px;
    margin:0 0 8px 8px;
}

.ranking_btn li{
    float:left;
    text-indent:-9999px;
    background:url(/common/images/common_tab_bg.gif) no-repeat right top;
    cursor:pointer;
}

.ranking_btn li.r_b_01{
    display:block;
    width:53px;
    height:29px;
    background:url(/common/images/common_right_tabbtn_001.gif) no-repeat;
}

.ranking_btn li.r_b_01:hover{
    background:url(/common/images/common_right_tabbtn_001_on.gif) no-repeat;
}

.ranking_btn li.r_b_01.active{
    background:url(/common/images/common_right_tabbtn_001_act.gif) no-repeat;
}

.ranking_btn li.r_b_02{
    display:block;
    width:53px;
    height:29px;
    background:url(/common/images/common_right_tabbtn_002.gif) no-repeat;
}

.ranking_btn li.r_b_02:hover{
    background:url(/common/images/common_right_tabbtn_002_on.gif) no-repeat;
}

.ranking_btn li.r_b_02.active{
    background:url(/common/images/common_right_tabbtn_002_act.gif) no-repeat;
}

.ranking_btn li.r_b_03{
    display:block;
    width:68px;
    height:29px;
    margin-right:0;
    padding-right:0;
    background:url(/common/images/common_right_tabbtn_003.gif) no-repeat;
}

.ranking_btn li.r_b_03:hover{
    background:url(/common/images/common_right_tabbtn_003_on.gif) no-repeat;
}

.ranking_btn li.r_b_03.active{
    background:url(/common/images/common_right_tabbtn_003_act.gif) no-repeat;
}

.right_category_block{
    width:170px;
    margin:0 10px 15px;
}

.right_category_block p{
    float:left;
}

.ranking_category{
    float:right;
}

.ranking_category li{
    position:relative;
}

.ranking_category li.sub{
    color:#666666;
    font-size:1.2em;
    width:110px;
    height:21px;
    margin:0;
    padding:7px 0 0 7px;
    background:url(/common/images/common_form_bg_004.gif) no-repeat;
    line-height: 1.3;
}

.ranking_category li{
    font-size:1.0em;
    margin:0;
    padding: 5px;
    text-decoration:none;
    cursor:pointer;
}
.ranking_category .sub ul li:hover,
.ranking_category .sub ul li:hover a,
.ranking_category .sub ul li a:hover{
    color: #ffffff;
    background-color: #ff3366;
    text-decoration: none;
}
.ranking_category li a{
    display:block;
    width: 190px;
}

.ranking_category .menu ul{
    position:absolute;
    left:-9999px;
}

.ranking_category .menu li.hover{
    z-index:500;
}

.ranking_category .menu li.click ul{
    top:26px;
    left:0;
    background:#ffffff;
    border:solid #cccccc 1px;
    z-index: 200;
    max-height: 140px;
    overflow-y: scroll;
}

.ranking_block_01{
    width:172px;
    margin:0 0 15px 9px;
}

.ranking_block_01 p{
    margin:0 0 5px 1px;
    padding:4px 0 0 22px;
}

.ranking_block_01 .image {
    text-align: center;
}

.ranking_block_01 p.no1{
    background:url(/common/images/common_right_icon_001.gif) no-repeat left 1px;
    background-position: left 2px\0/; /* IE8+9  */  
}

.ranking_block_01 p.no2{
    background:url(/common/images/common_right_icon_002.gif) no-repeat left 1px;
    background-position: left 2px\0/; /* IE8+9  */  
}

.ranking_block_01 p.no3{
    background:url(/common/images/common_right_icon_003.gif) no-repeat left 1px;
    background-position: left 2px\0/; /* IE8+9  */  
}

.ranking_block_01 .image a{
    display:block;
    border:solid #cccccc 1px;
}

.ranking_block_01 .image a:hover{
    border:solid #ff3366 1px;
}

.ranking_block_02{
    width:170px;
    margin-left:13px;
}

.ranking_block_02 li{
    margin-bottom:7px;
    padding-left:24px;
}

.ranking_block_02 li.no4{
    background:url(/common/images/common_right_icon_004.gif) no-repeat left top;
}

.ranking_block_02 li.no5{
    background:url(/common/images/common_right_icon_005.gif) no-repeat left top;
}

.ranking_block_02 li.no6{
    background:url(/common/images/common_right_icon_006.gif) no-repeat left top;
}

.ranking_block_02 li.no7{
    background:url(/common/images/common_right_icon_007.gif) no-repeat left top;
}

.ranking_block_02 li.no8{
    background:url(/common/images/common_right_icon_008.gif) no-repeat left top;
}

.ranking_block_02 li.no9{
    background:url(/common/images/common_right_icon_009.gif) no-repeat left top;
}

.ranking_block_02 li.no10{
    background:url(/common/images/common_right_icon_010.gif) no-repeat left top;
}

.side_block.iframe {
    padding-bottom: 0;
}

.iframe iframe {
    border: none;
    width: 190px;
}

/*****************************************
Top Page
******************************************/

/* Slide Show
******************************************/
.slide_show_block{
    width:740px;
    height:315px;
    margin-bottom:20px;
    padding:10px;
    background:url(/images/index_bg_001.jpg) no-repeat left top;
}

.slide_show_block .image{
    position:relative;
    float:left;
    width:560px;
    height:315px;
}

.slide_show_block .image li{
    position:absolute;
    width:560px;
    height:315px;
    top:0;
    left:0;
}

.slide_show_block .thumbblock{
    position:relative;
    float:right;
    padding-top:13px;
}

.slide_show_block .thumbmask{
    width:172px;
    height:290px;
    overflow:hidden;
}

.slide_show_block .thumb{
    float:right;
    width:172px;
    text-align:right;
}

.slide_show_block .thumb li{
    width:172px;
    height:94px;
    overflow:hidden;
    margin-bottom:3px;
}

.slide_show_block .thumb a{
    display:block;
    width:160px;
    height:90px;
    padding:2px 2px 2px 10px;
    overflow:hidden;
    vertical-align: bottom;
    opacity:0.7;
    filter:alpha(opacity=70);
    -ms-filter:"alpha( opacity=70 )";
}

.slide_show_block .thumb li.current a{
    background:url(/images/index_thumb_bg_001.gif) no-repeat left top;
    opacity:1.0;
    filter:alpha(opacity=100);
    -ms-filter:"alpha( opacity=100 )";
}

.slide_show_block .thumbblock .prevbtn{
    text-indent:-9999px;
    position:absolute;
    top:0;
    left:50%;
    margin-top:-5px;
    margin-left:-15px;
    background:url(/images/index_thumb_btn_001.gif) no-repeat 0 0;
    overflow:hidden;
}

.slide_show_block .thumbblock .prevbtn:hover{
    background:url(/images/index_thumb_btn_001_on.gif) no-repeat 0 0;
}

.slide_show_block .thumbblock .nextbtn{
    text-indent:-9999px;
    position:absolute;
    bottom:0;
    left:50%;
    margin-bottom:-15px;
    margin-left:-15px;
    background:url(/images/index_thumb_btn_002.gif) no-repeat 0 0;
    overflow:hidden;
}

.slide_show_block .thumbblock .nextbtn:hover{
    background:url(/images/index_thumb_btn_002_on.gif) no-repeat 0 0;
}

.slide_show_block .thumbblock .prevbtn a,
.slide_show_block .thumbblock .nextbtn a{
    width: 30px;
    height: 15px;
    display: block;
}


/* Official Account
******************************************/
#official_account{
    width:760px;
    margin-bottom:20px;
    padding-bottom:10px;
    background:url(/images/index_bg_002.gif) #ffffff no-repeat left bottom;
}

#official_account .facebook{
    width: 430px;
    height: 290px;
    padding: 20px 20px 10px 0px;
    float: right;
}
#official_account .twitter{
    width: 270px;
    height: 290px;
    padding: 20px 0px 10px 20px;
    float: left;
}



/* News & Event
******************************************/
.news_event_block{
    width:760px;
    margin-bottom:20px;
    padding-bottom:10px;
    background:url(/images/index_bg_002.gif) #ffffff no-repeat left bottom;
}

.indextitleblock{
    position:relative;
    width:760px;
    height:36px;
    margin-bottom:10px;
    background:url(/common/images/common_title_bg_004.gif) no-repeat left top;
}

.indextitleblock h2{
    position:absolute;
    color:#ffffff;
    font-size:1.4em;
    top:0;
    /*    left:10px;*/
    line-height:36px;
}

.indextitleblock p.gotolist{
    position:absolute;
    top:0;
    right:10px;
    line-height:36px;
}

.news_event_block .inner{
    padding:0 4px;
}

.ne_block{
    float:left;
    width:176px;
    margin:0 6px;
    text-align:left;
}

.ne_block table{
    margin-bottom:10px;
}

.ne_block table td{
    width:174px;
    height:174px;
    text-align:center;
    border:solid #cccccc 1px;
}

.ne_block table td:hover{
    border:solid #ff3366 1px;
}

.ne_block table td a:hover img{
    opacity:0.6;
    filter:alpha(opacity=60);
    -ms-filter:"alpha( opacity=60 )";
}

p.date{
    margin-bottom:3px;
}


/* Caution
******************************************/
.caution_block{
    margin-bottom:20px;
    padding:10px;
    text-align:left;
    background:#ffffff;
    border:solid #A4A4A4 2px;
/* 
    border:solid #ff3366 2px;
*/
}

.caution_block .comment{
    margin-top:5px;
    padding-top:7px;
    background:url(/common/images/common_line_003.gif) repeat-x left top;
}
.caution_block .comment.caution_comment_first{
    margin-top:0;
    padding-top:0;
    background:none;
}

/*****************************************
Each Shop Top
******************************************/
/*Title*/
.shop_title_block,
.shop_title_block_02{
    width:760px;
    margin-bottom:20px;
    padding-bottom:9px;
    background:url(/common/images/common_title_bg_001.jpg) no-repeat left bottom;
}

.shop_title_block .inner {
    padding-top:10px;
    background:url(/common/images/common_title_bg_002.jpg) no-repeat left top;
}
.shop_title_block_02 .inner {
    padding-top:10px;
    background:none;
}

.shop_title_block .no_info,
.shop_title_block_02 .no_info {
    margin-bottom:-1px;
    padding-bottom:0;
    background-image:none;
}

/*Visual*/
.shop_visual_block{
    position:relative;
    width:760px;
    height:300px;
}

.shop_visual_block p{
    position:absolute;
    top:10px;
    left:10px;
}

/*Shop Name*/
.shop_title{
    margin:0 9px 10px;
    padding-bottom:9px;
    background:url(/shop/images/shop_line_001.gif) no-repeat left bottom;
}

.shop_title h1{
    color:#ffffff;
    font-size:1.9em;
    font-weight:bold;
    float:left;
    margin:3px 0 0 6px;
}

.shop_title ul{
    float:right;
    margin-right:2px;
}

.shop_title li{
    float:left;
    margin-left:5px;
}
.shop_title li a{
    display: block;
    width: 32px;
    height: 32px;
}
.shop_title li a:hover img{
    display: none;
}
.shop_title li.facebook a{
    background:url(/shop/images/shop_btn_002_on.png) no-repeat left;
}
.shop_title li.twitter a{
    background:url(/shop/images/shop_btn_003_on.png) no-repeat left;
}



/*Shop Information*/
.shop_info_block{
    margin:0 9px;
}

.shop_info_block li{
    color:#ffffff;
    float:left;
    line-height:27px;
}

.shop_info_block li.text_icon{
    line-height:27px;
}

.shop_info_block li.text_icon a{
    color:#ffffff;
    display:block;
    width:141px;
    height:27px;
    background:url(/shop/images/shop_btn_001_on.png) no-repeat left;
}

.shop_info_block li.text_icon a:hover{
    text-decoration:none;
}
.shop_info_block li.text_icon a:hover img{
    display: none;
}

.shop_info_block li.fav_number{
    font-size:1.4em;
    margin-left:8px;
}

.shop_info_block li.icon_shop_clip_num{
    font-size:1.4em;
    margin-left:8px;
    padding-left:24px;
    background:url(/common/images/shop_icon_013.png) no-repeat left 0.2em;
    color: #fff;
    cursor: pointer;
}

.shop_info_block li.icon_telphone{
    margin-left:35px;
    padding-left:24px;
    background:url(/shop/images/shop_icon_001.png) no-repeat left 0.3em;
}

.shop_info_block li.icon_floor{
    margin-left:39px;
    padding-left:24px;
    background:url(/shop/images/shop_icon_002.png) no-repeat left 0.3em;
}

.shop_info_block li.icon_onlineshop{
    margin-left:36px;
    padding-left:24px;
    background:url(/shop/images/shop_icon_003.png) no-repeat left 0.3em;
}

.shop_info_block li.icon_onlineshop a{
    color:#ffffff;
    text-decoration:underline;
}

.shop_info_block li.icon_kaeru{
    margin-left:36px;
    padding-left:24px;
    background:url(/shop/images/shop_icon_011.png) no-repeat left 0.3em;
}

.shop_info_block li.icon_kaeru a{
    color:#ffffff;
    text-decoration:underline;
}

.blog_nav_block{
    width:536px;
    margin-bottom:10px;
    padding:10px 7px 7px;
    background:#ffffff;
}

.blog_nav_block ul{
    margin-bottom:12px;
}

.blog_nav_block li{
    display:inline;
    float:left;
}

.blog_nav_block .sub ul li {
    display:block;
    float:none;
}

.blog_floor li,
.blog_item_category li,
.blog_event_sale li{
    position:relative;
    z-index:300;
}

.blog_floor li.sub{
    color:#666666;
    font-size:1.0em;
    width:113px;
    height:23px;
    margin:0 0 0 7px;
    padding:4px 0 0 7px;
    background:url(/common/images/common_form_bg_006.gif) no-repeat;
}

.blog_item_category li.sub,
.blog_event_sale li.sub{
    color:#666666;
    font-size:1.0em;
    width:133px;
    height:23px;
    margin:0 22px 0 13px;
    padding:4px 0 0 7px;
    background:url(/common/images/common_form_bg_005.gif) no-repeat;
}
.blog_item_category li.sub{
    margin:0 28px 0 13px;
}
.blog_event_sale li.sub{
    margin:0 0 0 7px;
    /*color:#666666;
    font-size:1.0em;
    width:113px;
    height:23px;
    padding:4px 0 0 7px;
    background:url(/common/images/common_form_bg_006.gif) no-repeat;*/
}
.items2 .blog_item_category .click ul,
.items2 .blog_event_sale .click ul {
	min-width: 138px;
}

.blog_floor li,
.blog_item_category li,
.blog_event_sale li{
    position:relative;
    z-index:300;
    font-size:1.0em;
    margin: 0;
    padding:5px;
    text-decoration:none;
    cursor: pointer;
}
.blog_floor .menu ul li:hover,
.blog_item_category .menu ul li:hover,
.blog_event_sale .menu ul li:hover,
.blog_floor .menu ul li:hover a,
.blog_item_category .menu ul li:hover a,
.blog_event_sale .menu ul li:hover a {
    color: #ffffff;
    background-color: #ff3366;
}

.blog_floor li a,
.blog_item_category li a,
.blog_event_sale li a{
    display:block;
    width:auto;
    color: #46639f;
	min-width:92px;
	white-space:nowrap;
}
.blog_floor .menu ul li a:hover,
.blog_item_category .menu ul li a:hover,
.blog_event_sale .menu ul li a:hover {
    color: #ffffff;
    background-color: #ff3366;
    text-decoration: none;
}

.blog_floor .menu ul,
.blog_item_category .menu ul,
.blog_event_sale .menu ul{
    position:absolute;
    left:-9999px;
}

.blog_floor .menu li.hover,
.blog_item_category .menu li.hover,
.blog_event_sale .menu li.hover{
    z-index:500;
}

.blog_floor .menu li.click ul,
.blog_item_category .menu li.click ul,
.blog_event_sale .menu li.click ul{
    top:27px;
    left:0;
    background:#ffffff;
    border:solid #cccccc 1px;
    max-height: 140px;
    overflow-y: scroll;
}

/*Blog Entry*/
.blog_entry_title{
    font-weight:bold;
}

.blog_entry_block{
    width:520px;
    margin-bottom:20px;
    padding:15px 15px 10px;
    background:url(/common/images/common_entry_bg_001.gif) #ffffff no-repeat left bottom;
}

.blog_entry_block p.date{
    margin-bottom:15px;
    text-align:right;
}

.blog_entry_block p.kaeru_logo{
    margin-bottom:15px;
    text-align:right;
}

.blog_entry_sns_block{
    width:485px;
    margin-bottom:22px;
    padding:6px 15px 6px 20px;
    background:#f2f2f2;
}

.blog_entry_sns_block ul.sns_icon{
    float:left;
}

.blog_entry_sns_block ul.sns_icon li{
    float:left;
    margin-right:40px;
}

.blog_entry_sns_block p.like_number{
    color:#ff3366;
    float:right;
    margin-top:2px;
    padding-left:28px;
    background:url(/common/images/common_post_icon_001_act.gif) no-repeat left;
}

.blog_entry_sns_block_02{
    width:485px;
    margin-bottom:12px;
    padding:15px 15px 15px 20px;
    background:#f2f2f2;
}

.blog_entry_sns_block_02 ul.sns_icon{
    float:left;
}

.blog_entry_sns_block_02 ul.sns_icon li{
    float:left;
    margin-right:40px;
}

.blog_entry_sns_block_02 p.like_number{
    color:#ff3366;
    float:right;
    margin-top:2px;
    padding-left:28px;
    background:url(/common/images/common_post_icon_001_act.gif) no-repeat left;
}

.more_sns_block table{
    width:100%;
}

.more_sns_block table td{
    padding-right:20px;
    text-align:left;
}

.more_sns_block table td.t_button{
    padding-right:0;
}
.more_sns_block table td.t_button iframe{
    width:105px !important;
}

.entry_block{
    margin-bottom:28px;
	font-size: 1.2em;
}

.entry_block p{
    margin-bottom:15px;
}

.entry_block .image{
    margin-bottom:15px;
}
.entry_block ul {
	margin-left: 1.5em;
}
.entry_block ul li {
	list-style: disc none outside;
}
.entry_block ol {
	margin-left: 2em;
}
.entry_block p,
.entry_block li {
	word-wrap:break-word;
	word-break: break-all;
}

.entry_block .entry_info_block{
    padding-top:11px;
    background:url(/common/images/common_line_001.gif) repeat-x left top;
	font-size: 0.83em;
}

.entry_info_block dl{
    margin-bottom:3px;
}

.entry_info_block dt{
    color:#ffffff;
    font-size:1.1em;
    float:left;
    width:60px;
    line-height:21px;
    text-align:center;
    background:#808080;
}

.entry_info_block dd{
    float:left;
    margin:2px 0 0 6px;
}

.center_bnr_block01{
    margin-top: 20px;
    margin-bottom:20px;
}
.center_bnr_block01 ul {
	margin-left: 1.5em;
}
.center_bnr_block01 ul li {
	list-style: disc none outside;
}
.center_bnr_block01 ol {
	margin-left: 2em;
}
.center_bnr_block01 p,
.center_bnr_block01 li {
	word-wrap:break-word;
	word-break: break-all;
}

/*Fancybox in the Entry*/
.entry_image_01 p.close02{
    margin-bottom:10px;
    text-align:right;
    position:fixed; top:0px; right:0px;
}

/*Right Side Area Shop Information*/
.side_shop_info_block01{
    margin:0 10px;
}

.side_shop_info_block01 dl{
    margin-bottom:10px;
}

.side_shop_info_block01 dt{
    color:#ffffff;
    font-size:1.0em;
    width:70px;
    line-height:21px;
    margin-bottom:5px;/*
    padding-top:1px;
    text-align:center;
    background:#808080;*/
}

.side_shop_info_block02{
    margin:10px 10px 0;
    padding-top:12px;
    background:url(/shop/images/shop_line_002.gif) no-repeat left top;
}

.side_shop_info_block03{
    margin:10px 10px 15px 0;
    padding-top:12px;
    padding-bottom:12px;
    background-image:url(/shop/images/shop_line_002.gif),
                     url(/shop/images/shop_line_002.gif);
    background-repeat: no-repeat,
                       no-repeat;
    background-position: left top,
                         left bottom;
}

/* **
#right_area .slide_show_block{
    position:relative;
}
#right_area .slide_show_block .thumbblock{
    position:absolute;
    right:10px;
} 
#right_area .news_event_block{
    position:relative;
}
#right_area .clear .right_block{
    position:absolute;
    margin-left:570px;
}*/

/*****************************************
Dummy sideblock
******************************************/
.side_block.dummy {
    display: table;
}
.side_block.dummy div {
    display: table-cell;
    vertical-align: middle;
    width: 190px;
    text-align: center;
}

/*****************************************
RightArea without RightSidenav
******************************************/
#right_area.no_sidenav {
    text-align: left;
}
#right_area.no_sidenav .blog_nav_block {
    width: 746px;
}
#right_area.no_sidenav .blog_list_block {
    width: 760px;
}

#right_area.no_sidenav .items3 .blog_floor li.sub,
#right_area.no_sidenav .items3 .blog_item_category li.sub {
    background: url(/common/images/common_form_bg_005.gif) no-repeat;
    width: 133px;
}


/*****************************************
Back to List Btn
******************************************/
.back_to_list {
    text-align: center;
    margin-bottom: 20px;
}
.back_to_list a {
    display: block;
    margin: 0 auto;
    background: url(/common/images/backlist_btn_001_on.jpg) no-repeat center center;
}

/*****************************************
SELECTBOX STYLE
******************************************/
.select_area {
    background: #ffffff;
    margin-bottom: 200px;
    padding: 60px 7px 7px;
    width: 536px;
    position: relative;
}
.select_area img {
    vertical-align: top;
}
.select_area .floor,
.select_area .item_category,
.select_area .event_sale {
    z-index: 200;
}
.select_area .floor {
    position: absolute;
    top: 10px;
    left: 7px;
}
.select_area .item_category {
    position: absolute;
    top: 10px;
    left: 180px;
}
.select_area .event_sale {
    position: absolute;
    top: 10px;
    left: 365px;
}
.select_area .UIElm-select-box {
    display: inline-block;
    position: relative;
    z-index: 0;
}
.select_area .UIElm-select {
    display: inline-block;
    font-size: 12px;
    color: #666666;
    padding: 4px 22px 4px 8px;
    background: url(/common/images/common_form_bg_006.gif) no-repeat;
    width:90px;
    height: 19px;
    margin-left: 4px;
}
.select_area a.UIElm-select:hover {
    text-decoration: none;
}
.select_area  ul.UIElm-select-option {
    background-color: #ffffff;
    z-index: 300;
    padding: 0px 5px;
    border: 1px solid #cccccc;
    margin-left: 4px;
}
.select_area ul.UIElm-select-option li {
    margin: 5px 0;
    text-size: 1em;
}
.select_area ul.UIElm-select-option li a {
    display: block;
    min-width: 108px;
    max-width: 180px;
}


/*****************************************
blog parts CSS
******************************************/
.post_image,
.post_icon_block {
    z-index: 100;
}

/*****************************************
registInput/edit sns connect
******************************************/
.form_mail,
.form_password,
.birth_block,
.form_likes,
.form_mail_magazine,
.fb_connect {
	background: url("/common/images/common_line_004.gif") repeat-x bottom left transparent;
}
.form_mail,
.form_password {
	margin-bottom: 5px;
	padding-bottom: 10px;
}
.birth_block {
	margin-bottom: 15px;
}
.form_likes {
	margin-bottom: 10px;
}
.form_mail_magazine {
	margin-bottom: 10px;
	padding-bottom: 13px;
}
.fb_connect {
	padding-bottom: 15px;
	margin-bottom: 10px;
}
.twitter_connect {
	margin-bottom: 50px;
}
#regist_input.twitter_connect {
	margin-bottom: 30px;
}
.fb_connect .fb_left,
.fb_connect .fb_right {
    width: 340px;
    float: left;
}
.form_likes .error {
	margin-top: 5px;
}
#regist_input .likes,
#my_edit .likes {
 padding-top: 10px;
}
#regist_input .likes .notes,
#my_edit .likes .notes {
	font-weight: bold;
	margin-bottom: 13px;
}

#regist_input .fb_connect .fb_left .form_title,
#my_edit .fb_connect .fb_left .form_title,
#regist_input .twitter_connect .form_title,
#my_edit .twitter_connect .form_title {
	margin-top: 14px;
}
.fb_connect .fb_right {
    margin-left:45px; 
}
#regist_input .fb_right .form_title,
#my_edit .fb_right .form_title{
	width: 130px;
}
.fb_connect .error,
.twitter_connect .error {
	margin-left: 0;
	margin-top: 14px;
}

/* like button */
#regist_input .sns_status,
#my_edit .sns_status {
    float: left;
    margin-top: 14px;
    margin-left: 30px;
}
#regist_input .fb_right .sns_status,
#my_edit .fb_right .sns_status{
	margin-left: 0;
	margin-right: 25px;
}
#regist_input button#check_facebook_like,
#my_edit button#check_facebook_like {
    background: url(/common/images/like_connect_btn_001_on.gif) no-repeat center center;
}
#regist_input button#check_facebook_like.like_done,
#my_edit button#check_facebook_like.like_done {
    background: url(/common/images/like_release_btn_001_on.gif) no-repeat center center;
}
#regist_input button#check_facebook_like:hover img,
#my_edit button#check_facebook_like:hover img {
    filter:alpha(opacity=0);
    -ms-filter:alpha(opacity=0);
    opacity:0.0;
}
/* firefoxhack for like button */
@-moz-document url-prefix( ){
    #regist_input button#check_facebook_like,
    #my_edit button#check_facebook_like {
        margin-left: -3px;
    }
}

/*****************************************
blogDetail link-prev, next CSS
******************************************/
#blog_link {
	background-color: #ffffff;
	padding: 10px;
	margin-bottom: 20px;
	width: 530px;
}
#blog_link .prev {
	float: left;
}
#blog_link .prev a {
	padding-left: 20px;
	background: url("/common/images/common_icon_10.png") no-repeat left center transparent;
}
#blog_link .next {
	float: right;
}
#blog_link .next a {
	padding-right: 20px;
	background: url("/common/images/common_icon_11.png") no-repeat right center transparent;
}

/*****************************************
noblog shop top
******************************************/
.shop_info_block.no_blog .icon_telphone {
	margin-left: 0;
}
.noblog_shop_info {
	margin-top: 3px;
}
.noblog_shop_info dl {
	margin-bottom: 15px;
}
.noblog_shop_info dl dt {
	width: 80px;
}
.noblog_shop_info dl dd {
	margin-left: 80px;
	margin-top: -17px;
}
.noblog_shop_info .summary {
	margin-bottom: 15px;
	padding-top: 15px;
	background: url("/shop/images/shop_line_002.gif") repeat-x left top transparent;
}
.noblog_shop_info .shop_link {
	padding-top: 15px;
	background: url("/shop/images/shop_line_002.gif") repeat-x left top transparent;
}

/*****************************************
imgLiquid
******************************************/
.imgLiquidBox{
	display:block;
	overflow: hidden;
}

.each_post_block .post_image .imgLiquidBox{
	width:248px;
	height:248px;
}
.news_event_block div.inner div.ne_block table tbody tr td .imgLiquidBox{
	width:174px;
	height:174px;
}

/* hotblog */
.content_wrap div.blog_list_block div.fixHeight div.blog_account_box div.post_image .imgLiquidBox{
	width:162px;
	height:162px;
}

.column3_blog_list_block_01 .each_post_block .imgLiquidBox{
	width:158px;
	height:158px;
}

.column4_blog_list_block_01 .each_post_block .imgLiquidBox{
	width:158px;
	height:158px;
}

.column5_blog_list_block_01 .each_post_block .imgLiquidBox{
	width:158px;
	height:158px;
}

/*****************************************
ct_labelBox
******************************************/
.ct_labelBox{
	padding:5px 0px;
	display:none;
}

.ct_labelBox ul{ *zoom : 1; }
.ct_labelBox ul:after{ content : ''; display : block; clear : both; height:0; }

.ct_labelBox ul .hide{
	display:none;
}

.ct_labelBox ul li{
	font-size:12px;
	color:#FFF;
	float:left;
	background:#888;
	box-shadow:1px 1px 1px 0 rgba(0,0,0,0.3);
	margin-right:5px;
	margin-bottom:7px;
	white-space:nowrap;
}

.ct_labelBox ul li .item{
	display:inline-block;
	vertical-align:middle;
	*vertical-align:baseline;
	*display:inline;
	*zoom:1;
	padding:3px 10px 3px 8px;
	border-right:1px #AAA dotted;
}

.ct_labelBox ul li .peel{
	vertical-align:middle;
	display:inline-block;
	*vertical-align:baseline;
	*display:inline;
	*zoom:1;
	padding:5px;
	line-height:1;
}

.ct_labelBox ul li a,
.ct_labelBox ul li a:hover{
	color:#FFF;
	text-decoration:none;
}

/* line wrap */
.side_block .side_shop_info_block01,
.side_block .side_shop_info_block02,
.noblog_shop_info{
	word-wrap:break-word;
}

/* thumbnailBox */
.side_block .thumbnailBox{ *zoom : 1; }
.side_block .thumbnailBox:after{ content : ''; display : block; clear : both; height:0; }

.side_block .thumbnailBox .image{
	display: block;
	float: right;
	margin-left: 5px;
}

.side_block .thumbnailBox .image .imgLiquidBox{
	display:block;
	overflow: hidden;
	width:50px;
	height:50px;
	margin-right:5px;
}

.side_block .thumbnailBox .text{
	overflow: hidden;
	word-wrap: break-word;
}

/* shop_title */
.shop_title h1{
	text-align: left;
}

.shop_title .label{
	background:#808080;
	display:inline-block;
	vertical-align:middle;
	*vertical-align:baseline;
	*display:inline;
	*zoom:1;
	margin-right:10px;
	margin-bottom:2px;
	padding:4px 15px 3px 15px;
	white-space:nowrap;
	font-size:12px;
	font-weight:normal;
	color:#FFF;
	line-height:1;
}

.shop_title .title{
	vertical-align:middle;
	margin-bottom:2px;
	text-align: left;
}

.shop_title a{
	color:#FFF;
	text-decoration:underline;
}

.shop_title a:hover{
	text-decoration:none;
}

/* post_shop shop_title label */
.post_shop .label{
	background:#808080;
	display:inline-block;
	vertical-align:middle;
	*vertical-align:baseline;
	*display:inline;
	*zoom:1;
	margin-right:5px;
	margin-bottom:2px;
	padding:4px 10px 3px 10px;
	white-space:nowrap;
	font-size:12px;
	font-weight:normal;
	color:#FFF;
	line-height:1;
}

.post_shop .title{
	vertical-align:middle;
	*vertical-align:baseline;
	*display:inline;
	*zoom:1;
	margin-bottom:2px;
}

/* pager_cont */
.pager_cont_wrap{
	background:#FFF;
	width: 550px;
}

.pager_cont_wrap_bottom{
	margin-top:10px;
}

.pager_cont_wrap .pager_cont{
	text-align:center;
	padding:10px 15px;
}

.pager_cont_wrap_bottom .pager_cont{
	text-align:center;
	padding:10px 0;
}

.pager_cont .prev,
.pager_cont .next{
	display:inline-block;
	vertical-align:middle;
	*vertical-align:baseline;
	*display:inline;
	*zoom:1;
}

.pager_cont .prev{
	margin-right:20px;
	width:142px;
}

.pager_cont .next{
	margin-left:20px;
	width:142px;
}

.pager_cont .prev a,
.pager_cont .next a{
	display:inline-block;
	vertical-align:middle;
	*vertical-align:baseline;
	*display:inline;
	*zoom:1;
	text-align:left;
	text-indent:-9999px;
	outline:none;
	overflow:hidden;
	height:28px;
	width:142px;
}

.pager_cont .prev a{ background:url(/common/images/pager_prev_btn.png) no-repeat; }
.pager_cont .next a{ background:url(/common/images/pager_next_btn.png) no-repeat; }
.pager_cont .prev a:hover{ background:url(/common/images/pager_prev_btn_on.png) no-repeat; }
.pager_cont .next a:hover{ background:url(/common/images/pager_next_btn_on.png) no-repeat; }


.pager_cont .disabled{
	display:inline-block;
	vertical-align:middle;
	*vertical-align:baseline;
	*display:inline;
	*zoom:1;
	border-radius: 3px;
	padding:5px 10px;
	background:#CCC;
	color:#FFF;
	text-shadow: -1px -1px 0 #CCC;
	box-shadow: 0 2px 0 #EEE;
}


.pager_cont ul{
	font-size:0;
	display:inline-block;
	vertical-align:middle;
	*vertical-align:baseline;
	*display:inline;
	*zoom:1;
}

.pager_cont ul li{
	font-size:12px;
	display:inline-block;
	vertical-align:middle;
	*vertical-align:baseline;
	*display:inline;
	*zoom:1;
	border-right:1px #000 solid;
	padding:0 5px 0 5px;
	line-height:1;
}

.pager_cont ul li .current{
	font-weight:bold;
	color:#FF3366;
}

.pager_cont ul li:first-child{
	border-left:1px #000 solid;
}

/* wear */
.entry_block .wear_staff_info{
	display:inline-table;
}

.entry_block .wear_staff_info div{
	display:table-row;
}

.entry_block .wear_staff_info div p{
	display:table-cell
}

.entry_block .wear_staff_info div p img{
	float:left;
	border-radius:32px;
	width:64px;
	height:64px;
	cursor:pointer;
}

.entry_block .wear_staff_info div .wear_staff_detail{
	vertical-align:middle;
	padding-left:10px;
}

.entry_block .wear_logo_area{
	text-align: right;
}

.entry_block .wear_logo_area img{
	cursor:pointer;
}

.event_list {
    text-align: center;
}

img.event_top {
    max-width: 174px;
    max-height: 98px;
    vertical-align: baseline;
}

.entry_block img{
    max-width: 520px;
}

/*****************************************
change UI 20150227
******************************************/
.blog_main_image{
	float: left;
	width: 520px;
	height: 520px;
	padding:0 42px;
	position: relative;
	overflow: hidden;
}

.blog_main_image li {
	width: 520px;
	height: 520px;
	position: absolute;
	left:-600px;
	top:0;
	display: table;
}

.blog_main_image li .item{
	display: table-cell;
	width: 520px;
	height: 520px;
	vertical-align: middle;
	text-align: center;
}

.blog_main_image li.active{
	position:static;
}

.blog_main_image li img{
	width: auto;
	height: auto;
}

.blog_image_box .pager_cont_wrap{
	width: 520px;
	padding: 10px 42px 0;
}

.blog_image_box .blog_image_list_box{
	float: right;
	width: 112px;
}
.blog_image_box .blog_image_list_box .date{
	text-align: right;
}

.blog_image_list{
	padding-top: 15px;
}

.blog_image_list .blog_image_item_wrap{
	height: 0;
	margin-top: 15px;
	overflow: hidden;
	position: relative;
}

.blog_image_list .blog_image_item{
	position: absolute;
	top:0;
	left:0;
}

.blog_image_list .blog_image_item .item{
	margin: 0 0 15px;
	width: 110px;
	height: 110px;
	overflow: hidden;
}

.blog_image_list .blog_image_item .item img{
	position: relative;
	cursor: pointer;
}

.blog_image_list .btn{
	text-indent: -9999px;
	cursor: pointer;
	overflow: hidden;
	height: 28px;
}

.blog_image_list .btn.disabled{
	cursor:default;
	filter: alpha(opacity=25);
	-moz-opacity:0.25;
	opacity:0.25;
}

.blog_image_list .btn.prev{
	background: url(/common/images/img_prev_btn.png) center center no-repeat #333;
}

.blog_image_list .btn.next{
	background: url(/common/images/img_next_btn.png) center center no-repeat #333;
}

.blog_shop_link_bottom{
	margin-bottom: 15px;
	font-size: 0.83em;
}

.entry_block .pager_cont_wrap_bottom p{
	margin-bottom: 0;
}