@charset "UTF-8";

/* ===================================================================
CSS information
 file name:login.css
=================================================================== */

.flow_block_01 {
 width: 554px;
 margin-left: auto;
 margin-right: auto;
}

/* index ---------------------------------------------------------- */
#index_sns{
 padding-bottom:15px;
}

#index_sns .sns_title{
 padding:10px 0;
 font-weight:bold;
 font-size:175%;
}

#index_sns .bl_block_01 {
 margin: 5px auto 0;
 display: block;
}
#index_sns .bl_block_01 p {
 margin-bottom: 3px;
}

#index_sns .inner {
 padding: 0 5px;
}

#index_register{
 width:730px;
 padding:15px 15px 15px;
 text-align:left;
 background:#fff;
}

#index_register .form_title{
 display:inline;
 float:left;
 width:120px;
 margin-top:5px;
 font-weight:bold;
}

/* ---------------------------------------------------------------- */
#index_register .register_btn{
	width:auto;
	margin-bottom:5px;
	text-align:center;
}

#index_register .register_btn p{
	width:341px;
	margin:0 auto;
	font-size:1.0em;
    background:url("/login/images/btn_regist_on.gif") no-repeat left top;
}

#index_register .register_btn a{
	display:block;
	width:341px;
	margin:0 auto;
	font-size:1.3em;
	color:#fff;
}

#index_register .register_btn a:hover{
	text-decoration:none;
}

/* regist_input --------------------------------------------------- */
#regist_input{
 width:730px;
 margin-bottom:10px;
 padding:15px 15px 20px;
 text-align:left;
 background:#fff;
}

.pull_down_block02 li.sub {
 font-size: 1.1em;
}
#regist_input .pull_down_block02 .menu li.click ul {
	top: 26px;
	overflow-y: scroll;
	max-height: 190px;
}
#regist_input .pull_down_block02 .options li {
	margin: 0;
	padding: 5px;
}

#regist_input .form_title,
#regist_input .birth_block .title{
 display:inline;
 float:left;
 width:120px;
 margin-top:5px;
 font-weight:bold;
}

#regist_input .birth_block{
 padding-bottom:10px;
}

#regist_input .birth_block .title{
 margin-top:6px;
}

#regist_input .birth_block ul.first{
 display:inline;
 float:left;
 margin-left:23px;
 margin-top:9px;
}

#regist_input .birth_block li{
 display:inline;
 float:left;
}

#regist_input .birth_block .ymd{
 width:95px;
}

#regist_input .birth_block .ymd p{
 display:inline;
 float:left;
 margin-left:5px;
 margin-top:3px;
}

#regist_input .birth_block .ymd li{
	position:relative;
	z-index:300;
    padding:3px;
	font-size:1.0em;
	text-decoration:none;
	cursor:pointer;
}

#regist_input .birth_block .ymd li.sub{
	width:53px;
	height:23px;
	margin:0 0 0 7px;
	padding:7px 0 0 7px;
	font-size:11px;
	color:#666;
    background:url("/common/images/common_form_bg_011.gif") no-repeat;
}

#regist_input .birth_block .ymd li {
	display:block;
	width:48px;
}

#regist_input .birth_block .ymd .menu ul{
    position   : absolute;
    left       : -9999px;
}
#regist_input .birth_block .ymd .menu ul li {
    color           : #46639f;
}
#regist_input .birth_block .ymd .menu li.hover {
    z-index         : 500;
    text-decoration: none;
    color: #ffffff;
    background-color: #ff3366;
}

#regist_input .birth_block .ymd .menu li.click ul{
    top:27px;
	left:0;
	border:solid #ccc 1px;
	background:#fff;
    max-height: 200px;
    overflow-y: scroll;
}

/* ---------------------------------------------------------------- */
#regist_input #like_title{
 display:inline;
 float:left;
 width:125px;
 margin-top:3px;
 font-weight:bold;
}

#regist_input .likes{
 width:580px;
 margin-left:151px;
}

#regist_input .likes li{
 float:left;
 width:110px;
 padding-bottom:18px;
 min-height: 20px;
}

#regist_input .likes label{
 padding-top:4px;
 padding-bottom:4px;
 cursor:pointer;
}

#regist_input .likes span{
 padding-top:4px;
 padding-bottom:4px;
}

/* ---------------------------------------------------------------- */
#regist_input .check_box_label.ml {
 display: block;
}

/* ---------------------------------------------------------------- */
#regist_input #agreement{
 height:125px;
 overflow:auto;
}

#regist_input #agreement dt{
 font-weight:bold;
}

#regist_input #agreement dd{
 margin-bottom:5px;
}

/* ---------------------------------------------------------------- */
#regist_input #agree_ul{
 text-align: center;
    margin:10px auto 0;
}

#regist_input #privacy{
 text-align: center;
 margin:0 auto;
}

#regist_input #agree_ul label{
 padding-top:4px;
 padding-bottom:4px;
 cursor:pointer;
}

/* Error style------------------------------------------------- */
.error {
    color: #CC0000;
    float: left;
    margin-left: 20px;
    margin-top: 10px;
    padding-left: 1em;
    text-indent: -1em;
}
#index_register .error {
	margin-left: 0;
	float: none;
	margin-top: 0;
}

#index_register div.clear .error {
	margin-left: 30px;
	float: left;
	margin-top: 10px;
}
.error.password {
    margin-left: 98px;
}

.birth_block .error {
    margin-top: 14px;
}

.agreement_block .error {
	float: none;
	margin-left: 0;
	text-align: center;
	margin-top: 0;
}

/* ---------------------------------------------------------------- */
.mail_address {
	float: left;
	font-size: 1.2em;
	margin-left: 30px;
	line-height: 1.5;
	margin-top: 4px;
}

.agreement_block {
	margin-bottom: 28px;
}

/* ---------------------------------------------------------------- */
#regist_input .confirm_btn{
	width:auto;
	text-align:center;
}

#regist_input .confirm_btn p{
	width:341px;
	margin:0 auto;
	font-size:1.0em;
    background:url("/login/images/btn_confirm.gif") no-repeat left top;
}

#regist_input .confirm_btn a{
	display:block;
	width:341px;
	margin:0 auto;
	font-size:1.3em;
	line-height:42px;
	color:#fff;
}

#regist_input .confirm_btn a:hover{
	text-decoration:none;
}

/* regist_confirm --------------------------------------------------- */
#regist_input.confirm table th,
#regist_input.confirm table td {
    padding-bottom: 15px;
}
#regist_input.confirm table th {
    width: 140px;
    text-align: left;
}
#regist_input.confirm table td {
    padding-left: 25px;
}
#regist_input.confirm .btns_account {
    width: 320px;
    margin: 15px auto 0;
}

/* regist_complete ------------------------------------------------ */
#regist_comp_block {
 padding: 15px 20px 15px;
 width: 720px;
}
#regist_comp_block #regist_comp01_txt {
 width: 580px;
}
#regist_comp_block #regist_comp01_txt.width100 {
    width: 100%;
	margin-right: 0;
}
#regist_comp_block #regist_comp01_img {
 width: 120px;
}
#regist_comp01_txt{
 display:inline;
 float:left;
 width:480px;
 margin-right:20px;
}

#regist_comp01_txt .title{
 padding:5px 0 10px;
 font-weight:bold;
 font-size:175%;
}

#regist_comp01_img{
 display:inline;
 float:left;
 width:230px;
 font-size:0;
 line-height:0;
 text-align: center;
}

#regist_comp02{
 margin-bottom:20px;
 padding-bottom:20px;
}

#regist_comp02 .sn{
 width:355px;
}
#regist_comp02 .sn .dummy{
 font-size: 1em;
 padding: 5px;
}

#regist_comp02 .sn p.ttl{
 padding:10px 10px 8px;
 font-size:1.3em;
 color:#fff;
    background:url("/common/images/common_title_bg_006.gif") no-repeat left top;
}

#regist_comp02 .sn div{
 font-size:1.3em; 
}

#regist_back{
	margin:0 auto;
    background:url("/common/images/common_btn_bg_003.gif") no-repeat right top;
}

#regist_back a{
	margin:0 auto;
    background:url("/common/images/common_btn_bg_001.gif") no-repeat right top;
}

#regist_back a:hover{
	margin:0 auto;
    background:url("/common/images/common_btn_bg_003.gif") no-repeat right top;
}

#regist_close{
	margin: 10px auto 0;
	text-align: center;
}

#regist_close .close{
	margin: 0 auto 10px;
}

#regist_close a:hover{
	text-decoration: none;
}

/* no-header and no-footer ------------------------------------------------ */
#main.no_hf {
	padding-top: 20px;
	margin-bottom: 20px;
}

/* unsubscribe confirm btn ------------------------------------------------ */
.confirm_btn_area {
	margin: 15px auto 10px;
	width: 330px;
}

/* no-sidenav ---------------------------------------------------------- */
#main.no_sidenav{
 width: 760px;
}

/* logout ----------------------------------------------------------- */
#back_to_top {
	margin: 0 auto 50px;
    background: url("/common/images/top_btn_002_on.jpg") no-repeat center center;
	height: 32px;
	text-align: center;
}

/* close ----------------------------------------------------------- */
#close {
    margin: 0 auto 50px;
    width: 80x;
    height: 32px;
    text-align: center;
}

/* agreement ----------------------------------------------------------- */
.agreement_block .inner {
	max-height: 250px;
	overflow-y: scroll;
	padding-top: 0;
}
.agreement_block .ttl {
	font-weight: bold;
	text-align: center;
}
.agreement_block p {
	margin-bottom: 10px;
}
.agreement_conts dt {
	width: 4em;
	height: 18px;
}
.agreement_conts dd {
	margin-left: 4em;
	margin-top: -18px;
	margin-bottom: 5px;
}
.agreement_detail {
	margin-top: 20px;
}
.agreement_detail dt {
	font-weight: bold;
}
.agreement_detail dd {
	margin-bottom: 10px;
}
.agreement_detail li {
	font-size: 1em;
}
ol.type_1 {
	margin-left: 1.5em;
	list-style-type:decimal;
}
ul.num_01 {
	margin-left: 2em;
}
ul.num_01 li {
	text-indent: -2em;
}
