@charset "UTF-8";

/* layout.css
******************************************/
.title_block_06 h4 {
	color: #666666;
	font-size: 1.4em;
	font-weight: bold;
}


/* mediaspace layout
******************************************/
.text_block_01_half {
	margin-bottom: 10px;
	font-size: 1em;
	padding-bottom: 3px;
	text-align: left;
}

.item_block_02_non {
	width: 730px;
	margin-bottom: 20px;
	text-align: left;
	background:#ffffff;
}

/* table
******************************************/
#table_block_center {
	text-align: center;
}

#table_block_center th,#table_block_center td {
	text-align: center;
}

/* elements
******************************************/
.mb05 {
	margin-bottom: 5px;
}

/* club quattro
******************************************/
#quattro {
	padding-bottom: 18px;
}
#quattro .title_block_06 {
	margin-bottom: 5px;
}
#quattro .title_block_06 h4 {
	font-size: 1.25em;
}

#quattro .column2_block_06 .f_left {
	width: 310px;
}
#quattro .column2_block_06 .f_right {
	width: 400px;
}
#quattro .table_block_01 {
	margin-bottom: 35px;
}
#quattro table .time {
	width: 32%;
}
#quattro table .capacity{
	width: 50%;
}
#quattro table .capacity_01 {
	width: 25%;
}
#quattro table .capacity_02 {
	width: 25%;
}
#quattro table .fee {
	width: 18%;
}

/* billboard
******************************************/
#billboard {
	padding-bottom: 18px;
}
#billboard .title_block_06 {
	margin-bottom: 5px;
}
#billboard .bottom_up {
	margin-bottom: 30px;
}
#billboard h4 {
	color: #343434;
	font-size: 1.2em;
}
#billboard table .place {
	width: 32%;
}
#billboard table .size {
	width: 24%;
}
#billboard table .rental_fee {
	width: 28%;
}
#billboard table .product_fee {
	width: 16%;
}
#billboard ul.disc li {
	margin-bottom: 10px;
}