@charset "UTF-8";
@import "http://parco.jp/common/css/shop_member.css";

/* member
******************************************/
#member {
  text-align: left;
  padding: 50px;
  background: url(/web2/member/images/bg.png);
}
#member .title_block_07 {
  text-align: center;
}
#member .btn_join {
  text-align: center;
  margin-bottom: 30px;
}
#membersContents {
  width: 704px;
  padding-left: 13px;
  margin-right: -44px;
}
#membersContents li {
  float: left;
  margin-right: 58px;
  width: 271px;
  height: 176px;
  padding: 25px 0 0 23px;
  margin-bottom: 50px;
  background: url(/web2/member/images/waku.png);
}
#membersContents li h2 {
  margin-left: 9px;
  margin-bottom: 20px;
}
#membersContents li p {
  font-size: 100%;
  padding: 0 30px 0 88px;
  background-repeat: no-repeat;
  background-position: 0 0;
  min-height: 68px;
/*  font-size: 12px;*/
}
#membersContents li.favorite_blog p { background-image: url(/web2/member/images/icon_favorite_blog.png); }
#membersContents li.like p { background-image: url(/web2/member/images/icon_like.png); }
#membersContents li.send p { background-image: url(/web2/member/images/icon_send.png); }
#membersContents li.share p { background-image: url(/web2/member/images/icon_share.png); }
#membersContents li.checkin p { background-image: url(/web2/member/images/icon_checkin.png); }
#membersContents li.mailnews p { background-image: url(/web2/member/images/icon_mailnews.png); }
#membersContents li.login p { background-image: url(/web2/member/images/icon_login.png); }
#member .btn_join_02 {
  text-align: center;
}
#member a:hover img{
  opacity:0.9;
  filter:alpha(opacity=90);
  -ms-filter:alpha( opacity=90 );
}
