/*****************************************
 *  FOR MODAL STYLE
******************************************/


/* Pop Up Wrapper
******************************************/
#pop_up,
.fancybox-overlay,
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-iframe { background: transparent !important;}

#pop_up .wrapper {
    width: 588px;
    position: relative;
    padding: 33px 8px 0 0;
    margin: 0 auto;
    background: transparent url(/common/images/bg_pop_wrapper_top.png) no-repeat 0 8px;
}

#pop_up .wrapper_inner_01 {
    padding-bottom: 24px;
    background:transparent url(/common/images/bg_pop_wrapper_btm.png) no-repeat 0 bottom;
}

#pop_up .wrapper_inner_02 {
    padding: 10px 33px 3px 25px;
    background:transparent url(/common/images/bg_pop_wrapper_mid.png) repeat-y 0 0;
}

/*checkbox*/
#pop_up .wrapper .check_box{
    display:none;
    z-index:-1;
}

#pop_up .wrapper .check_box_label{
    padding-left:32px;
    background:url(/common/images/common_form_cb_003.png) no-repeat left top;
}

#pop_up .wrapper .check_box_label.disabled{
}

#pop_up .wrapper .label_selected{
    background:url(/common/images/common_form_cb_004.png) no-repeat left top;
}

/*close*/
#pop_up .wrapper p.close{
    position: absolute;
    top: 0;
    right: 0;
    width: 36px;
    height: 36px;
    margin: 0;
    padding: 0;
}

#pop_up .wrapper p.close{
}

/* Before Login (Pop Up Wrapper)
******************************************/

#pop_up .wrapper .before_login{
    width:530px;
    margin:0 auto;
    text-align:left;
}

#pop_up .wrapper .before_login .ttl{
    margin-bottom:15px;
    padding-top: 10px;
    background: url(/common/images/bg_ttl_before_login.png) no-repeat 0 top;
    color:#fff;
}

#pop_up .wrapper .before_login .ttl p{
    padding: 0 14px 10px 14px;
    background: url(/common/images/bg_ttl_before_login.png) no-repeat 0 bottom;
    font-size:1.8em;
    font-weight:bold;
    line-height: 1.1;
}

#pop_up .wrapper .bl_block_01{
    width:530px;
    margin-bottom:35px;
}
#pop_up .wrapper .before_login .bl_block_01{
    margin-bottom:15px;
}

#pop_up .wrapper .bl_block_01_left{
    float:left;
    width: 249px;
}

#pop_up .wrapper .bl_block_01_right{
    float:left;
    width:255px;
    min-height: 294px;
    padding-left:26px;
    background:url(/common/images/before_login_line_002.png) repeat-y left 0;
}

#pop_up .wrapper .bl_block_01_left p{
    margin-bottom:8px;
}

#pop_up .wrapper .bl_block_01_left p.cap,
#pop_up .wrapper .bl_block_01_right p.cap{
    color:#333333;
    font-size:1.6em;
    font-weight:bold;
    line-height: 1.3;
}

#pop_up .wrapper .bl_block_01_left p.cap {
    margin: 12px 0 23px 6px;
}

#pop_up .wrapper .bl_block_01_left p.facebook,
#pop_up .wrapper .bl_block_01_left p.twitter {
    margin-left: 25px;
    margin-bottom: 10px;
}

#pop_up .wrapper .bl_block_01_left p.facebook a{
    display:block;
    width:180px;
}

#pop_up .wrapper .bl_block_01_left p.twitter a{
    display:block;
    width:180px;
}

#pop_up .wrapper .bl_block_01_right p.cap {
    margin: 5px 0 15px;
}

#pop_up .wrapper .bl_block_01_right .arrow_01 {
    margin-bottom: 10px;
    margin-top: -2px;
}

#pop_up .wrapper .before_login .btn{
    background: url(/common/images/header_login_btn_03_on.png) no-repeat 0 top;
    margin-bottom: 6px;
}
#pop_up .wrapper .before_login .btn input:hover{
    filter:alpha(opacity=0);
    -ms-filter:alpha(opacity=0);
    opacity:0.0;
}

#pop_up .wrapper .bl_text{
    width:255px;
    height: 33px;
    margin-bottom:10px;
    background:url(/common/images/common_form_bg_016.png) no-repeat left top;
}

#pop_up .wrapper .bl_text input{
    color:#666666;
    width: 250px;
    height: 33px;
    padding-left:5px;
    background:none;
    border:none;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 14px;
    line-height: 33px\0/; /* IE8+9  */

}
#pop_up .wrapper .bl_text input:-webkit-autofill {
    border-radius    : 3px;
    box-shadow       : 1px 1px 1px #666 inset;
}
#pop_up .wrapper .bl_text .overlabel {
    height: 25px;
    line-height: 25px;
    color: #666666;
}
#pop_up .wrapper .bl_cb input,
#pop_up .wrapper .bl_cb_02 input{
    float:left;
    margin:4px 8px 0 0;
}

#pop_up .wrapper .bl_cb label,
#pop_up .wrapper .bl_cb_02 label{
    float:left;
    font-size:1.4em;
    padding-top: 3px;
    height: 24px;
}
#pop_up .wrapper .bl_block_01_right .bl_cb,
#pop_up .wrapper .bl_block_01_right .bl_cb_02{
    margin-bottom: 20px;
    line-height: 20px;
}
#pop_up .wrapper .bl_block_01_right .bl_cb label,
#pop_up .wrapper .bl_block_01_right .bl_cb_02 label{
    font-size: 1.2em;
}

#pop_up .wrapper .bl_block_02{
    margin-bottom:20px;
}
#pop_up .wrapper .before_login .bl_block_02{
    margin-bottom:10px;
}

#pop_up .wrapper .bl_block_02 .member_merit {
    border-left: 1px solid #808080;
    width: 509px;
}
#pop_up .wrapper .bl_block_02 .member_merit th {
    padding: 0;
    background-color :#808080;
    text-align: left;
}
#pop_up .wrapper .bl_block_02 .member_merit td {
    border-right: 1px solid #808080;
    border-bottom: 1px solid #808080;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #4c4c4c;
    border-collapse: collapse;
    width: 50%;
}
#pop_up .wrapper .bl_block_02 .member_merit .merit_01,
#pop_up .wrapper .bl_block_02 .member_merit .merit_03 {
    padding-left: 65px;
}
#pop_up .wrapper .bl_block_02 .member_merit .merit_02,
#pop_up .wrapper .bl_block_02 .member_merit .merit_04 {
    padding-left: 55px;
}
#pop_up .wrapper .bl_block_02 .member_merit .merit_01 {
    background: url(/common/images/before_login_icon_001.gif) no-repeat 9px center;
}
#pop_up .wrapper .bl_block_02 .member_merit .merit_02 {
    background: url(/common/images/before_login_icon_002.gif) no-repeat 9px center;
}
#pop_up .wrapper .bl_block_02 .member_merit .merit_03 {
    background: url(/common/images/before_login_icon_003.gif) no-repeat 9px center;
}
#pop_up .wrapper .bl_block_02 .member_merit .merit_04 {
    background: url(/common/images/before_login_icon_004.gif) no-repeat 9px center;
}

#pop_up .wrapper .bl_block_02 p.cap{
    color:#333333;
    font-size:1.4em;
    font-weight:bold;
    margin-bottom:20px;
}

#pop_up .wrapper .bl_block_02 li{
    font-size:1.4em;
    padding-left:63px;
}

#pop_up .wrapper .bl_block_02 li.merit01{
    min-height:25px;
    margin-bottom:15px;
    padding-top:5px;
    background:url(/common/images/before_login_icon_001.gif) no-repeat left top;
}

#pop_up .wrapper .bl_block_02 li.merit02{
    margin-bottom:10px;
    padding-top:5px;
    background:url(/common/images/before_login_icon_002.gif) no-repeat left 5px;
}

#pop_up .wrapper .bl_block_02 li.merit03{
    min-height:25px;
    margin-bottom:15px;
    padding-top:5px;
    background:url(/common/images/before_login_icon_003.gif) no-repeat left top;
}

#pop_up .wrapper .bl_block_02 li.merit04{
    padding-top:5px;
    background:url(/common/images/before_login_icon_004.gif) no-repeat left 5px;
}

#pop_up .wrapper .bl_btn{
    margin-bottom:10px;
    text-align:center;
}

#pop_up .wrapper .bl_btn p{
    font-size:1.4em;
    margin-bottom:5px;
}

#pop_up .wrapper .bl_btn a{
    color:#ffffff;
    font-size:1.3em;
    display:block;
    margin:0 auto;
    /*width:341px;
    line-height:42px;
    background:url(/common/images/before_login_btn_003.gif) no-repeat left top;*/
}

#pop_up .wrapper .bl_btn a:hover{
    text-decoration:none;
    /*background:url(/common/images/before_login_btn_003_on.gif) no-repeat left top;*/
}

/* Like (Pop Up Wrapper)
******************************************/
#pop_up .wrapper .like{
    width:530px;
    margin:0 auto;
    text-align:left;
}

#pop_up .wrapper .like .like_inner_01{
    margin-bottom: 25px;
    padding: 0 5px 25px;
    background: url(../images/line_01.png) no-repeat 0 bottom;
}
#pop_up .wrapper .like p{
    font-size:1.4em;
    margin-bottom:15px;
}

#pop_up .wrapper .like p.ttl{
    color:#ff3366;
    font-size:1.6em;
    font-weight:bold;
    margin-bottom:10px;
}

#pop_up .wrapper .like .btn_group {
    width: 486px;
    margin: 0 auto 30px;
}
#pop_up .wrapper .like .btn_group p { margin-bottom: 0; }
#pop_up .wrapper .like .btn_group .btn { float: left; }
#pop_up .wrapper .like .btn_group .btn_02 { float: right; }

#pop_up .wrapper .like input{
    float:left;
    margin:4px 8px 0 0;
    margin-top:0\9;
}

#pop_up .wrapper .like label{
    float:left;
    font-size:1.4em;
    padding-top: 3px;
    margin-left: 156px;
    height: 24px;
}
#pop_up .wrapper .like .clear { background: none; }

/*#pop_up .wrapper .like p.close{
    width:441px;
    margin:15px 0 0;
    text-align:center;
}
*/

/* Send to friend (Pop Up Wrapper)
******************************************/
#pop_up .wrapper .friend{
    width:530px;
    margin:0 auto;
    text-align:left;
}
#pop_up .wrapper .friend .friend_inner_01{
    margin-bottom: 25px;
    padding: 0 5px 25px;
    background: url(../images/line_01.png) no-repeat 0 bottom;
}
#pop_up .wrapper .friend p{
    font-size:1.4em;
    margin-bottom:15px;
}

#pop_up .wrapper .friend .btn_group {
    width: 486px;
    margin: 0 auto 30px;
}
#pop_up .wrapper .friend .btn_group p { margin-bottom: 0; }
#pop_up .wrapper .friend .btn_group .btn { float: left; }
#pop_up .wrapper .friend .btn_group .btn_02 { float: right; }

#pop_up .wrapper .friend.sendfb .friend_inner_01{
    margin-bottom: 25px;
    padding: 0 5px 25px;
    background: url(../images/line_01.png) no-repeat 0 bottom;
}
#pop_up .wrapper .friend.sendfb .friend_inner_02 ul{
    text-align: center;
}
#pop_up .wrapper .friend.sendfb .friend_inner_02 ul li{
    display: inline;
}

/* Share (Pop Up Wrapper)
******************************************/
#pop_up .wrapper .share{
    width:520px;
    margin:0 auto;
    text-align:left;
}

#pop_up .wrapper .share p.ttl{
    color:#ff3366;
    font-size:1.6em;
    font-weight:bold;
    margin-bottom:20px;
}

#pop_up .wrapper .share textarea{
    color:#666666;
    width:496px;
    height:76px;
    margin-bottom:20px;
    padding:10px;
    background: #ebebeb;
    border:solid #000 2px;
    font-size:14px;
}

#pop_up .wrapper .share form ul{
    float:left;
}

#pop_up .wrapper .share form li{
    float:left;
    padding-top:8px;
}

#pop_up .wrapper .share form li input{
    float:left;
    margin:6px 10px 0 0;
}

#pop_up .wrapper .share form li label{
    float:left;
    margin-right:25px;
}

#pop_up .wrapper .share form .cooperating li{
    padding-top:5px;
    margin-right:10px;
}
#pop_up .wrapper .share form .cooperating li label.check_box_label{
margin: 16px 40px;
}

#pop_up .wrapper .submit_btn{
    float:right;
    width:212px;
    height:61px;
    background:url(/common/images/share_btn_001_on.png) no-repeat right top;
}
#pop_up .wrapper .submit_btn_02{
    float:right;
    width:212px;
    height:61px;
    background:url(/common/images/share_btn_002_on.png) no-repeat right top;
}

#pop_up .wrapper .submit_btn_02 input:hover,
#pop_up .wrapper .submit_btn input:hover{
    filter:alpha(opacity=0);
    -ms-filter:alpha(opacity=0);
    opacity:0.0;
}

#pop_up .wrapper .share p.close{
    width:auto;
    /*margin:25px 0 0;*/
    /*text-align:center;*/
}



/* Lightbox(fancybox)
******************************************/
.fancybox-skin {
    position: relative;
    /*background: red;*/
    color: #444;
    text-shadow: none;
}

.fancybox-opened .fancybox-skin {
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}
