@charset "UTF-8";

/* ===================================================================
CSS information
 file name:my.css
=================================================================== */

#title_block_my{
 position: relative;
 margin-bottom:20px;
 text-align:left;
}

#title_block_my p {
 position: absolute;
 top: 10px;
 right: 9px;
}

/* article_list --------------------------------------------------- */
.blog_nav_block.items3 .blog_item_category li.sub{
 width:113px;
 margin:0 0 0 7px;
    background:url("/common/images/common_form_bg_006.gif") no-repeat;
}

.blog_nav_block.items3 .ttl_01 {
 margin-left: 39px;
}
.blog_nav_block.items3 .ttl_02 {
 margin-left: 46px;
}
.shop_select_box {
 background-color: #ffffff;
 padding: 5px;
 margin-bottom: 20px;
}
.blog_nav_block.items3 #blog_list_shop{
 border-bottom: none;
 padding-bottom: 5px;
}
div.more_post {
 margin: 20px auto 30px;
 width: 550px;
}
#ul_category .blog_floor .sub ul,
#ul_category .blog_item_category .sub ul,
#ul_category .blog_event_sale .sub ul {
 min-width: 138px;
}
.no_matched_article {
 margin-left: 12px;
}

/* blog_list ------------------------------------------------------ */
#blog_list .item_block_01 {
 width: 730px;
 padding-bottom: 20px;
}
#blog_list_shop{
 border-bottom:1px solid #ccc;
 padding-bottom:13px;
}

#blog_list_shop .pull_down_block01{
 float:left;
}
#blog_list_shop .pull_down_block01 .menu li {
    z-index:301;
}
#blog_list_shop .pull_down_block01 .menu li.sub {
 margin: 5px;
}
#blog_list_shop .pull_down_block01 .menu li.click ul{
 top: 26px;
 z-index: 350;
}

#blog_list_shop .select{
 padding-top: 6px;
 float: left;
 margin-left: 10px;
}

#blog_list_shop .text_btn_02{
 float:left;
 margin-left:25px;
 margin-top:2px;
}

#blog_list_like{
 margin-bottom:12px;
}

#blog_list_like li{
 margin-bottom:0;
 border-bottom:1px solid #ccc;
 padding:10px 5px;
}

#blog_list_like li img{
 margin-right:10px;
 vertical-align:middle;
}

/* account ----------------------------------------------- */
.btn_edit {
 text-align: center;
    background: url("/my/images/account_btn_001_on.jpg") no-repeat center center;
}
#my_edit.account  {
 padding-bottom: 15px;
}
#my_edit.account .conts{
 min-height: 20px;
 margin-bottom: 15px;
}
#my_edit.account .conts p.f_left{
 margin-left: 25px;
}
#my_edit .conts.birth_block {
 padding-bottom: 0;
}
#my_edit .conts.birth_block .title,
#my_edit .conts .form_title, 
#my_edit .conts .birth_block .title,
#my_edit .conts #like_title {
 margin-top: 0;
}
#my_edit .conts .btn_title {
 padding-top: 6px;
}
.btns_account {
 width: 320px;
 margin: 15px auto 0;
}
.btns_account .text_btn_03 a {
 font-size: 0.9em;
}
.btns_account .f_right {
    background: url("/common/images/closepage_btn_001_on.jpg") no-repeat center center;
 width: 120px;
 height: 32px;
}

#my_edit.account table th,
#my_edit.account table td {
	padding-bottom: 15px;
}
#my_edit.account table th {
 width: 140px;
 text-align: left;
}
#my_edit.account table td {
 padding-left: 25px;
}


/* edit ----------------------------------------------------------- */
#my_edit{
 width:730px;
 margin-bottom:20px;
 padding:15px 15px 20px;
 text-align:left;
 background:#fff;
}

/* ----------------------------------------------------------- */
#my_edit .error_block_01{
 margin-top: 5px;
}

#my_edit .form_title,
#my_edit .birth_block .title{
 display:inline;
 float:left;
 width:140px;
 margin-top:5px;
 font-weight:bold;
}

#my_edit .address_input .form_block_03 {
    margin-top: 0;
}

#my_edit .birth_block{
 padding-bottom:10px;
}

#my_edit .birth_block .title{
 margin-top:6px;
}

#my_edit .birth_block ul.first{
 display:inline;
 float:left;
 margin-left:23px;
 margin-top:9px;
}

#my_edit .birth_block li{
 display:inline;
 float:left;
}

#my_edit .birth_block .ymd{
 width:95px;
}

#my_edit .birth_block .ymd p{
 display:inline;
 float:left;
 margin-left:5px;
 margin-top:3px;
}

#my_edit .birth_block .ymd li{
	position:relative;
	z-index:300;
    padding:3px;
	font-size:1.0em;
	text-decoration:none;
	cursor:pointer;
}

#my_edit .birth_block .ymd li.sub{
	width:53px;
	height:23px;
	margin:0 0 0 3px;
	padding:7px 0 0 7px;
	font-size:0.9em;
	color:#666;
    background:url("/common/images/common_form_bg_011.gif") no-repeat;
}
#my_edit .birth_block .ymd .menu ul{
	position:absolute;
	left:-9999px;
}
#my_edit .birth_block .ymd .menu ul li {
    width   : 48px;
    color   : #46639f;
}
#my_edit .birth_block .ymd .menu li.hover{
	z-index:500;
 	text-decoration: none;
    color: #ffffff;
    background-color: #ff3366;
}

#my_edit .birth_block .ymd .menu li.click ul{
	top:27px;
	left:0;
	border:solid #ccc 1px;
	background:#fff;
    max-height: 200px;
    overflow-y: scroll;
}
.pull_down_block02 .menu li.click ul {
	max-height: 190px;
	overflow-y: scroll;
}

#my_edit .birth_block .notes{
 display:inline;
 float:left;
 margin-left:5px;
 margin-top:14px;
 color:#c00;
}

/* ---------------------------------------------------------------- */
#my_edit #like_title{
 display:inline;
 float:left;
 width:140px;
 margin-top:3px;
 font-weight:bold;
}

#my_edit .likes{
 width:565px;
 margin-left:165px;
}

#my_edit .likes li{
 float:left;
 width:110px;
 padding-bottom:18px;
}

#my_edit .likes label{
 padding-top:4px;
 padding-bottom:4px;
 cursor:pointer;
}

#my_edit .likes span{
 padding-top:4px;
 padding-bottom:4px;
}

/* ---------------------------------------------------------------- */
#my_edit .save_btn{
	width:auto;
	margin-bottom:15px;
	text-align:center;
}

#my_edit .save_btn p{
	width:341px;
	margin:0 auto;
	font-size:1.0em;
    background:url("/common/images/ipa_btn_001_on.gif") no-repeat left top;
}

#my_edit .save_btn a{
	display:block;
	width:341px;
	margin:0 auto;
	font-size:1.3em;
	line-height:42px;
	color:#fff;
    background:url("/common/images/ipa_btn_001.gif") no-repeat left top;
}

#my_edit .save_btn a:hover{
	text-decoration:none;
    background:url("/common/images/ipa_btn_001_on.gif") no-repeat left top;
}

#my_edit .quit{
	margin:0 auto;
    background:url("/common/images/common_btn_bg_003.gif") no-repeat right top;
}

#my_edit .quit a{
	margin:0 auto;
    background:url("/common/images/common_btn_bg_001.gif") no-repeat right top;
}

#my_edit .quit a:hover{
	margin:0 auto;
    background:url("/common/images/common_btn_bg_003.gif") no-repeat right top;
}

/* ---------------------------------------------------------------- */
.error {
	color: #cc0000;
	float: left;
	margin-top: 10px;
	margin-left: 20px;
	padding-left: 1em;
	text-indent: -1em;
}

/* ---------------------------------------------------------------- */
.password_block {
	float: left;
	width: 565px;
	margin-left: 25px;
}
.password_block table td,
.password_block table th {
	vertical-align: middle;
	height: 40px;
}
.password_block table th {
	width: 140px;
	text-align: left;
}
.password_block table td p {
	font-size: 1em;
}
.password_block table td.form {
	padding-right: 20px;
}
.password_block table td input {
	font-size: 0.91em;
}
.password_block table td .form_block_01 {
	margin-top: 0;
}
.password_block .error {
	width: 190px;
	line-height: 1.3;
	margin-top: 0;
	float: none;
}
.password_block table td.remind_link {
	height: auto;
}
.password_block table td.remind_link p {
	margin-bottom: 0;
	margin-left: 152px;
}

/* ---------------------------------------------------------------- */
.check_box_label.ml {
	display: block;
}

/* ---------------------------------------------------------------- */
.pull_down_block01 .menu li.click ul,
.pull_down_block02 .menu li.click ul {
	top: 26px;
}
