@charset "UTF-8";
/* parco_card
******************************************/
.img_block_01 {
	background: none repeat scroll 0 0 #FFFFFF;
	margin-bottom: 20px;
	text-align: center;
	width: 760px;
}
.img_card {
	text-align: left;
	margin-left: 20px;
}
.f_right03 {
	width: 470px;
	float: right;
	padding-top: 3px;
}
#parco_card_service {
	padding-top: 40px;
	padding-bottom: 15px;
}
#parco_card_service dl {
	padding-left: 22px;
}
#parco_card_service dt {
	margin-bottom: 10px;
}
#parco_card_service dd {
	margin-bottom: 20px;
	font-size: 1.3em;
}
#parco_card_service dd .caution {
	text-indent: 0;
	margin-left: 0;
	margin-top: 5px;
	font-size: 0.85em;
}
#parco_card_service #pcs02 dd .caution {
	font-weight: bold;
}

#parco_card_merit {
	padding-bottom: 20px;
}
#parco_card_merit .title_block_06 {
	margin-bottom: 0;
}
#parco_card_merit .icon {
	margin-top: 20px;
	margin-bottom: 0;
}
#card_contact .f_right03 {
	display: table;
	height: 220px;
}
#card_contact .text_block_01 {
	display: table-cell;
	vertical-align: middle;
	height: 220px;
}
.pt03 {
	padding-top: 3px;
}
#kind_of_card {
	padding-bottom: 15px;
}
#kind_of_card .inner {
	margin-left: 5px;
	margin-top: 5px;
}
#kind_of_card .disc li {
	margin-bottom: 10px;
}
#kind_of_card p,
#parco_card_merit p {
	margin-bottom: 20px;
}
#kind_of_card .caution,
#parco_card_merit .caution {
	margin-bottom: 5px;
}
#kind_of_card .column3_block_03,
#kind_of_card .text_blocK_01,
#parco_card_merit .column3_block_03 {
	margin-bottom: 35px;
}