@charset "utf-8";
/* CSS Document */

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, label, input, textarea, p, blockquote, th, td {
	margin:0;
	padding:0;
}
body {
	font:13px/1.5 "MS PGothic", "Osaka", Arial, sans-serif;
	letter-spacing:0.075em;
	color:#555555;
}
* html body {
	font-size:75%;
}
:first-child + html body {
	font-size:75%;
}
table {
	border-collapse:collapse;
	border-spacing:0;
	font-size:inherit;
}
fieldset {
	border:medium none;
}
img {
	border:medium none;
	vertical-align:bottom;
}
address, caption, cite, code, dfn, em, strong, th, var {
	font-style:normal;
	font-weight:normal;
}
ol, ul, li {
	list-style:none outside none;
}
caption, th {
	text-align:left;
}
h1, h2, h3, h4, h5, h6 {
	font-size:100%;
	font-weight:normal;
}
hr {
	display:none;
}
select, input, textarea {
	font-size:99%;
}
p {
}
strong {
	font-weight:bold;
}
em {
	font-weight:normal;
}
br {
	letter-spacing:0;
}
