@charset "utf-8";
/* CSS Document */

a:link {
	text-decoration: none;
	color: #333333;
}
a:visited {
	text-decoration: none;
	color: #333333;
}
a:hover {
	text-decoration: underline;
	color: #333333;
}

.b_radius {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
}

#header {
	width: 100%;
	text-align: center;
}

#wrapperAll {
	text-align: center;
	width: 970px;
	margin: 30px auto;
	padding: 30px 0;
	background: #fff;
}

#footer {
    position:relative;
    margin: 0 auto;
    width: 1010px;
    height: 115px;
}
#footer .parco {
    position:absolute;
    left:0px;
    top: 30px;
}
#footer .close {
    position:absolute;
    left: 470px;
    top: 30px;
}
#footer .pageTop {
    position:absolute;
    right:0;
    top: 30px;
}
#footer .copyright {
    position:absolute;
    right: 320px;
    top: 75px;
}

* html #wrapper { zoom: 1; }
.clearfix {
    zoom: 1; /* for IE5.5 - IE7 */
}
.clearfix:after { /* for modern browser */
    content: ".";
    display: block;
    height: 0px;
    clear: both;
    visibility: hidden;
}
@media print{
html,body {_zoom: 70%!important;}
}

.list {
    width: 930px;
    margin: 0 auto;
    text-align: left;
    background-color: #FFFFFF;
}

.list h2{
    text-align: center;
}
