@charset "UTF-8";

/* ===================================================================
CSS information
 file name:recruit.css
=================================================================== */

/* index ---------------------------------------------------------- */
.recruit_main{
 margin-right:-15px;
}

.recruit_main .entry_box{
 display:inline;
 float:left;
 width:352px;
 margin-right:15px;
 margin-bottom:20px;
 border:2px solid #ccc;
}

.recruit_main .entry_box h2{
 padding:7px 14px;
 font-size:1.4em;
 font-weight:bold;
 background:#cecece;
}

.recruit_main .entry_box dl{
 padding:12px 14px;
}

.recruit_main .entry_box dt{
 display:inline;
 float:left;
 width:7.5em;
 font-weight:normal;
 line-height:1.9em;
 clear: both;
}

.recruit_main .entry_box dd{
 margin-left:8em;
 line-height:1.9em;
 min-height: 24px;
 word-break: break-all;
 word-wrap: break-word; 
}

.item_block_02 {
 margin-bottom: 20px;
}

.attention {
 margin-top: 5px;
 margin-bottom: 10px;
}
.attention h3 {
 margin-bottom: 5px;
}

.attention .title_block_05 {
 border-color: #cccccc;
}


/* re-design */
.recruit_main .entry_box h2 {
 font-size: 1.6em;
 padding: 5px 11px;
}
.recruit_main .entry_box table {
 padding: 5px 8px 3px;
 table-layout: fixed;
}
.recruit_main .entry_box table tr {
 background: url(/common/images/common_line_001.gif) repeat-x left bottom transparent;
 clear: both;
 display: block;
}
.recruit_main .entry_box table tr.no_bg {
 background-image: none;
}
.recruit_main .entry_box table th,
.recruit_main .entry_box table td {
 padding: 6px 0 6px 3px;
 vertical-align: top;
 word-break: break-all;
 word-wrap: break-word;
 line-height: 1.5;
 text-align: left;
}
.recruit_main .entry_box table th {
 width: 93px;
}
.recruit_main .entry_box table td {
 width: 237px;
}
.recruit_main .entry_box table p {
 font-size: 1em;
 margin-bottom: 9px;
}


.rec_navArea {
	background: url('/web/recruit/images/recruit_mainvisual.jpg') no-repeat;
	height: 568px;
	position: relative;
}

.rec_navArea ul {
	font-size: 0;
	position: absolute;
	bottom: 16px;
	left: 47px;
}

.rec_navArea ul li {
	display: inline-block;
	vertical-align: top;
}
.rec_navArea ul li:last-child {
	margin-left: 10px;
}
