@charset "UTF-8";

/* ===================================================================
CSS information
 file name:shop.css
=================================================================== */

/* search --------------------------------------------------------- */
#floor_map{
 margin-left:5px;
 margin-bottom:10px;
 font-size:0;
 line-height:0;
}

#floor_map .honkan,#floor_map .shinkan,#floor_map .passage{
 float:left;
}

#floor_map .shinkan{
 padding-top:42px;
}

#floor_map .passage{
 padding-top:82px;
}

#floor_map .honkan dl,#floor_map .shinkan dl,#floor_map .shinkan dl{
 border-bottom:2px solid #000000
}

#floor_map .honkan dd,#floor_map .shinkan dd,#floor_map .shinkan dd{
 border-top:2px solid #000000;
 border-left:2px solid #000000;
 border-right:2px solid #000000
}

.other_link{
 text-align: center;
 margin-bottom: 5px;
}

#announce li img{
 float:left;
 padding-right:10px;
}

#announce li span{
 font-size:10px;
}

.btn_set{
 position:absolute;
 right:0;
 top:0;
}

/* search_result -------------------------------------------------- */
#search_key{
 width:730px;
 margin-bottom:20px;
 border-bottom:1px solid #ccc;
 padding-bottom:15px;
}
#search_key dt img {
 vertical-align: top;
}
#search_key dt{
 float:left;
 width:120px;
 font-weight:bold;
 margin-top: 11px;
 height: 19px;
}
#search_key dd {
 height: 30px;
}
#search_key .form_block_01{
 float:left;
 margin-left:10px;
 margin-top: 4px;
}
#search_key .form_block_01 .ssf_text{
 width: 155px;
 font-size: 1em;
}

#search_key .form_block_01_text{
 font-size:0.9em;
 font-size:0.76em\9;
}

#search_key .btn{
 float:left;
 margin-left:30px;
 margin-top:5px;
 font-size:0;
 line-height:0;
}

#search_key .notes{
 /*margin-left:130px;*/
 margin-top:8px;
 float: right;
 width: 400px;
 font-size: 1em;
}

/* ---------------------------------------------------------------- */
#search_item{
 margin-bottom:5px;
}
#search_item dl {
 margin-right: -10px;
}
#search_item dt img {
 vertical-align: top;
}
#search_item dt{
 float:left;
 width:120px;
 margin-top:0;
 font-weight:bold;
 padding-top: 5px;
}

#search_item dd.list{
 float:left;
 width:610px;
 margin-left: 10px;
}

#search_item dd.btn{
 float:left;
 width:90px;
 font-size:0;
 line-height:0;
}

#search_item li{
 float:left;
 width:200px;
 margin-right:3px;
 min-height: 22px;
}

#search_item label{
 cursor:pointer;
 clear: both;
 display: table;
 width: 100%;
}

#search_item label input{
 vertical-align:middle;
 min-height: 22px;
}
#search_item label span{
 display: table-cell;
 vertical-align: middle;
}
#search_item label span.radio {
 padding-right: 5px;
 width: 12px;
}
#search_item label span.item_name{
 font-size:0.80em;
 margin-top: 1px;
 min-height: 22px;
 /*display: block;
 width: 180px;
 float: right;*/
}

#search_item .btn {
 margin-top: 10px;
 text-align: center;
 background: url(../../shop/images/btn_search_on.gif) no-repeat center center;
}

/* ---------------------------------------------------------------- */
#results{
 margin-bottom:10px;
}
#results table {
 border-top: none;
 border-left: none;
 border-color: #cccccc;
}
#results table th,
#results table td {
 border-color: #cccccc;
}
#results table th {
 background-color: transparent;
 border-right: none;
 padding: 0 5px 10px 0;
}
#results table th,
#results table th img {
 vertical-align: middle;
}
#results table th span{
 padding-left:10px;
 font-size:80%;
}

#results table td {
 padding: 7px 10px
}
#results table td.shop{
 width:25%;
 border-left: 1px solid #cccccc;
}
#results table td.category{
 width:25%;
}
#results table td.floor{
 width:15%;
 text-align:center;
}
#results table td.tel{
 width:35%;
 line-height: 1.4;
}
#results table td.tel img{
 padding-left:5px;
 vertical-align:middle;
 padding-bottom: 2px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
 #results table td.tel img {padding-bottom: 3px;}
}

#results table td.more {
 border-left: 1px solid #cccccc;
}
#results table td.more a.back{
 float:left;
}
#results table td.more a.next{
 float:right;
}

/* floorlist ------------------------------------------------------ */
.title_block_02{
 position:relative;
 padding: 0;
 width: 550px;
}
.title_block_02 h2 {
 line-height: 1.6;
}

.title_block_02 ul#floor_icon{
 position:absolute;
 right:4px;
 top:4px;
 font-size:0;
 line-height:0;
}

.title_block_02 ul#floor_icon li{
 display:inline;
 float:left;
 margin-left:4px;
}

#shop_main{
 width:535px;
 margin-right:-15px;
 margin-bottom:-3px;
}

* html #shop_main{
 margin-bottom:5px;
}

.bnrRestaurant {
	margin-top: 8px;
}
.bnrRestaurant a:hover img {
	opacity: 0.7;
}
.bnrRestaurantIco01 {
	display: inline-block;
	padding: 4px 6px;
	background: #ff3366;
	color: #FFF;
	margin-bottom: 5px;
	font-family: Arial, Verdana, 'Helvetica Neue', Helvetica, sans-serif;
}

#shop_main div.entry_box{
 float:left;
 width:166px;
 margin:0 8px 8px 0;
 padding:1px;
 background:#ccc;
}

#shop_main .entry_box_in{
 position:relative;
 min-height:182px;
 padding:0 10px;
 background:#fff;
}

* html #shop_main .entry_box_in{
 height:182px;
}

#shop_main .entry_box_in dl{
 padding-bottom:18px;
}

#shop_main .entry_box_in dt{
 padding-top:20px;
}

#shop_main .entry_box_in dt span.logo{
 display:block;
 /*width:138px;*/
 text-align:center;
}

#shop_main .entry_box_in dt span.name{
 display:block;
 width:138px;
 font-size:120%;
 font-weight: bold;
}

#shop_main .entry_box_in dd span.addInfo{
 display:block;
 width:138px;
 margin-top:6px;
 font-size:80%;
 color:#f06;
}

#shop_main .entry_box_in dd span.category{
 display:block;
 width:138px;
 font-size:80%;
}

#shop_main .entry_box_in dd span.tel{
 display:block;
 width:138px;
 font-size:80%;
}
#shop_main .entry_box_in dd span.hour{
 display:block;
 width:138px;
 font-size:80%;
 margin-top:10px;
}
#shop_main .entry_box_in dd span.seat{
 display:block;
 width:138px;
 font-size:80%;
}

#shop_main .entry_box_in p.onlineshop{
 position:absolute;
 left:5px;
 top:5px;
}

#shop_main .entry_box_in p.onlineshop img{
 margin-right:1px;
}

/* ---------------------------------------------------------------- */
#icon_set{
 background: url(../images/common_line_005.gif) repeat-x 0 0;
 padding-top: 35px;
 margin-top: 35px;
 margin-bottom:-10px;
}

#icon_set ul{
 margin-right:-20px;
 margin-bottom:20px;
}

#icon_set li{
 display:inline;
 float:left;
 width:120px;
 margin-right:15px;
}

#icon_set li img{
 display:block;
 float:left;
 width:28px;
 margin-right:5px;
}

#icon_set li span{
 display:block;
 float:left;
 width:87px;
 margin-top:8px;
 font-size:90%;
 line-height:120%;
}

#icon_set li span.br{
 margin-top:1px;
}

/* sidenav floor ------------------------------------------------------ */
#floor_nav.side_block {
 background-image: none;
 background-color: transparent;
}
#floor_nav.side_block dl {
 margin-bottom: 20px;
}
#side_nav .floor_btn li{
 font-size:1.0em;
 background:url("../../shop/images/side_nav_line.gif") no-repeat left bottom;
}
#side_nav .floor_btn a{
 display:block;
 background-position: 0 0;
 background-repeat: no-repeat;
}
body.MENU01 .FL10 #side_nav dl.menu01 li.fl10 a img,
body.MENU01 .FL9 #side_nav dl.menu01 li.fl9 a img,
body.MENU01 .FL8 #side_nav dl.menu01 li.fl8 a img,
body.MENU01 .FL7 #side_nav dl.menu01 li.fl7 a img,
body.MENU01 .FL6 #side_nav dl.menu01 li.fl6 a img,
body.MENU01 .FL5 #side_nav dl.menu01 li.fl5 a img,
body.MENU01 .FL4 #side_nav dl.menu01 li.fl4 a img,
body.MENU01 .FL3 #side_nav dl.menu01 li.fl3 a img,
body.MENU01 .FL2 #side_nav dl.menu01 li.fl2 a img,
body.MENU01 .FL1 #side_nav dl.menu01 li.fl1 a img,
body.MENU01 .FLB1 #side_nav dl.menu01 li.flb1 a img,
body.MENU02 .FL11 #side_nav dl.menu02 li.fl11 a img,
body.MENU02 .FL10 #side_nav dl.menu02 li.fl10 a img,
body.MENU02 .FL9 #side_nav dl.menu02 li.fl9 a img,
body.MENU02 .FL8 #side_nav dl.menu02 li.fl8 a img,
body.MENU02 .FL7 #side_nav dl.menu02 li.fl7 a img,
body.MENU02 .FL6 #side_nav dl.menu02 li.fl6 a img,
body.MENU02 .FL5 #side_nav dl.menu02 li.fl5 a img,
body.MENU02 .FL4 #side_nav dl.menu02 li.fl4 a img,
body.MENU02 .FL3 #side_nav dl.menu02 li.fl3 a img,
body.MENU02 .FL2 #side_nav dl.menu02 li.fl2 a img,
body.MENU02 .FL1 #side_nav dl.menu02 li.fl1 a img,
body.MENU02 .FLB1 #side_nav dl.menu02 li.flb1 a img{
  visibility: hidden;
}
#side_nav dl.menu01 li.fl10 a { background-image: url(/common/images/side_navi_honkan_10f_on.jpg) }
#side_nav dl.menu01 li.fl9 a { background-image: url(/common/images/side_navi_honkan_9f_on.jpg) }
#side_nav dl.menu01 li.fl8 a { background-image: url(/common/images/side_navi_honkan_8f_on.jpg) }
#side_nav dl.menu01 li.fl7 a { background-image: url(/common/images/side_navi_honkan_7f_on.jpg) }
#side_nav dl.menu01 li.fl6 a { background-image: url(/common/images/side_navi_honkan_6f_on.jpg) }
#side_nav dl.menu01 li.fl5 a { background-image: url(/common/images/side_navi_honkan_5f_on.jpg) }
#side_nav dl.menu01 li.fl4 a { background-image: url(/common/images/side_navi_honkan_4f_on.jpg) }
#side_nav dl.menu01 li.fl3 a { background-image: url(/common/images/side_navi_honkan_3f_on.jpg) }
#side_nav dl.menu01 li.fl2 a { background-image: url(/common/images/side_navi_honkan_2f_on.jpg) }
#side_nav dl.menu01 li.fl1 a { background-image: url(/common/images/side_navi_honkan_1f_on.jpg) }
#side_nav dl.menu01 li.flb1 a { background-image: url(/common/images/side_navi_honkan_b1f_on.jpg) }
#side_nav dl.menu02 li.fl11 a { background-image: url(/common/images/side_navi_shinkan_11f_on.jpg) }
#side_nav dl.menu02 li.fl10 a { background-image: url(/common/images/side_navi_shinkan_10f_on.jpg) }
#side_nav dl.menu02 li.fl9 a { background-image: url(/common/images/side_navi_shinkan_9f_on.jpg) }
#side_nav dl.menu02 li.fl8 a { background-image: url(/common/images/side_navi_shinkan_8f_on.jpg) }
#side_nav dl.menu02 li.fl7 a { background-image: url(/common/images/side_navi_shinkan_7f_on.jpg) }
#side_nav dl.menu02 li.fl6 a { background-image: url(/common/images/side_navi_shinkan_6f_on.jpg) }
#side_nav dl.menu02 li.fl5 a { background-image: url(/common/images/side_navi_shinkan_5f_on.jpg) }
#side_nav dl.menu02 li.fl4 a { background-image: url(/common/images/side_navi_shinkan_4f_on.jpg) }
#side_nav dl.menu02 li.fl3 a { background-image: url(/common/images/side_navi_shinkan_3f_on.jpg) }
#side_nav dl.menu02 li.fl2 a { background-image: url(/common/images/side_navi_shinkan_2f_on.jpg) }
#side_nav dl.menu02 li.fl1 a { background-image: url(/common/images/side_navi_shinkan_1f_on.jpg) }
#side_nav dl.menu02 li.flb1 a { background-image: url(/common/images/side_navi_shinkan_b1f_on.jpg) }

/* hotblog -------------------------------------------------------- */
.blog_nav_block.items3 .blog_item_category li.sub{
 width:113px;
 margin:0 0 0 7px;
 background:url("../images/common_form_bg_006.gif") no-repeat;
}

.blog_nav_block.items3 .blog_floor li a,
.blog_nav_block.items3 .blog_item_category li a{
 width:auto;
 min-width:92px;
 white-space:nowrap;
}

.items3 .blog_event_sale li.sub {
	background: url("../images/common_form_bg_006.gif") no-repeat scroll 0 0 transparent;
	margin: 0 0 0 7px;
	 width: 113px;
}


/* restaurant -------------------------------------------------------- */
.restaurant .item_block_01 {
	margin-bottom: 20px;
	padding-bottom: 15px;
}
.restaurant .shop_box {
	float: left;
	width: 175px;
}
.restaurant .shop_box .fixHeightChildIcon {
	margin-bottom: 10px;
}
.restaurant #shop_main div.entry_box {
	float: none;
}
