@charset "UTF-8";

#left_area{
	float:left;
	width:190px;
}

.side_block{
	margin-bottom:20px;
	padding-bottom:15px;
	text-align:left;
	background:url("/common/images/common_left_bg_001.gif") #ffffff no-repeat left bottom;
}

.side_block p.ttl{
	color:#ffffff;
	font-size:1.3em;
	margin-bottom:20px;
/*	padding:10px 10px 8px;
	background:url(../images/common_title_bg_005.gif) no-repeat left top;*/
}
.side_block .ttl {
	margin-bottom: 20px;
}

.side_block p.cap{
	font-weight:bold;
	width:170px;
	margin-left:10px;
	padding-bottom:3px;
	border-bottom:solid #999999 1px;
}

.facebook_side_block {
	margin-bottom:20px;
	text-align:left;
	background:url(../images/common_left_bg_001.gif) #ffffff no-repeat left bottom;
}

.twitter_side_block {
	margin-bottom:20px;
	text-align:left;
	background:url(../images/common_left_bg_001.gif) #ffffff no-repeat left bottom;
}

.twitter_side_block p.icon {
        margin-left: 16px;
        margin-top: 15px;
}

.twitter_side_block p.follow {
        margin-left: 12px;
        margin-top: 15px;
        margin-bottom: 10px;
}

/* Grand menu
******************************************/
.side_block h1,
.side_block p.logo{
	width:178px;
	margin-bottom:15px;
	padding:17px 0 0 12px;
	background:url("/common/images/common_left_bg_001.gif") no-repeat left top;
}

.info_block,
.grand_menu_block{
	margin:0 0 15px 14px;
}

.grand_menu_block{
	margin:0 0 15px 11px;
}

.grand_menu_block li{
	font-size:1.4em;
	font-weight:bold;
}

.grand_menu_block li a{
	color:#333333;
	display:block;
	width:162px;
	line-height:35px;
}

.grand_menu_block li a:hover{
	color:#ff3366;
	text-decoration:none;
}

.grand_menu_block li.active a{
	color:#ff3366;
	background:url("/common/images/common_icon_009.gif") no-repeat right;
}

.grand_text_link_block{
  margin-left:10px;
}
.grand_text_link_block .arrow_01{
  margin: 0 0 8px 2px;
}
.grand_text_link_block .tourlist_en{
  display: block;
  margin-bottom: 7px;
}
.grand_text_link_block .tourlist_ko,.grand_text_link_block .tourlist_cn,.grand_text_link_block .tourlist_th,.grand_text_link_block .tourlist_china{
  display: table-cell;
  padding-bottom: 7px;
  float: left;
}
.grand_text_link_block .tourlist_cn,.grand_text_link_block .tourlist_china{
  padding-left: 7px;
}
.grand_text_link_block .current {
	color: #FF3F6F;
	font-weight: bold;
}

.member_info_block{
	width:170px;
	margin-left:10px;
}

.member_info_block .inner{
	padding:7px 4px;
	background:url("/common/images/common_meminfo_bg_002.gif") no-repeat left bottom;
}

.member_info_block .ttl{
	padding-top:10px;
	background:url("/common/images/common_meminfo_bg_003.gif") no-repeat left top;
}

.member_info_block .ttl .inner{
	padding:0 7px 7px;
	background:url("/common/images/common_meminfo_line_001.gif") no-repeat center bottom;
}

.member_info_block .ttl .inner p{
	color:#ff3366;
	font-size:1.3em;
	font-weight:bold !important;
	line-height:1.2;
	padding-left:10px;
	background:url("/common/images/common_icon_009.gif") no-repeat left 0.2em;
}

.side_block h1 {
	margin-bottom: 12px;
}
.info_block .tel {
  background:url("/common/images/common_left_tel.gif") no-repeat left 2px;
  padding-left: 20px;
  line-height: 21px;
  margin-bottom: 10px;
}

.info_block .hours {
  background:url("/common/images/common_left_hours.gif") no-repeat left 2px;
  padding-left: 20px;
  line-height: 20px;
  margin-bottom: 10px;
}

.info_block .arrow_01 {
  padding-left: 32px;
  margin-bottom: 10px;
  background-position: 22px 5px;
}

.info_block .address {
  background:url("/common/images/common_left_address.png") no-repeat left 2px;
  padding: 0 20px 0 20px;
  line-height: 20px;
  margin-bottom: 10px;
}

/* Shop search
******************************************/
.shop_search_form{
	position:relative;
	width:170px;
	height:25px;
	margin:0 0 10px 10px;
	background:url("/common/images/common_form_bg_002.gif") no-repeat;
}
.shop_search_form input{
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.ssf_text{
	color:#666666;
	font-size:1.1em;
/*	font-size:0.9em\9; */
	position:absolute;
	top:2px;
	left:7px;
	width:140px;
	height:23px;
	height:20px\9;
	padding-top:6px\9;
	border:none;
	background:none;
	outline:none;
}

.ssf_text:not(:target) {
	font-size:1.1em\9;
	padding-top:1px\9;
}

.ssf_btn{
	position:absolute;
	top:2px;
	right:2px;
	width:21px;
	height:22px;
	background:url("/common/images/common_form_btn_on.gif") no-repeat left top;
}

.ssf_btn input:hover{
	filter:alpha(opacity=0);
	-ms-filter:alpha(opacity=0);
	opacity:0.0;
}

.shop_search_category{
	margin-bottom:7px;
}

.shop_search_category li{
	position:relative;
}

.shop_search_category li.sub{
	color:#666666;
	font-size:1.1em;
	width:163px;
	height:21px;
	margin-left:10px;
	padding:7px 0 0 7px;
	background:url("/common/images/common_form_bg_003.gif") no-repeat;
}

.shop_search_category li,
.shop_search_category li ul li{
	font-size:1.1em;
	margin:0;
	padding:5px;
	text-decoration:none;
	cursor:pointer;
}

.shop_search_category li a{
	display:block;
	width:auto;
	white-space:nowrap;
	min-width:158px;
}
.shop_search_category li a:hover {
	text-decoration: none;
	color: #ffffff;
}

.shop_search_category .menu ul{
	position:absolute;
	left:-9999px;
}

.shop_search_category .menu li.hover{
	z-index:500;
	background-color: #ff3366;
	color: #ffffff;
}
.shop_search_category .menu li.hover a{
	color: #ffffff;
}
.shop_search_category .menu li.click ul{
	top:26px;
	left:0px;
	width:auto;
	background:#ffffff;
	border:solid #cccccc 1px;
	z-index: 200;
}

.nationwide{
	margin:0 0 0 13px;
}


/* follow us
******************************************/
.fb_block{
	height:290px;
	margin-bottom:15px;
}

.twitter_block{
	margin:10px 0 0 16px;
}

.twitter_block p{
	padding-top:4px;
	background:url("/common/images/common_leftnav_twitter_on.gif") no-repeat left 4px;
}


/* banner
******************************************/
.banner_block_01{
	margin-bottom:15px;
	padding-bottom:1px;
	background:url("/common/images/common_left_bg_001.gif") #ffffff no-repeat left bottom;
}

.banner_block_01 .inner{
	padding-top:1px;
	background:url("/common/images/common_left_bg_001.gif") no-repeat left top;
}

.banner_block_01 li{
	float:left;
	border-right:solid #cccccc 1px;
	border-bottom:solid #cccccc 1px;
}

.banner_block_01 li.right{
	border-right-width:0;
}

.banner_block_01 li.bottom{
	border-bottom-width:0;
}

.banner_block_02{
	margin-bottom:20px;
}

.banner_block_02 p{
	margin-bottom:10px;
	background:#ffffff;
}

.banner_block_02 p a:hover img{
	opacity:0.6;
	filter:alpha(opacity=60);
	-ms-filter:"alpha( opacity=60 )";
}

.banner_block_02 .bannerimg img {
    border: 1px solid #CCCCCC;
}

/* languege
******************************************/
.languege a{
	color:#ffffff;
	display:block;
	width:180px;
	line-height:32px;
	padding-left:10px;
	text-align:left;
	background:url("/common/images/common_language_btn.gif") no-repeat left;
}

.languege a:hover{
	text-decoration:none;
	background:url("/common/images/common_language_btn_on.gif") no-repeat left;
}

/* shop blog
******************************************/
.shop_blog a{
	color:#ffffff;
	display:block;
/*	width:190px;
	line-height:32px;
	text-align:center;
	background:url(../images/common_shop_blog_btn.gif) no-repeat left;
}

.shop_blog a:hover{
	text-decoration:none;
	background:url(../images/common_shop_blog_btn_on.gif) no-repeat left;*/
}

/* SNS
******************************************/
.sns_block {
	margin-left: 10px;
	width: 170px;
	padding-top: 11px;
}
.sns_block ul {
	margin-bottom: 12px;
}
.sns_block ul li {
	float: left;
}
.sns_block ul li a:hover img {
	filter:alpha(opacity=60);
	-ms-filter:alpha(opacity=60);
	opacity:0.6;
}
.sns_block ul .twitter {
	margin-right: 4px;
}
.sns_block ul .line {
	margin-right: 4px;
}
.sns_block .sns_link {
	padding-left: 15px;
	background: url("/common/images/common_icon_12.png") no-repeat left center;
	line-height: 11px;
}
.sns_block .sns_link a {
	color: #333333;
	text-decoration: none;
}
.sns_block .sns_link a:hover {
	text-decoration: underline;
}