@charset "UTF-8";

/* Special Page
******************************************/
#right_area.special {
	width: 970px;
}
.special .center_block {
	width: 930px;
	margin-left: auto;
	margin-right: auto;
	float: none;
}

/* 5Column Blog List */
.column5_blog_list_block_01{
    width: 940px;
    text-align:left;
    padding-bottom: 44px;
	position: relative;
	margin-left: -10px;
}

.column5_blog_list_block_01 .each_post_block{
    float:left;
    width:178px;
    margin:0 0 15px 10px;
    background:url(/common/images/common_eachblog_bg_002.gif) #ffffff no-repeat left bottom;
}

.column5_blog_list_block_01 .each_post_block .inner{
    padding:10px;
    background:url(/common/images/common_eachblog_bg_002.gif) no-repeat left top;
}

.column5_blog_list_block_01 .post_icon_block{
    position:relative;
    width:158px;
    height:34px;
    margin-top:10px;
    background:#f2f2f2;
}

.column5_blog_list_block_01 .post_icon_block li.lefticon{
    position:absolute;
    top:6px;
    left:11px;
}

.column5_blog_list_block_01 .post_icon_block li.centericon{
    position:absolute;
    top:6px;
    left:68px;
}

.column5_blog_list_block_01 .post_icon_block li.righticon{
    position:absolute;
    top:6px;
    right:9px;
}

.column5_blog_list_block_01 .more_post {
    left: 200px;
}

/* 13sgb */
#special_13sgb .column5_blog_list_block_01 {
    margin-top : 10px;
}
#special_13sgb .column5_blog_list_block_01 .post_shop {
    font-weight: bold;
    font-size  : 14px;
}
#special_13sgb a:link,
#special_13sgb a:visited,
#special_13sgb a:active {
    font-size  : 12px;
    color      : #46639F;
}
#special_13sgb .column5_blog_list_block_01 .each_post_block .inner {
    border : 1px solid #ccc;
}
#special_13sgb .like_block {
    right  : -1px;
}


#special_13sgb #staffblogs .column5_blog_list_block_01 {
	padding-bottom: 74px;
}
#special_13sgb #staffblogs .column5_blog_list_block_01 .more_post {
	bottom: 30px;
}
#special_13sgb #staffblogs .column5_blog_list_block_01.no_more_post {
	padding-bottom: 44px;
}
