/* TOOLTIP
******************************************/
            
			.tooltip {
                padding-bottom: 5px;
                padding-top: 4px;
                font-size: 11px;
                opacity: 0.85;
                filter: alpha(opacity=85);
                background-repeat: no-repeat;
                background-image: url(/common/images/tooltip.gif);
            }
            .tooltip-inner {
                padding: 5px 10px;
                max-width: 200px;
                pointer-events: none;
                color: white;
                text-align: center;
                background-color: black;
                border-radius: 3px;
                box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
            }
            .tooltip-bottom { background-position: top center; }
            .tooltip-top { background-position: bottom center; }

/* Pop Up Wrapper
******************************************/
.fancybox-skin { background: transparent!important; }
.fancybox-opened .fancybox-skin {
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}
