@charset "UTF-8";

#top_cart_widgets {
  width: 549px;
  background: #ffffff url(../images/new_product_list_banner.png) 0px 0px no-repeat;
  overflow: hidden;
  margin-bottom: 20px;
}

#top_cart_widgets .thumb_boxes {
  margin-top: 54px;
  margin-left: 25px;
  overflow: hidden;
}

#top_cart_widgets .thumb_box {
  float: left;
  width: 110px;
  margin-right: 17px;
}

#top_cart_widgets .thumb {
  max-width: 110px;
  border: 1px solid #CCCCCC;
}

#top_cart_widgets .info_boxes {
  margin-top: 10px;
  margin-left: 25px;
  padding-bottom: 10px;
  overflow: hidden;
}

#top_cart_widgets .info_box {
  float: left;
  width: 110px;
  margin-right: 17px;
  text-align: center;
  word-break: break-all;
}

#top_cart_widgets .info_box .title{
  color: #46639F;
}

#top_cart_widgets .info_box .price{
  color: #5E5E5E;
}

#top_cart_widgets .button {
  text-align: center;
  padding-bottom: 10px;
}
