/*------------------------------------------
  Base
------------------------------------------*/
body {
  font-size: 1.4em;
  background: #fff; }

figure, figcaption {
  margin: 0;
  padding: 0; }

/*------------------------------------------
  Layout
------------------------------------------*/
.page-bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: url(../images/bg-star.gif) no-repeat center top;
  -webkit-background-size: 500px;
  -o-background-size: 500px;
  background-size: 500px; }

.contents .page-catch {
  text-align: center;
  font-weight: bold;
  font-size: 13px;
  font-size: 1.3rem;
  margin-top: 12px;
  margin-bottom: 24px; }

.photo-list ul {
  font-size: 0;
  padding: 0 2px; }
  .photo-list ul li {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    margin-bottom: 30px;
    position: relative;
    opacity: 0; }
  .photo-list ul a {
    position: relative;
    display: block;
    padding: 0 8px; }
  .photo-list ul a.list-on:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(246, 255, 3, 0.5); }
  .photo-list ul .photo {
    position: relative; }
    .photo-list ul .photo img {
      width: 100%; }
    .photo-list ul .photo figcaption {
      margin-top: -11%; }
  .photo-list ul .floor-info {
    font-size: 10px;
    font-size: 1rem;
    padding: 4px 0;
    border-bottom: 1px solid #1f1f1f; }
    .photo-list ul .floor-info img {
      vertical-align: top; }
  .photo-list ul .name {
    font-weight: bold;
    text-align: center;
    padding-top: 6px;
    font-size: 11px;
    font-size: 1.1rem; }
    .photo-list ul .name span {
      font-size: 13px;
      font-size: 1.3rem; }

.photo-list li.active {
  opacity: 1;
  -webkit-transition: opacity .6s;
  -moz-transition: opacity .6s;
  -ms-transition: opacity .6s;
  -o-transition: opacity .6s;
  transition: opacity .6s; }

.photo-list .item01.active:first-child {
  -webkit-transition-delay: .3s;
  -moz-transition-delay: .3s;
  -ms-transition-delay: .3s;
  -o-transition-delay: .3s;
  transition-delay: .3s; }

.photo-list .item01.active:nth-child(2) {
  -webkit-transition-delay: .5s;
  -moz-transition-delay: .5s;
  -ms-transition-delay: .5s;
  -o-transition-delay: .5s;
  transition-delay: .5s; }

.photo-list .item01.active:nth-child(3) {
  -webkit-transition-delay: .7s;
  -moz-transition-delay: .7s;
  -ms-transition-delay: .7s;
  -o-transition-delay: .7s;
  transition-delay: .7s; }

.photo-list .item01.active:nth-child(4) {
  -webkit-transition-delay: .9s;
  -moz-transition-delay: .9s;
  -ms-transition-delay: .9s;
  -o-transition-delay: .9s;
  transition-delay: .9s; }

.photo-list .scr.active:nth-child(odd) {
  -webkit-transition-delay: .3s;
  -moz-transition-delay: .3s;
  -ms-transition-delay: .3s;
  -o-transition-delay: .3s;
  transition-delay: .3s; }

.photo-list .scr.active:nth-child(even) {
  -webkit-transition-delay: .5s;
  -moz-transition-delay: .5s;
  -ms-transition-delay: .5s;
  -o-transition-delay: .5s;
  transition-delay: .5s; }

/* detail */
body.star-detail .page-bg {
  background: url(../images/bg-star02.gif) no-repeat center top;
  -webkit-background-size: 500px;
  -o-background-size: 500px;
  background-size: 500px; }

body.star-detail .contents {
  margin: 0;
  width: auto; }

.profile-block {
  padding: 0 20px;
  margin-bottom: 30px; }
  .profile-block .profile-photo {
    display: table;
    margin-bottom: 15px; }
    .profile-block .profile-photo p {
      width: 50%;
      display: table-cell;
      vertical-align: middle; }
      .profile-block .profile-photo p img {
        width: 100%; }
    .profile-block .profile-photo .staff-catch {
      padding: 0 14px;
      font-size: 14px;
      font-size: 1.4rem;
      font-weight: bold;
      font-style: italic;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
  .profile-block .profile-text > div {
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .profile-block .profile-text .store-info {
    float: left;
    border-right: 1px solid #1f1f1f;
    padding: 2px 14px 2px 0;
    font-size: 12px;
    font-size: 1.2rem; }
    .profile-block .profile-text .store-info .floor {
      line-height: 1;
      margin-bottom: 4px; }
      .profile-block .profile-text .store-info .floor img {
        vertical-align: top; }
    .profile-block .profile-text .store-info .shop {
      margin-bottom: 10px; }
    .profile-block .profile-text .store-info .link a {
      display: block;
      text-align: center;
      border: 1px solid #000;
      padding: 8px 0 10px; }
      .profile-block .profile-text .store-info .link a img {
        vertical-align: middle; }
  .profile-block .profile-text .personal-info {
    float: right;
    padding-left: 10px; }
    .profile-block .profile-text .personal-info .name {
      font-weight: bold;
      font-size: 17px;
      font-size: 1.7rem; }
  .profile-block .profile-text .staff-sns {
    padding-top: 10px; }
    .profile-block .profile-text .staff-sns li {
      font-size: 10px;
      font-size: 1rem;
      letter-spacing: 0;
      padding-left: 20px;
      background-repeat: no-repeat;
      background-position: left 0.2em;
      -webkit-background-size: 12px;
      -o-background-size: 12px;
      background-size: 12px;
      -ms-word-break: break-all;
      word-break: break-all;
      margin-bottom: 6px; }
      .profile-block .profile-text .staff-sns li:last-child {
        margin-bottom: 0; }
    .profile-block .profile-text .staff-sns a {
      text-decoration: underline; }
    .profile-block .profile-text .staff-sns .item01 {
      background-image: url(../images/star/ico-instagram.png); }
    .profile-block .profile-text .staff-sns .item02 {
      background-image: url(../images/star/ico-wear.png); }

.question-block dl {
  font-size: 12px;
  font-size: 1.2rem; }

.question-block dt {
  font-style: italic;
  font-weight: bold;
  background: #000;
  color: #fff;
  padding: 8px 10px; }

.question-block dd {
  padding: 15px 20px 30px;
  line-height: 1.8; }

body.star-detail-women .question-block dd {
  color: #fd528f; }

body.star-detail-men .question-block dd {
  color: #0284e9; }

.photo-block {
  margin-bottom: 20px; }
  .photo-block div {
    height: 170px;
    background-repeat: no-repeat;
    background-position: center top;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }

.message-block ul {
  text-align: center;
  padding: 0 8px; }
  .message-block ul li {
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 16% 50px 0; }
  .message-block ul .title {
    font-size: 13px;
    font-size: 1.3rem;
    margin-bottom: 22px;
    font-weight: bold;
    background: url(../images/star/bg-comment-title.png) no-repeat center bottom;
    -webkit-background-size: 211px;
    -o-background-size: 211px;
    background-size: 211px; }
    .message-block ul .title .icon {
      margin-bottom: 6px; }
  .message-block ul .comment {
    text-align: left;
    font-size: 12px;
    font-size: 1.2rem;
    margin: 0 auto;
    line-height: 1.8; }
  .message-block ul .item01 {
    background-image: url(../images/star/star01.png); }
  .message-block ul .item02 {
    background-image: url(../images/star/star02.png); }

.star-footer-logo {
  margin-top: 35px;
  padding: 0 50px; }

.bnr-group {
  margin: 45px 10px 0;
}
.bnr-group a {
  display: block;
  margin-top: 20px;
}
.bnr-group a:first-child {
  margin-top: 0;
}
.blog-block {
  background: rgba(0,0,0,0.1);
  margin-top: 40px;
  padding: 25px 0 30px;
}
.blog-block .blog-title {
  text-align: center;
  margin-bottom: 15px;
}
.thumbnail_block_wrap {
  margin-left: 0;
  padding: 0 10px;
  margin-bottom: 20px;
  font-size: 12px;
}
.blog_parts_block .thumbnail_block_wrap .thumbnail_block {
  margin: 0 0 10px;
}
.thumbnail_block {
  width: 49%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.thumbnail_block:nth-child(even) {
  float: right;
}
.thumbnail_block p.shop_name {
  font-weight: bold;
}
.more_post a {
  color: #fff;
}
/*------------------------------------------
  Clearfix
------------------------------------------*/
.clearfix, .profile-block .profile-text {
  *zoom: 1; }
  .clearfix:after, .profile-block .profile-text:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0; }
