@charset "utf-8";
/* CSS Document */


.top-contents {
  /*height: 100%;*/
  padding-top: 27px;
  text-align: center;
}
.top-title {
}
.top-catch {
  margin-top: 25px;
}
.top-date {
  margin-top: 27px;
}
.top-text01 {
  margin-top: 13px;
}

.top-btns {
  margin: 44px 12px 0;
}
.top-btns-item {
  margin-top: 20px;
}
.top-btns-link {
}
.top-btns-link:nth-child(2n) {
  margin-right: 0;
}
.top-btns-link.type01 {
  background-image: url(../images/btn-newrenewal.png);
}
.top-btns-link.type02 {
  background-image: url(../images/btn-newsevent.png);
}
.youtube-wrap {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}
.youtube-wrap iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100% !important;
  height: 100% !important;
}
