/*  Base
-------------------------*/
html {
  font-size: 62.5%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  font-family: "Hiragino Kaku Gothic Pro", "Meiryo", "MS PGothic", Arial, Helvetica, Verdana, sans-serif;
  font-size: 1.3em;
  background: rgba(0, 0, 0, 0) url("../images/bg.png") repeat scroll 0 0 / 50px auto;
  color: #252525;
  line-height: 1.5;
}

a {
  color: #252525;
  text-decoration: underline;
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all  0.2s ease;
}
a:hover {
  color: #585858;
}

a:hover {
  text-decoration: underline;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all  0.2s ease;
}

a img {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all  0.2s ease;
}

a:hover img {
/*  opacity: 0.6;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all  0.2s ease;*/
}

/*  clearfix
-------------------------*/
.clearfix, .nav-header ul, .shopList {
  *zoom: 1;
}
.clearfix:after, .nav-header ul:after, .shopList:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/*  slide
-------------------------*/
.carousel {
  margin-top: 20px;
}
.carousel-cell {
  margin: 0 5px;
}
.carousel-cell img {
  width: 250px;
  height: auto;
}

.flickity-prev-next-button {
  width: 24px;
  height: 24px;
  background-color: #000;
}
.flickity-prev-next-button.next {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  top: 82px;
  right: -255px;
}
.flickity-prev-next-button.previous {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  top: 82px;
  left: -255px;
}
.flickity-prev-next-button .arrow {
  fill: #fff;
}

.flickity-page-dots .dot {
  width: 8px;
  height: 8px;
  margin: 0 5px;
}
.flickity-prev-next-button:hover {
  background: #000;
}

/*画像の角を丸くする*/
.carousel-cell img {
  border-radius: 10px;
}

.hd_page {
  position: relative;
}
.up_to img {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  top: 45px;
  right: -240px;
  width: 62px;
}

.page-header {
  background: url(../images/bg_header.jpg) no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 60px 20px 38px;
}

.pageTitle .title {
  margin-bottom: 14px;
}
.hd_page{

}
.hd_page .main{
  text-align: center;
}
.hd_page .main img{
  max-width: 640px;
}

.hd_area {
  max-width: 640px;
  margin: 0 auto;
  background-image: url(../images/hd_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  margin-top: -20px;
}

.hd_ttl{
  width: 84.69%;
  /*text-align: center;
  margin-top: 37px;
  padding: 0 12px;*/
  margin: 0 auto;
}
.hd_ttl img{
  max-width: 542px;
  margin-top: 75px;
  position: relative;
}
.logo{
  /*text-align: center;*/
  /*margin: 14px 0;*/
  width: 10.625%;
  margin: 10px auto;
}
.logo img{
  max-width: 68px;
}
.discription{
  /*text-align: center;
  padding: 0 12px;
  margin-bottom: 30px;
  margin-top: -10px;*/
  width: 93.59%;
  margin: 0 auto 15px;
}
.discription img{
  max-width: 599px;
}
.btn_list{
  /*max-width: 1128px;*/
  /*margin: 0 auto;*/
  padding: 0 20px;
}
.btn_list .btn{
  text-align: center;
  /*float: left;*/
}
.btn01 {
  margin-bottom: 14px;
}
.btn01 img{
  max-width: 554px;
}
.btn02 img{
  max-width: 554px;
}

.nav-header {
  margin-top: 40px;
}
.nav-header ul {
  text-align: center;
}
.nav-header ul li {
  margin-bottom: 20px;
}
.nav-header ul li a {
  display: block;
  border: 2px solid #fff;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  padding: 16px 30px;
}

.nav-contents {
  background: #85bab3;
  padding: 12px 0;
}

.nav-contents ul {
  text-align: center;
}
.nav-contents ul li {
  display: inline-block;
}
.nav-contents ul li:first-child {
  background: url(../images/bg_nav.png) no-repeat right;
  -webkit-background-size: 17px;
  -o-background-size: 17px;
  background-size: 17px;
  padding-right: 34px;
}
.nav-contents ul li:last-child {
  padding-left: 15px;
}

/*  block
-------------------------*/
.block {
  padding: 30px 12px 30px;
}
.block .blockTitle {
  text-align: center;
  margin-bottom: 15px;
}

.block-event {
  background: #ec9781;
}
.block-event .eventList li {
  background: #fff;
  padding: 15px 12px 20px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  margin-bottom: 16px;
}
.block-event .eventList li:last-child {
  margin-bottom: 0;
}
.block-event .eventList li .list-img {
  margin-bottom: 12px;
}
.block-event .eventList li .list-title {
  font-size: 20px;
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 16px;
}
.block-event .eventList li .list-title span {
  font-size: 11px;
  font-size: 1.1rem;
  line-height: 1;
  display: block;
}
.block-event .eventList li .list-text {
  padding-bottom: 16px;
}
.block-event .eventList li .list-text strong {
  font-weight: bold;
}
.block-event .eventList li .list-text a {
  text-decoration: underline;
}
.block-event .eventList li .list-text-caution {
  font-size: 12px;
  font-size: 1.2rem;
}
.block-event .eventList li .ch-textBox {
  border-top: 1px solid #ec9781;
  padding: 20px 0 0;
}

.block-sale {
  padding: 30px 0;
}
.block-sale .blockTitle{
}
.block-sale .blockTitle .ttl{
  background: url("../images/ttl_bg.png") repeat 0 0;
  -webkit-background-size: 346px;
       -o-background-size: 346px;
          background-size: 346px;
  position: relative;
  height: 85px;

}
.block-sale .blockTitle .ttl a {
  float: left;
  width: 50%;
  box-sizing: border-box;
  height: 85px;
  position: relative;
}
.block-sale .blockTitle .ttl .sale_ttl {
  border-right: dashed 1px #fff;
}
.block-sale .blockTitle .ttl img {
  position: absolute;
  height: auto;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  max-width: 100px;
}
.sale_ttl img {
  max-width: 80px;
}
.happybag_ttl img {
  max-width: 100px;
}

.sankaku{
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-top: 15px solid #a40000;
  margin-left: -15px;
}
.sankaku_left {
  left: 25%;
}
.sankaku_right {
  left: 75%;
}

.block-sale .block-catch {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  border-top: 1px solid #fff;
  padding: 20px 30px 25px;
}
.block-sale .conditions-box {
  background: url("../images/ttl_bg.png") repeat 0 0;
  -webkit-background-size: 346px;
       -o-background-size: 346px;
          background-size: 346px;
  color: #fff;
  font-weight: bold;
  font-size: 17px;
  font-size: 1.7rem;
  text-align: center;
  padding: 8px 0;
  margin-bottom: 30px;
}
.block-sale .conditions-box img{
  vertical-align: middle;
}

.shop-list-box {
  margin-top: 26px;
  display: inline-block;
}
.shop-list-box .ico-box {
  padding: 0px 10px;
}
.shop-list-box .ico-box img{
  vertical-align: middle;
}
.shop-list-box .ico-box th {
  padding: 0 5px 0 0;
  vertical-align: middle;
}
.shop-list-box .ico-box td {
  vertical-align: middle;
}
.shop-list-box .ico-box td.tax img{
  max-width: 268px;
}
.shop-list-box .ico-box td.union img{
  max-width: 184px;
}
.shop-list-box .ico-box p {
  font-size: 1rem;
}

/*小見出し*/
.ladies img {
  width: 100px;
}
.mens img {
  width: 80px;
}
.ladies_mens img {
  width: 200px;
}
.goods img {
  width: 102px;
}

.block-sale .fashion img {
  width: 305px;
}
.block-sale .cosme img {
  width: 150px;
}

.shopList {
  padding: 0 12px 20px;
}
.shopList .shopList_item {
  position: relative;
  vertical-align: top;
  float: left;
  background: #fff;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  /*padding: 7px; 福岡のショップ画像の時*/
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 47%;
  margin: 0 1% 10px;
  font-size: 12px;
  font-size: 1.2rem;
  border: 2px solid #A40000;
}
.shopList .shopList_item:nth-child(even) {
  float: right;
}
/*fukuoka*/
.shopList .shopList_item .list-shop img {
  border-radius: 5.5px 5.5px 0 0;
}
.shopList .shopList_item .list-img {
  padding: 10px 0;
  text-align: center;
}
.shopList .shopList_item .list-img img {
  max-width: 250px;
}
.shopList .shopList_item .list-icon {
  position: absolute;
  right: 7px;
  top: 0;
}
.shopList .shopList_item .list-icon ul li {
  display: inline-block;
}
.shopList .shopList_item .list-text {
  border-top: 1px solid #000;
  /*padding-top: 10px;*/
  padding: 10px 7px 7px; /*福岡用*/
  text-align: left;
  -ms-word-break: break-all;
  word-break: break-all;
}
.shopList .shopList_item .floor {
  color: #fff;
  background: #b58b3b;
  font-size: 10px;
  font-size: 1rem;
  padding: 3px 5px;
  display: inline-block;
  margin-bottom: 6px;
}
.shopList .shopList_item .shopName {
  font-weight: bold;
  padding-bottom: 5px;
}
.shopList .shopList_item .shopCategory {
  font-size: 10px;
  font-size: 1rem;
}
.conditions-caution-ttl{
  text-align: center;
  margin: 0 auto 14px auto;
}
.conditions-caution {
  padding: 0 12px;
  max-width: 1300px;
  margin: 0 auto;
  font-size: 11px;
  color: #a40000;
}

.bnr-block {
  padding: 28px 12px 36px;
}
.bnr-block .bnrList li {
  margin-bottom: 20px;
}
.bnr-block .bnrList li:last-child {
  margin-bottom: 0;
}

.pageTop {
  display: none;
  position: fixed;
  bottom: 5px;
  right: 5px;
}

.page-footer {
  background: url("../images/ttl_bg.png") repeat 0 0;
  -webkit-background-size: 346px;
       -o-background-size: 346px;
          background-size: 346px;
  text-align: center;
}
.page-footer .snavi {
  padding: 12px 0 10px;
}
.page-footer .snavi .list {
  display: inline-block;
  vertical-align: top;
  margin-left: 15px;
}
.page-footer .snavi .list:first-child{
  margin-left: 0;
}
.page-footer .footer_bottom {
  padding: 5px 0 10px;
}
.page-footer .footer_bottom .btn_siteTop {
  padding-bottom: 10px;
}

@media screen and (min-width:320px) {

  .shop-list-box .ico-box {
    /*padding: 0 25px;*/
  }
  .shop-list-box .ico-box th img {
    width: 26px;
  }
  .shop-list-box .ico-box td.tax img{
    max-width: 324px;
  }
  /*.shop-list-box .ico-box td.union img{
    max-width: 198px;
  }*/


}

@media screen and (min-width:360px) {
  /* for galaxy s5 and iPhone6 */

    /*  slide
    -------------------------*/
  .carousel-cell img {
    width: 280px;
    height: auto;
  }
  .flickity-prev-next-button {
    width: 25px;
    height: 25px;
  }
  .flickity-prev-next-button.next {
    top: 97px;
    right: -288px;
  }
  .flickity-prev-next-button.previous {
    top: 97px;
    left: -288px;
  }

  .up_to img {
    top: 38px;
    right: -278px;
    width: 72px;
  }

  .shop-list-box .ico-box td.union img{
    max-width: 215px;
  }

}

@media screen and (min-width:412px) {
    /* for nexus and iPhone6 plus */

    /*  slide
    -------------------------*/
  .carousel-cell img {
    width: 320px;
    height: auto;
  }
  .flickity-prev-next-button {
    width: 26px;
    height: 26px;
  }
  .flickity-prev-next-button.next {
    top: 111px;
    right: -328px;
  }
  .flickity-prev-next-button.previous {
    top: 111px;
    left: -328px;
  }
  .up_to img {
    top: 42px;
    right: -320px;
    width: 90px;
  }

  .shop-list-box .ico-box th img {
    width: 28px;
  }
  .shop-list-box .ico-box td.tax img{
    max-width: 359px;
  }
  .shop-list-box .ico-box td.union img{
    max-width: 230px;
  }
  .shop-list-box .ico-box th {
    padding: 3px 5px 3px 0;
  }

  .block-sale .fashion img {
    width: 400px;
  }

}
@media screen and (min-width: 480px) {
  /*.nav-header ul li {
    float: left;
    width: 48%;
  }
  .nav-header ul li:last-child {
    float: right;
  }
  .nav-header ul li a {
    padding: 16px 10px;
  }*/


  .shop-list-box .ico-box th img {
    width: 44px;
  }
  .shop-list-box .ico-box td.tax img{
    max-width: 322px;
  }
  .shop-list-box .ico-box td.union img{
    max-width: 206px;
  }



}
@media screen and (min-width: 768px) {

    /*  slide
    -------------------------*/
  .carousel {
    margin-top: 35px;
  }
  .carousel-cell {
    margin: 0 10px;
  }
  .carousel-cell img {
    width: 520px;
    height: auto;
  }
  .flickity-prev-next-button {
    width: 42px;
    height: 42px;
  }
  .flickity-prev-next-button.next {
    top: 180px;
    right: -536px;
  }
  .flickity-prev-next-button.previous {
    top: 180px;
    left: -536px;
  }
  .flickity-page-dots .dot {
    width: 9px;
    height: 9px;
    margin: 0 7px;
  }

  .up_to img {
    top: 37px;
    right: -515px;
    width: 150px;
  }

  .page-header {
    padding: 120px 0 80px;
  }

  .pageTitle {
    text-align: center;
    width: 768px;
    margin: 0 auto;
  }
  .pageTitle .title {
    display: inline-block;
    margin-bottom: 40px;
  }
  .pageTitle .title:nth-child(odd) {
    margin-right: 50px;
  }
  .pageTitle .title img {
    height: 60px;
  }

  .nav-header {
    width: 768px;
    margin: 0 auto;
  }
  .nav-header ul li a {
    padding: 16px 20px;
    border-width: 3px;
  }

  .nav-contents {
    padding: 20px 0;
  }
  .nav-contents ul li:first-child {
    background: url(../images/bg_nav.png) no-repeat right;
    -webkit-background-size: 22px;
    -o-background-size: 22px;
    background-size: 22px;
    padding-right: 40px;
  }
  .nav-contents ul li:last-child {
    padding-left: 20px;
  }
  .nav-contents ul li img {
    height: 50px;
  }

  .block {
    padding: 40px 12px 60px;
  }


  .block-sale {
    padding: 40px 0 60px;
  }
  .block-sale .blockTitle .ttl_Text {
    padding-bottom: 15px;
  }
  .block-sale .blockTitle .ttl_Text01 img {
    width: 340px;
  }
  .block-sale .blockTitle .ttl_Text02 img {
    width: 476px;
  }
  .block-sale .blockTitle .ttl_Text_date img {
    width: 454px;
  }

  .block-sale .conditions-box img {
    width: auto;
  }

  .shop-list-box {
    display: inline-block;
  }
  .shop-list-box .ico-box {
    padding: 20px 12px;
  }
  .shop-list-box .ico-box th img {
    width: 44px;
  }
  .shop-list-box .ico-box th {
    padding: 5px 10px 5px 0;
  }
  .shopList {
    max-width: 1300px;
    margin: 0 auto;
  }
  .shopList .shopList_item {
    float: none;
    display: inline-block;
    width: 31%;
    margin: 0 0 20px;
  }
  .shopList .shopList_item:nth-child(even) {
    float: none;
  }
  .shopList .shopList_item:nth-child(3n+2) {
    margin: 0 2% 20px;
  }
  .shopList .shopList_item .list-img {
    padding: 10px 7px;
    /*福岡の時は左右に7px*/
  }
  .shopList .shopList_item .list-icon {
    padding: 10px 0;
  }
  .shopList .shopList_item .list-icon img {
    width: 40px;
  }

  .bnr-block .bnrList {
    max-width: 768px;
    margin: 0 auto;
    text-align: center;
  }
  .bnr-block .bnrList li {
    margin-bottom: 0;
    width: 40%;
    display: inline-block;
    margin: 0 3%;
    vertical-align: top;
  }

  .pageTop {
    /*bottom: 300px;*/
  }
  .pageTop img {
    width: 70px;
  }



  .page-footer .snavi {
    padding: 20px 0 18px;
  }
  .page-footer .snavi li {
    margin: 0 10px;
  }
  .page-footer .footer_bottom {
    padding: 10px 0 20px;
  }
  .page-footer .footer_bottom .btn_siteTop {
    padding-bottom: 20px;
  }
  .page-footer .footer_bottom .btn_siteTop img {
    width: 183px;
  }
  .page-footer .footer_bottom .copyright img {
    width: 266px;
  }
  .conditions-caution-ttl img{
    width: 236px;
  }
  .btn_siteTop img{
    width: 242px;
  }
  .copyright img{
    width: 350px;
  }
  .block-sale .conditions-box.mode img{
    width: 312px;
  }
  .block-sale .conditions-box.tokyo img{
    width: 254px;
  }
  .block-sale .conditions-box.shibuya img{
    width: 316px;
  }
  .block-sale .conditions-box {
    padding: 15px 0;
  }
  .shop-list-box .ico-box {
    padding: 10px 12px;
  }


  .btn_list {
    /*max-width: 554px;*/
  }
  .block-sale .blockTitle .ttl {
    height: 130px;
  }
  .block-sale .blockTitle .ttl a {
    height: 130px;
  }
  .block-sale .blockTitle .ttl img {
    max-width: 125px;
  }
 .sale_ttl img {
    max-width: 125px;
  }
  .block-sale .blockTitle .happybag_ttl img {
    max-width: 170px;
  }
  .sankaku {
    top: 99%;
    border: 30px solid transparent;
    border-top: 30px solid #a40000;
    margin-left: -30px;
  }
  .hd_area {
    margin-top: -40px;
  }
  .hd_area .hd_ttl img {
    margin-top: 105px;
  }
  .shop-list-box .ico-box td.tax img{
    max-width: 536px;
  }
  .shop-list-box .ico-box td.union img{
    max-width: 342px;
  }

}


@media screen and (min-width: 1025px) {


    /*  slide
    -------------------------*/
  .flickity-prev-next-button {
    width: 44px;
    height: 44px;
    background-color: #000;
  }
  .flickity-page-dots {
    bottom: -30px;
  }
  .flickity-page-dots .dot {
    width: 10px;
    height: 10px;
    margin: 0 8px;
  }

  .up_to img {
    top: 42px;
  }

  .pageTitle {
    width: 1028px;
  }
  .pageTitle .title {
    margin-bottom: 60px;
  }
  .pageTitle .title:nth-child(odd) {
    margin-right: 70px;
  }
  .pageTitle .title img {
    height: 84px;
  }

  .nav-contents ul li:first-child {
    background: url(../images/bg_nav.png) no-repeat right;
    -webkit-background-size: 28px;
    -o-background-size: 28px;
    background-size: 28px;
    padding-right: 50px;
  }
  .nav-contents ul li:last-child {
    padding-left: 30px;
  }
  .nav-contents ul li img {
    height: 65px;
  }

  .block-event .eventList {
    max-width: 1300px;
    margin: 0 auto;
    text-align: center;
  }
  .block-event .eventList li {
    padding: 15px 1% 20px;
    width: 30%;
    display: inline-block;
    margin-bottom: 0;
    vertical-align: top;
    text-align: left;
  }
  .block-event .eventList li:nth-child(2) {
    margin: 0 1%;
  }
  .block-sale .blockTitle .ttl {
    height: 130px;
  }
  .block-sale .blockTitle .ttl a {
    height: 130px;
  }
  .block-sale .blockTitle .ttl_Text {
    display: inline-block;
  }
  .block-sale .blockTitle .ttl_Text01 {
    margin-right: 10px;
  }
  .block-sale .blockTitle .ttl_Text01 img {
    width: 340px;
  }
  .block-sale .blockTitle .ttl_Text02 img {
    width: 476px;
  }
  .block-sale .blockTitle .ttl_Text_date img {
    width: 454px;
  }
  .block-sale .blockTitle{
    padding: 26px 0 20px 0;
  }
  .conditions-caution {
    padding: 0 12px;
    max-width: 1300px;
    margin: 0 auto;
    font-size: 20px;
  }
  .btn_list{
    max-width: 554px;
    margin: 0 auto;
  }
  /*.btn_list .btn{
    float: left;
    width: 48%;
  }*/
  /*.btn01{
    margin-bottom: 0;
  }
  .btn02{
    padding-left: 30px;
  }*/
  .sankaku{
    border: 30px solid transparent;
    border-top: 30px solid #a40000;
    margin-left: -30px;
  }
  .block-sale .blockTitle .ttl img{
    max-width: 155px;
  }

  .hd_area {
    margin-top: -20px;
  }
  .hd_area .hd_ttl img {
    margin-top: 110px;
  }

  /*.logo img{
    max-width: 488px;
  }*/
  .shop-list-box {
    margin-top: 32px;
  }
  .shop-list-box .ico-box td.tax img{
    max-width: 536px;
  }
  .shop-list-box .ico-box td.union img{
    max-width: 332px;
  }

  .page-footer .snavi .list.line {
    display: none;
  }
}

@media screen and (min-width: 1193px) {
  .btn_list{
    /*max-width: 1138px;*/
    margin: 0 auto;
  }

  .btn_list .btn{
    float: left;
    /*width: 48%;*/
  }
  .btn01{
    margin-bottom: 0;
  }
  .btn02{
    padding-left: 30px;
  }

}
