/*

Reset Css

*/


/* http://meyerweb.com/eric/tools/css/reset/    v2.0 | 20110126   License: none (public domain)*/html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {    margin: 0;    padding: 0;    border: 0;    font-size: 100%;    font: inherit;    vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {    display: block;}body {    line-height: 1;}ol, ul {    list-style: none;}blockquote, q {    quotes: none;}blockquote:before, blockquote:after,q:before, q:after {    content: '';    content: none;}table {    border-collapse: collapse;    border-spacing: 0;}


/*
* Noto Sans Japanese (japanese) http://www.google.com/fonts/earlyaccess
*/
@font-face {
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-weight: 700;
    src: url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.otf) format('opentype');
}

html{
    font-size: 62.5%;
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-weight: 400;
}

body{
    min-width: 1100px;
}


/* 


Contents


*/


.bg--colored{
    background-color: #f6f6f6;
}

.widthBinder{
    width: 1000px;
    margin: 0 auto;
}

/* 


Font Styles

*/

.fontstyle--eng{
    font-family: Helvetica , "游ゴシック" , "Yu Gothic" , sans-serif;
}

/* 


Header

*/
.headerArea{
    width: 1000px;
    margin: 0 auto;
    text-align: center;
    padding-top: 90px;
    padding-bottom: 70px;
}
.logo{
    margin-top: 43px;
    padding-left: 179px;
}

.subttl{
    display: inline-block;
    text-align: center;
    padding-bottom: 14px;
    width: 237px;
    border-bottom: 2px solid #000;
}

.subttl img{
    margin: 0 10px;        
}

.subscript{
    margin-top: 40px;
    line-height: 1.6;
    font-size: 1.6rem;
}

/* 

STAFF LIST

*/

.contentsList__ttl{
    margin-top: 90px;
    margin-bottom: 60px;
    text-align: center;
}

.contentsList__ttl img{
    width: 120px;
}

.contentsLists{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.listItem{
    width: 314px;
    text-align: center;
}

.listItem__imgArea{
    position: relative;
    cursor: pointer;
}
.listItem__imgArea:before{
    content: "";
    display: block;
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;
    box-shadow: inset #fff100 0 0 0px 7px;   
    opacity: 0; 
    transition: opacity 0.3s;
}

.listItem__imgArea:hover:before{
    opacity: 1
}

.listItem.currentarticle .listItem__imgArea:before{
    opacity: 1    
}

.listItem__imgArea img{
    display: block;
}

.badge--fill{
    position: absolute;
    padding: 15px 12px;
    background-color: #fff100;
    top: 0;
    right: 0;
    font-size: 1.6rem;  
    color: #000;
}

.listItem__info{
    margin-top: 15px;
    color: #b1b1b1;
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
}

.listItem__name{
    margin-top: 6px;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 1.8rem;
}


/* 

bannerArea

*/

.bannerArea{
    display: flex;
    justify-content: space-between;
    padding: 90px 0;
}

.bnrItem{
    width: 485px;
}

.bnrItem:hover{
    opacity: 0.7;
}

/* バナー　CommingSoon用  */
.bnrItem:last-child:hover{
    opacity: 1;
    cursor: default;
}


.bannerArea img{
    width: 100%;
}

/* 


footer


*/

.footer{
    background-color: #1f1f1f;
    padding: 60px 0;
}


.footerArea{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerItem{
    width: 250px;
}

.footerItem:last-child{
    width:180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.footerItem a{
    text-decoration: none;
}

.footerItem:last-child a img{
    height: 20px;
}

.footerItem .follow{
    width: 70px;
}



/* 


STAFF Page


*/


.ttlheaderArea {
    text-align: center;
    padding:20px 0;
}

.ttlheaderArea img{
    text-align: center;
    width: 286px;
}

.heroArea{
    position: relative;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

.heroImgArea{
    position: relative;
    max-width: 1366px;
    margin: 0 auto;
}

.heroImgArea img{
    width: 100%;
}   

.heroImgArea::before{
    position: absolute;
    content: "";
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, rgba(246,246,246,1) 0%,rgba(246,246,246,0.43) 17%,rgba(246,246,246,0) 30%),linear-gradient(to left, rgba(246,246,246,1) 0%,rgba(246,246,246,0.43) 17%,rgba(246,246,246,0) 30%);;
}

.heroInfoArea{
    background-color: #fff100;
    position: absolute;
    width: 460px;
    top: 50%;
    transform: translateY(-50%);
    padding-top: 43px;
    padding-bottom: 57px;
}


.snsItem img{
    height: 23px;
    width: auto;
}

.badge--star{
    width: 66px;
    height: 63px;
    background-image: url(assets/images/ico_star.svg);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    margin: 0 auto;
}

.hero__info{
    margin-top: 21px;
    font-size: 1.8rem;
}

.btn--line{
    border: 1px solid #000;
    text-decoration: none;
    color: #000;
    display: inline-flex;
    align-content: center;
    justify-content: center;
    width: 102px;
    padding: 6px 0;
    margin-top: 15px;
}
.btn--line:hover{
    background-color: #000;
}

.btn--line img{
    height: 9px;
    margin-right: 6px;
}

.btn--line svg{
    width:57px; 
    height:9px;    
}
.btn--line:hover svg{
    fill: #fff
}

.arrow{
    width: 15px;
    position: relative;
    display: flex;
    align-items: center;
}

.btn--line:hover .arrow::before
,.btn--line:hover .arrow::after{
    background-color:#fff; 
}

.arrow::before{
    content: "";
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: block;
    position: absolute;
    background-color: #000;
    height: 1px;
    width: 15px;
}

.arrow::after{
    content: "";
    top: 50%;
    right: 0;
    transform-origin: 50% top;
    transform: rotate(-40deg)  translateY( calc( ( -50% - 2px)));
    display: block;
    position: absolute;
    background-color: #000;
    height: 4px;
    width: 1px;
}

.btn--line,
.arrow::after,
.arrow::before,
.btn--line svg{
    transition: all .3s;    
}
.hero__copy{
    font-size: 1.5rem;
    margin-top: 28px;
}

.hero__name{
    margin-top: 5px;
    font-size: 4.8rem;
    font-weight: 700;
}

.hero__name--small{
    font-size: 3rem;
}

.hero__sns{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.hero__sns a{   
    color: #1f1f1f;
}
.snsItem{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.snsItem img{
    margin-right: 6px;
}

.snsItem a{
    margin-left: 3px;
}

.qaList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 80px;
    padding-bottom: 60px;
}

.qaItem{
    margin-bottom: 53px;
    width: 460px;
}

.qaItem:last-child{
    width: 100%;
}

.qa_question{
    font-size: 1.6rem;
    font-weight: 700;
    border-bottom: 1px solid #000;
    padding-bottom: 13px;
}

.ico_comment{
    vertical-align: top;
    width: 25px;
}

.qa_answer{
    padding-top: 12px;
    font-size: 1.6rem;
    color: #949494;
    line-height: 1.65;
}

/* 


staffListSlider

*/

.staffListSlider{
    background-color: #231815;
    padding-top:60px;
    padding-bottom: 72px;
}

.staffListSlider .contentsList__ttl{
    margin: 0;
    margin-bottom: 30px;
}



/* 

Slider Adjustment

*/

.staffListSlider .listItem:not(:last-child){
    margin-right: 30px;
}

.slick-prev:before, .slick-next:before{
    content: "";
    display: block;
    border: 1px solid #949494;
    width: 23px;
    height: 23px;
    border-bottom:  none;
    border-left:  none;
    transform: rotate(45deg)
}

.slick-prev:before{
    transform: rotate(-135deg)
}

/* 




*/