/*  Base
-------------------------*/


html {
  font-size: 62.5%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  font-family: "Hiragino Kaku Gothic Pro", "Meiryo", "MS PGothic", Arial, Helvetica, Verdana, sans-serif;
  font-size: 1.3em;
  background: #e60012;
  color: #3b3b3b;
  line-height: 1.5;
}

a {
  color: #3b3b3b;
  text-decoration: underline;
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all  0.2s ease;
}
a:hover {
  color: #585858;
}

a:hover {
  text-decoration: underline;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all  0.2s ease;
}

a img {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all  0.2s ease;
}

a:hover img {
/*  opacity: 0.6;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all  0.2s ease;*/
}

/*  clearfix
-------------------------*/
.clearfix, .nav-header ul, .shopList {
  *zoom: 1;
}
.clearfix:after, .nav-header ul:after, .shopList:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}



/*画像の角を丸くする*/
.carousel-cell img {
  border-radius: 10px;
}

.hd_page {
  position: relative;
  padding-bottom: 10px;
  background: url("../images/jagged_line.png") repeat-x 0 bottom;
  background-size: 13px 7px;
}
.up_to img {
  position: absolute;
  top: 26vw;
  right: 9vw;
  margin: auto;
  width: 18vw;
  max-width: 130px;
}

.pageTitle .title {
  margin-bottom: 14px;
}
.hd_page{

}
.hd_page .main{
  text-align: center;
}
.hd_page .main img{
  max-width: 640px;
}

.hd_area {
  max-width: 640px;
  margin: 0 auto;
  margin-top: -20px;
}

.hd_ttl{
  width: 84.69%;
  margin: 45px auto 20px;
}
.hd_ttl img{
  max-width: 542px;
  position: relative;
}
.logo{
  width: 10.625%;
  margin: 10px auto;
}
.logo img{
  max-width: 68px;
}
.discription{
  width: 93.59%;
  margin: 0 auto 15px;
}
.discription img{
  max-width: 599px;
}
.sub_discription{
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
    font-size: 8px;
}

.btn_list{
  padding: 0 20px;
  margin-bottom: 30px;
}
.btn_list .btn{
  text-align: center;
  /*float: left;*/
}
.btn01 {
  margin-bottom: 14px;
}
.btn01 img{
  max-width: 554px;
}
.btn02 img{
  max-width: 554px;
}

/*.nav-header {
  margin-top: 40px;
}
.nav-header ul {
  text-align: center;
}
.nav-header ul li {
  margin-bottom: 20px;
}
.nav-header ul li a {
  display: block;
  border: 2px solid #fff;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  padding: 16px 30px;
}*/

/*.nav-contents {
  background: #85bab3;
  padding: 12px 0;
}

.nav-contents ul {
  text-align: center;
}
.nav-contents ul li {
  display: inline-block;
}
.nav-contents ul li:first-child {
  background: url(../images/bg_nav.png) no-repeat right;
  -webkit-background-size: 17px;
  -o-background-size: 17px;
  background-size: 17px;
  padding-right: 34px;
}
.nav-contents ul li:last-child {
  padding-left: 15px;
}*/

/*  block
-------------------------*/
.block {
  padding: 30px 12px 30px;
}
.block .blockTitle {
  text-align: center;
  padding-bottom: 15px;
  background: #fcfa19;
}
.block .blockTitle .ttl img{
  width: 75px;
}

/*.block-event {
  background: #ec9781;
}
.block-event .eventList li {
  background: #fff;
  padding: 15px 12px 20px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  margin-bottom: 16px;
}
.block-event .eventList li:last-child {
  margin-bottom: 0;
}
.block-event .eventList li .list-img {
  margin-bottom: 12px;
}
.block-event .eventList li .list-title {
  font-size: 20px;
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 16px;
}
.block-event .eventList li .list-title span {
  font-size: 11px;
  font-size: 1.1rem;
  line-height: 1;
  display: block;
}
.block-event .eventList li .list-text {
  padding-bottom: 16px;
}
.block-event .eventList li .list-text strong {
  font-weight: bold;
}
.block-event .eventList li .list-text a {
  text-decoration: underline;
}
.block-event .eventList li .list-text-caution {
  font-size: 12px;
  font-size: 1.2rem;
}
.block-event .eventList li .ch-textBox {
  border-top: 1px solid #ec9781;
  padding: 20px 0 0;
}*/

.block-sale {
  padding: 0;
  background: #fff;
}
.block-sale .blockTitle{
    padding: 35px 0 20px;
}
.block-sale .blockTitle .ttl{
  position: relative;
}

.block-sale .blockTitle .ttl .sale_ttl {
  border-right: dashed 1px #fff;
}
.block-sale .blockTitle .ttl img {
  position: absolute;
  height: auto;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  max-width: 100px;
}
.sale_ttl img {
  max-width: 80px;
}
/*.happybag_ttl img {
  max-width: 100px;
}*/

.block-sale .block-catch {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  border-top: 1px solid #fff;
  padding: 20px 30px 25px;
}

.block-sale .conditions-box {
  position: relative;
  padding: 8px 0;
  margin-bottom: 15px;
  background: #e60012;
  color: #fff;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  text-align: center;
  letter-spacing: 1px;
  z-index: 0;
}

.block-sale .conditions-box:after {
	content: "";
	position: absolute;
	bottom: -6px; left: 50%;
	margin-left: -6px;
	display: block;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 6px 6px 0 6px;
	border-color: #e60012 transparent transparent transparent;
}

/*.block-sale .conditions-box img{
  vertical-align: middle;
}*/

.shop-list-box {
  margin-top: 20px;
  color: #e60012;
}
.shop-list-box .ico-box {
  padding: 0px 10px;
}
.shop-list-box .ico-box img{
  vertical-align: middle;
}
.shop-list-box .ico-box th {
  padding: 0 5px 0 0;
  vertical-align: middle;
}
.shop-list-box .ico-box td {
  vertical-align: middle;
}
.shop-list-box .ico-box td.tax img{
  max-width: 268px;
}
.shop-list-box .ico-box td.union img{
  max-width: 164px;
}
.shop-list-box .ico-box p {
  font-size: 1rem;
}

/*小見出し*/

.shopList {
  padding: 0 12px 20px;
 }

.shopList .shopList_item {
  position: relative;
  vertical-align: top;
  float: left;
  background: #fff;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  /*padding: 7px; 福岡のショップ画像の時*/
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 47%;
  margin: 0 1% 15px;
  font-size: 12px;
  font-size: 1.2rem;
  border: 2px solid #e60012;
}
.shopList .shopList_item:nth-child(even) {
  float: right;
}
/*fukuoka*/
.shopList .shopList_item .list-shop img {
  border-radius: 5.5px 5.5px 0 0;
}
.shopList .shopList_item .list-img {
  padding: 10px 0;
  text-align: center;
}
.shopList .shopList_item .list-img img {
  max-width: 250px;
}
.shopList .shopList_item .list-icon {
  position: absolute;
  right: 7px;
  top: 0;
}
.shopList .shopList_item .list-icon ul li {
  display: inline-block;
}
.shopList .shopList_item .list-text {
  border-top: 1px solid #000;
  /*padding-top: 10px;*/
  padding: 10px 7px 7px; /*福岡用*/
  text-align: left;
  -ms-word-break: break-all;
  word-break: break-all;
}
.shopList .shopList_item .floor {
  color: #fff;
  background: #333;
  font-size: 10px;
  font-size: 1rem;
  padding: 3px 5px;
  display: inline-block;
  margin-bottom: 6px;
}
.shopList .shopList_item .shopName {
  font-weight: bold;
  padding-bottom: 5px;
}
.shopList .shopList_item .shopCategory {
  font-size: 10px;
  font-size: 1rem;
}
.conditions-caution-box{
    background: #fcfa19;
    padding: 17px 0 20px;
}
.conditions-jag {
  background: url(../images/jagged_line.png) repeat-x 0 bottom;
  background-size: 13px 7px;
  width: 100%;
  height: 14px;
}

.conditions-caution-ttl{
  text-align: center;
  margin: 0 auto 14px auto;
}
.conditions-caution {
  padding: 0 12px;
  max-width: 1300px;
  margin: 0 auto;
  font-size: 11px;
  color: #e60012;
  -webkit-text-shadow: 0 0 5px 0 rgba(255,255,255,0.4); /* Safari, Chrome用 */
  -moz-text-shadow: 0 0 5px 0 rgba(255,255,255,0.4); /* Firefox用 */
  text-shadow: 0 0 5px 0 rgba(255,255,255,0.4); /* CSS3 */
}

.bnr-block {
  padding: 28px 12px 36px;
}
.bnr-block .bnrList li {
  margin-bottom: 20px;
}
.bnr-block .bnrList li:last-child {
  margin-bottom: 0;
}

.pageTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 0;
}

.page-footer {

  text-align: center;
}
.page-footer .snavi {
  padding: 12px 0 10px;
}
.page-footer .snavi .list {
  display: inline-block;
  vertical-align: top;
  margin-left: 15px;
}
.page-footer .snavi .list:first-child{
  margin-left: 0;
}
.page-footer .footer_bottom {
  padding: 5px 0 10px;
}
.page-footer .footer_bottom .btn_siteTop {
  padding-bottom: 10px;
}

@media screen and (min-width:320px) {

  .shop-list-box .ico-box {
  }
  .shop-list-box .ico-box th img {
    width: 26px;
  }
  .shop-list-box .ico-box td.tax img{
    max-width: 324px;
  }
  .shop-list-box .ico-box td.union img{
    max-width: 170px;
  }


}


@media screen and (min-width:412px) {
    /* for nexus and iPhone6 plus */

  .shop-list-box .ico-box th img {
    width: 28px;
  }
  .shop-list-box .ico-box td.tax img{
    max-width: 361px;
  }
  .shop-list-box .ico-box td.union img{
    max-width: 225px;
  }
  .shop-list-box .ico-box th {
    padding: 2px 5px 2px 0;
  }

}
@media screen and (min-width: 480px) {
  /*.nav-header ul li {
    float: left;
    width: 48%;
  }
  .nav-header ul li:last-child {
    float: right;
  }
  .nav-header ul li a {
    padding: 16px 10px;
  }*/
  .block .blockTitle .ttl img{
    width: 151px;
  }
  .sub_discription {
    font-size: 12px;
  }
  .sub_discription br{
    display: none;
  }
  .block-sale .blockTitle {
      padding: 40px 0 15px;
  }
  .shop-list-box .ico-box th img {
    width: 34px;
    }
    .shop-list-box .ico-box td.tax img{
      max-width: 384px;
    }
    .shop-list-box .ico-box td.union img{
      max-width: 245px;
    }
}
@media screen and (min-width: 650px) {

    .hd_ttl {
        margin: 65px auto 35px;
    }

    .up_to img {
        top: 170px;
        right: 65px;
    }
    .sub_discription {
      font-size: 14px;
      margin-bottom: 30px;
    }

}
@media screen and (min-width: 768px) {

    /*  slide
    -------------------------*/

  .up_to img {
    top: 0;
    right: 0;
    bottom: 194px;
    left: 430px;
    width: 150px;
  }

  /*.page-header {
    padding: 120px 0 80px;
  }

  .pageTitle {
    text-align: center;
    width: 768px;
    margin: 0 auto;
  }
  .pageTitle .title {
    display: inline-block;
    margin-bottom: 40px;
  }
  .pageTitle .title:nth-child(odd) {
    margin-right: 50px;
  }
  .pageTitle .title img {
    height: 60px;
  }*/

  /*.nav-header {
    width: 768px;
    margin: 0 auto;
  }
  .nav-header ul li a {
    padding: 16px 20px;
    border-width: 3px;
  }*/

  /*.nav-contents {
    padding: 20px 0;
  }
  .nav-contents ul li:first-child {
    background: url(../images/bg_nav.png) no-repeat right;
    -webkit-background-size: 22px;
    -o-background-size: 22px;
    background-size: 22px;
    padding-right: 40px;
  }
  .nav-contents ul li:last-child {
    padding-left: 20px;
  }
  .nav-contents ul li img {
    height: 50px;
  }*/

  /*.block {
    padding: 40px 12px 60px;
  }

  .block-sale {
    padding: 0 0 60px;
  }*/
  /*
  .block-sale .conditions-box img {
    width: auto;
  }*/

  .hd_page {
    background: url("../images/jagged_line.png") repeat-x 0 bottom;
    background-size: 27px 14px;
  }



  .block-sale .conditions-box {
      font-family: 'Montserrat', sans-serif;
      font-size: 36px;
      margin-bottom: 25px;
  }
  .conditions-caution-box:before{
      background-size: 27px 14px;
      height: 14px;
  }

  .block-sale .conditions-box:after {
      content: "";
      position: absolute;
      bottom: -12px;
      left: 50%;
      margin-left: -12px;
      display: block;
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 12px 12px 0 12px;
      border-color: #e60012 transparent transparent transparent;
  }

  .shop-list-box {
    display: inline-block;
  }
  .shop-list-box .ico-box {
    padding: 20px 12px;
  }
  .shop-list-box .ico-box th img {
    width: 44px;
  }
  .shop-list-box .ico-box th {
    padding: 5px 10px 5px 0;
  }
  .shopList {
    max-width: 1300px;
    margin: 0 auto;
  }
  .shopList .shopList_item {
    float: none;
    display: inline-block;
    width: 31%;
    margin: 0 0 20px;

  }
  .shopList .shopList_item:nth-child(even) {
    float: none;
  }
  .shopList .shopList_item:nth-child(3n+2) {
    margin: 0 2% 20px;
  }
  .shopList .shopList_item .list-img {
    padding: 10px 7px;
    /*福岡の時は左右に7px*/
  }
  .shopList .shopList_item .list-icon {
    padding: 10px 0;
  }
  .shopList .shopList_item .list-icon img {
    width: 40px;
  }

  .bnr-block .bnrList {
    max-width: 768px;
    margin: 0 auto;
    text-align: center;
  }
  .bnr-block .bnrList li {
    margin-bottom: 0;
    width: 40%;
    display: inline-block;
    margin: 0 3%;
    vertical-align: top;
  }

  .pageTop {
    /*bottom: 300px;*/
  }
  .pageTop img {
    width: 70px;
  }



  .page-footer .snavi {
    padding: 20px 0 18px;
  }
  .page-footer .snavi li {
    margin: 0 10px;
  }
  .page-footer .footer_bottom {
    padding: 10px 0 20px;
  }
  .page-footer .footer_bottom .btn_siteTop {
    padding-bottom: 20px;
  }
  .page-footer .footer_bottom .btn_siteTop img {
    width: 183px;
  }
  .page-footer .footer_bottom .copyright img {
    width: 266px;
  }
  .conditions-caution-ttl img{
    width: 236px;
  }
  .btn_siteTop img{
    width: 242px;
  }
  .copyright img{
    width: 350px;
  }
  /*.block-sale .conditions-box.mode img{
    width: 312px;
  }
  .block-sale .conditions-box.tokyo img{
    width: 254px;
  }
  .block-sale .conditions-box.shibuya img{
    width: 316px;
  }*/
  .block-sale .conditions-box {
    padding: 15px 0;
  }
  .shop-list-box .ico-box {
    padding: 10px 12px;
  }


  /*.btn_list {
    max-width: 554px;
  }*/
  .block-sale .blockTitle .ttl {
      margin: 20px auto 0;
  }
  .block-sale .blockTitle .ttl img {
    max-width: 125px;
  }
 .sale_ttl img {
    max-width: 125px;
  }

  .hd_area .hd_ttl img {
    margin-top: 25px;
  }
  .shop-list-box .ico-box td.tax img{
    max-width: 536px;
  }
  .shop-list-box .ico-box td.union img{
    max-width: 328px;
  }

}


@media screen and (min-width: 1025px) {


    /*  slide
    -------------------------*/


  .up_to img {
    bottom: 195px;
  }

  /*.pageTitle {
    width: 1028px;
  }
  .pageTitle .title {
    margin-bottom: 60px;
  }
  .pageTitle .title:nth-child(odd) {
    margin-right: 70px;
  }
  .pageTitle .title img {
    height: 84px;
  }

  .nav-contents ul li:first-child {
    background: url(../images/bg_nav.png) no-repeat right;
    -webkit-background-size: 28px;
    -o-background-size: 28px;
    background-size: 28px;
    padding-right: 50px;
  }
  .nav-contents ul li:last-child {
    padding-left: 30px;
  }
  .nav-contents ul li img {
    height: 65px;
  }

  .block-event .eventList {
    max-width: 1300px;
    margin: 0 auto;
    text-align: center;
  }
  .block-event .eventList li {
    padding: 15px 1% 20px;
    width: 30%;
    display: inline-block;
    margin-bottom: 0;
    vertical-align: top;
    text-align: left;
  }
  .block-event .eventList li:nth-child(2) {
    margin: 0 1%;
  }*/

  .block-sale .blockTitle{
    padding: 26px 0 20px 0;
  }
  .conditions-caution {
    padding: 0 12px;
    max-width: 1300px;
    margin: 0 auto;
    font-size: 20px;
  }
  .btn_list{
    max-width: 554px;
    margin: 0 auto 35px;
  }

  .block-sale .blockTitle .ttl img{
    max-width: 155px;
  }


  /*.logo img{
    max-width: 488px;
  }*/
  .shop-list-box {
    margin-top: 32px;
  }
  .shop-list-box .ico-box td.tax img{
    max-width: 536px;
  }
  .shop-list-box .ico-box td.union img{
    max-width: 328px;
  }
  .page-footer .snavi .list.line {
    display: none;
  }
}

@media screen and (min-width: 1193px) {
    .up_to img {
      bottom: 195px;
    }

  .btn_list{
    /*max-width: 1138px;*/
    margin: 0 auto 35px;
  }
  .btn_list .btn{
    float: left;
    /*width: 48%;*/
  }
  .btn01{
    margin-bottom: 0;
  }
  .btn02{
    padding-left: 30px;
  }

}
