@charset "utf-8";
/* CSS Document */

body {
  background:linear-gradient(90deg,#f9f9f6 0%,#f9f9f6 50%,#e9e8db 50%,#e9e8db 100%);
  min-width: 1042px;
}

a:link {
  text-decoration: none;
  color: #333;
}

a:visited {
  text-decoration: none;
  color: #333;
}

a:hover {
  text-decoration: underline;
  color: #333;
}

/***
*
* blog_parts
*
*/

.post_image{
  position:relative;
  margin-bottom:15px;
}

.like_block{
  position:absolute;
  width:52px;
  height:18px;
  padding:40px 5px 0 0;
  right:1px;
  bottom:1px;
  text-align:right;
  background:url(/common/images/common_like_bg.png) no-repeat left top;
}
.like_block p{
  color:#ff3366;
}


/***
*
* layout
*
*/

/* parco-header  */

.parco-header {
  background: #281e03;
  min-width: 1042px;
  overflow: hidden;
}

.parco-header__in {
  height: 40px;
  width: 1000px;
  margin: 0 auto;
  position: relative;
}

.parco-header__logo {
  padding-top: 6px;
}

.parco-header__social {
  position: absolute;
  right: -40px;
  top: 10px;
}

.social__item {
  float: left;
  width: 78px;
}

/* header */

.header {
  background: url("../images/bg_main.png") left top repeat-x;
}
.header__in{
  width: 1117px;
  margin: 0 auto;
  position: relative;
}
.main {
  text-align: center;
}
.btn01,.btn02 {
  position: absolute;
  z-index: 9999;
  bottom: 130px;
}
.btn01 {
  left: 60px;
}
.btn02 {
  left: 240px;
}

.pagetitle {
  text-align: center;
  position: relative;
}

/* バナー */
.bnr-area {
  text-align: center;
  margin: 30px 0;
}
.bnr-area a:hover {
  opacity: 0.7;
}

/* localnav */
.localnav {
  font-size: 0;
  text-align: center;
  width: 930px;
  margin: 50px auto 60px auto;
}

.localnav__item {
  display: inline-block;
}

.localnav__item:last-child {
  margin-right: 0;
}

.localnav__item a {
  display: block;
  height: 95px;
  background: url(../images/localnav.png) no-repeat;
  white-space: nowrap;
  text-indent: 100%;
  overflow: hidden;
}
.localnav__item01 a {
  width: 465px;
  background-position: 0 0;
}

body.check .localnav__item01 a,.localnav__item01 a:hover {
  background-position: 0 -95px;
}
.localnav__item02 a {
  width: 465px;
  background-position: -465px 0;
}
body.blog .localnav__item02 a,.localnav__item02 a:hover {
  background-position: -465px -95px;
}

/*.localnav {
  margin-top: 54px;
  font-size: 0;
  text-align: center;
  position: relative;
}

.localnav:after {
  content: "";
  width: 100%;
  height: 2px;
  background: #e50012;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.localnav li {
  position: relative;
  display: inline-block;
  padding: 0 10px;
  z-index: 2;
}

.localnav li a {
  display: block;
  width: 270px;
  height: 69px;
  background: no-repeat 0 0;
}

.localnav li.localnav__item01 a { background-image: url(../images/localnav01.png); }
.localnav li.localnav__item02 a { background-image: url(../images/localnav02.png); }
.localnav li.localnav__item03 a { background-image: url(../images/localnav03.png); }

.localnav li a:hover,
body.check .localnav li.localnav__item01 a,
body.blog .localnav li.localnav__item02 a,
body.limited .localnav li.localnav__item03 a {
  background-position: 0 100%;
}*/

/* contents-wrap */

.contents-wrap {}

.contents-wrap__in {
  width: 1000px;
  margin: 0 auto;
}


/* floornav */
.floornav {
  width: 512px;
  margin: 40px auto 0;
  text-align: center;
}

.floornav li {
  display: inline-block;
}

.floornav li a {
  display: block;
  width: 496px;
  height: 42px;
  /*デフォルト*/
  background: url(/images/check/floornav.png) no-repeat 0 0;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

/* floornav_shibuya */
.floornav_shibuya {}

.floornav_shibuya li a {
  /*カスタマイズ用*/
  /*background: url(../images/floornav_shibuya.png) no-repeat 0 0;*/
}

.floornav_shibuya .floornav__item01 a {
  width: 106px;
  background-position: 0 0;
}

.floornav_shibuya .floornav__item01 a:hover, body.floor1 .floornav_shibuya .floornav__item01 a {
  background-position: 0 -42px;
}

.floornav_shibuya .floornav__item02 a {
  width: 212px;
  background-position: -113px 0;
}

.floornav_shibuya .floornav__item02 a:hover, body.floor2 .floornav_shibuya .floornav__item02 a {
  background-position: -113px -42px;
}


/* floornav_nagoya */
.floornav_nagoya {}
.floornav_nagoya li a {
  /*カスタマイズ用*/
  /*background: url(../images/floornav_nagoya.png) no-repeat 0 0;*/
}

.floornav_nagoya .floornav__item01 a {
  width: 106px;
  background-position: 0 0;
}

.floornav_nagoya .floornav__item01 a:hover, body.floor1 .floornav_nagoya .floornav__item01 a {
  background-position: 0 -42px;
}

.floornav_nagoya .floornav__item02 a {
  width: 104px;
  background-position: -106px 0;
}

.floornav_nagoya .floornav__item02 a:hover, body.floor2 .floornav_nagoya .floornav__item02 a {
  background-position: -106px -42px;
}

.floornav_nagoya .floornav__item03 a {
  width: 106px;
  background-position: -210px 0;
}

.floornav_nagoya .floornav__item03 a:hover, body.floor3 .floornav_nagoya .floornav__item03 a {
  background-position: -210px -42px;
}

.floornav_nagoya .floornav__item04 a {
  width: 180px;
  background-position: -316px 0;
}

.floornav_nagoya .floornav__item04 a:hover, body.floor4 .floornav_nagoya .floornav__item04 a {
  background-position: -316px -42px;
}

/* floornav_ikebukuro */

.floornav_ikebukuro {}
.floornav_ikebukuro li a {
  /*カスタマイズ用*/
  /*background: url(../images/floornav_ikebukuro.png) no-repeat 0 0;*/
}

.floornav_ikebukuro .floornav__item01 a {
  width: 106px;
  background-position: 0 0;
}

.floornav_ikebukuro .floornav__item01 a:hover, body.floor1 .floornav_ikebukuro .floornav__item01 a {
  background-position: 0 -42px;
}

.floornav_ikebukuro .floornav__item02 a {
  width: 145px;
  background-position: -106px 0;
}

.floornav_ikebukuro .floornav__item02 a:hover, body.floor2 .floornav_ikebukuro .floornav__item02 a {
  background-position: -106px -42px;
}

/* floornav_shintokorozawa */

.floornav_shintokorozawa  {}

.floornav_shintokorozawa  li a {
  /*カスタマイズ用*/
  /*background: url(../images/floornav_shintokorozawa.png) no-repeat 0 0;*/
}

.floornav_shintokorozawa  .floornav__item01 a {
  width: 168px;
  background-position: 0 0;
}

.floornav_shintokorozawa  .floornav__item01 a:hover, body.floor1 .floornav_shintokorozawa  .floornav__item01 a {
  background-position: 0 -42px;
}

.floornav_shintokorozawa  .floornav__item02 a {
  width: 166px;
  background-position: -168px 0;
}

.floornav_shintokorozawa  .floornav__item02 a:hover, body.floor2 .floornav_shintokorozawa  .floornav__item02 a {
  background-position: -168px -42px;
}

/* floornav_tsudanuma */

.floornav_tsudanuma  {}

.floornav_tsudanuma  li a {
  /*カスタマイズ用*/
  /*background: url(../images/floornav_tsudanuma.png) no-repeat 0 0;*/
}

.floornav_tsudanuma .floornav__item01 a {
  width: 106px;
  background-position: 0 0;
}

.floornav_tsudanuma .floornav__item01 a:hover, body.floor1 .floornav_tsudanuma .floornav__item01 a {
  background-position: 0 -42px;
}

.floornav_tsudanuma .floornav__item02 a {
  width: 109px;
  background-position: -106px 0;
}

.floornav_tsudanuma .floornav__item02 a:hover, body.floor2 .floornav_tsudanuma .floornav__item02 a {
  background-position: -106px -42px;
}

/* floornav_hiroshima */

.floornav_hiroshima  {}

.floornav_hiroshima  li a {
  /*カスタマイズ用*/
  /*background: url(../images/floornav_hiroshima.png) no-repeat 0 0;*/
}

.floornav_hiroshima .floornav__item01 a {
  width: 106px;
  background-position: 0 0;
}

.floornav_hiroshima .floornav__item01 a:hover, body.floor1 .floornav_hiroshima .floornav__item01 a {
  background-position: 0 -42px;
}

.floornav_hiroshima .floornav__item02 a {
  width: 109px;
  background-position: -106px 0;
}

.floornav_hiroshima .floornav__item02 a:hover, body.floor2 .floornav_hiroshima .floornav__item02 a {
  background-position: -106px -42px;
}

/* floornav_fukuoka */

.floornav_fukuoka  {}

.floornav_fukuoka  li a {
  /*カスタマイズ用*/
  /*background: url(../images/floornav_fukuoka.png) no-repeat 0 0;*/
}

.floornav_fukuoka .floornav__item01 a {
  width: 106px;
  background-position: 0 0;
}

.floornav_fukuoka .floornav__item01 a:hover, body.floor1 .floornav_fukuoka .floornav__item01 a {
  background-position: 0 -42px;
}

.floornav_fukuoka .floornav__item02 a {
  width: 109px;
  background-position: -106px 0;
}

.floornav_fukuoka .floornav__item02 a:hover, body.floor2 .floornav_fukuoka .floornav__item02 a {
  background-position: -106px -42px;
}

.floornav_sendai  {}

.floornav_sendai  li a {
  /*カスタマイズ用*/
  /*background: url(../images/floornav_sendai.png) no-repeat 0 0;*/
}

.floornav_sendai .floornav__item01 a {
  width: 108px;
  background-position: 0 0;
}

.floornav_sendai .floornav__item01 a:hover, body.floor1 .floornav_sendai .floornav__item01 a {
  background-position: 0 -42px;
}

.floornav_sendai .floornav__item02 a {
  width: 148px;
  background-position: -108px 0;
}

.floornav_sendai .floornav__item02 a:hover, body.floor2 .floornav_sendai .floornav__item02 a {
  background-position: -108px -42px;
}

/* foot-banner */

.foot-bnr {
  text-align: center;
  line-height: 0;
}

.foot-bnr__item {
  margin-top: 20px;
}

.foot-bnr__item:first-child {
  margin-top: 0;
}
/* footer */

#footbg{
  background: #000000;
  position: relative;
}
#footer {
  position:relative;
  margin:0 auto;
  width: 1000px;
  height: 180px;
  text-align: center;
  padding-top: 62px;
  box-sizing: border-box;
}
#footer .parco {
  margin-bottom: 60px;
}
#footer .close {
  position:absolute;
  left:481px;
  top: 30px;
}
#footer .pageTop {
  position:absolute;
  right:-37px;
  top: -54px;
}
#footer .copyright {
}

.contents {
  margin: 50px 0 130px;
}
/* footerカスタマイズ */
.footer_illust {
  padding-bottom: 30px;
  position: relative;
  text-align: center;
  background: url(../images/bg_ft.jpg) no-repeat center bottom;
  background-size: 100% auto;
}



/* block */

.block01 {
  background-color: #FFFFFF;
  margin: 0 auto;
  width: 800px;
  padding: 0 31px 31px;
  text-align: left;
}

.block-item01 {
  float: left;
  padding-left: 10px;
  width: 430px;
  margin-right: 10px;
  margin-bottom: 10px;
  display: inline;
}

.block-item02 {
  float: right;
  padding-right: 10px;
  width: 430px;
  margin-left: 10px;
  margin-bottom: 10px;
  display: inline;
}
/*  ＊コメントアウトするとデフォルトになる*/
.blog_parts_view_type_1 .more_post a{
  display: block;
  width: 550px;
  height: 50px;
  margin: 0 auto;
  overflow: hidden;
  text-indent: -9999px;
  white-space: nowrap;
  background: url("../images/btn_more.png") no-repeat left
  top;
}

.blog_parts_view_type_1 {
    margin: 0px auto;
    padding-bottom: 60px;
}
/*
kaeru
*/
.post_image .kaeru_block{
  position: absolute;
  top: -10px;
  left: -10px;
  width: 40px;
  height: 46px;
  background: url(/common/images/buy.png) no-repeat scroll left top rgba(0, 0, 0, 0);
}
.blog_parts_block.limited .btn_block_07{
  background:#e50012;
}
.blog_parts_block.limited {
  /*margin-top: 40px;*/
}
.blog_parts_block.limited .column5_blog_list_block_01 {
  width: 795px;
  margin: 0 auto;
}
.blog_parts_block.limited .column5_blog_list_block_01 .like_block {
  display: none;
}
.blog_parts_block.limited .column5_blog_list_block_01 .each_post_block {
  width: 265px;
  margin: 0 0 25px 0;
  padding: 0 40px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  color: #E50012;
}
.blog_parts_block.limited .column5_blog_list_block_01 .inner p a:link,
.blog_parts_block.limited .column5_blog_list_block_01 .inner p a:visited,
.blog_parts_block.limited .column5_blog_list_block_01 .inner p a:active {
  color: #E50012;
}
.blog_parts_block.limited .column5_blog_list_block_01 .each_post_block .inner {
    border: none;
    /*margin: 0 5px 5px 0;*/
    padding: 0;
}
.blog_parts_block.limited .column5_blog_list_block_01 .square_img_table {
    width:185px;
}
.blog_parts_block.limited .column5_blog_list_block_01 .square_img {
    width:185px;
    height:200px;
    layout-grid-line:200px;
}
.blog_parts_block.limited .column5_blog_list_block_01 .square_img img {
    max-width:185px;
    max-height:200px;
}

.blog_parts_block.limited .column5_blog_list_block_01 .imgLiquidBox {
    width: 185px;
    height: 200px;
}



/***
*
* modules
*
*/


/*h2 {
  text-align: center;
  clear: both;
}
*/
.contents-title {
  margin-bottom: 20px;
  padding: 7px 20px;
  background: #e50012;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  clear: both;
  line-height: 0;
}

.contents-title02 {
  margin-bottom: 70px;
  position: relative;
}
.contents-title02:before {
  content: "";
  display: block;
  width: 871px;
  height: 1px;
  background-color: #010104;
  position: absolute;
  right: 0px;
  top: 9px; 
}

}
.contents-title03 {
  width: 476px;
  margin: 0 auto 43px auto;
}

.contents-title__item01 {
}

.contents-title__item02 {
  margin-left: 8px;
  margin-top: 7px;
  vertical-align: top;
}

.contents-title:first-of-type {
  /*padding-top: 0;*/
}

.data {
  position: relative;
  clear: both;
  margin-bottom: 10px;
  background: url(/images/check/price_bg.gif) repeat-x 0 0;
}

.data__item01 {
  float: left;
  font-size: 12px;
  color: #333;
  font-weight: bold;
  line-height: 14px;
  padding-right: 3px;
  display: block;
  background-color: #FFFFFF;
  font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
  margin-right: 5px;
}

.fair {
  display: inline;
  background-color: #FFFFFF;
}

.data__item02 {
  font-size: 11px;
  color: #333333;
  line-height: 13px;
  text-align: right;
  font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
}

#info1 {
  clear: both;
  color: #FF0033;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  /*width:770px;*/

  width: auto;
  margin: 10px auto 30px auto;
}

#info2 {
  clear: both;
  color: #FF0033;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  width: 770px;
  margin: 20px auto 0 auto;
}

#list em {
  font-size: 10px;
  font-style: normal;
  font-weight: normal;
}

.data:before, .data:after,
.clearfix:before, .clearfix:after {
  content:"";
  display: table;
}
.data:after,
.clearfix:after {
  clear:both;
}
.data,
.clearfix {
  *zoom:1;
}



.taC { text-align: center !important; }

@media print {
  html, body {
    _zoom: 70%!important;
  }
}

/* shops */
.list-shops {
  display: flex;
  flex-wrap: wrap;
}
.list-shops .item-list-shops {
  width: 470px;
  background-color: #ffffff;
  box-shadow: 0px 5px 20px 0px rgba(7, 0, 2, 0.05);
  margin: 0px 60px 80px 0px;
  padding: 10px;
  position: relative;
  box-sizing: border-box;
}
.list-shops .item-list-shops:nth-child(2n) {margin-right: 0px;}
.list-shops .item-list-shops .floor {
  width: 80px;
  height: 80px;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  border-radius: 50%;
  background-color: #000000;
  padding-top: 20px;
  position: absolute;
  left: -10px;
  top: -40px;
  box-sizing: border-box;
}
.list-shops .item-list-shops .image,
.list-shops .item-list-shops .brand {
  display: table-cell;
  vertical-align: middle;
}
.list-shops .item-list-shops .image {
  width: 280px;
  box-shadow: 0px 5px 20px 0px rgba(7, 0, 2, 0.05);
}
.list-shops .item-list-shops .image img {width: 100%;}
.list-shops .item-list-shops .brand {
  text-align: center;
  padding-left: 10px;
}
.list-shops .item-list-shops .brand .logo img {width: 100%;}
.list-shops .item-list-shops a:hover {text-decoration: none;}
