@charset "utf-8";
/* CSS Document */

/*170731*/
h2.ttl {
    width: 85%;
    margin: 0 auto;
	margin-top: 25px;
}
.visual-bottom.lastChild {
	text-align: center;
    position: relative;
    margin-top: -75px;
    height: 75px;
    background-color: rgba(9,9,9,0.8);
	color: #ffffff;
	font-size: 13px;
}

.top-floor.firstChild {
    padding-top: 8px;
	font-family: "ヒラギノ角ゴ Pro W3";
}

.top-shop.firstChild {
    padding-top: 11px;
	font-family: "HiraKakuProN-W6", sans-serif;;
}

.top-category.firstChild.lastChild {
	font-family: "ヒラギノ角ゴ Pro W3";
	color: #cacaca;
}

.top-date.lastChild {
	font-family: "HiraKakuProN-W6", sans-serif;;
	font-size: 12px;
	color: #e8b91f;
}

.hover-plan.firstChild.lastChild {
    color: #a92c27;
	font-size: 11px;
	font-weight: bold;
	font-family: "ヒラギノ角ゴ Pro W3";
}
/*170731*/

body.pickup .nav-nr-list-item.type01,
body.annex .nav-nr-list-item.type02,
body.main .nav-nr-list-item.type03 {
  border: 1px solid #000;
  border-bottom: none;
  background-color: #FFF;
}

.pickup-block01 {
  margin-top: 29px;
  padding: 0 17px;
}
.pickup-block01 .pickup-block-in {
}

.pickup-block02 {
  margin-top: 30px;
  padding: 30px 17px;
  background: #f7f5ed ;
}
.pickup-block02 .pickup-block-in {
}
.pickup-block03 {
  padding: 0 17px;
}

.prof {
  margin-top: 10px;
  font-size: 1.1rem;
}
.prof td {
  vertical-align: top;
}
.prof td:first-child {
  padding-right: 1em;
  white-space: nowrap;
}

/* limited */

.main {
    position: relative;
    /*margin-bottom: 280px;*/
}

.main .main-in {
    /*max-width: 1740px;*/
    margin: 0 auto;
}
@-webkit-keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.photo-wrap {
    width: 100%;
    margin: 0 auto;
}

.photo-block {
    position: relative;
    /*display: none;*/
    /*float: left;*/
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.photo-block.red {
    border: 4px solid #cb181d;
}

.photo-block.blk {
    border: 4px solid #110d0d;
}

.photo-block.orange {
    border: 4px solid #ed6f25;
}

.photo-block-in {
    display: block;
}

.photo-block-in .visual {
    -webkit-transition: -webkit-transform 0.8s ease;
    -moz-transition: -moz-transform 0.8s ease;
    -o-transition: -o-transform 0.8s ease;
    transition: transform 0.8s ease;
}

.photo-block-in .visual.is-active {
    -webkit-transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
}

.photo-hover {
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
    width: 93%;
    height: 93%;
    font-size: 1.1rem;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: left;
    background: rgba(255, 255, 255, 0.8);
}

.photo-hover .icon {
    position: absolute;
    top: 0px;
    left: -1px;
    width: 63px;
    height: 63px;
    content: "";
}

.photo-hover .icon {
    position: absolute;
    top: -0px;
    left: -0px;
    width: 63px;
    height: 63px;
    content: "";
}

.photo-hover .icon.new {
    background: url('../images/newshop/ico-new.png') no-repeat 0 0;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.photo-hover .icon.renewal {
    background: url('../images/newshop/ico-renew.png') no-repeat 0 0;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.photo-hover .badge-ch {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 65px;
    height: 15px;
    background: url(../images/newshop/badge-ch.png) no-repeat 0 0;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.photo-hover .badge{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 65px;
    height: 15px;
    background: url(../images/newshop/badge-hi.png) no-repeat 0 0;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.photo-hover .badge-li {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 65px;
    height: 15px;
    background: url(../images/newshop/badge-li.png) no-repeat 0 0;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.photo-hover .hover-ttl {
    /*position: absolute;*/
    /*top: 20px;*/
    /*left: 50%;*/
    /*width: 210px;*/
    margin: 0;
/*    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);*/
    margin-top: 28px;
    text-align: center;
    color: #333333;
    font-size: 1.0rem;
    line-height: 1.4;
    text-align: center;
    font-weight: bold;
}

.photo-hover .hover-ttl span {
    font-weight: normal;
}

.photo-hover .hover-img {
    margin: 0 auto;
    padding: 15px 0 18px;
    width: 250px;
    height: 30px;
    text-align: center;
    border-bottom: solid 1px #333333;
}
.photo-hover .hover-img img {
}
.photo-hover .hover-text {
    width: 250px;
    margin: 8px auto 5px;
    letter-spacing: -1px;
    line-height: 1.4;
	font-size: 11px;
}

.photo-hover .hover-text .hover-shopinfo {
    display: block;
    width: 66px;
    height: 16px;
    margin: 0 auto;
    margin-top: 8px;
    background: url('../images/btn_shopinfo.png?1439798125') no-repeat 0 0;
    -webkit-background-size: 66px auto;
    -o-background-size: 66px auto;
    background-size: 66px auto;
}

.photo-hover .hover-box{
    display: table;
    width: 250px;
    margin: 0 auto;
}

.photo-hover .hover-box .box-img{
    display: table-cell;
    vertical-align: middle;
    padding-right: 5px;
}

.photo-hover .hover-box .box-txt{
    display: table-cell;
    vertical-align: middle;
}

.photo-hover .small .hover-ttl{
    top: 10px;
}

.photo-hover .small .hover-img{
    padding-top: 60px;
}

.photo-hover .small .hover-text {
    font-size: 9px;
    font-size: 0.9rem;
    line-height: 11px;
}

.photo-hover .small .hover-box{
    font-size: 7px;
    font-size: 0.7rem;
    line-height: 11px;
}

@-webkit-keyframes fadeInLeft {
    0% {
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-moz-keyframes fadeInLeft {
    0% {
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-o-keyframes fadeInLeft {
    0% {
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes fadeInLeft {
    0% {
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.fadeInLeft {
    position: relative;
    -webkit-animation-name: fadeInLeft;
    -moz-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}

.animated {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}


