/*clearfix*/
.blog_parts_block .clearfix:after {
    clear:both;
    content:".";
    display:block;
    height:0;
    visibility:hidden;
}

.blog_parts_block .clearfix {
    min-height:1px;
    position:relative;
}

* html .blog_parts_block .clearfix {
    height:1px;
}

/* ------------------------------------- */

.blog_parts_block .no_result {
    margin-left: 10px;
}

/* ------------------------------------- */

.blog_parts_block .column5_blog_list_block_01{
    width: 100%;
    text-align:left;
    position: relative;
    /*margin-left: -10px;*/
}

.blog_parts_block .column5_blog_list_block_01 .each_post_block{
    float:left;
    width:470px;
    margin-right: 60px;
    margin-top: 40px;
    border: 2px solid #000;
    background: #FFF;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.blog_parts_block .column5_blog_list_block_01 .each_post_block:nth-child(2n){
    margin-right: 0;
}

.blog_parts_block .column5_blog_list_block_01 .each_post_block .inner{
    /*padding:10px;*/
    /*background:url(/common/images/common_eachblog_bg_002.gif) no-repeat left top;*/
    position: relative;
}

.blog_parts_block .column5_blog_list_block_01 .post_icon_block{
    position:relative;
    width:158px;
    height:34px;
    margin-top:10px;
    background:#f2f2f2;
}

.blog_parts_block .column5_blog_list_block_01 .post_icon_block li.lefticon{
    position:absolute;
    top:6px;
    left:11px;
}

.blog_parts_block .column5_blog_list_block_01 .post_icon_block li.centericon{
    position:absolute;
    top:6px;
    left:68px;
}

.blog_parts_block .column5_blog_list_block_01 .post_icon_block li.righticon{
    position:absolute;
    top:6px;
    right:9px;
}

.blog_parts_block .column5_blog_list_block_01 .like_block p {
	margin: 0;
	padding: 0;
	font: 13px/1.5 "MS PGothic","Osaka",Arial,sans-serif;
	letter-spacing: 0.075em;
}

.blog_parts_block .column5_blog_list_block_01 .inner p a {
	text-decoration: none;
	letter-spacing: 0.075em;
}

.blog_parts_block .column5_blog_list_block_01 .post_title {
	margin: 0;
	padding: 0;
    padding: 40px;
    font-size: 1.4rem;
}

.blog_parts_block .post_event_date {
    display: block;
    margin: 0 0 2px 0;
    padding: 0;
    font-size: 12px;
}

.blog_parts_block .column5_blog_list_block_01 .post_icon_block ul,
.blog_parts_block .column5_blog_list_block_01 .post_icon_block.ol {
	list-style: none outside none;
}


.blog_parts_block .column5_blog_list_block_01 .square_img_table {
    display:table;
    table-layout: fixed;
    width:158px;
}

.blog_parts_block .column5_blog_list_block_01 .square_img {
    width:158px;
    height:158px;
    display:table-cell;
    text-align:center;
    vertical-align:middle;
    layout-grid-line:158px;
}

.blog_parts_block .column5_blog_list_block_01 .square_img img {
    max-width:158px;
    max-height:158px;
    border:medium none;
    vertical-align:middle;
}

.blog_parts_block .column5_blog_list_block_01 .imgLiquidBox {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 260px;
    border-bottom: 2px solid #000;
}

.blog_parts_block .column5_blog_list_block_01 {
	margin-top : 10px;
}

.blog_parts_block .column5_blog_list_block_01 .post_shop {
	font-weight: bold;
	font-size  : 14px;
}

.blog_parts_block .column5_blog_list_block_01 .each_post_block .inner {
	/*border : 1px solid #ccc;*/
	word-wrap: break-word;
}

.blog_parts_block .column5_blog_list_block_01 .inner p a:link,
.blog_parts_block .column5_blog_list_block_01 .inner p a:visited,
.blog_parts_block .column5_blog_list_block_01 .inner p a:active {
	/*font-size  : 12px;*/
	/*color      : #46639F;*/
    line-height: 1.777777778;
    color: #1F1F1F;
}

.blog_parts_block .column5_blog_list_block_01 .like_block {
    right  : -1px;
}

.blog_parts_block .column5_blog_list_block_01 .post_store {
    background: none repeat scroll 0 0 #D50331;
    color: #FFFFFF;
    font-size: 13px;
    display: inline-block;
    line-height: 8px;
    margin : 0;
    padding: 3px;
    position: absolute;
    top: 10px;
    z-index: 101;
}

.blog_parts_view_type_1 {
    /*width: 930px;*/
    padding-bottom: 20px;
}


.blog_parts_view_type_1 .more_post {
    margin-top : 60px;
    text-align: center;
}

/* ------------------------------------- */

.blog_parts_block .thumbnail_block_wrap .thumbnail_block {
    word-wrap: break-word;
}

.blog_parts_block .thumbnail_block_wrap .square_img {
    width:130px;
    height:130px;
    display:table-cell;
    text-align:center;
    vertical-align:middle;
    layout-grid-line:130px;
}

.blog_parts_block .thumbnail_block_wrap .square_img img {
    max-width:130px;
    max-height:130px;
    vertical-align:middle;
}

.blog_parts_block .thumbnail_block_wrap .thumbnail_block {
    border: 1px solid #CCCCCC;
    margin: 0 5px 5px 0;
    position: relative;
}

.blog_parts_block .thumbnail_block_wrap .post_store {
    background: none repeat scroll 0 0 #CA0010;
    color: #FFFFFF;
    display: inline-block;
    font-size: 75%;
    left: 5px;
    line-height: 8px;
    padding: 3px;
    position: absolute;
    top: 5px;
}

/* ------------------------------------- */

.blog_parts_block .list_block_wrap .list_block {
    word-wrap: break-word;
    position: relative;
}

.blog_parts_block .list_block_wrap .image {
    border: 1px solid #CCCCCC;
    display: block;
    height: 90px;
    position: relative;
    text-align: center;
    width: 90px;
    float: left;
}

.blog_parts_block .list_block_wrap .square_img {
    width:90px;
    height:90px;
    display:table-cell;
    text-align:center;
    vertical-align:middle;
    layout-grid-line:90px;
}

.blog_parts_block .list_block_wrap .square_img img {
    max-width:90px;
    max-height:90px;
    vertical-align:middle;
    /*zoom: 1.0;*/
}

.blog_parts_block .list_block_wrap .text {
    display: block;
    position: relative;
    margin-left: 100px;
    text-align:left;
}


.blog_parts_block .list_block_wrap .text .text_link {
    margin-bottom: 0;
}

.blog_parts_block .list_block_wrap .text .text_content {
    padding-top: 5px;
}

.blog_parts_block .list_block_wrap .text .text_content .text_link {
	padding-bottom: 22px;
}

.blog_parts_block .list_block_wrap .icon_block_01 {
    background: none repeat scroll 0 0 #F2F2F2;
    height: 22px;
    padding-top: 5px;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}

.blog_parts_block .list_block_wrap .icon_block_01 .icon_like{
    position:absolute;
    top:5px;
    left:8px;
}

.blog_parts_block .list_block_wrap .icon_block_01 .icon_share{
    position:absolute;
    top:5px;
    right:8px;
}

.blog_parts_block .list_block_wrap .post_store {
    background: none repeat scroll 0 0 #CA0010;
    color: #FFFFFF;
    display: inline-block;
    font-size: 75%;
    left: 5px;
    line-height: 8px;
    padding: 3px;
    position: absolute;
    top: 5px;
}

/* ------------------------------------- */

.blog_parts_block .list_block_wrap_ns {
    margin-bottom: 10px;
}

.blog_parts_block .list_block_wrap_ns .list_block {
    margin: 0 15px 0;
    padding: 5px;
    word-wrap: break-word;
    position: relative;
}

.blog_parts_block .list_block_wrap_ns .image {
    border: 1px solid #CCCCCC;
    display: block;
    height: 90px;
    position: relative;
    text-align: center;
    width: 90px;
    float: left;
}

.blog_parts_block .list_block_wrap_ns .square_img {
    width:90px;
    height:90px;
    display:table-cell;
    text-align:center;
    vertical-align:middle;
    layout-grid-line:90px;
}

.blog_parts_block .list_block_wrap_ns .square_img img {
    max-width:90px;
    max-height:90px;
    vertical-align:middle;
    /*zoom: 1.0;*/
}

.blog_parts_block .list_block_wrap_ns .text {
    display: block;
    position: relative;
    margin-left: 100px;
    text-align:left;
}


.blog_parts_block .list_block_wrap_ns .text .text_link {
    margin-bottom: 0;
}

.blog_parts_block .list_block_wrap_ns .middle_block {
    background: url("/s/common/images/common_icon_002.png") no-repeat scroll right center rgba(0, 0, 0, 0);
    background-size:16px 18px;
}

.blog_parts_block .list_block_wrap_ns .text .text_content_middle {
    height: 90px;
    word-break:break-all;
    display: table-cell;
    vertical-align: middle;
    padding-right: 20px;
}

.blog_parts_block .list_block_wrap_ns .post_store {
    background: none repeat scroll 0 0 #CA0010;
    color: #FFFFFF;
    display: inline-block;
    font-size: 75%;
    left: 5px;
    line-height: 8px;
    padding: 3px;
    position: absolute;
    top: 5px;
}

.blog_parts_block .list_block_wrap_ns .list_wrap_link a {
    display: block;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    text-indent: 100%;
    top: 0;
    white-space: nowrap;
    width: 100%;
    background: url("/s/common/images/common_line_001.png") repeat-x scroll left bottom rgba(0, 0, 0, 0);
}

.blog_parts_block .list_block_wrap_ns > div:first-child {
    background: url("/s/common/images/common_line_001.png") repeat-x scroll left top rgba(255, 255, 255, 1);
}
