@charset "utf-8";
/* CSS Document */


.top-contents {
  /*height: 100%;*/
  padding-top: 72px;
  text-align: center;
}
.top-title {
}
.top-catch {
  margin-top: 50px;
}
.top-date {
  margin-top: 55px;
}
.top-text01 {
  margin-top: 23px;
}

.top-btns {
  /*margin-top: 82px;*/
  width: 1000px;
  margin: 82px auto 0;
  font-size: 0;
  line-height: 0;
}
.top-btns-item {
  display: inline-block;
  text-align: center;
  margin-right: 50px;
}
.top-btns-item:nth-child(2n) {
  margin-right: 0;
}
.top-btns-link {
  display: inline-block;
  width: 475px;
  height: 251px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: no-repeat 0 0;
}
.top-btns-link.type01 {
  background-image: url(../images/btn-newrenewal.png);
}
.top-btns-link.type02 {
  background-image: url(../images/btn-newsevent.png);
}
.top-btns-link.type03 {
  width: 1000px;
  height: 180px;
  background-image: url(../images/btn-star.jpg);
}
