@charset "UTF-8";
------------------------------------------------------------*/
/* Reset
------------------------------------------------------------*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, label, input, textarea, p, blockquote, th, td {
	margin:0;
	padding:0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	font-size: inherit;
}
td, th {
	text-align: left;
	vertical-align: top;
	font-weight: normal;
}
img {
	border: none;
	vertical-align: bottom;
}
address, caption, cite, code, dfn, em, strong, th, var {
	font-style: normal;
	font-weight: normal;
}
ol, ul, li {
	list-style: none;
}
caption, th {
	text-align: left;
	vertical-align: top;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}
br {
	letter-spacing: normal;
}
hr {
	display: none;
}

#wrapper a {
	/*text-decoration: none;*/
	color: #E30920;
	outline: none;
}
#wrapper a:hover {
	text-decoration: none;
	color: #E30920;
}
#wrapper a:hover img {
	filter: alpha(opacity=80);
	-moz-opacity:0.80;
	opacity:0.80;
}

/* clearfix
-----------------------------------------------------------*/
.clearfix:after {
	clear: both;
	content:".";
	display: block;
	height: 0;
	visibility: hidden;
}

/*! --------------------------------

normalize.css v3.0.2 | MIT License | git.io/normalize

-------------------------------- */

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

/* --------------------------------

Primary style

-------------------------------- */

html {
    font-size: 62.5%;
}

body {
    height: 100%;
    text-align: center;
    color: #000;
    background-color: #fff;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
    font-size: 12px;
    font-size: 1.2rem;
}
#header{
	position: relative;
    margin: 0;
    background: #FFF;
}
header h1{
	width:100%;
}
header h1 img{
	display: block;
	width: 100%;
}
header{
	position: relative;
}
.header_sns{
  display: inline-block;
  position: absolute;
  top: 28%;
  left: 0;
  right: 0;
  margin: auto;
}

.header-ttl{
	margin-top:0;
	margin-bottom: 30px;
	position: relative;
}
.ribbon{
	font-size: 17px;
  font-weight: bold;
	color: #fff;
	background: url(../images/tag.png) no-repeat 50% 0 ;
	background-size: cover;
	width: 100%;
	height: 60px;
	line-height: 60px;
  letter-spacing: 0.07em;

}
.days{
	position: relative;
}
.days img{
	position: absolute;
	top: -40px;
right: 10px;
}
/* --------------------------------

main

-------------------------------- */
.shopList{
	margin-top: 0px;
	-webkit-padding-start: 0px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
  margin-bottom: 15px;
}
.shopList::before{
	content: "";
    display: block;
    width: 184px;
    order: 1;
}
.shopList::after{
	content: "";
    display: block;
    width: 184px;
}
.shop{
	position: relative;
	display: inline-block;
	 width: 47%;
	border: solid 1px #bf6464;
	margin-bottom: 15px;
/*liの最後の列を左寄せにするための記述*/
/*height: 0;
margin-top: 0;
margin-bottom: 0;
padding-top: 0;
padding-bottom: 0;*/
}

.shop_img{
	width: 125px;
  margin: 0 auto;
  border-bottom: solid 1px #bf6464;
	margin-top: 25px;
}
.shop_img img{
	width: 100%;
}
.floor{
	background-color: #bf6464;
	width: 70px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
	-webkit-margin-before: 0em;
	font-size: 11px;
	font-weight: normal;
	color: #fff;
	line-height: 20px;
}
.floor_new{
	background-color: #b28850;1
}
.box{
	margin: 0 15px;
}
.sns{
	margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.instagram{
	padding-right:20px;
	border-right: solid 1px #bf6464;
	box-sizing: border-box;
}
.twitter{
	padding-left: 20px;
}
.ishop{
	border: none;
}

.pageTop{
	z-index: -1;
	position: absolute;
	width: 45px;
	top: -18px;
	left: 50%;
	transform: translateX(-50%);
}
.copyright{
	margin-bottom: 0;
}
.copyright img{
	padding-bottom: 10px;
	width: 80%;
}
.btn_siteTop{
	width: 80%;
	margin: 0 auto;
	padding-top:20px;
}

/* snavi -------------------------------------------------------------- */
.snavi {
	    padding-top: 20px;
  /*background: url(../images/bg_sec01.png) repeat;*/
  -webkit-background-size: 12px;
  -o-background-size: 12px;
  background-size: 12px;
  height: 25px;
}

.snavi ul {
	    -webkit-padding-start: 0;
  text-align: center;
  font-size: 0;
  line-height: 0;
}

.snavi ul li {
  display: inline-block;
  margin: 0 2px;
  vertical-align: top;
  font-size: 0;
  line-height: 0;
}
.page-ft{
	text-align: center;
    position: relative;
	background-color: #bf6464;
}
.btn_p{
	position: relative;
}
.btn{
  background: #FFF;
}

.btn a{
  display: block;
  text-align: center;
}

.parco-top{
    margin-bottom: 20px;
}
/*.btn::before{
	content: "";
    width: 7px;
    height: 7px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    position: absolute;
    right: 21px;
    top: 10px;
    transform: rotate(-45deg);
}
*/