@charset "UTF-8";
/*------------------------------------------
  Style Reset
------------------------------------------*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, label, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: inherit; }

td, th, caption {
  font-style: normal;
  font-weight: normal;
  text-align: left;
  vertical-align: top; }

address, cite, code, dfn, em, strong, var {
  font-style: normal;
  font-weight: normal; }

ol, ul {
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

br {
  letter-spacing: normal; }

hr {
  display: none; }

img {
  vertical-align: bottom;
  border: none;
  line-height: 0; }

article, aside, details, figcaption, figure, footer, header, nav, section, summary {
  display: block; }

/*  class List
------------------------------------------------------------*/
/*-- display --*/
.dn {
  display: none !important; }

.db {
  display: block !important; }

.di {
  display: inline !important; }

.dib {
  display: inline-block !important; }

/*-- fonts --*/
.fwN {
  font-weight: normal; }

.fwB {
  font-weight: bold; }

.fz08 {
  font-size: 67%; }

.fz09 {
  font-size: 75%; }

.fz10 {
  font-size: 83%; }

.fz11 {
  font-size: 92%; }

.fz12 {
  font-size: 100%; }

.fz13 {
  font-size: 108%; }

.fz14 {
  font-size: 117%; }

.fz15 {
  font-size: 125%; }

.fz16 {
  font-size: 133%; }

/*-- position --*/
.posR {
  position: relative; }

.posA {
  position: absolute; }

/*-- border --*/
.bd {
  border: 1px solid #000; }

.bdt {
  border-top: 1px solid #000; }

.bdr {
  border-right: 1px solid #000; }

.bdb {
  border-bottom: 1px solid #000; }

.bdl {
  border-left: 1px solid #000; }

.bdN {
  border: none; }

.bdtN {
  border-top: none; }

.bdrN {
  border-right: none; }

.bdbN {
  border-bottom: none; }

.bdlN {
  border-left: none; }

/*-- text-align --*/
.taC {
  text-align: center; }

.taL {
  text-align: left; }

.taR {
  text-align: right; }

/*-- float --*/
.flR {
  float: right; }

.flL {
  float: left; }

.flN {
  float: none; }

/*-- margin --*/
.mc {
  margin: 0 auto; }

.m00 {
  margin: 0 !important; }

.m05 {
  margin: 5px !important; }

.m10 {
  margin: 10px !important; }

.m15 {
  margin: 15px !important; }

.m20 {
  margin: 20px !important; }

.m25 {
  margin: 25px !important; }

.m30 {
  margin: 30px !important; }

.m35 {
  margin: 35px !important; }

.m40 {
  margin: 40px !important; }

.m45 {
  margin: 45px !important; }

.m50 {
  margin: 50px !important; }

.mta {
  margin-top: auto; }

.mt00 {
  margin-top: 0 !important; }

.mt05 {
  margin-top: 5px !important; }

.mt10 {
  margin-top: 10px !important; }

.mt15 {
  margin-top: 15px !important; }

.mt20 {
  margin-top: 20px !important; }

.mt25 {
  margin-top: 25px !important; }

.mt30 {
  margin-top: 30px !important; }

.mt35 {
  margin-top: 35px !important; }

.mt40 {
  margin-top: 40px !important; }

.mt45 {
  margin-top: 45px !important; }

.mt50 {
  margin-top: 50px !important; }

.mt60 {
  margin-top: 60px !important; }

.mt70 {
  margin-top: 70px !important; }

.mt80 {
  margin-top: 80px !important; }

.mra {
  margin-right: auto; }

.mr00 {
  margin-right: 0 !important; }

.mr05 {
  margin-right: 5px !important; }

.mr10 {
  margin-right: 10px !important; }

.mr15 {
  margin-right: 15px !important; }

.mr20 {
  margin-right: 20px !important; }

.mr25 {
  margin-right: 25px !important; }

.mr30 {
  margin-right: 30px !important; }

.mr35 {
  margin-right: 35px !important; }

.mr40 {
  margin-right: 40px !important; }

.mr45 {
  margin-right: 45px !important; }

.mr50 {
  margin-right: 50px !important; }

.mba {
  margin-bottom: auto; }

.mb00 {
  margin-bottom: 0 !important; }

.mb05 {
  margin-bottom: 5px !important; }

.mb10 {
  margin-bottom: 10px !important; }

.mb15 {
  margin-bottom: 15px !important; }

.mb20 {
  margin-bottom: 20px !important; }

.mb25 {
  margin-bottom: 25px !important; }

.mb30 {
  margin-bottom: 30px !important; }

.mb35 {
  margin-bottom: 35px !important; }

.mb40 {
  margin-bottom: 40px !important; }

.mb45 {
  margin-bottom: 45px !important; }

.mb50 {
  margin-bottom: 50px !important; }

.mb60 {
  margin-bottom: 60px !important; }

.mb70 {
  margin-bottom: 70px !important; }

.mb80 {
  margin-bottom: 80px !important; }

.mb90 {
  margin-bottom: 90px !important; }

.mb100 {
  margin-bottom: 100px !important; }

.mla {
  margin-left: auto; }

.ml00 {
  margin-left: 0 !important; }

.ml05 {
  margin-left: 5px !important; }

.ml10 {
  margin-left: 10px !important; }

.ml15 {
  margin-left: 15px !important; }

.ml20 {
  margin-left: 20px !important; }

.ml25 {
  margin-left: 25px !important; }

.ml30 {
  margin-left: 30px !important; }

.ml35 {
  margin-left: 35px !important; }

.ml40 {
  margin-left: 40px !important; }

.ml45 {
  margin-left: 45px !important; }

.ml50 {
  margin-left: 50px !important; }

/*-- padding --*/
.p00 {
  padding: 0; }

.p05 {
  padding: 5px !important; }

.p10 {
  padding: 10px !important; }

.p15 {
  padding: 15px !important; }

.p20 {
  padding: 20px !important; }

.p25 {
  padding: 25px !important; }

.p30 {
  padding: 30px !important; }

.p35 {
  padding: 35px !important; }

.p40 {
  padding: 40px !important; }

.p45 {
  padding: 45px !important; }

.p50 {
  padding: 50px !important; }

.pt00 {
  padding-top: 0 !important; }

.pt05 {
  padding-top: 5px !important; }

.pt10 {
  padding-top: 10px !important; }

.pt15 {
  padding-top: 15px !important; }

.pt20 {
  padding-top: 20px !important; }

.pt25 {
  padding-top: 25px !important; }

.pt30 {
  padding-top: 30px !important; }

.pt35 {
  padding-top: 35px !important; }

.pt40 {
  padding-top: 40px !important; }

.pt45 {
  padding-top: 45px !important; }

.pt50 {
  padding-top: 50px !important; }

.pt60 {
  padding-top: 60px !important; }

.pt70 {
  padding-top: 70px !important; }

.pr00 {
  padding-right: 0 !important; }

.pr05 {
  padding-right: 5px !important; }

.pr10 {
  padding-right: 10px !important; }

.pr15 {
  padding-right: 15px !important; }

.pr20 {
  padding-right: 20px !important; }

.pr25 {
  padding-right: 25px !important; }

.pr30 {
  padding-right: 30px !important; }

.pr35 {
  padding-right: 35px !important; }

.pr40 {
  padding-right: 40px !important; }

.pr45 {
  padding-right: 45px !important; }

.pr50 {
  padding-right: 50px !important; }

.pb00 {
  padding-bottom: 0 !important; }

.pb05 {
  padding-bottom: 5px !important; }

.pb10 {
  padding-bottom: 10px !important; }

.pb15 {
  padding-bottom: 15px !important; }

.pb20 {
  padding-bottom: 20px !important; }

.pb25 {
  padding-bottom: 25px !important; }

.pb30 {
  padding-bottom: 30px !important; }

.pb35 {
  padding-bottom: 35px !important; }

.pb40 {
  padding-bottom: 40px !important; }

.pb45 {
  padding-bottom: 45px !important; }

.pb50 {
  padding-bottom: 50px !important; }

.pb60 {
  padding-bottom: 60px !important; }

.pl00 {
  padding-left: 0 !important; }

.pl05 {
  padding-left: 5px !important; }

.pl10 {
  padding-left: 10px !important; }

.pl15 {
  padding-left: 15px !important; }

.pl20 {
  padding-left: 20px !important; }

.pl25 {
  padding-left: 25px !important; }

.pl30 {
  padding-left: 30px !important; }

.pl35 {
  padding-left: 35px !important; }

.pl40 {
  padding-left: 40px !important; }

.pl45 {
  padding-left: 45px !important; }

.pl50 {
  padding-left: 50px !important; }

/*  animation
------------------------------------------------------------*/
.trans {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.act_trans {
  animation-duration: 8.0s;
  animation-name: fade-in;
  -moz-animation-duration: 8.0s;
  -moz-animation-name: fade-in;
  -webkit-animation-duration: 8.0s;
  -webkit-animation-name: fade-in; }

@keyframes fade-in {
  0% {
    display: none;
    opacity: 0; }
  1% {
    display: block;
    opacity: 0; }
  100% {
    display: block;
    opacity: 1; } }

@-moz-keyframes fade-in {
  0% {
    display: none;
    opacity: 0; }
  1% {
    display: block;
    opacity: 0; }
  100% {
    display: block;
    opacity: 1; } }

@-webkit-keyframes fade-in {
  0% {
    display: none;
    opacity: 0; }
  1% {
    display: block;
    opacity: 0; }
  100% {
    display: block;
    opacity: 1; } }

html {
  -ms-overflow-y: scroll;
  overflow-y: scroll;
  font-size: 62.5%; }

body {
  font-family: "YuGothic", "游ゴシック体", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  background: #ed1c24;
  color: #333333;
  width: 100%;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: normal; }

body.fz-m {
  font-size: 100%; }

body.fz-l {
  font-size: 134%; }

a {
  color: #777;
  text-decoration: underline; }
  a:hover, a:active, a:focus {
    color: #aaaaaa; }

strong {
  font-weight: bold; }

/*  clearfix
------------------------------------------------------------*/
.clearfix {
  *zoom: 1; }
  .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0; }

/* common
------------------------------------------------------------*/
.border-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 20px solid #ed1c24;
  z-index: 100; }

.border_box .border {
  position: fixed;
  width: 100%;
  height: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 100; }
  .border_box .border.top {
    border-top: 20px solid #ed1c24; }
  .border_box .border.right {
    right: 0;
    width: 20px;
    height: 100%;
    border-right: 20px solid #ed1c24; }
  .border_box .border.bottom {
    bottom: 0;
    border-bottom: 20px solid #ed1c24; }
  .border_box .border.left {
    width: 20px;
    height: 100%;
    border-left: 20px solid #ed1c24; }

.hd_cmn {
  position: fixed;
  top: 20px;
  left: 0;
  width: 100%;
  height: 60px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-right: 20px solid #ed1c24;
  border-left: 20px solid #ed1c24;
  background-color: #FFF;
  z-index: 200; }
  .hd_cmn .hd__left {
    float: left;
    padding: 6px 0 0 6px; }
  .hd_cmn .hd__right {
    float: right; }
    .hd_cmn .hd__right .ttl {
      display: inline-block;
      vertical-align: middle; }
      .hd_cmn .hd__right .ttl.type01 {
        margin-right: 40px; }
      .hd_cmn .hd__right .ttl.type02 {
        margin-right: 34px; }
      .hd_cmn .hd__right .ttl.type03 {
        margin-right: 40px; }
    .hd_cmn .hd__right .sns {
      display: inline-block;
      vertical-align: middle; }

.main_wrapper {
  position: relative;
  padding-bottom: 230px;
  background-color: #FFF; }

.main {
  padding-top: 136px;
  text-align: center; }

.sns-block {
  margin-top: 120px; }
  .sns-block .sns_list {
    text-align: center; }
    .sns-block .sns_list > li {
      display: inline-block;
      vertical-align: middle;
      margin-left: 4px; }
      .sns-block .sns_list > li:first-child {
        margin-left: 0; }

.copyright {
  margin: 20px 0 75px;
  text-align: center;
  color: #FFF; }

.btn_pagetop {
  position: fixed;
  bottom: 70px;
  right: 40px; }
