/*  home.scss
------------------------------------------------------------*/
.bnr_list {
  position: absolute;
  bottom: -245px;
  left: 0;
  width: 100%;
  text-align: center; }
  .bnr_list > li {
    display: inline-block;
    vertical-align: middle;
    width: 390px;
    height: 390px;
    overflow: hidden; }
    .bnr_list > li img {
      -webkit-transform-origin: 50% 50%;
      -moz-transform-origin: 50% 50%;
      -o-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
      -webkit-filter: grayscale(0);
      -moz-filter: grayscale(0);
      filter: grayscale(0);
      -webkit-transform: scale(1.025) translateY(0);
      -moz-transform: scale(1.025) translateY(0);
      -o-transform: scale(1.025) translateY(0);
      -ms-transform: scale(1.025) translateY(0);
      transform: scale(1.025) translateY(0);
      -webkit-transition: -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
      -moz-transition: -moz-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
      -o-transition: -o-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
      -ms-transition: -ms-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
      transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
      will-change: transform; }
    .bnr_list > li:hover img {
      -webkit-transform: scale(1) translateY(-4px);
      -moz-transform: scale(1) translateY(-4px);
      -o-transform: scale(1) translateY(-4px);
      -ms-transform: scale(1) translateY(-4px);
      transform: scale(1) translateY(-4px);
      -webkit-filter: grayscale(1);
      -moz-filter: grayscale(1);
      filter: grayscale(1); }

.txt_area {
  width: 760px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 430px auto 180px;
  padding: 60px 0;
  border: 4px solid #FFF;
  text-align: center;
  font-size: 24px;
  font-size: 2.4rem;
  color: #FFF;
  line-height: 1.8; }

.contents01{
  text-align: center;
  margin-bottom: 146px;
}


.sec02_contents {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 145px;
  padding: 120px 20px 130px;
  background: url("../images/home/sec02_bg.jpg") no-repeat 0 0;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center; }
  .sec02_contents .txt {
    margin-bottom: 40px; }
  .sec02_contents .sns_list > li {
    display: inline-block;
    vertical-align: middle;
    margin-left: 40px; }
    .sec02_contents .sns_list > li:first-child {
      margin-left: 0; }

.txt-block01 {
  width: 1170px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 70px 85px;
  background-color: #FFF; }
  .txt-block01 .table_list01 {
    border-top: 1px solid #ED1C24; }
    .txt-block01 .table_list01 tr {
      width: 100%;
      border-bottom: 1px solid #ED1C24; }
    .txt-block01 .table_list01 th, .txt-block01 .table_list01 td {
      padding: 12px 0;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
    .txt-block01 .table_list01 th {
      width: 15%;
      height: 100%;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      font-size: 21px;
      font-size: 2.1rem;
      font-weight: bold;
      color: #ED1C24; }
    .txt-block01 .table_list01 td {
      width: 85%;
      font-size: 14px;
      font-size: 1.4rem;
      line-height: 2.0; }
      .txt-block01 .table_list01 td .td_in {
        padding-left: 30px;
        border-left: 1px solid #ED1C24; }
      .txt-block01 .table_list01 td span {
        font-size: 16px;
        font-size: 1.6rem;
        font-weight: bold; }
