/*  runway.scss
------------------------------------------------------------*/
.main_wrapper {
  padding-bottom: 300px; }

.main {
  padding-top: 250px; }

.ttl01 {
  position: absolute;
  bottom: -100px;
  left: 0;
  width: 100%;
  text-align: center; }
  .ttl01 .ttl01__in {
    width: 1170px;
    margin: 0 auto;
    padding-top: 75px;
    background-color: #ED1C24;
    text-align: center; }

.contents-block01 {
  width: 1170px;
  margin: 194px auto 0; }
  .contents-block01 .list {
    position: relative;
    padding-left: 85px; }
    .contents-block01 .list.type01 {
      margin-bottom: 130px; }
  .contents-block01 .ttl {
    position: absolute;
    top: 97px;
    left: 610px;
    width: 245px;
    height: 38px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 1px 20px;
    background: url("../images/runway/name_block.png") no-repeat 0 0;
    font-size: 20px;
    font-size: 2rem;
    font-style: oblique;
    color: #FFF;
    z-index: 1; }
  .contents-block01 .txt {
    position: absolute;
    top: 110px;
    left: 560px;
    width: 520px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 35px 32px;
    background-color: #FFF;
    font-size: 14px;
    font-size: 1.4rem;
    color: #000;
    line-height: 2.0; }

.txt_caution {
  margin: 420px 0 160px;
  text-align: center; }

.contents-block02 {
  position: relative;
  width: 100%;
  height: 640px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 20px; }
  .contents-block02 .contents-block02__in {
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 225px;
    text-align: center;
    background: url("../images/runway/bnr01_bg.jpg") no-repeat 0 0;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
  .contents-block02.type02 {
    margin-top: 200px; }
    .contents-block02.type02 .contents-block02__in {
      background: url("../images/runway/bnr02_bg.jpg") no-repeat 0 0;
      -webkit-background-size: cover;
      -o-background-size: cover;
      background-size: cover; }
  .contents-block02 .caution {
    position: absolute;
    bottom: 10px;
    left: 30px; }

.txt_coming {
  margin: 200px 0;
  text-align: center; }
