/*------------------------------------------
  Base
------------------------------------------*/

body {
  font-family: "Hiragino Kaku Gothic Pro", Helvetica, "Meiryo", "MS PGothic", Arial, Verdana, sans-serif;
  color: #000;
  line-height: 1.5;
  text-align: center;
  font-size: 10px;
}

figure {
  margin: 0;
}

a {
  color: #000;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

a:hover {
  opacity: .6;
  color: #333;
}

a img:hover {
  opacity: .6;
}

.w100 {
  width: 100%;
}

/*------------------------------------------
  Layout
------------------------------------------*/

/*  contents
-------------------------*/

.explain_area {
  background: #f9be02;
  font-family: Helvetica, sans-serif;
}

.explain_txt {
  padding: 7% 7%;
  text-align: left;
  line-height: 1.7;
}

.explain_note {
  padding-top: 15px;
  text-align: left;
  line-height: 1.7;
  font-size: 9px;
  font-family: Helvetica, sans-serif;
}

.explain_en {
  font-family: Helvetica, sans-serif;
  padding-bottom: 18px;
}

.recommend_area {
  background: #9ae9dc;
  display: block;
}

.recommend_ttl_en {
  padding-top: 16px;
  padding-bottom: 5px;
}

.recommend_ttl_ch {
  padding-bottom: 14px;
}

.item_area {
  width: 100%;
}

.shop_area {
  display: flex;
  flex-wrap: wrap;
  width: 92%;
  margin: 0 auto;
  padding: 0;
  justify-content: space-between
}

li.shop_box {
  width: 48%;
  background: #fff;
  box-sizing: border-box;
  display: block;
  border-radius: 5%;
  margin-bottom: 23px;
}

.shop_box img {
  width: 100%;
}

.shop_detail {
  text-align: left;
  padding: 12px 9px 13px 9px;
  font-family: Helvetica, sans-serif;
}

.shop_detail.last {
  padding-bottom: 28px;
}

.shop_floor {
  background: #02c8a7;
  color: #fff;
  padding: 1px 8px 1px 8px;
  display: inline-block;
  margin-bottom: 7px;
  letter-spacing: 0.5px;
}

.shop_name {
  font-weight: bold;
  font-size: 12px;
  line-height: 1.2;
  word-wrap: break-word;
  padding-bottom: 2px;
}

.shop_category {
  letter-spacing: 0.1px;
}

.more_btn {
  width: 100%;
  padding-bottom: 66px;
  margin-top: 6px;
}

.more_btn img {
  width: 91%;
  margin: 0 auto;
  display: block;
}

/*  footer
-------------------------*/

.page_footer {
  position: relative;
  text-align: center;
  background: #000;
  padding: 25px 0 21px;
}

.btn_top {
  display: none;
  position: fixed;
  bottom: 105px;
  right: 4px;
  width: 45px;
  height: 45px;
}

.btn_top.show{
  display: block;
}

.btn_top img {
  width: 100%;
  height: 100%;
}

.top_shop {
  padding: 0 40px;
  margin: 0 1px 13px 0;
}
/*------------------------------------------
  Clearfix
------------------------------------------*/

.clearfix {
  *zoom: 1;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
