/*

Reset Css

*/


/* http://meyerweb.com/eric/tools/css/reset/    v2.0 | 20110126   License: none (public domain)*/html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {    margin: 0;    padding: 0;    border: 0;    font-size: 100%;    font: inherit;    vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {    display: block;}body {    line-height: 1;}ol, ul {    list-style: none;}blockquote, q {    quotes: none;}blockquote:before, blockquote:after,q:before, q:after {    content: '';    content: none;}table {    border-collapse: collapse;    border-spacing: 0;}


/*
* Noto Sans Japanese (japanese) http://www.google.com/fonts/earlyaccess
*/
@font-face {
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-weight: 700;
    src: url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.otf) format('opentype');
}

html{
    font-size: 62.5%;
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-weight: 400;
}

body{

}


/* 


Contents


*/


.bg--colored{
    background-color: #f6f6f6;
}

.widthBinder{
    width: 100%;
    margin: 0 auto;
    padding:0 15px;
    box-sizing: border-box;
}

/* 


Font Styles

*/

.fontstyle--eng{
    font-family: Helvetica , "游ゴシック" , "Yu Gothic" , sans-serif;
}

/* 


Header

*/
.headerArea{
    width: auto;
    margin: 0 auto;
    text-align: center;
    padding-top: 33px;
    padding-bottom: 30px;
}
.logo{
    margin-top: 18px;
}

.logo img{
    width: 270px;
}

.subttl{
    display: inline-block;
    text-align: center;
    padding-bottom: 8px;
    width: 117px;
    border-bottom: 2px solid #000;
}

.subttl img{
    margin: 0 10px;        
}

.subscript{
    margin-top: 12px;
    line-height: 1.9;
    font-size: 1rem;
}

/* 

STAFF LIST

*/

.contentsList__ttl{
    margin-top: 40px;
    margin-bottom: 23px;
    text-align: center;
}

.contentsList__ttl img{
    width: 70px;
}

.contentsLists{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 26px;
}

.listItem{
    width: 48%;
    text-align: center;
}

.listItem__imgArea{
    position: relative;
    cursor: pointer;
}

.listItem__imgArea img{
    width: 100%;
}
.listItem__imgArea:before{
    content: "";
    display: block;
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;
    box-shadow: inset #fff100 0 0 0px 7px;   
    opacity: 0; 
    transition: opacity 0.3s;
}

.listItem__imgArea:hover:before{
    opacity: 1
}

.listItem.currentarticle .listItem__imgArea:before{
    opacity: 1    
}

.listItem__imgArea img{
    display: block;
}

.badge--fill{
    position: absolute;
    padding: 0.7rem 0.6rem;
    background-color: #fff100;
    top: 0;
    right: 0;
    font-size: 1rem;  
    color: #000;
}

.listItem__info{
    margin-top: 5px;
    color: #b1b1b1;
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1.6;
}

.listItem__info span:first-child::after{
    content: "\A";
    white-space: pre;
}

.listItem__name{
    margin-top: 3px;
    margin-bottom: 18px;
    font-weight: 700;
    font-size: 1.1rem;
}


/* 

bannerArea

*/

.bannerArea{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 45px 0;

}

.bnrItem{
    width: 100%;
    margin-bottom: 15px;
}


.bannerArea a img{
    width: 100%;
}




/* 


STAFF Page


*/


.ttlheaderArea {
    text-align: center;
    padding:10px 0 7px;
}

.ttlheaderArea img{
    text-align: center;
    width: 164px;
}

.heroArea{
    position: relative;
    width: 100%;
    /* overflow: hidden; */
    text-align: center;
}

.heroImgArea{
    position: relative;
    max-width: 1366px;
    margin: 0 auto;
}

.heroImgArea img{
    width: 100%;
}   


.heroInfoArea{
    background-color: #fff100;
    position: absolute;
    width: calc(100vw - 50px);
    left: 50%;
    transform: translateX(-50%);
    padding-top: 23px;
    padding-bottom: 7px;
    top: 88%;
}


.snsItem img{
    height: 23px;
    width: auto;
}

.badge--star{
    width: 45px;
    height: 43px;
    background-image: url(assets/images/ico_star.svg);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    margin: 0 auto;
}

.hero__info{
    margin-top: 15px;
    font-size: 1.3rem;
}

.btn--line{
    border: 1px solid #000;
    text-decoration: none;
    color: #000;
    display: inline-flex;
    align-content: center;
    justify-content: center;
    width: 85px;
    padding: 6px 0;
    margin-top: 15px;
}
.btn--line:hover{
    background-color: #000;
}

.btn--line img{
    height: 9px;
    margin-right: 6px;
}

.btn--line svg{
    width:57px; 
    height:9px;    
}
.btn--line:hover svg{
    fill: #fff
}

.arrow{
    width: 15px;
    position: relative;
    display: flex;
    align-items: center;
}

.btn--line:hover .arrow::before
,.btn--line:hover .arrow::after{
    background-color:#fff; 
}

.arrow::before{
    content: "";
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: block;
    position: absolute;
    background-color: #000;
    height: 1px;
    width: 15px;
}

.arrow::after{
    content: "";
    top: 50%;
    right: 0;
    transform-origin: 50% top;
    transform: rotate(-40deg)  translateY( calc( ( -50% - 2px)));
    display: block;
    position: absolute;
    background-color: #000;
    height: 4px;
    width: 1px;
}

.btn--line,
.arrow::after,
.arrow::before,
.btn--line svg{
    transition: all .3s;    
}

.hero__copy{
    margin-top:20px;
    font-size: 1.2rem;
}

.hero__name{
    margin-top: 6px;
    font-size: 3.2rem;
    font-weight: 700;
}

.hero__name--small{
    font-size: 2rem;
}

.hero__sns{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.hero__sns a{   
    color: #1f1f1f;
}

.snsItem{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.snsItem img{
    margin-right: 6px;
}

.snsItem a{
    margin-left: 3px;
}
.qaListArea{
    margin-top: 250px;
    padding: 0 24px;    
}

.qaList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 80px;
    padding-bottom: 60px;
}

.qaItem{
    margin-bottom: 33px;
    width: 100%;
}

.qaItem:last-child{
    width: 100%;
}

.qa_question{
    font-size: 1.2rem;
    font-weight: 700;
    border-bottom: 1px solid #000;
    padding-bottom: 13px;
    line-height: 1.3;
}

.ico_comment{
    vertical-align: top;
    width: 17px;
}

.qa_answer{
    padding-top: 12px;
    font-size: 1.2rem;
    color: #949494;
    line-height: 1.65;
}

/* 


staffListSlider

*/

.staffListSlider{
    background-color: #231815;
    padding-top: 25px;
    padding-bottom: 42px;
}

.staffListSlider .listItem{
    width: 36vw;
}

.staffListSlider .contentsLists{
    padding: 0 6vw;
}

.staffListSlider .contentsList__ttl{
    margin: 0;
    margin-bottom: 30px;
}

.staffListSlider .listItem__imgArea:before{
    box-shadow: inset #fff100 0 0 0px 3px;   
}


.staffListSlider .listItem:not(:last-child){
    margin-right: 3.5vw;
    margin-left: 3.5vw;
}

.slick-next{
    right: 0;
}

.slick-prev{
    left: 0;
}

.slick-prev:before, .slick-next:before{
    content: "";
    display: block;
    border: 1px solid #949494;
    width: 23px;
    height: 23px;
    border-bottom:  none;
    border-left:  none;
    transform: rotate(45deg)
}

.slick-prev:before{
    transform: rotate(-135deg)
}

/* 




*/

/* footer */

.footer {
    position: relative;
    padding: 30px 0;
    background: #000;
    text-align: center;
  }
  .btn-pagetop {
    position: absolute;
    top: -28px;
    width: 100%;
  }
  
  .footer__in {
    position: relative;
  }
  .footer .snsnlist {
    font-size: 0;
    text-align: center;
  }
  .footer .snsnlist li {
    display: inline-block;
    margin: 0 2px;
    vertical-align: top;
    font-size: 0;
    line-height: 0;
  }
  .footer .parco {
    margin-top: 32px;
  }
  .footer .copyright {
    margin-top: 30px;
  }
  .contents {
    margin-top: 30px;
  }
  
  