@charset "UTF-8";
/*-- Base --*/

@font-face {
    font-family: "NotoSansCJKjp";
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/NotoSansCJKjp-Regular.otf') format('opentype');
}

@font-face {
    font-family: "NotoSansCJKjp";
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/NotoSansCJKjp-Bold.otf') format('opentype');
}
html {
  font-size: 62.5%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  font-family: "Noto Sans", "NotoSansCJKjp", sans-serif;
  font-size: 12px;
  background-image: linear-gradient(#badff1 0%, #e2f0e4 20%, #fdfbf4 50%, #f2cadc);
  color: #262626;
  width: 100%;
  min-width: 1500px;
  line-height: 1.5;
  letter-spacing: 0.08em;
}
body.update0912 {
  background: #cda4a3;
}
a {
  color: #262626;
  text-decoration: underline;
}
a:hover {
  color: #595959;
}

/*  clearfix
------------------------------------------------------------*/
.clearfix, .itemList {
  *zoom: 1;
}
.clearfix:after, .itemList:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/*  movie_modal
------------------------------------------------------------*/
.movie-modal {
    /*display: none;*/
    z-index: 200;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -275px 0 0 -400px;
    text-align: center;
}
.movie-modal  .close_movie-modal {
    position: absolute;
    top: -40px;
    left: -40px;
    cursor: pointer;
    color: #000;
}
/*  modules
------------------------------------------------------------*/
.parco-header {
  text-align: left;
  background: #fff;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
}

.parco-header_in {
  height: 61px;
  width: 1500px;
  padding: 6px 24px 15px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
}

.parco-header_logo {
  padding: 6px 0 0 15px;
}

.parco-header_social {
  position: absolute;
  top: 13px;
  right: 33px;
}
.parco-header_social .social_item {
  float: left;
  width: 43px;
}

.contents {
  min-width: 980px;
  padding: 13px 0 60px;
  background: url(../images/bg_pattern.png) repeat-y center top;
  background-size: contain;
  box-sizing: border-box;
}

.mainLogo {
  text-align: center;
}

.sec-ttl {
  height: 51px;
  margin: 33px 0 50px;
  background: #000;
  color: #fff;
  font-size: 20px;
  line-height: 51px;
  text-align: center;
}

.contentsBlock {
  width: 980px;
  margin: 0 auto;
}

.contentsBlock .sec-hd {
  text-align: center;
  margin-bottom: 48px;
}

.floor-ttl {
  width: 980px;
  margin: 36px auto 35px;
}

.itemList {
  width: 980px;
}
.itemList li {
  background: #fff;
  float: left;
  width: 310px;
  margin: 0 25px 25px 0;
  position: relative;
  cursor: pointer;
}
.itemList li:nth-child(3n) {
  margin-right: 0;
}
.itemList a {
  display: block;
  text-decoration: none;
  transition: opacity .3s ease;
}
.itemList a:hover {
  opacity: 0.7;
}
.ribbon {
    position: absolute;
    top: -7px;
    right: 12px;
}

.listTxt_box {
  padding: 0 20px 20px 114px;
  position: relative;
  -ms-word-break: break-all;
  word-break: break-all;
}

.date {
  width: 70px;
  height: 92px;
  color: #ffffff;
  position: absolute;
  top: -8px;
  left: 20px;
  padding: 5px 8px 10px;
  text-align: center;
  font-size: 1.2rem;
  letter-spacing: -0.01em;
}
.date .day {
  font-size: 22px;
}
.date .week {
  border-bottom: 1px solid #ffffff;
  padding: -1px 0 5px;
  margin-bottom: 3px;
  font-size: 14px;
}
.new {
  font-size: 12px;
}
.logo {
  height: 100px;
  margin: 0 auto;
  padding: 10px 0 0;
  text-align: center;
  display: table;
  table-layout: fixed;
}
.logo .logo-img {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  padding-top: 7px;
}
.logo-img img {
  max-width: 176px;
  max-height: 65px;
}

.shopname {
  /*clear: right;*/
  margin-top: 15px;
  font-weight: bold;
  color: #332f3e;
  font-size: 1.6rem;
  line-height: 1.1;
}
.shopname span {
  font-size: 1.3rem;
}

.shop {
  color: #727171;
  font-size: 1.2rem;
  border-bottom: 1px dashed #727171;
  padding: 4px 0 8px;
  margin-bottom: 12px;
}

.shoptext {
  line-height: 1.4;
}

.oe-title {
  margin-top: 15px;
  font-size: 1.4rem;
  font-weight: bold;
}
.oe-text {
  margin-top: 5px;
  font-size: 1.3rem;
  line-height: 1.6;
}

.contentsBlock-type01 .date {
  background: #000;
}

.contentsBlock-type02 .date {
  background: #264a9e;
}

.contentsBlock-type03 .date {
  background: #00bd9c;
}

.contentsBlock-type03 a {
  color: #00bd9c;
}

/* modal */
.modal-area {
  display: none;
}
.modal__in {
  width: 890px;
  height: 470px;
  padding: 40px 0 120px;
  background: #fff;
  -webkit-background-size: 100% auto;
       -o-background-size: 100% auto;
          background-size: 100% auto;
  position: relative;
}
body.update0912 .modal__in {
  background: #fff;
}

.modal-img {
  margin: 0;
  padding: 0 0 0 40px;
  float: left;
  position: relative;
}
.modal-txt {
  width: 535px;
  padding: 0 45px;
  float: right;
  font-size: 13px;
  font-style: italic;
  font-family: 'ヒラギノ角ゴ ProN W3', "Hiragino Kaku Gothic ProN", Meiryo, メイリオ, Osaka, 'MS PGothic', sans-serif;
  text-align: left;
}
.modal-date {
  color: #e84693;
  font-size: 18px;
  font-weight: bold;
  font-family: "Noto Sans", "NotoSansCJKjp", sans-serif;
}
body.update0912 .modal-date {
  color: #dd6b47;
}
.modal-shop {
  margin: 20px 0 15px;
  padding: 0 0 0 16px;
  display: inline-block;
  border-left: 4px solid #e84693;
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
  font-family: 'ヒラギノ角ゴ ProN W6', "Hiragino Kaku Gothic ProN", Meiryo, メイリオ, Osaka, 'MS PGothic', sans-serif;
}
.modal_category {
    font-size: 13px;
    padding-top: 2px;
}
body.update0912 .modal-shop {
  border-left: 4px solid #dd6b47;
}
.modal-shop a {
  text-decoration: none;
}
.modal-shop i {
  width: 13px;
  height: 9px;
  margin: 0 0 3px 8px;
  background: url(../images/icon_arrow01.png) no-repeat center center;
  display: inline-block;
}
.modal-new i{
  display: none;
}
.modal-plan {
  margin-top: 32px;
  color: #e84693;
  font-size: 18px;
  font-weight: bold;
  font-family: "Noto Sans", "NotoSansCJKjp", sans-serif;
}

.opening {
  margin: 30px 0 15px;
  padding: 0 0 0 9px;
  display: inline-block;
  border-left: 4px solid #5b9696;
  font-size: 16px;
  font-weight: bold;
  line-height: 22px;
  font-family: 'ヒラギノ角ゴ ProN W6',"Hiragino Kaku Gothic ProN", Meiryo, メイリオ, Osaka, 'MS PGothic', sans-serif;
}
.remodal-close:before {
    width: 804px;
    height: 45px;
    background: #000 url(../images/btn_close.png) no-repeat center center;
    position: absolute;
    top: 375px;
    left: 50%;
    margin-left: 27px;
}

.more_introduce {
  margin: 45px 0 63px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.bnrs {
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.bnr {
  margin: 0 10px;
}
.sns_list {
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.sns_item {
  margin: 0 12px;
}
.sns_item.facebook {
  position: relative;
  top: -2px;
}
/* footer */

.footer {
	padding: 86px 0 112px;
	background: #000;
	text-align: center;
}
.copyright {
  margin-top: 26px;
	font-size: 10px;
	font-family: "Noto Sans", "NotoSansCJKjp", sans-serif;
	color: #fff;
}
.pageTop {
  position: fixed;
  right: 40px;
  bottom: 113px;
}
.pageTop a {
    opacity: 1;
    transition: 0s;
}
