@charset "UTF-8";

@font-face {
  font-family: "MyYuGothicM";
  font-weight: normal;
  src: local("YuGothic-Medium"), /* Postscript name */
  local("Yu Gothic Medium"), /* for Chrome */
  local("YuGothic-Regular"); /* Mediumがない場合 */
}
@font-face {
  font-family: "MyYuGothicM";
  font-weight: bold;
  src: local("YuGothic-Bold"), /* Postscript name */
  local("Yu Gothic"); /* for Chrome */
}

/* Reset
------------------------------------------------------------*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, label, input, textarea, p, blockquote, th, td {
	margin:0;
	padding:0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	font-size: inherit;
}
td, th {
	text-align: left;
	vertical-align: top;
	font-weight: normal;
}
img {
	border: none;
	vertical-align: bottom;
}
address, caption, cite, code, dfn, em, strong, th, var {
	font-style: normal;
	font-weight: normal;
}
ol, ul, li {
	list-style: none;
}
caption, th {
	text-align: left;
	vertical-align: top;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}
br {
	letter-spacing: normal;
}
hr {
	display: none;
}

#wrapper a {
	/*text-decoration: none;*/
	color: #E30920;
	outline: none;
}
#wrapper a:hover {
	text-decoration: none;
	color: #E30920;
}
#wrapper a:hover img {
	filter: alpha(opacity=80);
	-moz-opacity:0.80;
	opacity:0.80;
}

/* clearfix
-----------------------------------------------------------*/
.clearfix:after {
	clear: both;
	content:".";
	display: block;
	height: 0;
	visibility: hidden;
}

/*! --------------------------------

normalize.css v3.0.2 | MIT License | git.io/normalize

-------------------------------- */

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

/* --------------------------------

Primary style

-------------------------------- */

html {
    font-size: 62.5%;
}

body {
  /*min-width: 1240px;*/
	min-width: 1018px;
  border: 30px solid #bf6464;
  height: 100%;
  text-align: center;
  color: #000;
  background: #fff;
  /*font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;*/

  font-family:
  MyYuGothicM, /* Windows 游ゴシック */
  YuGothic, /* macOS 游ゴシック */
  "Hiragino Kaku Gothic ProN", /* macOS, iOS ヒラギノ */
  Meiryo, /* Windows メイリオ */
  sans-serif;

  font-size: 12px;
  font-size: 1.2rem;
}
a:hover{
  opacity: 0.7;
}

.wrapper {
	background: #fff url('../images/bg_stripe.png') repeat-y center top -50px;
}
header{
	width: 100%;
	max-width: 1240px;
  margin: 0 auto;
	padding-top: 50px;
	position: relative;
}
.balloon {
	position: absolute;
	top: 275px;
  left: 90px;
}
.header_sns{
	width: 1000px;
	height: 69px;
	margin: 0 auto;
  display: flex;
	align-items: center;
	justify-content: center;
  position: absolute;
  top: 130px;
	left: calc(50% - 500px);

	background-image: url('../images/left.png'), url('../images/right.png');
	background-repeat: no-repeat, no-repeat;
	background-position: center left 355px, center right 355px;
}
.header_sns_instagram {
	margin-right: 6px;
}
.header_sns_twitter {
	margin-left: 6px;
}
.header-ttl{
	position: relative;
}
.ribbon{
	font-size: 21px;
	font-weight: bold;
	color: #fff;
	background: url(../images/tag.png) no-repeat 50% 0 ;
}
.ribbon p{
	padding-top: 67px;
	width: 100%;
  height: 60px;
	max-width: 1000px;
  text-align: center;
  margin: 21px auto 0;
  letter-spacing: 0.1em;
}

/* --------------------------------

main

-------------------------------- */
.shopList{
	-webkit-padding-start: 0px;
	width: 1000px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0;
}
.shopList::before{
	content: "";
    display: block;
    width: 184px;
    order: 1;
}
.shopList::after{
	content: "";
    display: block;
    width: 184px;
}
.shop{
	position: relative;
	display: inline-block;
	width: 184px;
	background: #fff;
	border: solid 1px #bf6464;
	margin-bottom: 50px;
/*liの最後の列を左寄せにするための記述*/
/*height: 0;
margin-top: 0;
margin-bottom: 0;
padding-top: 0;
padding-bottom: 0;*/
}

.shop_img{
	width: 160px;
  margin: 0 auto;
  border-bottom: solid 1px #bf6464;
	margin-top: 25px;
}
.shop_img img{
	width: 100%;
}
.floor{
	background-color: #bf6464;
	width: 80px;
  height: 25px;
	line-height: 25px;
  position: absolute;
  top: 0;
  left: 0;
	-webkit-margin-before: 0em;
	font-size: 13px;
	font-weight: normal;
	color: #fff;
	margin:0;
}
.new_floor {
	background-color: #b28850;
}
.box{
	margin: 0 auto;
	width: 1000px;
}
.sns{
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.instagram{
	padding-right:30px;
	border-right: solid 1px #bf6464;
	box-sizing: border-box;
}
.twitter{
	padding-left: 30px;
}
.ishop{
	border: none;
	z-index: -2;
}


.pageTop {
	text-align: right;
}
.copyright {
	margin: 40px 0 0;
	color: #888;
	font-size: 8px;
}

.bg_01{
	z-index: -1;
  position: absolute;
  top: -90;
  left: 340px;
}
.pageTop{
	/*width: 1300px;*/
	margin: 0 auto;
}
