@charset "UTF-8";

/*! --------------------------------

normalize.css v3.0.2 | MIT License | git.io/normalize

-------------------------------- */

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden],
template {
    display: none;
}

a {
    background-color: transparent;
}

a:active,
a:hover {
    outline: 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

h1 {
    margin: 0.67em 0;
    font-size: 2em;
}

mark {
    color: #000;
    background: #ff0;
}

small {
    font-size: 80%;
}

sub,
sup {
    position: relative;
    vertical-align: baseline;
    font-size: 75%;
    line-height: 0;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 1em 40px;
}

hr {
    box-sizing: content-box;
    height: 0;
}

pre {
    overflow: auto;
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    color: inherit;
    font: inherit;
}

button {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0;
}

input {
    line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"] {
    box-sizing: content-box;
    -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

fieldset {
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
    border: 1px solid #c0c0c0;
}

legend {
    padding: 0;
    border: 0;
}

textarea {
    overflow: auto;
}

optgroup {
    font-weight: bold;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

td,
th {
    padding: 0;
}

.main {
    *zoom: 1;
}

.main:after {
    display: table;
    clear: both;
    content: "";
}

.nav-in li a {
    overflow: hidden;
    white-space: nowrap;
    text-indent: 100%;
}


/* --------------------------------

Primary style

-------------------------------- */

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

html {
    font-size: 62.5%;
}

body {
    text-align: center;
    color: #000;
    background-color: #fff;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
    font-size: 12px;
    font-size: 1.2rem;
}

a {
    text-decoration: none;
    color: #000;
}


/* --------------------------------

Main Components

-------------------------------- */

.header {
    width: 100%;
    height: 500px;
    background: url(../images/bg_header.jpg) no-repeat center top;
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    position: relative;
}
.header-ttl {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
       -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
         -o-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
}
.band p {
    background-image:url(../images/bnr.png) no-repeat;
    font-family: YuGo;
    width: 100%;
    margin: 0;
    padding: 25px 0;
    font-size: 24px;
    line-height: 0;
    color: #fff;
    text-align: center;
}
.main {
    position: relative;
    margin-bottom: 60px;
}

.main .main-in {
    /*max-width: 1740px;*/
    margin: 0 auto;
}

@-webkit-keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.block-sale .conditions-box {
  background: url("../images/ttl_bg.png") repeat 0 0;
  -webkit-background-size: 346px;
       -o-background-size: 346px;
          background-size: 346px;
  color: #fff;
  font-weight: bold;
  font-size: 17px;
  font-size: 1.7rem;
  text-align: center;
  padding: 8px 0;
  margin-bottom: 30px;
}
.block-sale .conditions-box img{
  vertical-align: middle;
  height: 18px
}
.shopList {
  padding: 0 12px 20px;
}
.shopList .shopList_item {
  position: relative;
  vertical-align: top;
  float: left;
  background: #fff;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  /*padding: 7px; 福岡のショップ画像の時*/
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 47%;
  margin: 0 1% 10px;
  font-size: 12px;
  font-size: 1.2rem;
  border: 2px solid #A40000;
}
.shopList .shopList_item:nth-child(even) {
  float: right;
}
/*fukuoka*/
.shopList .shopList_item .list-shop img {
  border-radius: 5.5px 5.5px 0 0;
}
.shopList .shopList_item .list-img {
  padding: 10px 0;
  text-align: center;
}
.shopList .shopList_item .list-img img {
  max-width: 250px;
}
.shopList .shopList_item .list-icon {
  position: absolute;
  right: 7px;
  top: 0;
}
.shopList .shopList_item .list-icon ul li {
  display: inline-block;
}
.shopList .shopList_item .list-text {
  border-top: 1px solid #000;
  /*padding-top: 10px;*/
  padding: 10px 7px 7px; /*福岡用*/
  text-align: left;
  -ms-word-break: break-all;
  word-break: break-all;
}
.shopList .shopList_item .floor {
  color: #fff;
  background: #b58b3b;
  font-size: 10px;
  font-size: 1rem;
  padding: 3px 5px;
  display: inline-block;
  margin-bottom: 6px;
}
.shopList .shopList_item .shopName {
  font-weight: bold;
  padding-bottom: 5px;
}
.shopList .shopList_item .shopCategory {
  font-size: 10px;
  font-size: 1rem;
}
.nav-in {
    width: 530px;
    margin: 60px auto 0;
    padding: 0;
}

.nav-in li {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
}

.nav-in li a {
    display: block;
    height: 31px;
    background: url('../images/nav.png?1441590929');
}

.nav-in li a.sort {
    width: 67px;
    pointer-events: none;
    background-position: 0 0;
}

.nav-in li a.all {
    width: 83px;
    background-position: -67px 0;
}

.nav-in li a.all:hover {
    background-position: -67px -31px;
}

.nav-in li a.mens {
    width: 84px;
    background-position: -150px 0;
}

.nav-in li a.mens:hover {
    background-position: -150px -31px;
}

.nav-in li a.ladies {
    width: 97px;
    background-position: -234px 0;
}

.nav-in li a.ladies:hover {
    background-position: -234px -31px;
}

.nav-in li a.goods {
    width: 97px;
    background-position: -331px 0;
}

.nav-in li a.goods:hover {
    background-position: -331px -31px;
}

.nav-in li a.foods{
    width: 81px;
    background-position: -428px 0;
}

.nav-in li a.foods:hover {
    background-position: -428px -31px;
}

body.category-all .nav-in .all {
    background-position: -67px -31px;
}

body.category-mens .nav-in .mens {
    background-position: -150px -31px;
}

body.category-ladies .nav-in .ladies {
    background-position: -234px -31px;
}

body.category-goods .nav-in .goods {
    background-position: -331px -31px;
}

body.category-foods .nav-in .foods {
    background-position: -428px -31px;
}

body.category-all .item-all,
body.category-mens .item-mens,
body.category-ladies .item-ladies,
body.category-goods .item-goods,
body.category-foods .item-foods {
    display: block;
    -webkit-animation-name: show 0.5s linear 0s forwards;
    -moz-animation-name: show 0.5s linear 0s forwards;
    animation-name: show 0.5s linear 0s forwards;
    -webkit-animation-timing-function: east-out;
    -moz-animation-timing-function: east-out;
    animation-timing-function: east-out;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -moz-animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#photo-wrap {
    width: 100%;
    margin: 0 auto;
    padding-top: 60px;
}

.photo-block {
    position: relative;
    float: left;
    overflow: hidden;
    width: 580px;
    height: 580px;
    margin-bottom: 3px;
}
/*
.photo-block.blk {
    border: 8px solid #0a0909;
}

.photo-block.red {
    border: 8px solid #ca191d;
}

.photo-block.orange {
    border: 8px solid #ed6f25;
}*/

.photo-link {
    display: block;
    cursor: default;
}

.photo-link .visual {
    -webkit-transition: -webkit-transform 0.8s ease;
    -moz-transition: -moz-transform 0.8s ease;
    -o-transition: -o-transform 0.8s ease;
    transition: transform 0.8s ease;
}

.photo-link:hover .visual {
    -webkit-transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
}

.photo-hover {
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
    width: 580px;
    height: 580px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: left;
/*    background: rgba(255, 255, 255, 0.7);*/
    background: url("../images/bg_fade-wrap.png") no-repeat center;

}




.ribbon {
    text-align: center;
}
.new-icon {
    position: absolute;
    top: 35px;
    right: 56px;
    z-index: 1000;
}
.photo-hover .hover-ttl {
    text-align: left;
    font-size: 14px;
    font-size: 1.4rem;
    padding: 0 30px;
    font-weight: bold;
}

.photo-hover .hover-ttl span {
    font-weight: normal;
}

.photo-hover .hover-img {
    max-width: 370px;
    margin: 30px auto 20px;
    text-align: center;
}

.photo-hover .hover-img img{
    margin-bottom: 30px;
}

.photo-hover .hover-img:after{
    content: "";
    display: block;
    height: 2px;
    width: 100%;
background: -moz-linear-gradient(left,  #d01a5c 0%, #64b4cc 50%, #f5f378 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #d01a5c 0%,#64b4cc 50%,#f5f378 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #d01a5c 0%,#64b4cc 50%,#f5f378 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d01a5c', endColorstr='#f5f378',GradientType=1 ); /* IE6-9 */

}

.photo-hover .hover-text {
    width: 370px;
    margin: 0 auto;
    padding: 0  30px ;
}

@-webkit-keyframes fadeInLeft {
    0% {
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-moz-keyframes fadeInLeft {
    0% {
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-o-keyframes fadeInLeft {
    0% {
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes fadeInLeft {
    0% {
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.fadeInLeft {
    width: 510px;
    height: 510px;
    position: relative;
    -webkit-animation-name: fadeInLeft;
    -moz-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}
.fade-wrap {
    display: inline-block;
     position: absolute;
     top: 50%;
     left: 50%;
     -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
         -ms-transform: translate(-50%,-50%);
          -o-transform: translate(-50%,-50%);
             transform: translate(-50%,-50%);
}
.animated {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}


.box{
    border-top: 3px solid #f5f378;
    border-bottom: 3px solid #d01a5c;
    position: relative;
    padding: 65px 45px;
    width: 460px;
    height: 460px;
    margin-top: 70px;
    margin-left: 70px;

}

.box:before,
.box:after{
    content: "";
    display: block;
    width: 3px;
    height: 100%;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f5f378+0,64b4cc+50,d01a5c+100 */
background: #f5f378; /* Old browsers */
background: -moz-linear-gradient(top,  #f5f378 0%, #64b4cc 50%, #d01a5c 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #f5f378 0%,#64b4cc 50%,#d01a5c 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #f5f378 0%,#64b4cc 50%,#d01a5c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f378', endColorstr='#d01a5c',GradientType=0 ); /* IE6-9 */
}

.box:before{
    position: absolute;
    left: 0px;
    top: 0px;
}

.box:after{
    position: absolute;
    right: 0px;
    top:0px;
}

.footer-sns {
    height: 145px;
    padding: 60px 0 0;
    background: #e7e7ee;
}

.footer-sns-in {
    width: 240px;
    margin: 0 auto;
    padding: 0;
}

.footer-sns-in li {
    display: inline-block;
    float: left;
    width: 50%;
    padding: 10px 0;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
}

.footer-sns-in li:first-child {
    padding: 10px 10px 10px 0;
    border-right: 1px solid #000;
}

.footer-link {
    height: 200px;
    padding-top: 75px;
    background: #fabfcc;
}

.footer-link-in {
    position: relative;
    left: 50%;
    min-width: 550px;
    max-width: 1060px;
    margin: 0;
    list-style: none;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.footer-link-in > li {
    position: absolute;
}

.footer-link-in > li:first-child {
    top: 10px;
    left: 10px;
}

.footer-link-in > li:nth-child(2) {
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.footer-link-in > li:last-child {
    top: 10px;
    right: 10px;
}

.footer-link-in > li a {
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

.footer-link-in > li a:hover {
    opacity: 0.5;
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=50);
}

.footer-copyright {
    padding: 80px 65px;
    background: #282828;
}

.footer-copyright p {
    margin-bottom: 25px;
}

.bnr a:hover {
    opacity: 0.5;
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=50);
}

/*! --------------------------------

Tools

-------------------------------- */
