@charset "utf-8";

////colors////

$pink01: #fdf6f1;
$pink02: #C8523D;
$pink03: #F7C9D6;

$green01:#074B51;

$gray01: #DCDCDC;


////font////
body{
  font-family: 'Noto Sans JP', sans-serif;
}

////wight////
$regular: 400;
$medium: 500;
$bold: 700;

/* =========================================================
header
========================================================= */
.header {
  background-color: #E2E7E5;
  &__title {
    text-align: center;
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
    &.view{
      opacity: 1;
    }
    img {
      vertical-align: bottom;
    }
  }
}
@media screen and (min-width:769px) {
  .header {
    &__title {
      img {
        width: 100%;
        // width: auto;
        // max-width: 100%;
      }
    }
  }
}


/* =========================================================
Main
========================================================= */
.main-contents {
  overflow: hidden;
  background-color: #E2E7E5;
  padding-bottom: 100px;
  margin-bottom: -70px;
  @media screen and (min-width: 769px) {
    padding: 0 20px 154px;
  }
  @media screen and (max-width: 768px) {
    padding-bottom: 124px;
    margin-bottom: -52px;
  }
}

.pft{
  @media screen and (min-width: 769px) {
    padding-top: 86px;
    padding-bottom: 102px;
  }
}

/* =========================================================
Local navi
========================================================= */
.localnav {
  max-width: 1200px;
  margin: 30px auto 0;
  padding: 0 20px;
  @media screen and (min-width: 769px) {
    padding: 0;
  }
  &-list {
    display: flex;
    flex-wrap: wrap;
  }
  &-item {
    width: calc(50% - 5px);
    margin: 10px 10px 0 0;
    &:nth-child(-n+2) {
      margin-top: 0;
    }
    &:nth-child(2n) {
      margin-right: 0;
    }
    a,
    button {
      width: 100%;
      height: 40px;
      font-size: 13px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #000;
      color: #000;
      text-decoration: none;
    }
  }
}


/* =========================================================
New&Renew items
========================================================= */
[v-cloak] {
  display: none;
}

.newrenew-block {
  max-width: 1024px;
  margin: 0 auto;
  padding: 90px 20px 0;
  @media screen and (max-width: 768px) {
    padding: 45px 20px 0;
  }
  @media (min-width: 769px) {
    // padding: 0;
  }
  .list-block {
    margin: 0 auto 80px;
    @media (min-width: 769px) {
      margin: 0 auto 106px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  .list-ttl {
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
    font-weight: $regular;
    margin: 0 auto 48px;
    text-align: center;
    @media screen and (max-width: 768px) {
      font-size: 44px;
    }
  }
}

[class*="item-list"] {
  .item {
    background: #fff;
    position: relative;
  }
  .badge-l {
    background: $pink02;
    color: #fff;
    position: absolute;
  }
  .badge-r {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    .txt {
      color: #fff;
    }
  }
  .open-event {
    .ttl {
      color: $pink02;
      font-weight: $bold;
    }
  }
  .link-list {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .link-item {
    a {
      border-radius: 50%;
      background: $green01;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      transition: background .2s ease;
      &:hover {
        @media (min-width: 769px) {
          background: $pink02;
        }
      }
    }
  }
}

@mixin triangleTL ($color: #000) {
  background: linear-gradient(to top left, rgba(255,255,255,0) 50%, $color 50.5%) no-repeat top left/100% 100%;
}

.item-list01 {
  .item {
    margin: 0 auto 47px;
    @media (min-width: 769px) {
      margin: 0 auto 100px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  .front-cont{
    @media (min-width: 769px) {
      display: flex;
      align-items: center;
      flex-flow: row-reverse;
      .img-wrap{
        width: 47.85%;
      }
    }
  }
  .badge-l {
    padding: 18px 6px 18px 25px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    top: -28px;
    left: -9px;
    &:after{
      @include triangleTL($pink02);
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      top: 0;
      right: -20px;
      width: 20px;
    }
    @media (min-width: 769px) {
      top: -17px;
      left: -7px;
      padding: 20px 18px 23px 35px;
    }
    > * {
      margin-right: .25em;
      line-height: 1;
      font-family: 'Montserrat', sans-serif;
      font-weight: $regular;
      &:last-child {
        margin-right: 0;
      }
    }
    .date {
      font-size: 24px;
      @media (max-width: 360px) {
        font-size: 20px;
      }
      @media (min-width: 769px) {
        font-size: 34px;
      }
    }
    .weeks {
      font-size: 18px;
      line-height: 21px;
      letter-spacing: .04em;
      @media (max-width: 360px) {
        font-size: 16px;
      }
      @media (min-width: 769px) {
        font-size: 22px;
        line-height: 25px;
      }
    }
    .new-renew {
      font-size: 24px;
      letter-spacing: .04em;
      @media (max-width: 360px) {
        font-size: 20px;
      }
      @media (min-width: 769px) {
        font-size: 28px;
      }
    }
  }
  .badge-r {
    background: url("../images/icon.png") no-repeat 50% 0;
    background-size: 100%;
    width: 96px;
    height: 97px;
    top: -37px;
    right: -13px;
    @media (min-width: 769px) {
      width: 118px;
      height: 119px;
      top: -17px;
      right: -15px;
    }
    .txt {
      font-size: 16px;
      line-height: 1;
      font-weight: $bold;
    }
  }
  .detail {
    padding: 0 30px 30px;
    @media (min-width: 769px) {
      margin: 20px auto 0;
      max-width: 390px;
      padding: 0 20px;
      width: 39%;
    }
  }
  .shop-info {
    padding: 0 0 20px;
    border-bottom: 1px solid $gray01;
    @media (min-width: 769px) {
      // width: calc(50% - 20px);
      border-bottom: none;
    }
  }
  .logo {
    height: 105px;
    margin: 2px auto 18px;
    border-bottom: 1px solid $gray01;
    padding-bottom: 4px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (min-width: 769px) {
      margin: 0 auto 15px;
      padding-bottom: 17px;
    }
    img {
      width: auto;
      height: 100%;
      flex-shrink: 0;
    }
  }
  .shop {
    font-size: 16px;
    font-weight: $medium;
    line-height: 1.56;
    text-align: center;
  }
  .floor {
    margin: 16px auto 0;
    font-size: 14px;
    line-height: 1;
    font-weight: $regular;
    text-align: center;
    @media (min-width: 769px) {
      margin: 19px auto 0;
    }
  }
  .ctg {
    margin: 10px auto 0;
    font-size: 14px;
    line-height: 1.78;
    font-weight: $regular;
    text-align: center;
  }
  .txt-wrap {
    margin: 20px auto 0;
    font-size: 14px;
    line-height: 1.78;
    @media (min-width: 769px) {
      margin: 0;
      padding: 30px 0 0;
    }
  }
  .open-event {
    margin: 20px auto 0;
    .ttl {
      margin: 0 auto 1em;
      font-size: 16px;
      font-weight: $bold;
    }
  }
  .link-list {
    margin: 35px auto 0;
    @media (min-width: 769px) {
      margin: 50px auto 0;
    }
  }
  .link-item {
    margin: 0 15px 0 0;
    &:last-child {
      margin-right: 0;
    }
    a {
      width: 42px;
      height: 42px;
    }
  }
  .more {
    margin-top: 17px;
    width: 100%;
    @media (min-width: 769px) {
      margin-top: 20px;
    }
    button {
      width: 100%;
      height: 50px;
      background: $green01;
      color: #fff;
      font-size: 20px;
      font-family: 'Montserrat', sans-serif;
      font-weight: $regular;
      line-height: 1;
      letter-spacing: .2em;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    }
}

.item-list02 {
  display: flex;
  flex-wrap: wrap;
  .item {
    width: 47.762%;
    position: relative;
    box-sizing: border-box;
    background-color: transparent;
    margin-top: 49px;
    @media (min-width: 769px) {
      width: 32.03%;
      margin-top: 70px;
      margin-right: 1.955%;
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3) {
        margin-top: 0;
      }
      &:nth-child(3n){
        margin-right: 0;
      }
    }
    @media (max-width: 768px) {
      margin-right: 4.476%;
      &:nth-child(1),
      &:nth-child(2) {
        margin-top: 0;
      }
      &:nth-child(2n){
        margin-right: 0;
      }
    }
    &-inner {
      background-color: #fff;
      height: 100%;
    }
  }
  .front-cont {
    background: #fff;
    height: 100%;
    position: relative;
    .badge-l {
      // padding: 10px 20px 10px 14px;
      padding: 8px 2px 6px 2px;
      top: -25px;
      left: 0;
      word-break: break-all;
      width: 53px;
      &:after{
        @include triangleTL($pink02);
        content: "";
        display: block;
        height: 15px;
        position: absolute;
        left: 0;
        bottom: -15px;
        width: 53px;
      }
      > * {
        font-family: 'Montserrat', sans-serif;
        font-weight: $regular;
      }
      @media (min-width: 769px) {
        width: 70px;
        padding: 13px 2px 11px;
        box-sizing: border-box;
        text-align: center;
        top: -19px;
        left: -7px;
        &:after{
          height: 20px;
          bottom: -20px;
          width: 70px;
        }
      }
      @media (max-width: 768px) {
        max-width: 98px;
        word-break: break-word;
        box-sizing: border-box;
        text-align: center;
      }
      .date {
        font-size: 20px;
        line-height: 1;
        @media (max-width: 360px) {
          font-size: 13px;
        }
        @media (min-width: 769px) {
          font-size: 24px;
          margin: 0 auto 5px;
        }
      }
      .weeks {
        font-size: 12px;
        letter-spacing: .04em;
        @media (max-width: 360px) {
          margin: 0;
          font-size: 11px;
        }
        @media (min-width: 769px) {
          font-size: 16px;
          margin: 0;
        }
      }
      .new-renew {
        margin: 4px auto 0;
        font-size: 12px;
        line-height: 1;
        letter-spacing: .02em;
        &:before{
          background-color: #fff;
          content: "";
          height: 1px;
          margin: 6px auto 5px;
          display: block;
          width: 35px;
        }
        @media (max-width: 360px) {
          // font-size: 13px;
        }
        @media (min-width: 769px) {
          font-size: 16px;
          line-height: 1.2;
          &:before{
            margin: 8px auto 4px;
            width: 50px;
          }
        }
      }
    }
    .badge-r {
      background: url("../images/icon.png") no-repeat 50% 0;
      background-size: 100%;
      width: 96px;
      height: 97px;
      top: -19px;
      right: -10px;
      padding: 5px;
      box-sizing: border-box;
      text-align: center;
      @media (max-width: 768px) {
        width: 68px;
        height: 69px;
        top: -33px;
        right: -10px;
      }
      .txt {
        font-size: 14px;
        line-height: 1.2;
        font-weight: $bold;
      }
    }
    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      height: 115px;
      margin: 0 auto 18px;
      padding-bottom: 10px;
      border-bottom: solid 1px #DCDCDC;
      box-sizing: border-box;
      @media (max-width: 768px) {
        height: 70px;
      }
      img {
        width: auto;
        max-width: 100%;
        max-height: 100%;
        flex-shrink: 0;
      }
      img[src=""] {
         display: none;
      }
    }
    .detail {
      padding: 13px 20px 50px;
      font-size: 14px;
      line-height: 1.42;
      text-align: center;
      @media (min-width: 769px) {
        padding: 30px 20px 20px;
        font-size: 16px;
      }
    }
    .img {
      height: 328px;
      display: flex;
      align-items: center;
      justify-content: center;
      @media (max-width: 768px) {
        height: 42.667vw;
      }
      img {
        width: auto;
        max-width: 100%;
        max-height: 100%;
        flex-shrink: 0;
      }
    }
    .shop{
      font-size: 16px;
      font-weight: $regular;
      line-height: 1.6;
      @media (max-width: 768px) {
        font-size: 14px;
      }
    }
    .floor,
    .ctg {
      font-size: 14px;
      margin: 12px auto 0;
      font-weight: $regular;
      @media (max-width: 768px) {
        margin-top: 9px;
      }
    }
    .more {
      margin-top: 23px;
      width: 100%;
      @media (max-width: 768px) {
        margin-top: 0;
        position: absolute;
        bottom: 0;
        left: 0;
      }
      button {
        width: 100%;
        height: 30px;
        background: $green01;
        color: #fff;
        font-size: 14px;
        line-height: 1;
        letter-spacing: .2em;
        display: flex;
        align-items: center;
        justify-content: center;
        @media (min-width: 769px) {
          height: 50px;
          font-size: 20px;
        }
      }
    }
  }
}

.newrenew-modal {
  .modal-wrap {
    width: calc(100vw - 40px);
    max-width: 900px;
    margin: 0 auto;
    position: relative;
    @media (min-width: 769px) {
      width: calc(100vw - 140px);
      max-width: 1024px;
      box-sizing: border-box;
    }
  }
  .modal-cont {
    padding: 0 0 40px;
    background: #fff;
    box-sizing: border-box;
    @media (min-width: 769px) {
      height: calc(100vh - 240px);
      max-height: 680px;
      padding: 50px 50px 30px;
      overflow: auto;
    }
  }
  .badge-wrap {
    @media (min-width: 769px) {
      display: flex;
      position: absolute;
      top: -20px;
      left: -20px;
    }
  }
  .badge-l {
    padding: 18px 6px 18px 25px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    top: -19px;
    left: -9px;
    z-index: 2;
    &:after{
      @include triangleTL($pink02);
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      top: 0;
      right: -20px;
      width: 20px;
    }
    @media (min-width: 769px) {
      top: -21px;
      padding: 22px 18px 24px 35px;
    }
    > * {
      margin-right: .25em;
      line-height: 1;
      font-family: 'Montserrat', sans-serif;
      font-weight: $regular;
      &:last-child {
        margin-right: 0;
      }
    }
    .date {
      font-size: 24px;
      @media (max-width: 360px) {
        font-size: 20px;
      }
      @media (min-width: 769px) {
        font-size: 34px;
      }
    }
    .weeks {
      font-size: 18px;
      line-height: 21px;
      letter-spacing: .04em;
      @media (max-width: 360px) {
        font-size: 16px;
      }
      @media (min-width: 769px) {
        font-size: 22px;
        line-height: 25px;
      }
    }
    .new-renew {
      font-size: 24px;
      letter-spacing: .04em;
      @media (max-width: 360px) {
        font-size: 20px;
      }
      @media (min-width: 769px) {
        font-size: 28px;
      }
    }
  }
  .badge-r {
    background: url("../images/icon.png") no-repeat 50% 0;
    background-size: 100%;
    font-size: 16px;
    width: 97px;
    height: 98px;
    top: -35px;
    right: -12px;
    z-index: 1;
    .txt {
      color: #fff;
      font-size: 16px;
      line-height: 1;
      font-weight: $bold;
    }
    @media (min-width: 769px) {
      width: 118px;
      height: 119px;
      top: -25px;
      right: -13px;
    }
  }
  .cont-wrap {
    @media screen and (min-width: 769px) {
      display: flex;
      justify-content: space-between;
    }
  }
  .img-wrap {
    position: relative;
    @media screen and (min-width: 769px) {
      width: 490px;
      margin-right: 30px;
    }
  }
  .img-slider {
    position: relative;
    .slick-arrow {
      position: absolute;
      top: calc(50% - 15px);
      transform: translateY(-50%);
      z-index: 1;
      &.prev {
        left: 5px;
      }
      &.next {
        right: 5px;
      }
      button {
        display: block;
        width: 35px;
        height: 35px;
        background: #fff;
        border: 1px solid $pink02;
        border-radius: 50%;
        &:before {
          content: "";
          display: block;
          width: 10px;
          height: 10px;
          border-top: 1px solid $pink02;
          border-left: 1px solid $pink02;
          position: absolute;
          top: 12px;
          left: 14px;
          transform: rotate(-45deg);
        }
        &.slick-next {
          transform: scale(-1,-1);
        }
      }
    }
    .slick-dots {
      margin: 15px auto 0;
      display: flex;
      align-items: center;
      justify-content: center;
      li {
        margin: 0 15px 0 0;
        &:last-child {
          margin: 0;
        }
      }
      button {
        width: 15px;
        height: 15px;
        background: $pink02;
        border-radius: 50%;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
      }
      .slick-active {
        button {
          background: $pink03;
        }
      }
    }
  }
  .detail {
    margin: 11px auto 0;
    padding: 0 30px;
    box-sizing: border-box;
    @media screen and (min-width: 769px) {
      width: calc(100% - 500px - 30px);
      margin: 0;
      padding: 0;
    }
  }
  .dateWrap {
    display: flex;
    justify-content: center;
    &-date {
      font-size: 14px;
      color: #fff;
      padding: 4px 8px 3px;
      background-color: #D55D6B;
    }
    &-first {
      margin-left: 10px;
      padding: 4px 8px 3px;
      border: solid 1px #43868E;
      color: #43868E;
      font-size: 14px;
    }
  }
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 205px;
    height: 105px;
    margin: 0 auto 20px;
    border-bottom: none;
    padding: 0;
    img {
      width: auto;
      height: 100%;
      flex-shrink: 0;
    }
    img[src=""] {
    display: none;
    }
  }
  .shop {
    border-top: 1px solid #DCDCDC;
    padding: 20px 0 0;
    font-size: 16px;
    font-weight: $medium;
    line-height: 1.56;
    text-align: center;
  }
  .floor {
    margin: 15px auto 0;
    font-size: 14px;
    font-weight: $regular;
    text-align: center;
  }
  .ctg {
    margin: 8px auto 0;
    font-size: 14px;
    line-height: 1.78;
    font-weight: $regular;
    text-align: center;
  }
  .introduction {
    margin: 18px auto 0;
    padding: 17px 0 0;
    border-top: 1px solid $gray01;
    font-size: 14px;
    line-height: 1.78;
  }
  .open-event {
    margin: 25px auto 0;
    .ttl {
      font-size: 16px;
      font-weight: $bold;
    }
    .txt {
      margin: 1em auto 0;
      font-size: 14px;
      line-height: 1.78;
    }
  }
  .link-list {
    margin: 20px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (min-width: 769px) {
      margin: 40px auto 0;
    }
  }
  .link-item {
    margin: 0 15px 0 0;
    &:last-child {
      margin-right: 0;
    }
    a {
      width: 42px;
      display: block;
    }
  }
  .modal-arrow-wrap {
    margin: 20px auto 0;
    position: relative;

  }
  .modal-arrow-close {
    margin: 20px auto 0;
    text-align: center;
    @media (min-width: 769px) {
      margin: 27px auto 0;
    }
    button {
      font-size: 20px;
      line-height: 1;
      letter-spacing: .2em;
      color: $green01;
      font-family: 'Montserrat', sans-serif;
      font-weight: $regular;
    }
  }
  .modal-arrow {
    position: absolute;
    top: calc(100% - 28px);
    @media (min-width: 769px) {
      top: calc(50% + 17px);
      transform: translateY(-50%);
    }
    button {
      width: 35px;
      height: 35px;
      display: block;
      border-radius: 50%;
      background: $green01;
      position: relative;
      font-size: 0;
      @media (min-width: 769px) {
        width: 50px;
        height: 50px;
      }
      &:before {
        content: "";
        width: 10px;
        height: 10px;
        border-top: 2px solid #fff;
        border-left: 2px solid #fff;
        position: absolute;
        top: 12px;
        left: 13px;
        transform: rotate(-45deg);
        @media (min-width: 769px) {
          width: 15px;
          height: 15px;
          top: 17px;
          left: 20px;
        }
      }
    }
    &.prev {
      left: 0;
      @media (min-width: 769px) {
        left: -70px;
      }
    }
    &.next {
      right: 0;
      @media (min-width: 769px) {
        right: -70px;
      }
      button {
        transform: scale(-1,-1);
      }
    }
  }
}




/* =========================================================
modal
========================================================= */
.modal-block {
  width: 100vw;
  height: 100vh;
  padding: 110px 0 100px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  overflow: scroll;
  z-index: 50;
  display: none;
  @media (min-width: 769px) {
    padding: 125px 0 0;
    overflow: auto;
  }
}
.modal-bg {
  width: 100vw;
  height: 100%;
  background: rgba(226, 231, 229, .95);
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.modal-close {
  width: 32px;
  height: 32px;
  margin: 0 0 0 auto;
  position: absolute;
  top: -81px;
  right: 0;
  @media (min-width: 769px) {
    top: -64px;
  }
  &:before,
  &:after {
    content: "";
    width: 46px;
    height: 2px;
    background: $green01;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center;
  }
  &:before {
    transform: translate(-50%,-50%) rotate(45deg);
  }
  &:after {
    transform: translate(-50%,-50%) rotate(-45deg);
  }
}
