@charset "UTF-8";

/* =========================================================
body
========================================================= */
html {
  font-size: 62.5%;
  letter-spacing: 0.03em;
  line-height: 1.3rem;
}
body {
  color: #000;
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  background: #fff;
  -webkit-overflow-scrolling: touch;
}
img {
  width: 100%;
}

button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  border: 0;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
}

button {
  cursor: pointer;
}

@media print {
  html, body {
    _zoom: 70%!important;
  }
}

main {
  display: block; /*IE*/
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans+JP:wght@400;500;700&display=swap');

/* =========================================================
default
========================================================= */
@import "_default";

/* =========================================================
layout
========================================================= */
@import "_layout";

/* =========================================================
slick
========================================================= */
@import "_slick";