@charset "utf-8";
/* CSS Document */


/*170731*/
h2.ttl {
    text-align: center;
    margin: 100px 0;
}
.visual-bottom.lastChild {
	text-align: center;
    position: relative;
    margin-top: -111px;
    height: 111px;
    background-color: rgba(9,9,9,0.8);
	color: #ffffff;
	font-size: 13px;
}

.top-floor.firstChild {
    padding-top: 23px;
	font-family: "ヒラギノ角ゴ Pro W3";
}

.top-shop.firstChild {
    padding-top: 23px;
	font-family: "ヒラギノ角ゴ Pro W6";
}

.top-category.firstChild.lastChild {
	font-family: "ヒラギノ角ゴ Pro W3";
	color: #cacaca;
}

.top-date.lastChild {
	font-family: "ヒラギノ角ゴ Pro W6";
	font-size: 16px;
	color: #e8b91f;
}

.hover-plan.firstChild.lastChild {
    color: #a92c27;
	font-size: 14px;
	font-weight: bold;
	font-family: "ヒラギノ角ゴ Pro W3";
}
/*170731*/

/* limited */

.main {
    position: relative;
    /*margin-bottom: 280px;*/
}

.main .main-in {
    /*max-width: 1740px;*/
    margin: 0 auto;
}

@-webkit-keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.photo-wrap {
    width: 100%;
    margin: 0 auto;
/*    padding-top: 60px;*/
}

.photo-block {
    position: relative;
    /*display: none;*/
    float: left;
    overflow: hidden;
    width: 490px;
    height: 490px;
    margin-bottom: 20px;
}

.photo-block-in {
    display: block;
    cursor: pointer;
}

.photo-block-in .visual {
    -webkit-transition: -webkit-transform 0.8s ease;
    -moz-transition: -moz-transform 0.8s ease;
    -o-transition: -o-transform 0.8s ease;
    transition: transform 0.8s ease;
}

.photo-block-in:hover .visual {
    -webkit-transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
}

.photo-hover {
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
    /*display: block !important;*/
    width: 470px;
    height: 470px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: left;
    background: rgba(255, 255, 255, 0.7);
}

.photo-hover .icon {
    position: absolute;
    top: -0px;
    left: -0px;
    width: 125px;
    height: 125px;
    content: "";
}

.photo-hover .icon.new {
    background: url('../images/newshop/ico-new.png') no-repeat 0 0;
}

.photo-hover .icon.renew {
    background: url('../images/newshop/ico-renew.png') no-repeat 0 0;
}


.photo-hover .badge {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 100px;
    height: 30px;
    background: url(../images/newshop/badge-hi.png) no-repeat 0 0;
}

.photo-hover .badge-li{
    position: absolute;
    top: 8px;
    right: 8px;
    width: 100px;
    height: 30px;
    background: url(../images/newshop/badge-li.png) no-repeat 0 0;
}

.photo-hover .badge-ch{
    position: absolute;
    top: 8px;
    right: 8px;
    width: 100px;
    height: 30px;
    background: url(../images/newshop/badge-ch.png) no-repeat 0 0;
}


.photo-hover .hover-ttl {
    width: 320px;
    margin: 74px auto 0;
    padding-left: 30px;
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: bold;
}

.photo-hover .hover-ttl span {
    font-weight: normal;
}

.photo-hover .hover-img {
    max-width: 320px;
    margin: 0 auto;
    padding: 20px 0 20px;
    text-align: center;
    border-bottom: 1px solid #000;
}

.photo-hover .hover-text {
    width: 320px;
    margin: 12px auto 25px;
    -ms-word-break: break-all;
        word-break: break-all;
}
.photo-hover .hover-text a {
  text-decoration: underline;
}
.photo-hover .hover-text .hover-shopinfo {
    display: block;
    width: 89px;
    height: 20px;
    margin-top: 12px;
    background: url('../images/btn_shopinfo.png') no-repeat 0 0;
}

.photo-hover .hover-box{
    width: 320px;
    margin: 0 auto;
    display: table;
}

.photo-hover .hover-box .box-img{
    display: table-cell;
    vertical-align: middle;
    margin-right: 20px;
}



.photo-hover .hover-box .box-txt{
    display: table-cell;
    vertical-align: middle;
    width: 230px;
}



@-webkit-keyframes fadeInLeft {
    0% {
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-moz-keyframes fadeInLeft {
    0% {
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-o-keyframes fadeInLeft {
    0% {
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes fadeInLeft {
    0% {
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.fadeInLeft {
    position: relative;
    -webkit-animation-name: fadeInLeft;
    -moz-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}

.animated {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}

