@charset "UTF-8";

/* = common 
*************************************************/
body{
	color:#333333;
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size:12px;
	margin:0;
	padding:0;
	text-align:center;
	background:#FFFFFF;
	-webkit-text-size-adjust: none;
}

table{
	border-style:none;
	border-spacing:0;
}

img{
	vertical-align:top;
}

img:not([width]){
    zoom: .5;
}

a{
	outline:none;
	-webkit-tap-highlight-color: rgba(205, 66, 105, 0.6);
}

a:link,a:active,a:visited{
	color:#46639F;
	text-decoration:none;
}

a:hover{
	color:#46639F;
	text-decoration:underline;
}


h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,form,input,select,label{
	font-weight:normal;
	margin:0;
	padding:0;
}

p,li,dt,dd{
	line-height:1.5;
	margin:0;
}

ul{
	list-style:none outside;
}

/* clearfix */
.clear:after{
	content:".";
	display:block;
	height:0px;
	clear:both;
	visibility:hidden;
	font-size:0.1em;
	line-height:0;
}

/* Win版IE7とMac版IE5対策 */
.clear{
	display:inline-block;
}

/* Win版IE5および6対策 */
/* Hides from IE-mac \*/
*html .clear{
	height:1px;
}

.clear{
	display:block;
}
/* End hide from IE-mac */

.bnr_l{
	margin-right:5px;
}


