@charset "UTF-8";

.blog_cart_block {
	margin-bottom: 20px;
	padding: 18px 10px;
	border: 1px dotted #cccccc;
	border-right: none;
	border-left: none;
}
.blog_cart_block_head {
	display: table;
	margin-bottom: 11px;
}
.blog_cart_img {
	display: table-cell;
	width: 75px;
}
.blog_cart_img img {
	max-width: 100%;
}
.blog_cart_meta {
	display: table-cell;
	padding-left: 17px;
}
.blog_cart_shop {
	font-size: 10px;
	margin-bottom: 3px;
}
.blog_cart_title {
	color: #46639f;
	font-size: 13px;
	font-weight: bold;
	margin-bottom: 5px;
}
.blog_cart_price {
	line-height: 1.2;
}
.blog_cart_price .price01 {
	font-size: 15px;
	margin-right: 5px;
	font-weight: bold;
}
.blog_cart_price .price02 {
	font-size: 10px;
}
.blog_cart_btn {
	margin-bottom: 15px;
}
.blog_cart_btn a {
	display: block;
	width: 100%;
	height: 44px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #f36 url(../images/blog_cart_sp_btn01.png) no-repeat 50% 50%;
	-webkit-background-size: 150px auto;
	     -o-background-size: 150px auto;
	        background-size: 150px auto;
	overflow: hidden;
	white-space: nowrap;
	text-indent: 100%;
}
.blog_cart_ttl_variation {
	width: 100%;
	height: 30px;
	margin-bottom: 9px;
	background: #808080 url(../images/blog_cart_sp_ttl_variation.png) no-repeat 12px 50%;
	-webkit-background-size: 76px auto;
	     -o-background-size: 76px auto;
	        background-size: 76px auto;
	overflow: hidden;
	white-space: nowrap;
	text-indent: 100%;
}
.blog_cart_item_status01 table {
	width: 100%;
}
.blog_cart_item_status01 table th,
.blog_cart_item_status01 table td {
	background: #f2f2f2;
	vertical-align: middle;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	font-size: 11px;
	line-height: 1.3;
	word-break: break-all;
}
.blog_cart_item_status01 table th {
	width: 68%;
	padding: 12px 9px;
	border: 5px solid #fff;
	border-top: none;
	border-left: none;
	font-weight: normal;
}
.blog_cart_item_status01 table td {
	padding: 12px 0 12px 9px;
	border-bottom: 5px solid #fff;
}
.blog_cart_item_status01 table td .soldout {
	/*font-size: 10px;*/
}
.blog_cart_item_status02 p {
	background: #f2f2f2;
	padding: 12px;
}

