@charset "UTF-8";

/* ===================================================================
CSS information
 file name:blog.css
=================================================================== */

/* ranking
******************************************/

.tab_block_01 ul.genre {
	margin-top: 10px;
}

/*Weekly Blog Ranking*/
.ranking_btn{
	width:182px;
	margin:0 0 8px 8px;
}

.ranking_btn li{
	float:left;
	text-indent:-9999px;
	background:url(../images/common_tab_bg.gif) no-repeat right top;
	cursor:pointer;
}

.ranking_btn li.r_b_01{
	display:block;
	width:53px;
	height:29px;
	background:url(../images/common_right_tabbtn_001.gif) no-repeat;
}

.ranking_btn li.r_b_01:hover{
	background:url(../images/common_right_tabbtn_001_on.gif) no-repeat;
}

.ranking_btn li.r_b_01.active{
	background:url(../images/common_right_tabbtn_001_act.gif) no-repeat;
}

.ranking_btn li.r_b_02{
	display:block;
	width:53px;
	height:29px;
	background:url(../images/common_right_tabbtn_002.gif) no-repeat;
}

.ranking_btn li.r_b_02:hover{
	background:url(../images/common_right_tabbtn_002_on.gif) no-repeat;
}

.ranking_btn li.r_b_02.active{
	background:url(../images/common_right_tabbtn_002_act.gif) no-repeat;
}

.ranking_btn li.r_b_03{
	display:block;
	width:68px;
	height:29px;
	margin-right:0;
	padding-right:0;
	background:url(../images/common_right_tabbtn_003.gif) no-repeat;
}

.ranking_btn li.r_b_03:hover{
	background:url(../images/common_right_tabbtn_003_on.gif) no-repeat;
}

.ranking_btn li.r_b_03.active{
	background:url(../images/common_right_tabbtn_003_act.gif) no-repeat;
}

.right_category_block{
	width:170px;
	margin:0 10px 15px;
}

.right_category_block p{
	float:left;
}

.ranking_category{
	float:right;
}

.ranking_category li{
	position:relative;
}

.ranking_category li.sub{
	color:#666666;
	font-size:1.1em;
	width:110px;
	height:21px;
	margin:0;
	padding:7px 0 0 7px;
	background:url(../images/common_form_bg_004.gif) no-repeat;
}

.ranking_category li{
	font-size:1.0em;
	margin:5px;
	text-decoration:none;
	cursor:pointer;
}

.ranking_category li a{
	display:block;
	width:105px;
}

.ranking_category .menu ul{
	position:absolute;
	left:-9999px;
}

.ranking_category .menu li.hover{
	z-index:500;
}

.ranking_category .menu li.click ul{
	top:27px;
	left:0;
	background:#ffffff;
	border:solid #cccccc 1px;
}

.ranking_block_01{
	margin:0 auto 15px;
	padding: 0 15px;
	/*width:170px;
	margin:0 0 15px 9px;*/
}
@media all and (orientation:landscape){
.ranking_block_01{
	width:auto;
	padding: 0 15px 0;
}
}

.ranking_block_01 p{
	margin:0 0 5px 1px;
	padding:4px 0 0 22px;
}

.ranking_block_01 p.no1{
	background:url(../images/ico_rank_001.png) no-repeat left 1px;
	background-size: 18px 17px;
}

.ranking_block_01 p.no2{
	background:url(../images/ico_rank_002.png) no-repeat left 1px;
	background-size: 18px 17px;
}

.ranking_block_01 p.no3{
	background:url(../images/ico_rank_003.png) no-repeat left 1px;
	background-size: 18px 17px;
}
.ranking_block_01 .image {
	width: 172px;
	margin: 0 auto;
}
.ranking_block_01 .image a{
	display:block;
	border:solid #cccccc 1px;
	text-align: center;
}

.ranking_block_01 .image a:hover{
	border:solid #ff3366 1px;
}

.ranking_block_02{
	/*width:170px;
	margin-left:13px;*/
	padding: 0 15px;
	margin:0 auto 0;
}
@media all and (orientation:landscape){
.ranking_block_02{
	width:auto;
	padding: 0 15px 0;
}
}

.ranking_block_02 li{
	margin-bottom:7px;
	padding-left:24px;
}

.ranking_block_02 li.no4{
	background:url(../images/ico_rank_004.png) no-repeat left top;
	background-size: 18px 16px;
}

.ranking_block_02 li.no5{
	background:url(../images/ico_rank_005.png) no-repeat left top;
	background-size: 18px 16px;
}

.ranking_block_02 li.no6{
	background:url(../images/ico_rank_006.png) no-repeat left top;
	background-size: 18px 16px;
}

.ranking_block_02 li.no7{
	background:url(../images/ico_rank_007.png) no-repeat left top;
	background-size: 18px 16px;
}

.ranking_block_02 li.no8{
	background:url(../images/ico_rank_008.png) no-repeat left top;
	background-size: 18px 16px;
}

.ranking_block_02 li.no9{
	background:url(../images/ico_rank_009.png) no-repeat left top;
	background-size: 18px 16px;
}

.ranking_block_02 li.no10{
	background:url(../images/ico_rank_010.png) no-repeat left top;
	background-size: 18px 16px;
}

#tab01, #tab02, #tab03 {
	border-bottom: none;
	margin-top: 15px;
}
