@charset "UTF-8";

/* Blog Area Parts
******************************************/

/* TOP shopblog Select (highlight) */
.genre_area {
	float: left;
}
.genre_area .select_box select {
	min-width: 100px;
	padding-right: 38px;
}