@charset "UTF-8";
/*
値書き default css
*/
a,
a:hover{
  text-decoration: none;
}
.icon_arrow01{
  text-align: center;
  background: #666666;
  width: 14px;
  height: 14px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
  display: inline-block;
  position: relative;
}
.icon_arrow01:after{
  content: ' ';
  width: 0;
  height: 0;
  position: absolute;
  border: 5px solid transparent;
  border-left-color: #ffffff;
  margin-left: -2px;
  margin-top: -5px;
  display: inline-block;
  left: 50%;
  top: 50%;
}
.icon_arrow02{
  text-align: center;
  background: #ffffff;
  width: 14px;
  height: 14px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
  font-size: 6px;
  display: inline-block;
  position: relative;
}
.icon_arrow02:after{
  content: ' ';
  width: 0;
  height: 0;
  position: absolute;
  border: 5px solid transparent;
  border-top-color: #333;
  margin-left: -5px;
  margin-top: -2px;
  display: inline-block;
  left: 50%;
  top: 50%;
}
#main{
  padding-top: 0;
  padding-bottom: 0;
  background: #ffffff;
}
.floor_nav{
  text-align: center;
  padding: 15px 0;
}
.floor_nav li{
  display: inline-block;
  font-weight: bold;
  font-size: 14px;
  border-left: 1px dotted #666666;
}
.floor_nav li:last-child{
  border-right: 1px dotted #666666;
}
.floor_nav_in{
  padding: 6px 20px;
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: -o-box;
  display: box;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  -o-box-align: center;
  box-align: center;
}
.floor_nav_in .floor_text{
  margin-left: 3px;
}
body.floor1 .floor_nav_floor1 .icon_arrow01{
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
body.floor2 .floor_nav_floor2 .icon_arrow01{
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
body.floor3 .floor_nav_floor3 .icon_arrow01{
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
body.floor4 .floor_nav_floor4 .icon_arrow01{
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
body.floor5 .floor_nav_floor5 .icon_arrow01{
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.page_comment{
  color: #666666;
  padding: 10px 15px 15px;
  background: #ffffff;
  border-top: 1px solid #dddddd;
  text-align: center;
}
/*#floor_list_area{
  border-top: 1px solid #dddddd;
  padding: 15px 10px 20px;
  background: #eeeeee;
}*/
.floor_list {
    border-top: 1px solid #dddddd;
    padding: 15px 10px 20px;
    background: #eeeeee;
}
.floor_list_item{
  margin-top: 20px;
}
.floor_list_item:first-child{
  margin-top: 0;
}
.shop_list_trigger{
}
.shop_list_trigger .trigger_in{
  background: #333;
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: -o-box;
  display: box;
  padding: 10px;
  color: #ffffff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  -o-box-align: center;
  box-align: center;
}
.shop_list_trigger .trigger_in_box01{
  font-weight: bold;
  font-size: 14px;
}
.shop_list_trigger .trigger_in_box01 span{
  font-weight: normal;
  font-size: 9px;
  display: inline-block;
  margin-left: 5px;
}
.shop_list_trigger .trigger_in_box02{
  font-size: 9px;
  text-align: justify;
  padding-left: 15px;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
}
.shop_list_trigger .trigger_in_box03{
  margin-left: 5px;
}
.shop_list_trigger .trigger_in_box03{
  margin-left: 5px;
}
.shop_list_trigger.box_open .trigger_in_box03{
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.shop_list{
  margin-top: 10px;
  /*display:none;*/
}
.shop_list_item{
  margin-top: 10px;
}
.shop_list_item:first-child{
  margin-top: 0;
}
.shop_list_item_in{
  background: #ffffff;
  padding: 10px 15px;
  border: 1px solid #e5e5e5;
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: -o-box;
  display: box;
}
.shop-image {
  display: table-cell;
  width: 55px;
  height: 55px;
  vertical-align: middle;
  text-align: center;
  border: 1px solid #dfdfdf;
}
.shop-image img {
  max-width: 100%;
  max-height: 100%;
  /*border: 1px solid #dfdfdf;*/
}
.shop_list_item_in .shop-info{
  margin-left: 10px;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
}
.shop-box01{
  color: #e83626;
  font-size: 13px;
  font-weight: bold;
}
a .shop-box01{
  text-decoration: underline;
}
.shop-box02{
  color: #333333;
  font-size: 12px;
  margin-top: 5px;
}
/*.category_nav { display: none; }*/
.check-footer {
  padding: 18px 0;
  text-align: center;
  background: url("/s/common/images/footer_bg_003.png") repeat-x left top #343434;
}
.check-copyright {
  color: #FFF;
  font-size: 10px;
  font-family: Arial, Verdana, 'Helvetica Neue', Helvetica, sans-serif;
}

.header_btn { display: none; }