#container {
    -webkit-transform: translate3d(0,0,0);
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function:ease-in;
}
#container.left_visible {
    -webkit-transform: translate3d(239px,0,0) ! important;
}
#leftmenu {
    background-color: #333;
    height: auto;
    width: 239px;
    top: 0;
    left: 0;
    position: absolute;
    visibility: hidden;
    z-index: -1;
    -webkit-transition: visibility 0.2s linear;
}
#leftmenu.visible {
    visibility: visible;
}
#squeeze {
    background: url(/s/common/images/common_bg.png);
    height:640px;
    width:320px;
    top:0;
    left:0px;
    position:absolute;
    visibility: hidden;
    z-index:-1;
    -webkit-transition: visibility 0.2s linear;
}
#squeeze.visible {
    visibility: visible;
}