@charset "UTF-8";

/******** left navi ********/
.facebookOuter {
    /* data-border-colorと同じ色にする */
    background-color: #FFFFFF;
    width: 100%;
    height: 290px;
    /* border: 1px solid #ccc;*/
}
.facebookInner {
    margin: 2%;
    height: 274px;
    overflow: hidden;
}
.fb-like-box,.fb-like-box span, .fb-like-box iframe {
    width: 100% !important;
}

/******** right navi ********/

.facebookOuterRight {
    /* data-border-colorと同じ色にする */
    background-color: #FFFFFF;
    width: 100%;
    height: 617px;

}
.facebookInnerRight {
    height: 617px;
    overflow: hidden;
    border: 1px solid #ccc;
}
.twitterOuterRight {
    width: 100%;
    height: 602px;
}
.twitterOuterRight iframe {
	min-width: 190px !important;
    width: 100%;
}

.facebookOuterCenter {
    /* data-border-colorと同じ色にする */
    background-color: #FFFFFF;
    width: 100%;
    height: 300px;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.facebookInnerCenter {
    height: 300px;
    overflow: hidden;
    border: 1px solid #ccc;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.twitterOuterCenter {
    width: 100%;
    height: 350px;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.twitterOuterCenter iframe {
	min-width: 100% !important;
    height: 350px;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/******** Footer SNS ********/
#footer .follow_block_01 #sns {
	margin-bottom: 10px;
}
@media all and (orientation:portrait){
#footer .follow_block_01 #sns {
	margin-left: -1.5%;
	margin-right: -2.5%;
}
}
#footer .follow_block_01 #sns li {
    float: left;
    width: 25%;
    height: auto;
    border:none;
    text-align: center;
    margin: auto;
}
