@charset "UTF-8";

/* ===================================================================
CSS information
 file name:hotblog.css
=================================================================== */

/* hotblog page
******************************************/
.title_block_005 p.btn {
	width: 55px;
	padding-left: 5px;
}
.blog_list .search_criteria {
	margin: 0 15px 10px;
}
.thumbnail_block {
	width: 26%;
	position: relative;
        word-break: break-all;
        word-wrap: break-word;
}
@media all and (orientation:landscape){
.thumbnail_block{
	width:28%;
}
}
.thumbnail_block .text_link {
	color: #46639f;
}
.thumbnail_block .image {
	width: 75px;
}
.thumbnail_block .image img {
	width: 100%;
}
.thumbnail_block .link a{
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	height: 100%;
	width: 100%;
	white-space: nowrap;
	text-indent: 100%;
	overflow: hidden;
}
.thumbnail_block .link a:hover {
	text-decoration: none;
}