@charset "UTF-8";
/* = position
*************************************************/
.left{
text-align:left !important;
}

.center{
text-align:center !important;
}

.right{
text-align:right !important;
}


/* = float
*************************************************/
.f_left{
	float:left !important;
}

.f_right{
	float:right !important;
}

/* = margin 
*************************************************/
/*top*/
.mt-05{
margin-top:-5px !important;
}
.mt-10{
margin-top:-10px !important;
}
.mt00{
margin-top:0 !important;
}
.mt05{
margin-top:5px !important;
}
.mt08{
margin-top:8px !important;
}
.mt09{
margin-top:9px !important;
}
.mt10{
margin-top:10px !important;
}
.mt15{
margin-top:15px !important;
}
.mt20{
margin-top:20px !important;
}
.mt25{
margin-top:25px !important;
}
.mt30{
margin-top:30px !important;
}
.mt35{
margin-top:35px !important;
}
.mt40{
margin-top:40px !important;
}
.mt45{
margin-top:45px !important;
}
.mt50{
margin-top:50px !important;
}

/*right*/
.mr00{
margin-right:0 !important;
}
.mr05{
margin-right:5px !important;
}
.mr08{
margin-right:8px !important;
}
.mr10{
margin-right:10px !important;
}
.mr15{
margin-right:15px !important;
}
.mr20{
margin-right:20px !important;
}
.mr25{
margin-right:25px !important;
}
.mr30{
margin-right:30px !important;
}
.mr35{
margin-right:35px !important;
}
.mr40{
margin-right:40px !important;
}
.mr45{
margin-right:45px !important;
}
.mr50{
margin-right:50px !important;
}

/*bottom*/
.mb00{
margin-bottom:0 !important;
}
.mb05{
margin-bottom:5px !important;
}
.mb10{
margin-bottom:10px !important;
}
.mb15{
margin-bottom:15px !important;
}
.mb20{
margin-bottom:20px !important;
}
.mb25{
margin-bottom:25px !important;
}
.mb30{
margin-bottom:30px !important;
}
.mb35{
margin-bottom:35px !important;
}
.mb40{
margin-bottom:40px !important;
}
.mb45{
margin-bottom:45px !important;
}
.mb50{
margin-bottom:50px !important;
}

/*left*/
.ml00{
margin-left:0 !important;
}
.ml05{
margin-left:5px !important;
}
.ml10{
margin-left:10px !important;
}
.ml15{
margin-left:15px !important;
}
.ml17{
margin-left:17px !important;
}
.ml20{
margin-left:20px !important;
}
.ml25{
margin-left:25px !important;
}
.ml30{
margin-left:30px !important;
}
.ml35{
margin-left:35px !important;
}
.ml40{
margin-left:40px !important;
}
.ml45{
margin-left:45px !important;
}
.ml50{
margin-left:50px !important;
}

/*left & right*/
.mlr05 {
 margin-left: 5px;
 margin-right: 5px;
}

/* = padding
*************************************************/
/*top*/
.pt00{
padding-top:0 !important;
}
.pt05{
padding-top:5px !important;
}
.pt10{
padding-top:10px !important;
}
.pt15{
padding-top:15px !important;
}
.pt20{
padding-top:20px !important;
}
.pt25{
padding-top:25px !important;
}
.pt30{
padding-top:30px !important;
}
.pt35{
padding-top:35px !important;
}
.pt40{
padding-top:40px !important;
}
.pt45{
padding-top:45px !important;
}
.pt50{
padding-top:50px !important;
}

/*right*/
.pr00{
padding-right:0 !important;
}
.pr05{
padding-right:5px !important;
}
.pr08{
padding-right:8px !important;
}
.pr10{
padding-right:10px !important;
}
.pr15{
padding-right:15px !important;
}
.pr20{
padding-right:20px !important;
}
.pr25{
padding-right:25px !important;
}
.pr30{
padding-right:30px !important;
}
.pr35{
padding-right:35px !important;
}
.pr40{
padding-right:40px !important;
}
.pr45{
padding-right:45px !important;
}
.pr50{
padding-right:50px !important;
}

/*bottom*/
.pb00{
padding-bottom:0 !important;
}
.pb05{
padding-bottom:5px !important;
}
.pb10{
padding-bottom:10px !important;
}
.pb15{
padding-bottom:15px !important;
}
.pb20{
padding-bottom:20px !important;
}
.pb25{
padding-bottom:25px !important;
}
.pb30{
padding-bottom:30px !important;
}
.pb35{
padding-bottom:35px !important;
}
.pb40{
padding-bottom:40px !important;
}
.pb45{
padding-bottom:45px !important;
}
.pb50{
padding-bottom:50px !important;
}

/*left*/
.pl00{
padding-left:0 !important;
}
.pl05{
padding-left:5px !important;
}
.pl10{
padding-left:10px !important;
}
.pl15{
padding-left:15px !important;
}
.pl17{
padding-left:17px !important;
}
.pl20{
padding-left:20px !important;
}
.pl25{
padding-left:25px !important;
}
.pl30{
padding-left:30px !important;
}
.pl35{
padding-left:35px !important;
}
.pl40{
padding-left:40px !important;
}
.pl45{
padding-left:45px !important;
}
.pl50{
padding-left:50px !important;
}

/* = font-size
*************************************************/
.txt11 {
 font-size: 11px;
}
.txt12 {
 font-size: 12px;
}
.txt13 {
 font-size: 13px;
}

/* = width by percentage
*************************************************/
.w50pct {
width: 50% !important;
}

/* ADD 2013/01/23
******************************************/
.f_clear{
	clear:both !important;
}
.bg_border {
	background:url(../images/footer_line_001.png) repeat-x left bottom;
}


/* ADD 2013/02/04
******************************************/
.txtb{
	font-weight:bold;
}
.width100{
	width:100% !important;
}
.prl10 {
	padding-left: 10px !important;
	padding-right: 10px !important
}
.fs014 {
	font-size: 14px !important;
}


