@charset "UTF-8";

/* h Title
******************************************/
.title_block_03 {
	padding-bottom: 4px;
	padding-top: 10px;
	
}
.title_block_03 h3 {
	font-size: 14px;
}

h4 {
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 5px;
}

/*Floor Map Area
******************************************/
.image_block_01.floor_map {
	margin-bottom: 25px;
}

/*Event News Area
******************************************/
.content_wrap {
	margin-bottom: 25px;
}

/******************************************/
.table_block_01 table th {
	width: 3em;
	text-align: center;
}

/******************************************/
.item_block_02.facilities {
	padding: 5px 10px 1px;
}
.item_block_02.facilities .photo {
	float: left;
	width: 48%;
}
.item_block_02.facilities div.clear {
	display: table;
	width: 100%;
	margin-bottom: 10px;
}
.item_block_02.facilities .explain {
	display: table-cell;
	margin-left: 10px;
	vertical-align: top;
}
.item_block_02.facilities .photo {
	display: table-cell;
	width: 140px;
	vertical-align: top;
}

