@charset "UTF-8";

#pageslide {
    /* These styles MUST be included. Do not change. */
    display: none;
    position: absolute;
    /*position: fixed;*/
    top: 0;
    height: 100%;
    z-index: 999999;

    /* Specify the width of your pageslide here */
    width: 260px;
    padding: 0 20px;

    /* These styles are optional, and describe how the pageslide will look */
    background-color: #333;
    color: #FFF;
    -webkit-box-shadow: inset 0 0 5px 5px #222;
    -moz-box-shadow: inset 0 0 5px 5px #222;
    box-shadow: inset 0 0 5px 5px #222;
}

/* Common
******************************************/
.arrow_01{
	padding-left:10px;
	background:url(../images/common_icon_023.png) no-repeat left;
	background-size:6px 8px;
}

.arrow_02{
	padding-right:10px;
	background:url(../images/common_icon_029.png) no-repeat right;
	background-size:6px 8px;
}

.bold{
	font-weight:bold;
}
.mhr15{
margin-right: 15px;
margin-left: 15px;
}
.image_block_100{
width: 100%;
margin: 0 auto;
position: relative;
}

/* Header
******************************************/
#header{
	position:relative;
	margin:0 15px;
	padding:10px 0 9px;
}

.header_btn{
	position:absolute;
	top:7px;
	left:0;
}

.header_info{
	font-size:7px;
	position:absolute;
	top:11px;
	right:0;
	text-align:right;
}

.header_logo{
	padding-right:5%;
}
@media all and (orientation:landscape){
.header_logo{
	padding-right: 56px;
}
}

#header.web_member .header_logo{
	padding-right: 0;
	text-align: center;
}
#header.web_member .header_logo a {
	display: block;
	width: 73px;
	height: 22px;
	margin: 0 auto;
}
@media all and (orientation:landscape){
#header.web_member .header_logo{
	padding-right: 0;
}
}


/* main
******************************************/
#main{
	padding:15px 0;
	text-align:left;
	background:url(/s/common/images/common_bg.png) left top;
}


/* footer
******************************************/
#footer{
	padding-top:6px;
	background:url(../images/footer_bg_002.png) repeat-x left top #4b4b4a;
}


#footer .inner{
	padding:12px 0;
	text-align:left;
	background:#4b4b4a;
}

p.footer_cap{
	color:#ffffff;
	font-weight:bold;
	margin-bottom:15px;
}

.follow_block_01{
	margin-bottom:15px;
	padding:0 15px 16px;
	background:url(../images/footer_line_001.png) repeat-x left bottom;
}

.follow_block_01 li.facebook_btn{
	font-weight:bold;
	float:left;
	width:49%;
	text-align:center;
	background:url(../images/common_icon_010.png) #ffffff no-repeat 5px 5px;
	background-size:20px 20px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
	box-shadow:2px 2px 2px rgba(0,0,0,0.4);
}

/*
@media all and (orientation:landscape){
.follow_block_01 li.facebook_btn{
	background:url(../images/common_icon_010.png) #ffffff no-repeat 70px 5px;
}
}
*/

.follow_block_01 li.twitter_btn{
	font-weight:bold;
	float:right;
	width:49%;
	text-align:center;
	background:url(../images/common_icon_014.png) #ffffff no-repeat 5px 5px;
	background-size:23px 20px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
	box-shadow:2px 2px 2px rgba(0,0,0,0.4);
}

/*
@media all and (orientation:landscape){
.follow_block_01 li.twitter_btn{
	background:url(../images/common_icon_011.png) #ffffff no-repeat 75px 5px;
}
}
*/

.follow_block_01 li.facebook_btn a,
.follow_block_01 li.twitter_btn a{
	display:block;
	color:#333333;
	font-size:8px;
	padding:9px 2px 9px 29px;
}
.follow_block_01 li.twitter_btn a{
	padding:9px 2px 9px 25px;
}

.follow_block_01 li.footer_btn_01{
	font-weight:bold;
	float:left;
	width:49%;
	text-align:center;
	background:#ffffff;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
	box-shadow:2px 2px 2px rgba(0,0,0,0.4);
}

.follow_block_01 li.footer_btn_02{
	font-weight:bold;
	float:right;
	width:49%;
	text-align:center;
	background:#ffffff;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
	box-shadow:2px 2px 2px rgba(0,0,0,0.4);
}

.follow_block_01 li.footer_btn_01 a,
.follow_block_01 li.footer_btn_02 a{
	display:block;
	color:#333333;
	font-size:9px;
	padding:9px 6px 7px 6px;
	line-height: 1.4;
}

.follow_block_01_0{
	margin-bottom:15px;
	padding:0;
}
.follow_block_01_0 #iqon-widget{
margin-left:auto;
margin-right:auto;
text-align:center;
}
.follow_block_01_0 iframe#iqon-widget_iframe{
margin-left:auto;
margin-right:auto;
}

.footer_table{
	margin:0 15px;
}

.footer_table table{
	width:100%;
}

.footer_table table td{
	width:33%;
	text-align:center;
	background:url(../images/footer_line_002.png) repeat-y right top;
}

.footer_table table td.last{
	background:none;
}

.footer_table table td a{
	display:block;
	margin:0;
	padding:5px 0;
	width: 100%;
	height: 100%;
}




/* Global Navigation
******************************************/
#copyright{
	position:relative;
	height:50px;
	background:url(../images/footer_bg_003.png) repeat-x left top #343434;
}

#copyright p.btn{
	position:absolute;
	top:10px;
	right:15px;
}

#copyright p.text{
	position:absolute;
	color:#ffffff;
	font-size:6px;
	bottom:10px;
	left:15px;
}


/* Global Navigation
******************************************/
#global_nav{
	margin:0 15px;
}

#global_nav table{
	width:100%;
	margin-bottom:10px;
}

#global_nav table td{
	width:25%;
	padding-right:10px;
	text-align:center;
	height: 29px;
}

#global_nav table td.last{
	padding-right:0;
}

#global_nav table td a{
	height: 29px;
	display:block;
	margin:0;
	padding:5px 0;
	background:#333333;
	border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
	box-shadow:2px 2px 2px rgba(0,0,0,0.4);
}
#global_nav table td a.nav_01{
	background: url(../images/global_nav_btn_001.png) no-repeat center center #333333;
	background-size: 49px 18px;
}
#global_nav table td a.nav_02{
	background: url(../images/global_nav_btn_002.png) no-repeat center #333333;
	background-size: 34px 18px;
}
#global_nav table td a.nav_03{
	background: url(../images/global_nav_btn_003.png) no-repeat center #333333;
	background-size: 41px 18px;
}
#global_nav table td a.nav_04{
	background: url(../images/global_nav_btn_004.png) no-repeat center #333333;
	background-size: 38px 18px;
}
#global_nav table td a img {
	display: none;
}
@media all and (orientation:landscape){
#global_nav table td a.nav_03{
	background-image: url(../images/global_nav_btn_003_02.png);
	background-size: 73px 18px;
}
#global_nav table td a.nav_04{
	background-image: url(../images/global_nav_btn_004_02.png);
	background-size: 73px 18px;
}
}
#global_nav.after_login table td a.nav_04{
	background: url(../images/global_nav_btn_004_03.png) no-repeat center #333333;
	background-size: 42px 18px;
}
@media all and (orientation:landscape){
#global_nav.after_login table td a.nav_04{
	background-image: url(../images/global_nav_btn_004_04.png);
	background-size: 69px 18px;
}
}


/* News & Event
******************************************/
.news_event_block{
	margin:0 15px;
	background:url(../images/common_line_001.png) repeat-x left top;
}
.news_event_block p {
	color: #46639f;
}
.news_event_block .event_open {
	color: #333333;
}
.news_event_block .event_inner{
	position: relative;
}
.news_event_block .event_inner .link a{
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	height: 100%;
	width: 100%;
	white-space: nowrap;
	text-indent: 100%;
	overflow: hidden;
}

.news_event_block table{
	width:100%;
	/*margin-bottom:10px;*/
	background:url(../images/common_line_001.png) repeat-x left bottom;
}

.news_event_block table td{
	padding:7px 0;
	text-align:left;
}

.news_event_block table td.image{
	width:40px;
}

.news_event_block table td.text{
	padding-left:5px;
	padding-right: 20px;
	text-align:left;
	background:url(../images/common_icon_002.png) no-repeat right;
	background-size:16px 18px;
}


/* Tab
******************************************/
.tab_block_01{
	width:100%;
	text-align:left;
}

.disnon{
	position:absolute;
	left:-9999px;
	width:100%;
}

.tab_block_01 .tab{
	float:left;
	margin-left:15px;
}

.tab_block_01 .tab li{
	text-indent:-9999px;
	float:left;
	display:block;
	width:32px;
	height:37px;
	margin:0 5px 5px 0;
	background-size:32px 37px;
}

.tab_block_01 .tab li.thumbnail{
	background:url(../images/common_tab_btn_001.png) no-repeat left top;
}

.tab_block_01 .tab li.thumbnail.select{
	background:url(../images/common_tab_btn_001_on.png) no-repeat left top;
}

.tab_block_01 .tab li.list{
	background:url(../images/common_tab_btn_002.png) no-repeat left top;
}

.tab_block_01 .tab li.list.select{
	background:url(../images/common_tab_btn_002_on.png) no-repeat left top;
}

.tab_block_01 ul.genre{
	margin-right:15px;
	margin-left:8px;
	background:url(../images/common_line_002.png) repeat-y right top;
	float:left;
	margin-top:6px;
}

.tab_block_01 ul.genre li{
	font-size:11px;
	float:left;
	padding-left:8px;
	padding-right:8px;
	background:url(../images/common_line_002.png) repeat-y left top;
}

.tab_block_01 ul.genre li a{
	color:#333333;
	padding-top: 3px;
	padding-bottom: 3px;
	display: block;
	text-decoration: none;
}

.tab_block_01 ul.genre li.active a{
	/*color:#990000;*/
	background:url(../images/bg_genre_active.png) no-repeat center bottom;
	background-size: 64px 4px;
}
.tab_block_01 ul.genre li.first{
	margin-left: 0;
}

/*Thumbnail*/
.thumbnail_block_wrap{
	margin-left:15px;
}

.thumbnail_block{
	float:left;
	width:43%;
	margin:0 10px 10px 0;
	padding:5px;
	text-align:center;
	background:#ffffff;
}

@media all and (orientation:landscape){
.thumbnail_block{
	width:45.5%;
}
}

.thumbnail_block .image{
	position:relative;
	width:130px;
	margin:0 auto 10px;
}

.thumbnail_block .like_number{
	position:absolute;
	width:47px;
	height:48px;
	right:1px;
	bottom:0;
	background:url(../images/common_like_bg_001.png) no-repeat right bottom;
	background-size:47px 48px;
}

.thumbnail_block .like_number p{
	position:absolute;
	color:#ff3366;
	font-size:9px;
	right:5px;
	bottom:0;
}

.thumbnail_block p.shop_name{
	text-align:left;
}

.thumbnail_block p.text_link{
	text-align:left;
	margin-bottom:10px;
}

.thumbnail_block .icon_block_01{
	position:relative;
	width:100%;
	height:22px;
	padding-top:5px;
	text-align:center;
	background:#f2f2f2;
}

.thumbnail_block .icon_block_01 li.icon_like{
	position:absolute;
	top:5px;
	left:8px;
}

.thumbnail_block .icon_block_01 li.icon_share{
	position:absolute;
	top:5px;
	right:8px;
}

/*List*/
.list_block{
	margin:0 15px 10px;
	padding:5px;
	background:#ffffff;
}

.list_block table{
	width:100%;
}

.list_block table td.image{
	position:relative;
	width:90px;
	height:90px;
	text-align:center;
	border:solid #cccccc 1px;
	display: block;
}

.list_block table td.image a {
	display: table-cell;
	width: 90px;
	height: 90px;
	vertical-align: middle;
	text-align: center;
}
.list_block table td.image img:not([width]) {
    zoom: 1.0;
}

.list_block .like_number{
	position:absolute;
	width:47px;
	height:48px;
	right:1px;
	bottom:0;
	background:url(../images/common_like_bg_001.png) no-repeat right bottom;
	background-size:47px 48px;
}

.list_block .like_number p{
	position:absolute;
	color:#ff3366;
	font-size:9px;
	right:5px;
	bottom:0;
}

.list_block table td.text{
	padding-left:5px;
	text-align:left;
	width: 100%;
}

.list_block .text p.shop_name{
	text-align:left;
}

.list_block .text p.text_link{
	text-align:left;
	margin-bottom:10px;
}

.list_block .text .icon_block_01{
	position:relative;
	width:100%;
	height:22px;
	padding-top:5px;
	text-align:center;
	background:#f2f2f2;
}

.list_block .text .icon_block_01 li.icon_like{
	position:absolute;
	top:5px;
	left:8px;
}

.list_block .text .icon_block_01 li.icon_share{
	position:absolute;
	top:5px;
	right:8px;
}


/* Side Menu
******************************************/
#side_menu{
	padding-top:7px;
	background-color: #4b4b4a;
}

.side_menu_header{
	margin:0 15px 15px;
}

.side_menu_header p{
	color:#ffffff;
	font-size:7px;
	float:right;
	text-align:right;
}

.side_menu_login_btn{
	margin:0 15px 15px;
}

.side_menu_login_btn li{
	width:45%;
	text-align:center;
	background:#ff3366;
	border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
	box-shadow:2px 2px 2px rgba(153,153,153,0.4);
}

.side_menu_login_btn li a{
	display:block;
	color:#ffffff;
	font-size:11px;
	font-weight:bold;
	margin:0;
	padding:9px 0;
}

.side_menu_ttl{
	margin-bottom:15px;
	padding:16px 0 14px 24px;
	text-align:left;
	background-color: #181817;
}

.side_menu_ttl p{
	color:#ffffff;
	font-weight:bold;
}

.side_menu_search{
	margin:0 15px 15px;
}

.side_menu_search .input_search {
	margin-bottom: 15px;
}
.side_menu_search .select_box,
.side_menu_search_block {
	float: left;
	width: 168px;
}
#side_menu .side_menu_search_block {
	width: 168px;
}
.side_menu_search .select_box select {
	min-width: 168px;
}
.side_menu_search .search_btn {
	float: right;
	margin-left: 5px;
	padding:1px;
	background:#f7f5ee;
	border:solid #cccccc 1px;
	border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
}
.side_menu_search .search_btn input:not([width]){
    zoom: .5;
}
.side_menu_search_block{
	padding:1px;
	background:#f7f5ee;
	border:solid #cccccc 1px;
	border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
}

.side_menu_search_block input.sms_block_text{
	color:#999999;
	float:left;
	height:28px;
	border:none;
	background:none;
	outline:none;
	padding-left: 10px;
}
#side_menu .side_menu_search_block input.sms_block_text {
	width: 96%;
	padding-left: 5px;
}

.side_menu_search_block input.sms_block_btn{
	float:right;
}

.shop_search_category,
.shop_search_category02{
	text-align:left;
}

.shop_search_category li,
.shop_search_category02 li{
	position:relative;
}

.shop_search_category li.sub{
	color:#999999;
	font-size:0.9em;
	width:206px;
	height:22px;
	padding:8px 0 0 3px;
	background:url(../images/common_form_bg_001.png) no-repeat left top;
	background-size:209px 30px;
}

.shop_search_category02 li.sub{
	color:#999999;
	font-size:0.9em;
	width:172px;
	height:22px;
	padding:8px 0 0 3px;
	background:url(../images/common_form_bg_002.png) no-repeat left top;
	background-size:175px 30px;
}

.shop_search_category li,
.shop_search_category02 li{
	font-size:1.0em;
	text-decoration:none;
	cursor:pointer;
}

.shop_search_category li a{
	display:block;
	width:197px;
}

.shop_search_category02 li a{
	display:block;
	width:162px;
}

.shop_search_category .menu ul,
.shop_search_category02 .menu ul{
	position:absolute;
	left:-9999px;
}

.shop_search_category .menu li.hover,
.shop_search_category02 .menu li.hover{
	z-index:500;
}

.shop_search_category .menu li.click ul,
.shop_search_category02 .menu li.click ul{
	top:30px;
	left:0;
	background:#ffffff;
	border:solid #cccccc 1px;
}

.shop_search_category .menu li.click ul li,
.shop_search_category02 .menu li.click ul li{
	margin:5px;
}

.z_01{
	z-index:100;
}

.z_02{
	z-index:90;
}

.z_03{
	z-index:80;
}


.side_menu_list_01{
	margin:0 15px 15px;
}

.side_menu_list_01 div{
	text-align:left;
	background:url(../images/sidemenu_line_001.png) repeat-x left bottom;
}

.side_menu_list_01 div p{
	background:url(../images/sidemenu_icon_001.png) no-repeat right;
	background-size:17px 17px;
}

.side_menu_list_01 div p a{
	display:block;
	color:#ffffff;
	font-size:10px;
	font-weight:bold;
	padding:15px 0 15px 37px;
}

.side_menu_list_01 div.icon_01 p a{
	background:url(../images/sidemenu_icon_002.png) no-repeat 7px;
	background-size:22px 22px;
}

.side_menu_list_01 div.icon_02 p a{
	background:url(../images/sidemenu_icon_003.png) no-repeat 7px;
	background-size:22px 22px;
}

.side_menu_list_01 div.icon_03 p a{
	background:url(../images/sidemenu_icon_004.png) no-repeat 7px;
	background-size:22px 22px;
}

.side_menu_list_01 div.icon_04 p a{
	background:url(../images/sidemenu_icon_005.png) no-repeat 7px;
	background-size:22px 22px;
}

.side_menu_list_01 div.icon_05 p a{
	background:url(../images/sidemenu_icon_006.png) no-repeat 7px;
	background-size:22px 22px;
}

.side_menu_list_01 div.icon_06 p a{
	background:url(../images/sidemenu_icon_007.png) no-repeat 7px;
	background-size:22px 22px;
}

.side_menu_list_02{
	margin:0 15px;
}

.side_menu_list_02 li{
	text-align:left;
}

.side_menu_list_02 li a{
	display:block;
	color:#ffffff;
	font-size:10px;
	font-weight:bold;
	padding:0 0 15px 25px;
	background:url(../images/sidemenu_icon_008.png) no-repeat 10px 2px;
	background-size:5px 8px;
}

.side_menu_list_03{
	margin:0 15px 0;
}

.side_menu_list_03 li{
	text-align:left;
	background:url(../images/sidemenu_line_001.png) repeat-x left bottom;
}

.side_menu_list_03 li a{
	display:block;
	color:#ffffff;
	font-size:10px;
	font-weight:bold;
	padding:15px 0 15px 10px;
	background:url(../images/sidemenu_icon_001.png) no-repeat right;
	background-size:17px 17px;
}
.side_menu_list_03 li:last-child {
	background-image: none;
}

.side_menu_list_04{
	margin:0 15px;
}

.side_menu_list_04 div{
	text-align:left;
	background:url(../images/sidemenu_line_001.png) repeat-x left bottom;
}

.side_menu_list_04 div p{
	background:url(../images/sidemenu_icon_001.png) no-repeat right;
	background-size:17px 17px;
}

.side_menu_list_04 div p a{
	color:#ffffff;
	display:block;
	font-size:10px;
	font-weight:bold;
	padding:15px 0 15px 37px;
}

.side_menu_list_04 div.icon_01 p a{
	background:url(../images/sidemenu_icon_009.png) no-repeat 7px;
	background-size:22px 19px;
}

.side_menu_list_04 div.icon_02 p a{
	background:url(../images/sidemenu_icon_010.png) no-repeat 7px;
	background-size:22px 19px;
}

.side_menu_list_04 div.icon_03 p a{
	background:url(../images/sidemenu_icon_011.png) no-repeat 7px;
	background-size:22px 19px;
}

.side_menu_list_04 div.icon_04{
	background:none;
}

.side_menu_list_04 div.icon_04 p a{
	background:url(../images/sidemenu_icon_012.png) no-repeat 7px;
	background-size:22px 19px;
}

.side_menu_close_btn{
	padding:6px 0 5px;
	background-color: #181817;
}

/* Caution
******************************************/
.caution_block_01{
	width:auto;
	margin:0 15px 15px;
	padding:8px;
	background:#FFFFFF;
	border:solid #FF3366 2px;
	border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
}

/*.caution_block_01 p{
	color:#cc0000;
	font-weight:bold;
}*/

.caution_block_01 .comment {
    background: url("../../../common/images/common_line_003.gif") repeat-x scroll left top transparent;
    margin-top: 5px;
    padding-top: 7px;
}

.caution_block_01 .comment.caution_comment_first {
    background: none repeat scroll 0 0 transparent;
    margin-top: 0;
    padding-top: 0;
}

/* h
******************************************/
.title_block{
	margin-bottom:15px;
}

.title_block h1{
	color:#000000;
	font-size:14px;
	font-weight:bold;
}

.title_block_001{
	margin-bottom:5px;
	display: table;
	width: 100%;
}

.title_block_001 h1{
	color:#000000;
	font-size:14px;
	font-weight:bold;
	display: table-cell;
	vertical-align: top;
	line-height: 1.4;
	min-height: 30px;
	width: auto;
	/*width:65%;*/
}

@media all and (orientation:landscape){
.title_block_001 h1{
	/*margin-top:5px;*/
}
}

.title_block_001 p.btn{
	/*float:right;*/
	padding-top: 5px;
	display: table-cell;
	vertical-align: top;
	min-height: 30px;
	max-width: 100px;
	text-align: right;
}

@media all and (orientation:landscape){
.title_block_001 p.btn{
	/*margin-top:0;*/
}
}

.title_block_002{
	margin-bottom:10px;
	padding-bottom:5px;
	background:url(../images/common_line_001.png) repeat-x left bottom;
}

.title_block_002 h1{
	color:#000000;
	font-size:14px;
	font-weight:bold;
	padding-left:18px;
	background:url(../images/common_icon_016.png) no-repeat left 0.2em;
	background-size:16px 16px;
}

.title_block_003{
	margin-bottom:10px;
	padding-bottom:5px;
	background:url(../images/common_line_001.png) repeat-x left bottom;
}

.title_block_003 h1,
.title_block_003 h2{
	color:#000000;
	font-size:14px;
	font-weight:bold;
}

.title_block_004{
	margin-bottom:10px;
	padding-bottom:5px;
}

.title_block_004 h1{
	color:#000000;
	float:left;
	font-size:14px;
	font-weight:bold;
	margin-top:4px;
}

.title_block_004 ul{
	float:right;
}

.title_block_004 li{
	float:left;
	margin-left:10px;
}
.title_block_01{
	margin-bottom:10px;
	padding:5px 15px;
	text-align:left;
	background:url(../images/common_ttl_bg_001.png);
}

.title_block_01 h2{
	color:#ffffff;
	font-size:16px;
	width:230px;
}

.title_block_01 p.date_02{
	color:#ffffff;
	font-size:9px;
	float:right;
	margin-top:16px;
}

.title_block_02{
	position:relative;
	min-height:40px;
	margin-bottom:10px;
	text-align:center;
	background:url(../images/common_ttl_bg_002.png);
}

.title_block_02 h2{
	position:absolute;
	color:#ffffff;
	font-size:16px;
	top:9px;
	left:15px;
	text-align: left;
	line-height: 1.4;
}

.title_block_02 p{
	color:#ffffff;
	font-size:8px;
	margin:0 auto;
	padding-top:10px;
	text-align:center;
}

.title_block_02 ul{
	position:absolute;
	top:5px;
	right:15px;
}

.title_block_02 li{
	float:left;
	margin-left:5px;
}
.title_block_02.shop_blog h2,
.title_block_02.with_btn h2{
	top:0;
	line-height: 1.4;
	padding-top: 10px;
}

.title_block_03{
	padding-bottom:8px;
	margin-bottom:10px;
	background:url(../images/common_line_001.png) repeat-x left bottom;
}

.title_block_03 h3{
	color:#000000;
	font-size:11px;
	font-weight:bold;
}

.title_block_04{
	margin-bottom:10px;
}

.title_block_04 h4{
	color:#000000;
	font-size:11px;
	font-weight:bold;
}

.title_block h5{
	color:#000000;
	font-size:14px;
	font-weight:bold;
	margin-bottom:5px;
	display: table;
	width: 100%;
}

/*singleline h1 with icon*/
.title_block_005{
	margin-bottom:5px;
	display: table;
	width: 100%;
}
.title_block_005 h1{
	color:#000000;
	font-size:18px;
	font-weight:bold;
	display: table-cell;
	vertical-align: middle;
	min-height: 30px;
	width: auto;
	line-height: 30px;
}
.title_block_005 p.btn{
	display: table-cell;
	vertical-align: middle;
	min-height: 30px;
	max-width: 100px;
	text-align: right;
}

/*small h1 for modal*/
h1.small {
	font-size: 16px !important;
}

/*h2*/
h2 {
	line-height: 1.4;
}

/* Item Block
******************************************/
.item_block_01{
	margin:0 15px 10px;
}

.item_block_02{
	margin:0 15px 10px;
	padding:6px 5px;
	background:#ffffff;
}


/* Information Block
******************************************/
.info_block_01{
	margin-bottom:10px;
	padding:8px 0;
	background:url(../images/common_line_003.png) repeat-x;
	background-size:2px 45px;
}

.info_block_02{
	margin-bottom:10px;
	padding:8px 0;
	background:url(../images/common_line_001.png) repeat-x left top;
}

p.fav_blog{
	float:left;
	margin-right:6px;
}

p.fav_number{
	color:#000000;
	font-size:11px;
	font-weight:bold;
	float:left;
	margin:8px 10px 0 0;
}

p.squeeze_btn{
	float:right;
	margin-top:1px;
}

p.floor{
	font-size:11px;
	float:left;
	margin-top:5px;
	padding:2px 0 0 18px;
	background:url(../images/common_icon_006.png) no-repeat left;
	background-size:15px 15px;
}

p.telephone{
	font-size:11px;
	float:right;
	margin-top:7px;
}

.shop_info_detail div.f_left,
.shop_info_detail div.f_right {
	width: 49%;
}
.shop_info_detail p.floor,
.shop_info_detail p.telephone,
.shop_info_detail p.shopping,
.shop_info_detail p.shop_info{
	font-size: 11px;
	padding-left: 18px;
	background-size:15px 15px;
	background: no-repeat left top;
	float: none;
}
.shop_info_detail p.floor{
	background-image:url(../images/ico_floor.png);
}
.shop_info_detail p.telephone{
	background: url(../images/ico_tel.png) no-repeat 2px top;
	background-size:11px 15px;
	padding: 0 0 0 18px;
}
.shop_info_detail p.shopping{
	background-image:url(../images/ico_cart.png);
}
.shop_info_detail p.shop_info{
	background-image:url(../images/ico_info.png);
}

/* Image Block
******************************************/
.image_block_01{
	margin-bottom:15px;
	text-align:center;
	/*background-color : white;*/
}

.image_block_01 p.cap{
	font-size:10px;
	margin:4px 4px 0;
}

.image_block_01_nobg{
	margin-bottom:15px;
	text-align:center;
}

.image_block_cover{
	margin-bottom:15px;
	text-align:center;
	background-color : white;
}

.image_block_cover p.cap{
	font-size:10px;
	margin:4px 4px 0;
}

/* Text Block
******************************************/
.text_block_01{
	margin-bottom:10px;
	padding:0 4px;
}

.text_block_01 p{
	font-size:11px;
	margin-bottom:10px;
}

.text_block_02{
	margin-bottom:15px;
	padding:10px;
	background:#ffffff;
	border:solid #cccccc 2px;
	border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
}
.text_block_03 {
	padding: 10px;
}


/* Icon Block
******************************************/
.icon_block_02{
	padding:5px 10px;
	background:#f1f1f1;
}

.icon_block_02 ul{
	float:left;
	margin-top:2px;
}

.icon_block_02 li{
	float:left;
	margin-right:10px;
}

.icon_block_02 li.like_number{
	color:#ff3366;
	font-size:11px;
	font-weight:bold;
	float:right;
	margin-top:3px;
	padding-left:23px;
	background:url(../images/common_icon_003_act.png) no-repeat left top;
	background-size:12px 12px;
}


/* List Block
******************************************/
.list_block_01{
	margin-bottom:15px;
}

.list_block_01 dl dt{
	font-size:11px;
	clear:left;
	float:left;
	margin-bottom:10px;
}

.list_block_01 dl dd{
	font-size:11px;
	margin:0 0 10px 60px;
}

.list_block_02 li{
	min-height:33px;
	padding-left:60px;
	margin-bottom:15px;
	background-size:55px 29px;
}

.list_block_02 li.merit_01{
	background:url(../images/common_icon_019.png) no-repeat left 0.3em;
}

.list_block_02 li.merit_02{
	background:url(../images/common_icon_020.png) no-repeat left 0.3em;
}

.list_block_02 li.merit_03{
	background:url(../images/common_icon_021.png) no-repeat left 0.3em;
}

.list_block_02 li.merit_04{
	background:url(../images/common_icon_022.png) no-repeat left 0.3em;
}

.list_block_03{
	margin-bottom:15px;
	background:url(../images/common_line_001.png) repeat-x left top;
}

.list_block_03 div{
	padding:0 20px 0 15px;
	background:url(../images/common_line_001.png) repeat-x left bottom;
}

.list_block_03 div p{
	background:url(../images/common_icon_024.png) no-repeat right;
	background-size:16px 17px;
}

.list_block_03 div p a{
	display:block;
	padding:15px 0;
}

.list_block_03 div p.icon_01 a{
	padding-left:35px;
	background:url(../images/dummy/dummy_icon_001.png) no-repeat left;
	background-size:20px 20px;
}


/* Button Block
******************************************/
.btn_block_01{
	margin-bottom:15px;
	background:#ffffff;
	border-radius:3px;
	border:solid #999999 2px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
	box-shadow:2px 2px 2px rgba(153,153,153,0.4);
}

.btn_block_01 a{
	display:block;
	font-size:11px;
	font-weight:bold;
	padding:11px 0 11px 27px;
	background:url(../images/common_icon_007.png) no-repeat 15px 14px;
	background-size:8px 9px;

}

.btn_block_02{
	width:60%;
	margin:0 auto 15px;
	text-align:center;
	background:#ffffff;
	border:solid #999999 2px;
	border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
	box-shadow:2px 2px 2px rgba(153,153,153,0.4);
}

.btn_block_02 a{
	display:block;
	font-size:11px;
	font-weight:bold;
	padding:9px 0;
}

.btn_block_03{
	margin-bottom:15px;
	background:#ffffff;
	border:solid #999999 2px;
	border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
	box-shadow:2px 2px 2px rgba(153,153,153,0.4);
}

.btn_block_03 a{
	display:block;
	font-size:11px;
	font-weight:bold;
	padding:12px 0 10px 35px;
	background-size:20px 20px;
}

.btn_block_03.facebook a{
	background:url(../images/common_icon_010.png) no-repeat 10px;
	padding-left: 35px;
}

.btn_block_03.twitter a{
	background:url(../images/common_icon_014.png) no-repeat 10px;
	background-size: 23px 20px;
	padding-left: 35px;
	/*background:url(../images/common_icon_011_l.png) no-repeat 10px;*/

}

.btn_block_03.mail a{
	background:url(../images/common_icon_012.png) no-repeat 10px;
}

.btn_block_03.line a{
	background:url(../images/common_icon_013.png) no-repeat 10px;
}

.btn_block_04{
	margin-bottom:15px;
	background:#333333;
	border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
	box-shadow:2px 2px 2px rgba(153,153,153,0.4);
}

.btn_block_04 a{
	display:block;
	color:#ffffff;
	font-size:11px;
	font-weight:bold;
	padding:11px 0 11px 40px;
	background-size:20px 20px;
}

.btn_block_04.facebook a{
	background:url(../images/common_icon_017.png) no-repeat 10px;
}

.btn_block_04.twitter a{
	background:url(../images/common_icon_018.png) no-repeat 10px;
}

.btn_block_05{
	margin:0 auto 15px;
	text-align:center;
	background:#ff3366;
	border:solid #ff3366 2px;
	border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
	box-shadow:2px 2px 2px rgba(153,153,153,0.4);
}

.btn_block_05 a{
	display:block;
	color:#ffffff;
	font-size:11px;
	font-weight:bold;
	padding:9px 0;
}

.btn_block_05 a:hover{
	text-decoration: none;
}

.btn_block_05 a.check_in{
	line-height: 26px;
}
.btn_block_05 a.check_in img{
	margin-right: 10px;
}

.btn_block_06{
	margin:0 15px 15px;
	text-align:center;
	background:#333333;
	border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
	box-shadow:2px 2px 2px rgba(153,153,153,0.4);
}

.btn_block_06 a{
	display:block;
	color:#ffffff;
	font-size:11px;
	font-weight:bold;
	padding:11px 0;
	text-decoration: none;
}

.btn_block_07{
	margin:0 15px;
	text-align:center;
	background:#333333;
	border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
	box-shadow:2px 2px 2px rgba(153,153,153,0.4);
}

.btn_block_07 a{
	display:block;
	color:#ffffff;
	font-size:11px;
	font-weight:bold;
	padding:11px 0;
	text-decoration: none;
}
.btn_block_08 {
	margin: 0 auto 15px auto;
	background:#ffffff;
	border-radius:3px;
	border:solid #999999 2px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
	box-shadow:2px 2px 2px rgba(153,153,153,0.4);
	width: 50%;
}
.btn_block_08 a {
	display:block;
	font-size:11px;
	font-weight:bold;
	padding:11px 0 11px 50px;
	background:url(../images/common_icon_007.png) no-repeat 38px 14px;
	background-size:8px 9px;
}
.btn_block_09{
	text-align:center;
	background:#333333;
	border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
	box-shadow:2px 2px 2px rgba(153,153,153,0.4);
}

.btn_block_09 a{
	display:block;
	color:#ffffff;
	font-size:11px;
	font-weight:bold;
	padding:11px 0;
	text-decoration: none;
}
.btn_block_10{
	width: 60%;
	margin: 0 auto 15px;
	text-align:center;
	background:#333333;
	border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
	box-shadow:2px 2px 2px rgba(153,153,153,0.4);
}
.btn_block_10 a{
	display:block;
	color:#ffffff;
	font-size:11px;
	font-weight:bold;
	padding:11px 0;
	text-decoration: none;
}
.btn_block_05 input,
.btn_block_09 input {
	background-color: transparent;
	border: none;
	color: #ffffff;
	padding: 9px 0;
	font-weight: bold;
	cursor: pointer;
	width: 100%;
	font-size: 11px;
}


/* Form Block
******************************************/
.form_block_01{
	margin-bottom:20px;
}

.form_block_01 .form_text_01{
	color:#999999;
	width:95%;
	margin-bottom:15px;
	padding:5px;
	height: 17px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
	box-shadow:2px 2px 2px rgba(153,153,153,0.4);
}

.form_block_01 textarea{
	color:#999999;
	width:98%;
	height:60px;
	margin-bottom:10px;
	padding:5px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
	box-shadow:2px 2px 2px rgba(153,153,153,0.4);
}

/*checkbox*/
.check_box{
	display:none;
	z-index:-1;
}

.check_box_label{
	padding:7px 0 7px 27px;
	background:url(../images/common_form_cb_001.png) no-repeat left top;
	background-size:25px 25px;
}

.label_selected{
	background:url(../images/common_form_cb_002.png) no-repeat left top;
	background-size:25px 25px;
}

.form_block_01 .check_block_01 li{
	float:left;
	margin-bottom:15px;
	text-align:center;
	width: 90px;
}

.form_block_01 .check_block_01 li input{
	margin-right:5px;
}

.submit_btn_01{
	margin:0 auto;
	text-align:center;
}

.submit_btn_01 button{
	color:#ffffff;
	font-size:11px;
	width:62%;
	padding:6px 0;
	border:solid #ff3366 2px;
	background:#ff3366;
	border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
	box-shadow:2px 2px 2px rgba(153,153,153,0.4);
}


/* Column Block
******************************************/
/*2*/
.column2_block_01{
	margin-bottom:15px;
}

.column2_block_01 .f_right p.text{
	width:138px;
}

.column2_block_01 .f_left p.cap,
.column2_block_01 .f_right p.cap{
	font-size:10px;
	margin:4px 4px 0;
}

/*3*/
.column3_block_01{
	margin-bottom:15px;
}

.column3_block_01 .inner{
	float:left;
	margin-right:5px;
}


/* Modal Block
******************************************/
#modal{
	background:url(/s/common/images/common_bg.png);
}

.modal_block_01{
	margin:0 auto;
	padding:15px;
	text-align:left;
}
.modal_block_01 .form_block_01 {
	text-align: center;
}
.modal_block_01 .form_block_01 textarea{
	width:92%;
}

/* Back Block
******************************************/
.back_block_01{
	margin-bottom:10px;
	padding:10px 15px 7px;
	text-align:left;
	background:#ffffff;
}

.back_block_01 p{
	width:20%;
	text-align:center;
	background:#ffffff;
	border:solid #999999 2px;
	border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
	box-shadow:2px 2px 2px rgba(153,153,153,0.4);
}

.back_block_01 p a{
	display:block;
	font-size:11px;
	font-weight:bold;
	padding:9px 0;
}


/* Table Block
******************************************/
.table_block_01{
	margin-bottom:15px;
}

.table_block_01 table{
	width:100%;
	border-top:solid #999999 1px;
	border-left:solid #999999 1px;
}

.table_block_01 table th{
	font-weight:bold;
	padding:5px 10px;
	text-align:left;
	background:#d9d9d9;
	border-right:solid #999999 1px;
	border-bottom:solid #999999 1px;
}

.table_block_01 table td{
	padding:5px 10px;
	text-align:left;
	background:#ffffff;
	border-right:solid #999999 1px;
	border-bottom:solid #999999 1px;
}

.table_block_01 table th.cell01,
.table_block_01 table td.cell01{
	width:30%;
}

.table_block_01 table th.cell02,
.table_block_01 table td.cell02{
	width:70%;
}

.table_block_01 table td.cap{
	font-weight:bold;
	background:#f4f4f4;
}


/* Lightbox(fancybox)
******************************************/

/*! fancyBox v2.1.3 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	vertical-align: top;
}

.fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8020;
}

.fancybox-skin {
	position: relative;
	color: #444;
	text-shadow: none;
}

.fancybox-opened {
	z-index: 8030;
}

.fancybox-opened .fancybox-skin {
/*	-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	   -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);*/
}

.fancybox-outer, .fancybox-inner {
	position: relative;
}

.fancybox-inner {
	overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
	-webkit-overflow-scrolling: touch;
}

.fancybox-error {
	color: #444;
	font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
	padding: 15px;
	white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
	display: block;
	width: 100%;
	height: 100%;
}

.fancybox-image {
	max-width: 100%;
	max-height: 100%;
}

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -22px;
	margin-left: -22px;
	background-position: 0 -108px;
	opacity: 0.8;
	cursor: pointer;
	z-index: 8060;
}

#fancybox-loading div {
	width: 44px;
	height: 44px;
	background: url('../images/fancybox/fancybox_loading.gif') center center no-repeat;
	background-size: 24px 24px;
}

.fancybox-close {
	display: block;
	position: absolute;
	top:-15px;
	right:-8px;
	width: 29px;
	height: 29px;
	background: url(../images/fancybox/fancybox_close.png) no-repeat 0 0 ;
	-webkit-background-size: 29px 29px;
	     -o-background-size: 29px 29px;
	        background-size: 29px 29px;
	cursor: pointer;
	z-index: 8040;
}
.fancybox-nav {
	position: absolute;
	top: 0;
	width: 40%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
	background: transparent url('../images/fancybox/blank.gif'); /* helps IE */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	z-index: 8040;
}

.fancybox-prev {
	left: 0;
}

.fancybox-next {
	right: 0;
}

.fancybox-nav span {
	position: absolute;
	top: 50%;
	width: 36px;
	height: 34px;
	margin-top: -18px;
	cursor: pointer;
	z-index: 8040;
	visibility: hidden;
}

.fancybox-prev span {
	left: 10px;
	background-position: 0 -36px;
}

.fancybox-next span {
	right: 10px;
	background-position: 0 -72px;
}

.fancybox-nav:hover span {
	visibility: visible;
}

.fancybox-tmp {
	position: absolute;
	top: -99999px;
	left: -99999px;
	visibility: hidden;
	max-width: 99999px;
	max-height: 99999px;
	overflow: visible !important;
}

/* Overlay helper */

.fancybox-lock {
	overflow: hidden;
}

.fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	z-index: 8010;
	background: url(../images/fancybox/fancybox_overlay_02.png);
	/*	background: url('../images/fancybox/fancybox_overlay.png');*/
}

.fancybox-overlay-fixed {
	position: fixed;
	bottom: 0;
	right: 0;
}

.fancybox-lock .fancybox-overlay {
	overflow: auto;
	overflow-y: scroll;
}

/* ADD 2013/01/23
******************************************/
#header{
	position:relative;
	margin:0 5px;
	padding:10px 0 9px;
}
@media only screen and (max-device-width: 340px) {
#header p a img{
	padding-right:3em;
}
#header p.header_btn a.open img{
	padding-right:0;
}
}

.header_info{
	font-size:10px;
	position:absolute;
	top:7px;
	right:0;
	text-align:right;
}

.tab_block_01 p.fav{
	float:right;
	margin-right: 15px;
	background:url(../images/common_btn_010_on.png) no-repeat left;
	background-size:54px 30px;
	width: 54px;
	height:30px;
}
.tab_block_01 p.fav.active img {
	display: none;
}


.side_menu_header p{
	color:#ffffff;
	font-size:10px;
	float: none;
}
.side_menu_header p.btn{
	margin-left:0;
	margin-bottom:10px;
	text-align: left;
}
.side_menu_header dl.tel{
	text-align:right;
	margin-top:12px;
	font-size: 10px;
	color: #ffffff;
}
.side_menu_header dl.tel a {
	color: #ffffff;
	text-decoration: underline;
}
.side_menu_header .tel dt{
	width:60px;
	float:left;
	text-align: left;
}

.side_menu_header .tel dd{
	width:100%;
	text-align: left;
}
.side_menu_header dl.hours{
	clear:both;
	text-align:left;
	padding-top:5px;
	color:#FFFFFF;
	font-size:10px;
	width:100%;
}

.side_menu_header dt{
	width:60px;
	float:left;
}

.side_menu_header dd{
	width:150px;
}

.side_menu_header dd.tel a{
	color:#ffffff;
	text-decoration:underline;
}



/*.title_block_02 p{
	color:#ffffff;
	font-size:10px;
	float:left;
	margin-top: 0;
}*/


.list_block_03 div p.icon_01 a{
	padding-left:35px;
	padding-right:20px;
	background:url(../images/common_icon_025.png) no-repeat left;
	background-size:20px 20px;
}

.list_block_03 div p.icon_02 a{
	padding-left:35px;
	padding-right:20px;
	background:url(../images/common_icon_026.png) no-repeat left;
	background-size:20px 20px;
}

.check_box_label{
	padding:7px 0 0 30px;
	display:block;
	background:url(../images/common_form_cb_001.png) no-repeat left top;
	background-size:25px 25px;
	height:25px;
	line-height:1;
}

.label_selected{
	background:url(../images/common_form_cb_002.png) no-repeat left top;
	background-size:25px 25px;
}

.check_block_01 li label.check_box_label{
	width:23px;
	margin:0 auto;
	padding-top:3px;
}



/* ADD 2013/01/28
******************************************/
.tab_block_02 {
	display: block;
}
.tab_block_02 .tab {
	margin: 0 15px;
}
.tab_block_02 .tab li {
	display: block;
	border-top-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    -moz-border-top-left-radius: 3px;
	border-top-right-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-top-right-radius: 3px;
    	border-bottom-left-radius: 3px;
    -webkit-bottom-top-left-radius: 3px;
    -moz-border-bottom-left-radius: 3px;
    	border-bottom-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-bottom-right-radius: 3px;
    	margin-bottom: 5px;
	background-color: #000000;
	width: 49%;
	height: 34px;
	text-align: center;
	line-height: 34px;
}
.tab_block_02 .tab li.select {
	background: #fff;
	border-bottom-left-radius: 0;
    -webkit-bottom-top-left-radius: 0;
    -moz-border-bottom-left-radius: 0;
    	border-bottom-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-bottom-right-radius: 0;
    	margin-bottom: 0;
	height: 39px;
}
.tab_block_02 .tab li:first-child { float: left; }
.tab_block_02 .tab li:last-child { float: right; }
.tab_block_02 .tab li span {
	cursor: pointer;
	display: block;

	background-size: 20px 10px;
	height: 34px;
	color: #fff;
}
.tab_block_02 .tab li.select span {
	background: none;
	color: #000;
}
.accordion span {
	display: block;
	padding-left: 39px;
	background: url(../images/ico_plus_01.png) no-repeat 10px center;
	background-size: 21px 21px;
	font-size: 10px;
	color: #fff;
	height: 40px;
	line-height: 40px;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
}
.accordion span.opened {
	background-image: url(../images/ico_minus_01.png);
}
.accordion span .fl_num,
.accordion span .shop_name {
	display: block;
}
.accordion span .fl_num {
	width: 3em;
	float: left;
}
.accordion span .shop_name {
	width: 98%;
}
.accordion ul ul {
	display: none;
}
.accordion ul li {
	border-bottom: 1px solid #fff;
	background-color: #999999;
}
.accordion ul:last-child li:last-child {
	border-bottom: none;
}
.accordion ul li.no_border {
	border-bottom: 0;
}
.accordion ul.sub li {
	padding: 0;
	border-bottom: 1px solid #999;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
	background: #fff url(../images/ico_arrow_01.png) no-repeat 98% center;
	background-size: 11px 17px;
}
.accordion ul.sub li:last-child {
	border-bottom: none;
}
.accordion ul.sub li.last{
	border-bottom: 1px solid #999;
}
.accordion ul.sub li a,
.accordion ul.sub li div {
	font-size: 11px;
	color: #000;
	display: block;
	padding: 1.2em 36px 1.2em 39px;
}
.accordion ul.sub li div a {
	font-size: 12px;
	padding: 0;
	display: inline;
}
.accordion.no_linklist ul.sub li {
	padding: 1.2em 15px 1.2em 15px;
	background-image: none;
}
.accordion.no_linklist ul.sub li a {
	display: inline;
	padding: 0;
}
.accordion.no_linklist ul.sub li div {
	padding: 0;
	font-size: 12px;
	color: #333333;
}


.link_block_01 {
	margin:0 15px 10px;
}
.boxed_article_01 .link_block_01 {
	margin: 5px 0 0 0;
}
li.internal,
li.external {
	padding-left: 15px;
	background: url(../images/ico_arrow_02.png) no-repeat left center;
	background-size: 8px 8px;
}
li.within_page {
	padding-left: 15px;
	background: url(../images/ico_arrow_03.png) no-repeat left center;
	background-size: 8px 6px;
	float: left;
	width: 45%;
}

.external a,
li.external a {
	padding-right: 17px !important;
	background: url(../images/ico_external_01.png) no-repeat right center;
	background-size: 13px 10px;
}

.commonlist_block_01 {
	margin: 0 0 10px 0;
}
.commonlist_block_01 ul {
	border-top: 1px dotted #000;
}
.commonlist_block_01 li {
	border-bottom: 1px dotted #000;
}
.commonlist_block_01 li a {
	display: block;
	padding: 10px 45px 10px 15px;
	background: url(../images/common_icon_002.png) no-repeat 98% center;
	background-size: 16px 17px;
	color: #000;
	text-decoration: none;
}
.commonlist_block_01 li span.category {
	margin-right: 1em;
}

.boxed_article_01 {
	margin-bottom: 10px;
	border: 1px solid #cecece;
	font-size: 11px;
}
.boxed_article_01 .title {
	padding: 5px 10px;
	background: #cecece;
}
.boxed_article_01 .description {
	padding: 7px 10px;
}

.definition_list_block_01 dt {
	margin-right: 1em;
	float: left;
	width: auto;
	clear: both;
	font-weight: bold;
}
.definition_list_block_01 dd {
	float: left;
	width: auto;
	word-break: break-all;
	word-wrap: break-word;
}

.social_btn_block_01 .btn {
	width: 48%;
	margin-bottom:15px;
	background:#ffffff;
	border: 2px solid #999999;
	border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
	box-shadow:2px 2px 2px rgba(153,153,153,0.4);
}
.social_btn_block_01 .btn a {
	display:block;
	font-size:11px;
	font-weight:bold;
	padding:11px 0 11px 35px;
	/*padding-left: 52px;
	height: 36px;
	line-height: 36px;*/

}
.social_btn_block_01 .facebook {
	float: left;
}
.social_btn_block_01 .facebook a {
	background:url(../images/common_icon_010.png) no-repeat 10px center;
	background-size:20px 20px;
}
.social_btn_block_01 .twitter {
	float: right;
}
.social_btn_block_01 .twitter a {
	background:url(../images/common_icon_014.png) no-repeat 10px center;
	background-size:23px 20px;
}
.social_btn_block_01 .share_check_in .unit {
	float: left;
	width: 48%;
}

.title_block_01 h2.full {
	width: auto;
}
.form_block_01 .form_text_01.with_notes {
	margin-bottom: 0;
}
.notes {
	position: relative;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 10px;
}
.notes.first {
	margin-top: 5px;
	margin-bottom: 0;
}
.notes.last {
	margin-top: 0;
	margin-bottom: 5px;
}
.notes.with_bullet {
	margin-left: 1.5em;
}
.notes .bullet {
	position: absolute;
	top: 0;
	left: -1.2em;
}
.mb15 {
	margin-bottom: 15px;
}
.boxed_text_block_01 {
	padding: 7px 10px;
	border: 1px solid #ccc;
	background: #fff;
}

.column3_block_02 {
	margin: 5px 0;
}
.column3_block_02 .unit {
	float: left;
	width: 33%;
}
.column3_block_02 .unit .checked {
	color: #999;
}

.column3_block_02 .check_block_01 li {
	padding-top: 5px;
	width: 100%;
}

.red {
	color: #cc0000;
}

.column2_table_block_01 table {
	width: 100%;
}
.column2_table_block_01 th {
	padding-right: 10px;
	padding-bottom: 10px;
	font-weight: normal;
}
.column2_table_block_01 td {
	padding-bottom: 10px;
	width: 48%;
}
.column2_table_block_01 td .btn_block_01 {
	margin-bottom: 0;
}

.column2_search_block_01 table {
	width: 100%;
}
.column2_search_block_01 th {
	padding-right: 10px;
	width: 30%;
	font-weight: normal;
}
.column2_search_block_01 .side_menu_search_block {
	margin-bottom: 0;
	float: none;
	width: auto;
}
.column2_search_block_01 .side_menu_search_block input.sms_block_text{
	width: 80%;

}
.side_menu_search_block input.sms_block_btn:not([width]){
	zoom: 0.5;
}

.text_block_01 p.catchcopy {
	font-size: 13px;
}

.boxed_text_block_01.error {
	border: 1px solid #F28100;
	background: #FFFFE4;
	font-size: 11px;
	color: #F28000;
	text-align: center;
}


.column2_table_block_02 table {
	width: 100%;
}
.column2_table_block_02 td:first-child {
	padding-right: 5px;
	padding-bottom: 10px;
	width: 50%;
}
.column2_table_block_02 td:last-child {
	padding-left: 5px;
	padding-bottom: 10px;
	width: 50%;
}
.column2_table_block_02 td .btn_block_01 {
	margin-bottom: 0;
	background:#ffffff;
	border-radius:3px;
	border:solid #999999 2px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
	box-shadow:2px 2px 2px rgba(153,153,153,0.4);
}
.column2_table_block_02 td .btn_block_01 a {
	display:block;
	font-size:11px;
	font-weight:bold;
	padding:11px 0 11px 42px;
	background:url(../images/common_icon_007.png) no-repeat 30px 14px;
	background-size:8px 9px;
}
.column2_table_block_02 td .btn_block_02 {
	margin-bottom: 0;
	background:#ffffff;
	border-radius:3px;
	border:solid #999999 2px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
	box-shadow:2px 2px 2px rgba(153,153,153,0.4);
	width: auto;
	text-align: left;
}
.column2_table_block_02 td .btn_block_02 a {
	display:block;
	font-size:11px;
	font-weight:bold;
	padding:11px 0 11px 22px;
	background:url(../images/common_icon_007.png) no-repeat 10px 14px;
	background-size:8px 9px;
}


/* ADD 2013/02/04
******************************************/
.iframe01{
	width:290px;
	height:100px;
	border:none;
}

.sns_share_block{
	width:80%;
	margin:0 auto 10px;
	text-align:center;
}

.share_btn_left{
	padding-right:40px;
}
.sns_share_block {
	width: 230px;
}
.sns_share_block .btn_block_03 {
	width: 90px;
	float: left;
}
.sns_share_block .btn_block_03.facebook {
	margin-left: 10px;
	margin-right: 20px;
}
.sns_share_block .btn_block_03.twitter a {
	padding-left: 30px;
}

.icon_flat_lit_4{
	width:100%;
}

.icon_flat_lit_4 li{
	width:25%;
	margin:0;
	text-align: center;
}

.icon_flat_lit_4 .like_number{
	color:#ff3366;
	font-size:11px;
	font-weight:bold;
	margin-top:3px;
	padding-left:16px;
	background:url(../images/common_icon_003_act.png) no-repeat left top;
	background-size:12px 12px;
	width:15%;
}
/*.icon_block_02 li.like_number{
	color:#ff3366;
	font-size:11px;
	font-weight:bold;
	float:right;
	margin-top:3px;
	padding-left:23px;
	background:url(../images/common_icon_003_act.png) no-repeat left top;
	background-size:12px 12px;
	width:15%;
	text-align:right;
}*/

/***********************************************/
/*   OVERWRITE styles are written in advance   */
/***********************************************/
.title_block h1,
.title_block_001 h1,
.title_block_002 h1,
.title_block_003 h1,
.title_block_004 h1 {
	font-size: 18px;
}
.check_box_label {
	padding:5px 0 0 30px;
	line-height:1.4;
	min-height: 25px;
	height: auto;
}

/* Blog Link
******************************************/
.item_block_02 .blog_link {
	margin: 0 -3px;
}
.item_block_02 .blog_link li {
	width: 40%;
}
.item_block_02 .blog_link li a {
	display: block;
}
.item_block_02 .blog_link .prev{
	padding-left: 20px;
	float: left;
	background: url("../images/common_icon_027.png") no-repeat scroll left center transparent;
	background-size:16px 18px;
}
.item_block_02 .blog_link .next {
	padding-right: 20px;
	float: right;
	text-align: right;
	background: url("../images/common_icon_002.png") no-repeat scroll right center transparent;
	background-size:16px 18px;
}

/* Blog title h2
******************************************/
.title_block_01.blog_title{
	position: relative;
	padding: 0;
	display: table;
	width: 100%;
}

.title_block_01.blog_title h2{
	padding-right: 70px;
	width: auto;
	line-height:1.4;
	padding: 5px 0 5px 15px;
	display: table-cell;
	vertical-align: middle;
}

.title_block_01.blog_title p.date{
	display: table-cell;
	vertical-align: middle;
	text-align: right;
	padding-right: 15px;
	width: 7em;
	/*position: absolute;
	top: 6px;
	right: 15px;*/
}
/*.title_block_01.blog_title p.date{
	position: absolute;
	top: 6px;
	right: 15px;
}*/

.title_block_01 p.date{
	color:#ffffff;
	font-size:10px;
	/*margin-top:6px;
	display: inline-block;*/
	vertical-align: middle;
}

/* select
******************************************/
.select_box {
	background-color: #f7f5ee;
	border: 1px solid #cccccc;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	padding: 1px;
}
.select_box select {
	-moz-appearance: button;
	-webkit-appearance: button;
	appearance: button;
	border: none;
	padding-left: 10px;
	padding-right: 30px;
	background: url(../images/common_form_icon_001.png) no-repeat right top;
	background-size: 28px 28px;
	height: 28px;
	width: 100%;
	min-width: 175px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}
.side_menu_search select {
	padding-left: 3px;
}

.modal_block_01.squeeze p.f_left {
	line-height: 30px;
}
.modal_block_01.squeeze .f_right {
	text-align: right;
	margin: 3px 0 15px;
}
@media all and (orientation:landscape){
.modal_block_01.squeeze .f_right{
	width: 60%;
}
}

.select_block {
	display: table;
	width: 100%;
}
.select_block .select_left,
.select_block .select_right {
	display: table-cell;
	vertical-align: middle;
}
.select_block .select_left {
	width: 35%;
	line-height: 30px;
}
.select_block .select_right {
	width: 65%;
}

/* shop_info modal
******************************************/
#modal .title_block_004 {
	position: relative;
	min-height: 60px;
}
#modal .title_block_004 ul {
	position: absolute;
	right: 15px;
	top: 2em;
}
#modal .title_block_004 h1 {
	padding-right: 90px;
	line-height: 1.4;
}
#modal .logo_box{
	display: table;
	width: 100%;
	margin-bottom: 10px;
}
#modal .logo_box_inner{
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}
#modal .logo_box_inner img {
	display: block;
	margin:0 auto;
}
#modal .table_block_01 table th {
	width: 35%;
	height: 77%;
}

.list_block_03 div p.icon_03 a{
	padding-left:35px;
	padding-right:20px;
	background:url(../images/common_icon_028.png) no-repeat left;
}
.list_block_03 div p.icon_01 a,
.list_block_03 div p.icon_02 a,
.list_block_03 div p.icon_03 a {
	background-size: 22px 22px;
}
.list_block_03 .blog_log a {
	padding-left: 35px;
}

/* gray background section
******************************************/
.section_block_01 {
	background-color: #efefef;
	border-radius: 3px 3px 3px 3px;
	border: 2px solid #efefef;
	padding: 10px;
}

/* Recruit Index Page
******************************************/
#main.recruit {
	padding-bottom: 0;
}
.recruit .commonlist_block_01 {
	margin-top: -10px;
	margin-bottom: 0;
}
.recruit .commonlist_block_01 ul {
	border-top: 0;
}
.recruit .commonlist_block_01 ul li.last {
	border-bottom: none;
}
.recruit .text_block_01 {
	margin-bottom: 0;
}
.recruit .text_block_01 p{
	margin-bottom: 0;
	padding-bottom: 10px;
}

/* Recruit Detail Page
******************************************/
.item_block_02.recruit_detail .table_block_01 {
	margin-bottom: 0;
}
.item_block_02.recruit_detail .table_block_01 table th {
	width: 6.5em;
}
.item_block_02.recruit_detail .table_block_01 table td {
	width: auto;
}
.item_block_02.recruit_detail .table_block_01 table th,
.item_block_02.recruit_detail .table_block_01 table td {
	word-break: break-all;
	word-wrap: break-word;
}

/* restaurant
******************************************/
.accordion ul.sub li .name {
	font-weight: bold;
	display: block;
}
.accordion ul.sub li .category {
	display: block;
	font-weight: normal;
	font-size: 11px;
}
.restaurant .accordion ul.sub li {
	padding: 0;
}
.restaurant .accordion ul.sub li a {
	display: block;
	padding: 1.2em 36px 1.2em 39px;
}
.restaurant .accordion ul.sub li a:hover {
	text-decoration: none;
}
#tab01.blank,
#tab02.blank {
	border-bottom: 0;
}

/* bullet notes list
******************************************/
.bullet_notes li {
	padding-left: 1.2em;
	text-indent: -1.2em;
	font-size: 11px;
	line-height: 1.4;
}
.bullet_notes li .bullet {
	padding-right: 0.2em;
	font-family:"ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}


/* common error 401
******************************************/
#login_web_account .form_block_01 .form_text_01 {
	margin-bottom: 5px;
}
#login_web_account .ttl {
	margin-top: 10px;
}
#login_web_account .notes.with_bullet.red {
	margin-top: 0;
}
#login_web_account .pass_remind_link {
	margin-bottom: 15px;
}
#login_web_account #back_to_top {
	margin: 50px 0;
}

/* common error 404
******************************************/
#not_found #back_to_top {
	margin: 20px 0;
}

/* blog entry_block
******************************************/
.entry_block ol{
	margin-left: 1.5em;
}
.entry_block ul{
	margin-left: 1em;
}
.entry_block ul li{
	list-style: disc none outside;
}
.entry_block li{
	word-wrap:break-word;
	word-break:break-all;
}

/* search result inputbox
******************************************/
form .item_block_01:after {
	content:".";
	display:block;
	height:0px;
	clear:both;
	visibility:hidden;
	font-size:0.1em;
	line-height:0;
}
.side_menu_search_block {
	width: 100%;
}
.side_menu_search_block input.sms_block_text {
	width: 80%
}

/* agreement
******************************************/
#agreement .accordion span {
	height: auto;
	min-height: 40px;
}
#agreement .conts_num,
#agreement .conts_ttl {
	display: block;
	float: left;
	line-height: 1.5;
	padding-top: 14px;
	padding-bottom: 11px;
}
#agreement .conts_num {
	width: 5em;
}
#agreement .conts_ttl {
	width: 75%;
}
#agreement .accordion ul.sub li p {
	margin-bottom: 0;
	font-size: 12px;
}
#agreement ol.type_1 {
	list-style-type: decimal;
	margin-left: 1.5em;
}
#agreement ol.type_1 li {
	border: none;
	padding: 0 !important;
}
#agreement ul.num_01 {
	display: block;
	margin-left: 2em;
}
#agreement ul.num_01 li {
	text-indent: -2em;
	border: none;
	padding: 0 !important;
}

/* Modal Facebook Send
******************************************/
.modal_block_01#send_fb_modal{
	width: 400px;
}

/* Modal Facebook
******************************************/
.inner_block_01 {
	padding: 0 3px 0;
	margin-bottom: 10px;
}
.inner_block_01.line_01 {
	padding: 0 3px 15px;
	background: url(../images/line_01.png) repeat-x 0 bottom;
	-webkit-background-size: 270px 9px;
	     -o-background-size: 270px 9px;
	        background-size: 270px 9px;
}
.btns_block_01 {
	margin: 0 auto 10px;
	text-align: center;
}
.btns_block_01 > div {
	display: inline-block;
	padding: 5px 0;
	width: 50%;
}

.popup_wrapper {
	width: 300px;
	margin: 0 auto;
	padding: 10px 0 0;
	background: url(../images/bg_pop_wrapper_top.png) no-repeat 0 0;
	-webkit-background-size: 300px 10px;
	     -o-background-size: 300px 10px;
	        background-size: 300px 10px;
	text-align:left;
}
.popup_wrapper_inner_01 {
	padding: 0 0 10px;
	background: url(../images/bg_pop_wrapper_btm.png) no-repeat 0 bottom;
	-webkit-background-size: 300px 10px;
	     -o-background-size: 300px 10px;
	        background-size: 300px 10px;
}
.popup_wrapper_inner_02 {
	padding: 0 10px;
	background: url(../images/bg_pop_wrapper_mid.png) repeat-y 0 0;
	-webkit-background-size: 300px 10px;
	     -o-background-size: 300px 10px;
	        background-size: 300px 10px;
}
.popup_wrapper #modal{
	background:url(/s/common/images/common_bg.png);
	-webkit-background-size: 300px 32px;
	     -o-background-size: 300px 32px;
	        background-size: 300px 32px;
	text-align:left;
}
.popup_wrapper .modal_block_01{
	padding:0;
}
.popup_wrapper .form_block_01 {
	text-align: center;
}
.popup_wrapper .form_block_01:last-child {
	margin-bottom: 0;
}
.title_block_006{
	margin-bottom:10px;
	/*padding-bottom:5px;*/
}
.title_block_006 h1{
	padding: 0 0 0 26px;
	background-repeat: no-repeat;
	background-position: 3px center;
	-webkit-background-size: 21px 16px;
	     -o-background-size: 21px 16px;
	        background-size: 21px 16px;
	color: #ff235a;
	font-size: 15px;
	font-weight: bold;
	line-height: 17px;
}
.title_block_006 .heart{ background-image: url(../images/icon_heart.png); }
.title_block_006 .friend{ background-image: url(../images/icon_friend.png); }
.title_block_006 .share{ background-image: url(../images/icon_share.png); }

.popup_wrapper .check_box_label{
	margin-top: 10px;
	padding:3px 0 0 25px;
	display:inline-block;
	background:url(../images/common_form_cb_001.gif) no-repeat left top;
	background-size:18px 18px;
	height:18px;
	line-height:1;
}
.popup_wrapper .label_selected{
	background:url(../images/common_form_cb_002.gif) no-repeat left top;
	background-size:18px 18px;
}




.popup_wrapper input[type="image"] {
	zoom: 0.5;
	width: auto;
	padding: 0;
}
.popup_wrapper .submit_btn_01 {
	padding: 5px 0;
}
.popup_wrapper .form_block_01 textarea{
	color:#000;
	width:100%;
	height:60px;
	margin-bottom:10px;
	padding:5px;
	background: #EBEBEB;
	border: 1px solid #000;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	box-shadow:0;
}
