@charset "UTF-8";
@import "http://parco.jp/s/common/css/shop_member.css";
/* member
******************************************/
#member {
  text-align: left;
  padding: 25px 0;
  background: url(/s2/member/images/bg.png);
  -moz-background-size: 111px 133px;
  -webkit-background-size: 111px 133px;
  background-size: 111px 133px;
}
#member .title_block_07 {
  text-align: center;
  margin-bottom: 25px;
}
#member .btn_join {
  text-align: center;
  margin-bottom: 25px;
}
#membersContents {
  width: 270px;
  margin: 0 auto;
}
#membersContents li {
  width: 250px;
  height: 164px;
  padding: 20px 0 0 20px;
  margin-bottom: 25px;
  background: url(/s2/member/images/waku.png);
  -moz-background-size: 270px 184px;
  -webkit-background-size: 270px 184px;
  background-size: 270px 184px;
}
#membersContents li h2 {
  padding-left: 9px;
  margin-bottom: 15px;
}
#membersContents li p {
  font-size: 100%;
  padding: 0 30px 0 75px;
  background-repeat: no-repeat;
  background-position: 0 0;
  -moz-background-size: 66px 62px;
  -webkit-background-size: 66px 62px;
  background-size: 66px 62px;
}
#membersContents li.favorite_blog p { background-image: url(/s2/member/images/icon_favorite_blog.png); }
#membersContents li.like p { background-image: url(/s2/member/images/icon_like.png); }
#membersContents li.send p { background-image: url(/s2/member/images/icon_send.png); }
#membersContents li.share p { background-image: url(/s2/member/images/icon_share.png); }
#membersContents li.checkin p { background-image: url(/s2/member/images/icon_checkin.png); }
#membersContents li.mailnews p { background-image: url(/s2/member/images/icon_mailnews.png); }
#membersContents li.login p { background-image: url(/s2/member/images/icon_login.png); }
#member .btn_join_02 {
  text-align: center;
}
#member a:hover img{
  opacity:0.9;
  filter:alpha(opacity=90);
  -ms-filter:alpha( opacity=90 );
}
