@charset "UTF-8";

/* Modal Facebook
******************************************/
.inner_block_01 {
	padding: 0 3px 0;
	margin-bottom: 10px;
}
.inner_block_01.line_01 {
	padding: 0 3px 15px;
	background: url(../images/line_01.png) repeat-x 0 bottom;
	-webkit-background-size: 270px 9px;
	     -o-background-size: 270px 9px;
	        background-size: 270px 9px;
}
.btns_block_01 {
	margin: 0 auto 10px;
	text-align: center;
}
.btns_block_01 > div {
	display: inline-block;
	padding: 5px 0;
	width: 50%;
}
.btns_block_01 > div.clear {
	display: block;
	width: 100%;
}
.popup_wrapper {
	width: 280px;
	margin: 0 auto;
	text-align:left;
}
.popup_wrapper_inner_01 {
	padding-top: 10px;
}
.popup_wrapper_inner_02 {
}
.popup_wrapper #modal{
	background:url(/s/common/images/common_bg.png);
	-webkit-background-size: 300px 32px;
	     -o-background-size: 300px 32px;
	        background-size: 300px 32px;
	text-align:left;
}

.popup_wrapper .modal_block_01{
	padding:0;
}
.popup_wrapper .form_block_01 {
	text-align: center;
}
.popup_wrapper .form_block_01:last-child {
	margin-bottom: 0;
}
.title_block_006{
	margin-bottom:10px;
	/*padding-bottom:5px;*/
}
.title_block_006 h1{
	padding: 0 0 0 26px;
	background-repeat: no-repeat;
	background-position: 3px center;
	-webkit-background-size: 21px 16px;
	     -o-background-size: 21px 16px;
	        background-size: 21px 16px;
	color: #ff235a;
	font-size: 15px;
	font-weight: bold;
	line-height: 17px;
}
.title_block_006 .heart{ background-image: url(../images/icon_heart.png); }
.title_block_006 .friend{ background-image: url(../images/icon_friend.png); }
.title_block_006 .share{ background-image: url(../images/icon_share.png); }

.popup_wrapper .check_box_label{
	margin-top: 10px;
	padding:3px 0 0 25px;
	display:inline-block;
	background:url(../images/common_form_cb_001.gif) no-repeat left top;
	background-size:18px 18px;
	height:18px;
	line-height:1;
}
.popup_wrapper .label_selected{
	background:url(../images/common_form_cb_002.gif) no-repeat left top;
	background-size:18px 18px;
}

.popup_wrapper input[type="image"] {
	zoom: 0.5;
	width: auto;
	padding: 0;
}
.popup_wrapper .submit_btn_01 {
	padding: 5px 0;
}
.popup_wrapper .form_block_01 textarea{
	color:#000;
	width:100%;
	height:60px;
	margin-bottom:10px;
	padding:5px;
	background: #EBEBEB;
	border: 1px solid #000;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	box-shadow:0;
}

.fancybox-opened .fancybox-skin {
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	        box-shadow: none;
}

/* Modal Facebook Send
******************************************/
.modal_block_01#send_fb_modal{
	width: auto;
	min-width: 280px;
}
