@charset "UTF-8";

/* wide list
******************************************/
.commonlist_block_01 li a {
	padding: 14px 45px 14px 15px;
}

/* web member menu list
******************************************/
.commonlist_block_01 li.current {
	font-weight: bold;
}
.commonlist_block_01 li.current a {
	background-image: none;
}


/* h3
******************************************/
table .title_block_04 {
	margin-bottom: 0;
}
.title_block_03 h3 {
	font-size: 12px;
}

/* h4
******************************************/
.title_block_03 {
	padding-top: 10px;
	padding-bottom: 4px;
}
.title_block_03 h4 {
	font-size: 14px;
}

/* checkbox
******************************************/
.check_box_label {
	margin-bottom: 10px;
}

/* connect btn
******************************************/
.btn_block_01 a {
	height: 40px;
	padding: 0 0 0 27px;
	line-height: 40px;
	background-position: 15px 15px;
}

/* notes with space
******************************************/
.notes_02 {
	font-size: 10px;
	margin-bottom: 5px;
	margin-top: 5px;
	padding-left: 0.5em;
}
.notes.first {
	margin-top: 0;
}

/* check in comment input
******************************************/
.form_block_01 textarea.check_in {
	width: 94%;
	margin: 0 5px 5px;
}

/* my_page edit connect btn
******************************************/
.column2_table_block_02 td:first-child {
	padding-left: 0;
}

/* login domain_box
******************************************/
.boxed_text_block_01.domain {
	margin: 0 1.5em 0 16px;
}
.with_bullet.domain {
	margin-left: 15px;
}

/* external
******************************************/
ul li.external {
	line-height: 13px;
	height: 13px;
}

/* check_in sns
******************************************/
.column3_block_02 .unit .check_block_01 li {
	padding-top: 0;
}
.submit_btn_01 button {
	padding: 0;
	min-height: 25px;
}

/* btn under h2
******************************************/
.btn_block_10.logout {
	margin: 60px auto 50px;
}
.close {
	margin: 60px auto 60px;
	text-align: center;
}

/* recommend_menu
******************************************/
.recommend_menu .title_block_01 {
	margin-bottom: 0;
}
.recommend_menu .commonlist_block_01 ul {
	border-top: none;
}


/* confirm
******************************************/
#confirm dt {
	font-weight: bold;
}
#confirm dd {
	padding-left: 5px;
	margin-bottom: 15px;
}
#confirm_btn {
	margin-bottom: 5px;
}
#confirm_btn li {
	width: 49%;
}
#confirm_btn .btn_block_05 {
	margin-bottom: 0;
}
#confirm_btn .btn_block_09 {
	border: 2px solid #333333;
}
.btn_block_05 input,
.btn_block_09 input {
	background-color: transparent;
	border: none;
	color: #ffffff;
	padding: 9px 0;
	font-weight: bold;
	cursor: pointer;
	width: 100%;
}

/* complete
******************************************/
.back_to_top {
	margin: 50px auto;
	text-align: center;
}


/* password reminder
******************************************/
.password .item_block_02 {
	padding-top: 10px;
	padding-bottom: 10px;
}
.password .item_block_02 .text_block_01,
.password .item_block_02 .text_block_01 p:last-child {
	margin-bottom: 0;
}
.password .item_block_02 .text_block_01 .ttl {
	font-weight: bold;
	font-size: 12px;
}
.password .form_block_01 .form_text_01 {
	margin-bottom: 5px;
}
.password .notes,
.password .notes_02 {
	margin-top: 0;
	margin-bottom: 0;
}
.password .select_box_area {
	margin-bottom: 5px;
	margin-top: -5px;
}
.password div.select_box {
	margin-top: 15px;
}
.password .btn_block_05 {
	margin-top: 20px;
}

/* unsubscribe
******************************************/
#unsubscribe_confirm.item_block_02 {
	padding-left: 10px;
	padding-right: 10px;
}
#unsubscribe_confirm .text_block_01 {
	margin-bottom: 15px;
}
#unsubscribe_confirm #confirm_btn {
	margin-bottom: 10px;
}

/* my_page link to password reminder
******************************************/
.current_password {
	width: 95%;
}
.current_password .arrow_01 {
	float: right;
	margin-right: -15px;
}
