@charset "UTF-8";
body.parcoCard .accordion.no_linklist ul.sub li {
  padding: 1.2em 10px 1.2em 10px;
}
#parco_card_service {
  margin: 0 0 10px;
}
#parco_card_service h3 {
  padding: 12px;
  margin-bottom: 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
          border-radius: 3px;
}
#parco_card_service dl {
  padding-left: 5px;
}
#parco_card_service dt {
  padding-left: 5px;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.2;
}
#parco_card_service dd {
  margin-bottom: 20px;
  /*font-size: 1.3em;*/
}
#parco_card_service dd .caution {
  text-indent: 0;
  margin-left: 0;
  margin-top: 5px;
  font-size: 0.85em;
}
#parco_card_service #pcs02 dd .caution {
  font-weight: bold;
}

#title_pcs_01 {
  background: #f2118f;
}
#title_pcs_02 {
  background: #00b6b3;
}
#pcs01 dt {
  border-left: 3px solid #f2118f;
  color: #f2118f;
}
#pcs02 dt {
  border-left: 3px solid #00b6b3;
  color: #00b6b3;
}

