@charset "utf-8";

#main {
    background:#fff;
}

#main h2 {
    margin-top: 10px;
    margin-bottom:5px;
    text-align:center;
}

#wrapperAll {
    margin-top: 10px;
}

.content_wrap {
    margin-top: 10px;
    margin-bottom: 10px;
}

#main_header {
    margin:0;
}

.title_block {
    margin-bottom:0;
}

