@charset "UTF-8";

/* ===================================================================
CSS information
 file name:recruit.css
=================================================================== */

.rec_navArea {
	background: url('/s/recruit/images/recruit_mainvisual.jpg') no-repeat;
	-webkit-background-size: 290px 280px;
	     -o-background-size: 290px 280px;
	        background-size: 290px 280px;
	height: 280px;
	width: 290px;
	margin: 0 auto 15px;
	position: relative;
}

.rec_navArea ul {
	font-size: 0;
	position: absolute;
	bottom: 4px;
	left: 13px;
}

.rec_navArea ul li {
	display: inline-block;
	vertical-align: top;
}
.rec_navArea ul li:last-child {
	margin-left: 5px;
}
