@charset "UTF-8";

/*****************************
 SMPsite styles only for NAGOYA
******************************/

/* header */
#container #header{
	position: relative;
	margin: 0 5px;
	padding: 10px 0 9px;
  background: #FFF;
}
.header_btn{
	position:absolute;
	top:7px;
	left:0;
}

.header_info{
	font-size:10px;
	position:absolute;
	top:13px;
	right:0;
	text-align:right;
}
.header_info .hours {
	background:url(../images/header_icon_hours.png) #ffffff no-repeat left -1px;
	background-size:14px 15px;
	padding-left: 15px;
}
.header_info .tel {
	background:url(../images/header_icon_tel.png) #ffffff no-repeat left center;
	background-size:10px 15px;
	padding-left: 12px;
}

.header_logo{
	padding-right:5%;
}
@media all and (orientation:landscape){
.header_logo{
	padding-right: 35px;
}
}
@media only screen and (max-device-width: 340px) {
#header p a img{
	padding-right:1em;
}
#header p.header_btn a.open img{
	padding-right:0;
}
}

#header.web_member .header_logo{
	padding-right: 0;
	text-align: center;
}
#header.web_member .header_logo a {
	display: block;
	width: 73px;
	height: 22px;
	margin: 0 auto;
}
@media all and (orientation:landscape){
#header.web_member .header_logo{
	padding-right: 0;
}
}
#header_sub {
	margin: 9px -5px 0;
}
#header_sub ul .hours {
	background-position: left 1px;
}

ul.icon{
	margin:10px 0;
}

ul.icon li {
    display: inline;
    float: left;
    font-size: 0;
    line-height: 0;
    vertical-align: top;
}
ul#iconGenre li {
    height: 15px;
    margin: 0 0 1px 1px;
    width: 68px;
	border:none;
	background-image:none;
}
ul#iconSeeen li {
    /*height: 37px;*/
    margin: 0 0 5px;
    width: 34px;
	border:none;
	background-image:none;
}

ul.iconRestaurant li {
	width:41px;
    display: inline;
    float: left;
    line-height: 1.1em;
    vertical-align: top;
	text-align:center;
	margin-right:5px;
}

ul.iconRestaurant li:last-child{
	margin-right:0;
}


/* footer Follow us FB */
.follow_block_01 li.facebook_btn a {
	padding-left: 26px;
}

/* KIDS & BABY */
.item_block_02.facilities .photo {
	float: none;
}
