@charset "UTF-8";



.title_block h1, .title_block_001 h1, .title_block_002 h1, .title_block_003 h1, .title_block_004 h1 {
    font-size: 18px;
    line-height: 20px;
    /*width: 72%;*/
    margin-right: 15px;
}
.samantha_h1 {
	width: 65%
}
.f_left02 {
	float: left !important;
	width: 52%;
}
.f_right02 {
	float: right !important;
	width: 40%;
}
.shop_info_detail p.telephone {
    background: url("../images/ico_tel.png") no-repeat scroll 2px top / 11px 15px transparent;
    padding: 0 0 0 15px;
}

.shop_info_detail p.shop_info {
	padding-left: 14px;
}

.back_height {
	height: 48px;
}

.p_min {
	font-size: 10px;
	line-height: 0;
}

.social_box {
	position: absolute;
    right: 0;
    top: 0;
}

#modal .title_block_004 ul {
    position: absolute;
    right: 0;
    top: 0;
}

#modal .title_block_004 {
    min-height: 30px;
    position: relative;
}
.title_block_004 {
    margin-bottom: 10px;
    padding-bottom: 10px;
}
#modal .logo_box_02 {
	display: table;
    margin-bottom: 15px;
    width: 100%;
}
.list_block_03 div {
	background: url("../images/common_line_001.png") repeat-x scroll left bottom transparent;
	padding-right: 0;
	padding-left: 0;
}
.list_block_03 div.mb00 {
	margin-bottom: 0;
}

/* Shop Info Title
******************************************/
.shop_info_title {
	display: table;
	width: 100%;
}

#modal .title_block_004 .shop_info_title h1 {
	width: auto;
	display: table-cell;
	padding-right: 0;
	margin-right: 0;
}
#modal .title_block_004 .shop_info_title table {
	width: 100%;
}
#modal .title_block_004 .shop_info_title table td {
	text-align: right;
	max-width: 80px;
}
#modal .title_block_004 .shop_info_title a {
	display: table-cell;
	width: 30px;
	padding-left: 10px;
	vertical-align: top;
}
