@charset "UTF-8";

#top_cart_widgets {
  width: 290px;
  background: #ffffff url(../images/new_product_list_banner.png) 0px 0px no-repeat;
  background-size: 290px;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 10px;
}

#top_cart_widgets .thumb_boxes {
  margin-top: 45px;
  margin-left: 14px;
  overflow: hidden;
}

#top_cart_widgets .thumb_box {
  float: left;
  width: 82px;
  margin-right: 8px;
}

#top_cart_widgets .thumb {
  max-width: 100%;
  border: 1px solid #CCCCCC;
}

#top_cart_widgets .info_boxes {
  margin-top: 13px;
  margin-left: 14px;
  padding-bottom: 10px;
  overflow: hidden;
}

#top_cart_widgets .info_box {
  float: left;
  width: 82px;
  margin-right: 8px;
  overflow: hidden;
  word-break: break-all;
  text-align: center;
  font-size: 10px;
}

#top_cart_widgets .info_box .title{
  color: #46639F;
}

#top_cart_widgets .info_box .price{
  color: #5E5E5E;
}

#top_cart_widgets .button {
  text-align: center;
  padding-bottom: 10px;
}
