@charset "UTF-8";

/*見出し
========================================*/
.title_block_001 {
	display: table;
	width: 100%;
}

.title_block_001 h1 {
	color: #000000;
	font-weight: bold;
	width: auto;
	line-height: 1.4;
	display: table-cell;
	vertical-align: middle;
	/*margin-top: 3px;*/
	width: 90%;
}

.table_block_01{
	margin-bottom:10px;
}

.title_block_001 .btn {
	display: table-cell;
	vertical-align: middle;
	line-height: 1.4;
	width: 10%;
	text-align: right;
}
@media all and (orientation:landscape){
.title_block_001 .btn{
	/*padding-top: 5px;*/
}
}

.title_block_01 h2 {
	color:#ffffff;
	font-size:16px;
	width:auto;
	line-height: 1.4;
}

h4 {
	font-size: 14px;
	font-weight: bold;
}


/*レイアウト
========================================*/
#main .item_block_02{
	margin:0 15px 15px;
	padding:6px 15px 15px 15px;
	background:#ffffff;
}
#main .item_block_03{
	margin:0 15px 15px;
	padding:6px 5px 15px 5px;
	background:#ffffff;
}
#main .title_block_03 {
	background: url("../images/common_line_001.png") repeat-x scroll left bottom transparent;
	margin-bottom: 10px;
	padding-bottom: 4px;
}

.title_block_03 h3 {
	color: #000000;
	font-size: 14px;
	font-weight: bold;
}

.caution_block_01{
	text-indent: -15px;
	margin: 0 0 15px 15px;
	padding: 0;
	border: none;
	font-size: 10px;
}

.text_block_04 {
	font-size: 12px;
	margin-bottom: 10px;
}


/*スタイル
========================================*/
.mb00 {
	margin-bottom: 0 !important;
}

.mb15 {
	margin-bottom: 15px !important;
}

.pt10 {
	padding-top: 10px !important;
}

.pt20 {
	padding-top: 20px !important;
}

.pb06 {
	padding-bottom: 6px !important;
}

li.internal, li.external {
	background: none;
	padding-left: 15px;
}

/*リスト
========================================*/
.list_block_ul {
	margin-bottom: 10px;
}

ul.disc, ul.disc li {
	font-weight: normal;
	list-style: disc outside none;
	margin: 0 0 5px 10px;
	padding: 0;
	text-indent: 0;
}
.list_block_03 a {
	color: #000000;
}
.list_block_03 a:hover {
	text-decoration: none;
}

/*
.cell01 {
	width: 40%;
}

.cell02 {
	width: 60%;
}
*/


/*parco_cald
========================================*/
.text_blue {
	color: #467AC2 !important;
}

.definition_list_block_01 dt {
	clear: both;
	float: left;
	font-weight: bold;
	margin-right: 1em;
	width: 50px;
}

/*member
========================================*/
.block_left {
	float: left;
	width: 25%;
	text-align: left;
}
.block_right {
	float: right;
	width: 70%;
}


/*facilities
========================================*/
.accordion ul.sub li {
	background: #ffffff;
	padding: 1.2em 15px 1.2em 15px
}
.accordion ul.sub li a {
	color: #46639f;
	font-weight: normal;
}
.catchcopy {
	font-size: 1.2em;
}

.strong {
	font-weight: bold;
}

.caution {
	font-size: 10px;
	margin-left: 15px;
	text-indent: -13px;
}

.font_normal {
	/*width: 98%;*/
	color: #FFFFFF;
	font-size: 10px;
	height: 40px;
	line-height: 40px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
	font-weight: bold;
}

p.disc {
	font-weight: normal;
	background: url("../images/ico_circle.png") no-repeat scroll left center !important;
	background-size: 4px 4px transparent !important;
	margin: 0 0 5px 10px;
	padding: 0 0 0 10px;
	text-indent: 0;
}

.li_left {
	float: left;
	width: 75%;
}

.li_right {
	float: right;
	width: 20%;
	text-align: right;
}

.link_blue {
	color: #4697DF !important;
}

.external {
	background: url("../images/ico_arrow_02_min.png") no-repeat scroll left center !important;
	background-size: 8px 8px transparent !important;
	padding-left: 15px;
}

.non_external {
	background: none !important;
}

.border_bottom {
	border-bottom: 1px solid #999999 !important;
}

/*accordion_04が2段になった場合
#accordion_04 {
	height: 80px;
	line-height: 80px;
}
*/

/*access
========================================*/
#map_canvas img,
#map_canvas img:not([width]){
    zoom: 1.0;
}

/*access & parco card
========================================*/
.accordion ul.sub .list_block_ul ul {
	display: block;
}
.accordion ul.sub .list_block_ul ul li {
	padding: 0;
	border: none;
}
.accordion .text_block_04 strong.red {
	color: #CC0000;
	font-weight: normal;
}

.boxed_article_01 {
	background-color: #cecece;
}
.boxed_article_01 .description {
	background-color: #ffffff;
}