/* =========================================================
body
========================================================= */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans+JP:wght@400;500;700&display=swap");
html {
  font-size: 62.5%;
  letter-spacing: 0.03em;
  line-height: 1.3rem;
}

body {
  color: #000;
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  background: #fff;
  -webkit-overflow-scrolling: touch;
}

img {
  width: 100%;
}

button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  border: 0;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
}

button {
  cursor: pointer;
}

@media print {
  html, body {
    _zoom: 70% !important;
  }
}

main {
  display: block;
  /*IE*/
}

/* =========================================================
default
========================================================= */
/* =========================================================
PARCO Header
========================================================= */
.phd {
  padding: 0 10px;
  background: #fff;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
}

.phd__in {
  height: 55px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  box-sizing: border-box;
}

.phd__logo a {
  display: inline-block;
  line-height: 0;
  font-size: 0;
  text-decoration: none;
}

.phd__logo__txt {
  width: 13px;
  height: 26px;
  margin-right: 2px;
}

.phd__logo__img {
  width: 92px;
  height: 27px;
  vertical-align: bottom;
  margin-bottom: -1px;
}

.phd__logo__img.parcoya-ueno {
  width: 155px;
  height: 25px;
}

.phd__sns {
  display: flex;
  align-items: center;
  justify-content: center;
}

.phd__sns li {
  margin-right: 8px;
}

.phd__sns li:last-child {
  margin-right: 0;
}

.phd__sns li a {
  display: flex;
  align-items: center;
  width: 35px;
  height: 35px;
  background: #222;
  border-radius: 50%;
}

@media screen and (min-width: 769px) {
  .phd__sns li a {
    width: 28px;
    height: 28px;
  }
  .phd__sns li a:hover {
    opacity: 0.7;
  }
}

.phd__sns li a svg {
  fill: #FFF;
  width: 100%;
}

@media screen and (min-width: 769px) {
  .phd {
    padding: 0 20px;
  }
  .phd__in {
    height: 64px;
  }
  .phd__logo__txt {
    display: inline-block;
    font-size: 1.5rem;
    width: 14px;
    height: 32px;
    margin-right: 4px;
    vertical-align: middle;
  }
  .phd__logo__img {
    width: 120px;
    height: 36px;
    vertical-align: middle;
  }
  .phd__logo__img.parcoya-ueno {
    width: 205px;
    height: 34px;
  }
}

.phd__sns li .phd__sns__item__link-facebook {
  background: transparent;
}

.phd__sns li .phd__sns__item__link-facebook svg {
  height: 35px;
}

@media screen and (min-width: 769px) {
  .phd__sns li .phd__sns__item__link-facebook svg {
    height: 28px;
  }
}

.phd__sns li .phd__sns__item__link-twitter {
  background: #3AB1DB;
}

.phd__sns li .phd__sns__item__link-twitter svg {
  height: 16px;
}

@media screen and (min-width: 769px) {
  .phd__sns li .phd__sns__item__link-twitter svg {
    height: 11px;
  }
}

.phd__sns li .phd__sns__item__link-lineat {
  background: transparent;
}

.phd__sns li .phd__sns__item__link-lineat svg {
  height: 35px;
}

@media screen and (min-width: 769px) {
  .phd__sns li .phd__sns__item__link-lineat svg {
    height: 28px;
  }
}

.phd__sns li .phd__sns__item__link-instagram {
  background: #d93174;
}

.phd__sns li .phd__sns__item__link-instagram svg {
  height: 19px;
}

@media screen and (min-width: 769px) {
  .phd__sns li .phd__sns__item__link-instagram svg {
    height: 15px;
  }
}

/* =========================================================
PARCO Footer
========================================================= */
.pft {
  margin-top: 52px;
  padding: 45px 0 58px;
  background: #222;
  position: relative;
}

@media screen and (min-width: 769px) {
  .pft {
    margin-top: 70px;
    padding: 50px 0 40px;
  }
}

.pft__in {
  position: relative;
  margin: 0 auto;
}

@media screen and (min-width: 769px) {
  .pft__in {
    max-width: 930px;
  }
}

.pft__logo {
  text-align: center;
}

.pft__logo svg {
  fill: #fff;
}

.pft__logo a {
  text-decoration: none;
}

.pft__logo__txt {
  width: 14px;
  height: 32px;
  margin-right: 4px;
}

.pft__logo__img {
  width: 120px;
  height: 36px;
  vertical-align: bottom;
  margin-bottom: -1px;
}

.pft__logo__img.parcoya-ueno {
  width: 205px;
  height: 34px;
}

.pft__logo.nagoya .pft__logo__txt {
  margin-right: 5px;
}

.pft__pageTop {
  position: absolute;
  top: -66px;
  left: 50%;
  margin-left: -22px;
}

@media screen and (min-width: 769px) {
  .pft__pageTop {
    display: none;
    position: fixed;
    top: auto;
    left: auto;
    right: 30px;
    bottom: 30px;
    margin: 0;
  }
}

.pft__pageTop a {
  display: inline-block;
  position: relative;
  width: 45px;
  height: 45px;
  background: #222;
  border-radius: 50%;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
}

@media screen and (min-width: 769px) {
  .pft__pageTop a {
    width: 54px;
    height: 54px;
    background: #FFF;
    border-radius: 50%;
    text-indent: 100%;
  }
}

.pft__pageTop a:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -5px 0 0 -6px;
  width: 7px;
  height: 7px;
  border-top: #fff 2px solid;
  border-right: #fff 2px solid;
  transform: rotate(-45deg);
}

@media screen and (min-width: 769px) {
  .pft__pageTop a:after {
    top: 50%;
    left: 50%;
    margin: -5px 0 0 -7px;
    width: 11px;
    height: 11px;
    border-top: #222 3px solid;
    border-right: #222 3px solid;
  }
}

.pft__pageTop a:hover {
  opacity: 0.7;
}

.pft__copyright {
  margin-top: 30px;
  text-align: center;
  line-height: 0;
}

.pft__copyright svg {
  height: 11px;
  fill: #fff;
  overflow: hidden;
}

/* =========================================================
layout
========================================================= */
body {
  font-family: 'Noto Sans JP', sans-serif;
}

/* =========================================================
header
========================================================= */
.header {
  background-color: #E2E7E5;
}

.header__title {
  text-align: center;
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
}

.header__title.view {
  opacity: 1;
}

.header__title img {
  vertical-align: bottom;
}

@media screen and (min-width: 769px) {
  .header__title img {
    width: 100%;
  }
}

/* =========================================================
Main
========================================================= */
.main-contents {
  overflow: hidden;
  background-color: #E2E7E5;
  padding-bottom: 100px;
  margin-bottom: -70px;
}

@media screen and (min-width: 769px) {
  .main-contents {
    padding: 0 20px 154px;
  }
}

@media screen and (max-width: 768px) {
  .main-contents {
    padding-bottom: 124px;
    margin-bottom: -52px;
  }
}

@media screen and (min-width: 769px) {
  .pft {
    padding-top: 86px;
    padding-bottom: 102px;
  }
}

/* =========================================================
Local navi
========================================================= */
.localnav {
  max-width: 1200px;
  margin: 30px auto 0;
  padding: 0 20px;
}

@media screen and (min-width: 769px) {
  .localnav {
    padding: 0;
  }
}

.localnav-list {
  display: flex;
  flex-wrap: wrap;
}

.localnav-item {
  width: calc(50% - 5px);
  margin: 10px 10px 0 0;
}

.localnav-item:nth-child(-n+2) {
  margin-top: 0;
}

.localnav-item:nth-child(2n) {
  margin-right: 0;
}

.localnav-item a,
.localnav-item button {
  width: 100%;
  height: 40px;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  color: #000;
  text-decoration: none;
}

/* =========================================================
New&Renew items
========================================================= */
[v-cloak] {
  display: none;
}

.newrenew-block {
  max-width: 1024px;
  margin: 0 auto;
  padding: 90px 20px 0;
}

@media screen and (max-width: 768px) {
  .newrenew-block {
    padding: 45px 20px 0;
  }
}

.newrenew-block .list-block {
  margin: 0 auto 80px;
}

@media (min-width: 769px) {
  .newrenew-block .list-block {
    margin: 0 auto 106px;
  }
}

.newrenew-block .list-block:last-child {
  margin-bottom: 0;
}

.newrenew-block .list-ttl {
  font-size: 60px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin: 0 auto 48px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .newrenew-block .list-ttl {
    font-size: 44px;
  }
}

[class*="item-list"] .item {
  background: #fff;
  position: relative;
}

[class*="item-list"] .badge-l {
  background: #C8523D;
  color: #fff;
  position: absolute;
}

[class*="item-list"] .badge-r {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

[class*="item-list"] .badge-r .txt {
  color: #fff;
}

[class*="item-list"] .open-event .ttl {
  color: #C8523D;
  font-weight: 700;
}

[class*="item-list"] .link-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

[class*="item-list"] .link-item a {
  border-radius: 50%;
  background: #074B51;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: background .2s ease;
}

@media (min-width: 769px) {
  [class*="item-list"] .link-item a:hover {
    background: #C8523D;
  }
}

.item-list01 .item {
  margin: 0 auto 47px;
}

@media (min-width: 769px) {
  .item-list01 .item {
    margin: 0 auto 100px;
  }
}

.item-list01 .item:last-child {
  margin-bottom: 0;
}

@media (min-width: 769px) {
  .item-list01 .front-cont {
    display: flex;
    align-items: center;
    flex-flow: row-reverse;
  }
  .item-list01 .front-cont .img-wrap {
    width: 47.85%;
  }
}

.item-list01 .badge-l {
  padding: 18px 6px 18px 25px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  top: -28px;
  left: -9px;
}

.item-list01 .badge-l:after {
  background: linear-gradient(to top left, rgba(255, 255, 255, 0) 50%, #C8523D 50.5%) no-repeat top left/100% 100%;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  right: -20px;
  width: 20px;
}

@media (min-width: 769px) {
  .item-list01 .badge-l {
    top: -17px;
    left: -7px;
    padding: 20px 18px 23px 35px;
  }
}

.item-list01 .badge-l > * {
  margin-right: .25em;
  line-height: 1;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.item-list01 .badge-l > *:last-child {
  margin-right: 0;
}

.item-list01 .badge-l .date {
  font-size: 24px;
}

@media (max-width: 360px) {
  .item-list01 .badge-l .date {
    font-size: 20px;
  }
}

@media (min-width: 769px) {
  .item-list01 .badge-l .date {
    font-size: 34px;
  }
}

.item-list01 .badge-l .weeks {
  font-size: 18px;
  line-height: 21px;
  letter-spacing: .04em;
}

@media (max-width: 360px) {
  .item-list01 .badge-l .weeks {
    font-size: 16px;
  }
}

@media (min-width: 769px) {
  .item-list01 .badge-l .weeks {
    font-size: 22px;
    line-height: 25px;
  }
}

.item-list01 .badge-l .new-renew {
  font-size: 24px;
  letter-spacing: .04em;
}

@media (max-width: 360px) {
  .item-list01 .badge-l .new-renew {
    font-size: 20px;
  }
}

@media (min-width: 769px) {
  .item-list01 .badge-l .new-renew {
    font-size: 28px;
  }
}

.item-list01 .badge-r {
  background: url("../images/icon.png") no-repeat 50% 0;
  background-size: 100%;
  width: 96px;
  height: 97px;
  top: -37px;
  right: -13px;
}

@media (min-width: 769px) {
  .item-list01 .badge-r {
    width: 118px;
    height: 119px;
    top: -17px;
    right: -15px;
  }
}

.item-list01 .badge-r .txt {
  font-size: 16px;
  line-height: 1;
  font-weight: 700;
}

.item-list01 .detail {
  padding: 0 30px 30px;
}

@media (min-width: 769px) {
  .item-list01 .detail {
    margin: 20px auto 0;
    max-width: 390px;
    padding: 0 20px;
    width: 39%;
  }
}

.item-list01 .shop-info {
  padding: 0 0 20px;
  border-bottom: 1px solid #DCDCDC;
}

@media (min-width: 769px) {
  .item-list01 .shop-info {
    border-bottom: none;
  }
}

.item-list01 .logo {
  height: 105px;
  margin: 2px auto 18px;
  border-bottom: 1px solid #DCDCDC;
  padding-bottom: 4px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 769px) {
  .item-list01 .logo {
    margin: 0 auto 15px;
    padding-bottom: 17px;
  }
}

.item-list01 .logo img {
  width: auto;
  height: 100%;
  flex-shrink: 0;
}

.item-list01 .shop {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.56;
  text-align: center;
}

.item-list01 .floor {
  margin: 16px auto 0;
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
  text-align: center;
}

@media (min-width: 769px) {
  .item-list01 .floor {
    margin: 19px auto 0;
  }
}

.item-list01 .ctg {
  margin: 10px auto 0;
  font-size: 14px;
  line-height: 1.78;
  font-weight: 400;
  text-align: center;
}

.item-list01 .txt-wrap {
  margin: 20px auto 0;
  font-size: 14px;
  line-height: 1.78;
}

@media (min-width: 769px) {
  .item-list01 .txt-wrap {
    margin: 0;
    padding: 30px 0 0;
  }
}

.item-list01 .open-event {
  margin: 20px auto 0;
}

.item-list01 .open-event .ttl {
  margin: 0 auto 1em;
  font-size: 16px;
  font-weight: 700;
}

.item-list01 .link-list {
  margin: 35px auto 0;
}

@media (min-width: 769px) {
  .item-list01 .link-list {
    margin: 50px auto 0;
  }
}

.item-list01 .link-item {
  margin: 0 15px 0 0;
}

.item-list01 .link-item:last-child {
  margin-right: 0;
}

.item-list01 .link-item a {
  width: 42px;
  height: 42px;
}

.item-list01 .more {
  margin-top: 17px;
  width: 100%;
}

@media (min-width: 769px) {
  .item-list01 .more {
    margin-top: 20px;
  }
}

.item-list01 .more button {
  width: 100%;
  height: 50px;
  background: #074B51;
  color: #fff;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1;
  letter-spacing: .2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-list02 {
  display: flex;
  flex-wrap: wrap;
}

.item-list02 .item {
  width: 47.762%;
  position: relative;
  box-sizing: border-box;
  background-color: transparent;
  margin-top: 49px;
}

@media (min-width: 769px) {
  .item-list02 .item {
    width: 32.03%;
    margin-top: 70px;
    margin-right: 1.955%;
  }
  .item-list02 .item:nth-child(1), .item-list02 .item:nth-child(2), .item-list02 .item:nth-child(3) {
    margin-top: 0;
  }
  .item-list02 .item:nth-child(3n) {
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .item-list02 .item {
    margin-right: 4.476%;
  }
  .item-list02 .item:nth-child(1), .item-list02 .item:nth-child(2) {
    margin-top: 0;
  }
  .item-list02 .item:nth-child(2n) {
    margin-right: 0;
  }
}

.item-list02 .item-inner {
  background-color: #fff;
  height: 100%;
}

.item-list02 .front-cont {
  background: #fff;
  height: 100%;
  position: relative;
}

.item-list02 .front-cont .badge-l {
  padding: 8px 2px 6px 2px;
  top: -25px;
  left: 0;
  word-break: break-all;
  width: 53px;
}

.item-list02 .front-cont .badge-l:after {
  background: linear-gradient(to top left, rgba(255, 255, 255, 0) 50%, #C8523D 50.5%) no-repeat top left/100% 100%;
  content: "";
  display: block;
  height: 15px;
  position: absolute;
  left: 0;
  bottom: -15px;
  width: 53px;
}

.item-list02 .front-cont .badge-l > * {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

@media (min-width: 769px) {
  .item-list02 .front-cont .badge-l {
    width: 70px;
    padding: 13px 2px 11px;
    box-sizing: border-box;
    text-align: center;
    top: -19px;
    left: -7px;
  }
  .item-list02 .front-cont .badge-l:after {
    height: 20px;
    bottom: -20px;
    width: 70px;
  }
}

@media (max-width: 768px) {
  .item-list02 .front-cont .badge-l {
    max-width: 98px;
    word-break: break-word;
    box-sizing: border-box;
    text-align: center;
  }
}

.item-list02 .front-cont .badge-l .date {
  font-size: 20px;
  line-height: 1;
}

@media (max-width: 360px) {
  .item-list02 .front-cont .badge-l .date {
    font-size: 13px;
  }
}

@media (min-width: 769px) {
  .item-list02 .front-cont .badge-l .date {
    font-size: 24px;
    margin: 0 auto 5px;
  }
}

.item-list02 .front-cont .badge-l .weeks {
  font-size: 12px;
  letter-spacing: .04em;
}

@media (max-width: 360px) {
  .item-list02 .front-cont .badge-l .weeks {
    margin: 0;
    font-size: 11px;
  }
}

@media (min-width: 769px) {
  .item-list02 .front-cont .badge-l .weeks {
    font-size: 16px;
    margin: 0;
  }
}

.item-list02 .front-cont .badge-l .new-renew {
  margin: 4px auto 0;
  font-size: 12px;
  line-height: 1;
  letter-spacing: .02em;
}

.item-list02 .front-cont .badge-l .new-renew:before {
  background-color: #fff;
  content: "";
  height: 1px;
  margin: 6px auto 5px;
  display: block;
  width: 35px;
}

@media (min-width: 769px) {
  .item-list02 .front-cont .badge-l .new-renew {
    font-size: 16px;
    line-height: 1.2;
  }
  .item-list02 .front-cont .badge-l .new-renew:before {
    margin: 8px auto 4px;
    width: 50px;
  }
}

.item-list02 .front-cont .badge-r {
  background: url("../images/icon.png") no-repeat 50% 0;
  background-size: 100%;
  width: 96px;
  height: 97px;
  top: -19px;
  right: -10px;
  padding: 5px;
  box-sizing: border-box;
  text-align: center;
}

@media (max-width: 768px) {
  .item-list02 .front-cont .badge-r {
    width: 68px;
    height: 69px;
    top: -33px;
    right: -10px;
  }
}

.item-list02 .front-cont .badge-r .txt {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
}

.item-list02 .front-cont .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 115px;
  margin: 0 auto 18px;
  padding-bottom: 10px;
  border-bottom: solid 1px #DCDCDC;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .item-list02 .front-cont .logo {
    height: 70px;
  }
}

.item-list02 .front-cont .logo img {
  width: auto;
  max-width: 100%;
  max-height: 100%;
  flex-shrink: 0;
}

.item-list02 .front-cont .logo img[src=""] {
  display: none;
}

.item-list02 .front-cont .detail {
  padding: 13px 20px 50px;
  font-size: 14px;
  line-height: 1.42;
  text-align: center;
}

@media (min-width: 769px) {
  .item-list02 .front-cont .detail {
    padding: 30px 20px 20px;
    font-size: 16px;
  }
}

.item-list02 .front-cont .img {
  height: 328px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .item-list02 .front-cont .img {
    height: 42.667vw;
  }
}

.item-list02 .front-cont .img img {
  width: auto;
  max-width: 100%;
  max-height: 100%;
  flex-shrink: 0;
}

.item-list02 .front-cont .shop {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .item-list02 .front-cont .shop {
    font-size: 14px;
  }
}

.item-list02 .front-cont .floor,
.item-list02 .front-cont .ctg {
  font-size: 14px;
  margin: 12px auto 0;
  font-weight: 400;
}

@media (max-width: 768px) {
  .item-list02 .front-cont .floor,
  .item-list02 .front-cont .ctg {
    margin-top: 9px;
  }
}

.item-list02 .front-cont .more {
  margin-top: 23px;
  width: 100%;
}

@media (max-width: 768px) {
  .item-list02 .front-cont .more {
    margin-top: 0;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.item-list02 .front-cont .more button {
  width: 100%;
  height: 30px;
  background: #074B51;
  color: #fff;
  font-size: 14px;
  line-height: 1;
  letter-spacing: .2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 769px) {
  .item-list02 .front-cont .more button {
    height: 50px;
    font-size: 20px;
  }
}

.newrenew-modal .modal-wrap {
  width: calc(100vw - 40px);
  max-width: 900px;
  margin: 0 auto;
  position: relative;
}

@media (min-width: 769px) {
  .newrenew-modal .modal-wrap {
    width: calc(100vw - 140px);
    max-width: 1024px;
    box-sizing: border-box;
  }
}

.newrenew-modal .modal-cont {
  padding: 0 0 40px;
  background: #fff;
  box-sizing: border-box;
}

@media (min-width: 769px) {
  .newrenew-modal .modal-cont {
    height: calc(100vh - 240px);
    max-height: 680px;
    padding: 50px 50px 30px;
    overflow: auto;
  }
}

@media (min-width: 769px) {
  .newrenew-modal .badge-wrap {
    display: flex;
    position: absolute;
    top: -20px;
    left: -20px;
  }
}

.newrenew-modal .badge-l {
  padding: 18px 6px 18px 25px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  top: -19px;
  left: -9px;
  z-index: 2;
}

.newrenew-modal .badge-l:after {
  background: linear-gradient(to top left, rgba(255, 255, 255, 0) 50%, #C8523D 50.5%) no-repeat top left/100% 100%;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  right: -20px;
  width: 20px;
}

@media (min-width: 769px) {
  .newrenew-modal .badge-l {
    top: -21px;
    padding: 22px 18px 24px 35px;
  }
}

.newrenew-modal .badge-l > * {
  margin-right: .25em;
  line-height: 1;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.newrenew-modal .badge-l > *:last-child {
  margin-right: 0;
}

.newrenew-modal .badge-l .date {
  font-size: 24px;
}

@media (max-width: 360px) {
  .newrenew-modal .badge-l .date {
    font-size: 20px;
  }
}

@media (min-width: 769px) {
  .newrenew-modal .badge-l .date {
    font-size: 34px;
  }
}

.newrenew-modal .badge-l .weeks {
  font-size: 18px;
  line-height: 21px;
  letter-spacing: .04em;
}

@media (max-width: 360px) {
  .newrenew-modal .badge-l .weeks {
    font-size: 16px;
  }
}

@media (min-width: 769px) {
  .newrenew-modal .badge-l .weeks {
    font-size: 22px;
    line-height: 25px;
  }
}

.newrenew-modal .badge-l .new-renew {
  font-size: 24px;
  letter-spacing: .04em;
}

@media (max-width: 360px) {
  .newrenew-modal .badge-l .new-renew {
    font-size: 20px;
  }
}

@media (min-width: 769px) {
  .newrenew-modal .badge-l .new-renew {
    font-size: 28px;
  }
}

.newrenew-modal .badge-r {
  background: url("../images/icon.png") no-repeat 50% 0;
  background-size: 100%;
  font-size: 16px;
  width: 97px;
  height: 98px;
  top: -35px;
  right: -12px;
  z-index: 1;
}

.newrenew-modal .badge-r .txt {
  color: #fff;
  font-size: 16px;
  line-height: 1;
  font-weight: 700;
}

@media (min-width: 769px) {
  .newrenew-modal .badge-r {
    width: 118px;
    height: 119px;
    top: -25px;
    right: -13px;
  }
}

@media screen and (min-width: 769px) {
  .newrenew-modal .cont-wrap {
    display: flex;
    justify-content: space-between;
  }
}

.newrenew-modal .img-wrap {
  position: relative;
}

@media screen and (min-width: 769px) {
  .newrenew-modal .img-wrap {
    width: 490px;
    margin-right: 30px;
  }
}

.newrenew-modal .img-slider {
  position: relative;
}

.newrenew-modal .img-slider .slick-arrow {
  position: absolute;
  top: calc(50% - 15px);
  transform: translateY(-50%);
  z-index: 1;
}

.newrenew-modal .img-slider .slick-arrow.prev {
  left: 5px;
}

.newrenew-modal .img-slider .slick-arrow.next {
  right: 5px;
}

.newrenew-modal .img-slider .slick-arrow button {
  display: block;
  width: 35px;
  height: 35px;
  background: #fff;
  border: 1px solid #C8523D;
  border-radius: 50%;
}

.newrenew-modal .img-slider .slick-arrow button:before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-top: 1px solid #C8523D;
  border-left: 1px solid #C8523D;
  position: absolute;
  top: 12px;
  left: 14px;
  transform: rotate(-45deg);
}

.newrenew-modal .img-slider .slick-arrow button.slick-next {
  transform: scale(-1, -1);
}

.newrenew-modal .img-slider .slick-dots {
  margin: 15px auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.newrenew-modal .img-slider .slick-dots li {
  margin: 0 15px 0 0;
}

.newrenew-modal .img-slider .slick-dots li:last-child {
  margin: 0;
}

.newrenew-modal .img-slider .slick-dots button {
  width: 15px;
  height: 15px;
  background: #C8523D;
  border-radius: 50%;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.newrenew-modal .img-slider .slick-dots .slick-active button {
  background: #F7C9D6;
}

.newrenew-modal .detail {
  margin: 11px auto 0;
  padding: 0 30px;
  box-sizing: border-box;
}

@media screen and (min-width: 769px) {
  .newrenew-modal .detail {
    width: calc(100% - 500px - 30px);
    margin: 0;
    padding: 0;
  }
}

.newrenew-modal .dateWrap {
  display: flex;
  justify-content: center;
}

.newrenew-modal .dateWrap-date {
  font-size: 14px;
  color: #fff;
  padding: 4px 8px 3px;
  background-color: #D55D6B;
}

.newrenew-modal .dateWrap-first {
  margin-left: 10px;
  padding: 4px 8px 3px;
  border: solid 1px #43868E;
  color: #43868E;
  font-size: 14px;
}

.newrenew-modal .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 205px;
  height: 105px;
  margin: 0 auto 20px;
  border-bottom: none;
  padding: 0;
}

.newrenew-modal .logo img {
  width: auto;
  height: 100%;
  flex-shrink: 0;
}

.newrenew-modal .logo img[src=""] {
  display: none;
}

.newrenew-modal .shop {
  border-top: 1px solid #DCDCDC;
  padding: 20px 0 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.56;
  text-align: center;
}

.newrenew-modal .floor {
  margin: 15px auto 0;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.newrenew-modal .ctg {
  margin: 8px auto 0;
  font-size: 14px;
  line-height: 1.78;
  font-weight: 400;
  text-align: center;
}

.newrenew-modal .introduction {
  margin: 18px auto 0;
  padding: 17px 0 0;
  border-top: 1px solid #DCDCDC;
  font-size: 14px;
  line-height: 1.78;
}

.newrenew-modal .open-event {
  margin: 25px auto 0;
}

.newrenew-modal .open-event .ttl {
  font-size: 16px;
  font-weight: 700;
}

.newrenew-modal .open-event .txt {
  margin: 1em auto 0;
  font-size: 14px;
  line-height: 1.78;
}

.newrenew-modal .link-list {
  margin: 20px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 769px) {
  .newrenew-modal .link-list {
    margin: 40px auto 0;
  }
}

.newrenew-modal .link-item {
  margin: 0 15px 0 0;
}

.newrenew-modal .link-item:last-child {
  margin-right: 0;
}

.newrenew-modal .link-item a {
  width: 42px;
  display: block;
}

.newrenew-modal .modal-arrow-wrap {
  margin: 20px auto 0;
  position: relative;
}

.newrenew-modal .modal-arrow-close {
  margin: 20px auto 0;
  text-align: center;
}

@media (min-width: 769px) {
  .newrenew-modal .modal-arrow-close {
    margin: 27px auto 0;
  }
}

.newrenew-modal .modal-arrow-close button {
  font-size: 20px;
  line-height: 1;
  letter-spacing: .2em;
  color: #074B51;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.newrenew-modal .modal-arrow {
  position: absolute;
  top: calc(100% - 28px);
}

@media (min-width: 769px) {
  .newrenew-modal .modal-arrow {
    top: calc(50% + 17px);
    transform: translateY(-50%);
  }
}

.newrenew-modal .modal-arrow button {
  width: 35px;
  height: 35px;
  display: block;
  border-radius: 50%;
  background: #074B51;
  position: relative;
  font-size: 0;
}

@media (min-width: 769px) {
  .newrenew-modal .modal-arrow button {
    width: 50px;
    height: 50px;
  }
}

.newrenew-modal .modal-arrow button:before {
  content: "";
  width: 10px;
  height: 10px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  position: absolute;
  top: 12px;
  left: 13px;
  transform: rotate(-45deg);
}

@media (min-width: 769px) {
  .newrenew-modal .modal-arrow button:before {
    width: 15px;
    height: 15px;
    top: 17px;
    left: 20px;
  }
}

.newrenew-modal .modal-arrow.prev {
  left: 0;
}

@media (min-width: 769px) {
  .newrenew-modal .modal-arrow.prev {
    left: -70px;
  }
}

.newrenew-modal .modal-arrow.next {
  right: 0;
}

@media (min-width: 769px) {
  .newrenew-modal .modal-arrow.next {
    right: -70px;
  }
}

.newrenew-modal .modal-arrow.next button {
  transform: scale(-1, -1);
}

/* =========================================================
modal
========================================================= */
.modal-block {
  width: 100vw;
  height: 100vh;
  padding: 110px 0 100px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  overflow: scroll;
  z-index: 50;
  display: none;
}

@media (min-width: 769px) {
  .modal-block {
    padding: 125px 0 0;
    overflow: auto;
  }
}

.modal-bg {
  width: 100vw;
  height: 100%;
  background: rgba(226, 231, 229, 0.95);
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.modal-close {
  width: 32px;
  height: 32px;
  margin: 0 0 0 auto;
  position: absolute;
  top: -81px;
  right: 0;
}

@media (min-width: 769px) {
  .modal-close {
    top: -64px;
  }
}

.modal-close:before, .modal-close:after {
  content: "";
  width: 46px;
  height: 2px;
  background: #074B51;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center;
}

.modal-close:before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.modal-close:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* =========================================================
slick
========================================================= */
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/*# sourceMappingURL=maps/style.css.map */
