@charset "UTF-8";
/*-- Base --*/
@font-face {
    font-family: "NotoSansCJKjp";
    font-style: normal;
    font-weight: normal;
    src:
         url('../fonts/NotoSansCJKjp-Regular.otf') format('opentype');
}

@font-face {
    font-family: "NotoSansCJKjp";
    font-style: normal;
    font-weight: bold;
    src:
         url('../fonts/NotoSansCJKjp-Bold.otf') format('opentype');
}

html {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans", "NotoSansCJKjp", sans-serif;
  font-size: 12px;
  background-image: linear-gradient(#badff1 0%, #e2f0e4 20%, #fdfbf4 50%, #f2cadc);
  color: #262626;
  width: 100%;
  line-height: 1.5;
  letter-spacing: 0.08em;
}

a {
  color: #262626;
  text-decoration: underline;
}

/*  clearfix
------------------------------------------------------------*/
.clearfix {
  *zoom: 1;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/*  header
------------------------------------------------------------*/
.parco-header {
  height: 55px;
  padding: 10px 4px 10px 10px;
  background: #fff;
  box-sizing: border-box;
}
.parco-header_in {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.parco-header_logo img {
  width: 110px;
}
.social {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.social_item {
  margin: 0 5px;
}
.social_item img {
  width: 35px;
}

/*  modules
------------------------------------------------------------*/
.page-title {
  padding: 40px 5px 0px 15px;
  text-align: center;
}
.sec-in {
  margin-top: 10px;
  padding: 0 15px;
}
.sec-ttl {
  height: 40px;
  margin-top: 36px;
  background: #000;
  color: #fff;
  font-size: 20px;
  letter-spacing: 6px;
  line-height: 40px;
  text-align: center;
}
.mainLogo {
  text-align: center;
}
.mainLogoImg {
  width: 290px;
}
.contents {
  padding: 15px 0 47px;
  background: url(../images/bg_pattern.png) repeat-y center top;
  background-size: contain;
}
.contentsBlock {
  background: #ffffff;
  margin-bottom: 16px;
  position: relative;
}
.contentsBlock:last-child {
  background: #ffffff;
  margin-bottom: 0;
}

.floor-ttl {
 margin: 0 0 20px;
 padding-top: 6px;
}

.ribbon {
  position: absolute;
  top: -5px;
  right: 10px;
}

.boxTop {
  padding: 0 21px 13px 26px;
  position: relative;
}
.boxTop .date {
  width: 68px;
  position: absolute;
  top: -7px;
  left: 20px;
  color: #ffffff;
  padding: 7px 8px 8px;
  text-align: center;
  background: #000;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.new {
  font-size: 9px;
}
/*.new-small {
  font-size: 11px;
}*/
.boxTop .date .day {
  font-size: 21px;
}
.boxTop .date .week {
  border-bottom: 1px solid #ffffff;
  padding-bottom: 2px;
  margin-bottom: 2px;
  font-size: 14px;
}
.boxTop .logo {
    height: 81px;
    margin-bottom: 12px;
    margin-left: 89px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.boxTop .logo a {
  display: block;
}
.boxTop .logo .logo-img {
  display: table-cell;
  vertical-align: middle;
  padding-top: 22px;
}
.boxTop .shopname {
  clear: both;
}
img.floor-ttl-renew {
    padding-top: 10px;
}
.boxAcd .boxAcd_btn {
  background: #000 url(../images/btn_more.png) no-repeat center center;
  -webkit-background-size: 78px;
  background-size: 78px;
  padding: 20px 0;
}
.boxAcd .open {
  background: #000 url(../images/btn_close.png) no-repeat center center;
  -webkit-background-size: 77px;
  background-size: 77px;
}
dl.boxAcd {
    font-family: 'ヒラギノ角ゴ ProN W3', "Hiragino Kaku Gothic ProN", Meiryo, メイリオ, Osaka, 'MS PGothic', sans-serif;
}
.boxAcd dd {
  display: none;
}
.boxAcd .boxAcd_contents {
  padding: 0 20px;
}
.boxAcd .boxAcd_contents .boxAcd_txt {
  border-top: 1px dashed #727171;
  padding: 12px 0 20px;
  -ms-word-break: break-all;
  word-break: break-all;
}
.oe-title {
  font-size: 15px;
}
.oe-category {
    font-size: 11px;
}
.oe-text {
  margin: 8px 0;
  padding: 10px 0 13px;
  border-top: 1px dashed #727171;
}
.oe-plan {
  margin-bottom: 20px;
  color: #e84693;
  font-weight: bold;
  font-family: "Noto Sans", "NotoSansCJKjp", sans-serif;
}



.more_introduce {
  margin-top: 38px;
  padding: 0 15px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
.bnrs {
  margin-top: 46px;
  padding: 0 11px;
}
.bnr {
  margin-bottom: 15px;
}
.bnr a, .bnr img {
  width: 100%;
  display: block;
}

.sns_list {
  margin: 53px 0 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.sns_item {
  margin: 0 5px;
}
.sns_item.facebook {
  position: relative;
  top: -2px;
}

.pageTop {
  text-align: center;
}

.page-ft {
  width: 100%;
  padding: 22px 0 17px;
  background: #000;
  text-align: center;
}
.parco-top {
  margin: 30px 0 25px;
}





/* snavi -------------------------------------------------------------- */
.snavi {
  /*background: url(../images/bg_sec01.png) repeat;*/
  -webkit-background-size: 12px;
  -o-background-size: 12px;
  background-size: 12px;
  height: 25px;
}

.snavi ul {
  text-align: center;
  font-size: 0;
  line-height: 0;
}

.snavi ul li {
  display: inline-block;
  margin: 0 2px;
  vertical-align: top;
  font-size: 0;
  line-height: 0;
}

.footer {
  height: 130px;
  background: #222222;
  text-align: center;
  padding-top: 52px;
	position: relative;
}
.footer .pageTop {
    position: absolute;
    top: -20px;
    right: 50%;
    transform: translateX(50%);
}
.footer .logo img {
	width: 192px;
    margin-left: -25px;
	padding: 0 0 20px;
	position: relative;
}
.copyright {
  margin-top: 20px;
	font-size: 9px;
	font-family: "Noto Sans", "NotoSansCJKjp", sans-serif;
	color: #fff;
}
