@charset "Shift_JIS";

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*
====================================================

START from here

====================================================
*/

body {
    font-family: sans-serif;
}

.contentsWrapper {
    background-color: #e50012;
    text-align: center;
    overflow: hidden;
    width: 100%;
}

.contensWidth {
    position: relative;
    margin: 0 auto;
    box-sizing: border-box;
    margin-right: 5px;
    margin-left: 5px;
}

.contensWidth img{
    width: 100%;
}

.pageWidth {
    margin-left:20px;
    margin-right:20px;
    overflow: hidden;
}

.nav_barger{
    overflow: absolute;
    position: fixed;
    top:0;
    right: 0;
    width: 48px;
    height: 48px;
    z-index: 200;
}

.nav_barger img{
    width: 100%;
}

.navlistArea{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100vw;
    height: 100vh;
    padding-top: 158px;
    padding-bottom: 70px;
    overflow: hidden;
    transform: translateX(100%);
    z-index: 100;
}

.nav_cross{
    overflow: absolute;
    position: fixed;
    top:0;
    right: 0;
    width: 48px;
    height: 48px;
    z-index: 200;
    display: none;
}

.nav_cross img{
    width: 100%;
}

.listItem{
    position: relative;
    margin-bottom: 50px;
}

.listItem.comingsoon a{
    opacity: 0.5;
}

.listItem.comingsoon::before{
    content: "";
    position: absolute;
    width: 75px;
    height: 14px;
    background-image: url(images/comingsoon.png);
    background-repeat: no-repeat;
    background-size: contain;
    top:24px;
    left: 50%;
    transform: translateX(-50%)    
}


.header__imgWrapper{
    margin-top: 60px;
}

.header__image{
    width: 100%;
}


.contensWidth.contensWidth--mv {
    margin-bottom: 80px;
}



.followusonContents{
    position: relative;
    margin-top: 64px;
    margin-bottom: 60px;

}

.pageWidth .image__centerFixed {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.icon__container{
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 230px;
    top: 214px;
    left: 50%;
    transform: translateX(-50%);
}

.icon__container img{
    width: 60px;
}

.sctarget{
 opacity: 0;
}


.col-1 .contents img,
.col-2 .contents img {
    width: 100%;
}



.sns-block {
    margin-top: 120px;
}

.sns-block .sns_list {
    text-align: center;
}

.sns-block .sns_list>li {
    display: inline-block;
    vertical-align: middle;
    margin-left: 4px;
}

.sns-block .sns_list>li:first-child {
    margin-left: 0;
}

.copyright {
    margin: 20px 40px 75px;
    text-align: center;
    color: #FFF;
    font-size: 10px;
}


.btn_pagetop {
  position: fixed;
  bottom: 20px;
  right: 20px; 
}
