@charset "UTF-8";

/*! --------------------------------

normalize.css v3.0.2 | MIT License | git.io/normalize

-------------------------------- */

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden],
template {
    display: none;
}

a {
    background-color: transparent;
}

a:active,
a:hover {
    outline: 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

h1 {
    margin: 0.67em 0;
    font-size: 2em;
}

mark {
    color: #000;
    background: #ff0;
}

small {
    font-size: 80%;
}

sub,
sup {
    position: relative;
    vertical-align: baseline;
    font-size: 75%;
    line-height: 0;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 1em 40px;
}

hr {
    box-sizing: content-box;
    height: 0;
}

pre {
    overflow: auto;
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    color: inherit;
    font: inherit;
}

button {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0;
}

input {
    line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"] {
    box-sizing: content-box;
    -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

fieldset {
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
    border: 1px solid #c0c0c0;
}

legend {
    padding: 0;
    border: 0;
}

textarea {
    overflow: auto;
}

optgroup {
    font-weight: bold;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

td,
th {
    padding: 0;
}

.main {
    *zoom: 1;
}

.main:after {
    display: table;
    clear: both;
    content: "";
}

.nav-in li a {
    overflow: hidden;
    white-space: nowrap;
    text-indent: 100%;
}


/* --------------------------------

Primary style

-------------------------------- */

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

html {
    font-size: 62.5%;
}

body {
    overflow-x: hidden;
    -ms-overflow-x: hidden;
    text-align: center;
    color: #000;
    background-color: #fff;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
    font-size: 12px;
    font-size: 1.2rem;
}

a {
    text-decoration: none;
    color: #000;
}


/* --------------------------------

Main Components

-------------------------------- */
.header h1 {
    margin: 0;
    padding: 0;
}
.band p {
    width: 100%;
    margin: 0;
    padding: 10px 0;
    background: #000;
    font: 11px;
    line-height: 1.3em;
    color: #fff;
}

.main {
    padding: 25px 0 55px;
    position: relative;
}

.main .main-in {
    width: 100%;
    padding: 0 5%;
}

@-webkit-keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body.category-all .nav-in .all {
    background-position: 0px 22px;
}

body.category-mens .nav-in .mens {
    background-position: -46px 22px;
}

body.category-ladies .nav-in .ladies {
    background-position: -98px 22px;
}

body.category-goods .nav-in .goods {
    background-position: -165px 22px;
}

body.category-foods .nav-in .foods {
    background-position: -233px 22px;
}

body.category-all .item-all,
body.category-mens .item-mens,
body.category-ladies .item-ladies,
body.category-goods .item-goods,
body.category-foods .item-foods {
    display: block;
    -webkit-animation-name: show 0.5s linear 0s forwards;
    -moz-animation-name: show 0.5s linear 0s forwards;
    animation-name: show 0.5s linear 0s forwards;
    -webkit-animation-timing-function: east-out;
    -moz-animation-timing-function: east-out;
    animation-timing-function: east-out;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -moz-animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#photo-wrap {
    width: 100%;
    margin: 0 auto;
}

.photo-block {
    position: relative;
    float: left;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.photo-block.red {
    border: 4px solid #cb181d;
}

.photo-block.blk {
    border: 4px solid #110d0d;
}

.photo-block.orange {
    border: 4px solid #ed6f25;
}

.photo-link {
    display: block;
}

.photo-link .visual {
    -webkit-transition: -webkit-transform 0.8s ease;
    -moz-transition: -moz-transform 0.8s ease;
    -o-transition: -o-transform 0.8s ease;
    transition: transform 0.8s ease;
}

.photo-link .visual.is-active {
    -webkit-transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
}

.photo-hover {
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
    width: 95%;
    height: 95%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: left;
    background: rgba(255, 255, 255, 0.8);
}

.ribbon {
    margin: 0 0 10px;
    text-align: center;
}
.new-icon {
    position: absolute;
    top: 0;
    right: 10px;
}
.photo-hover .hover-ttl {
    margin: 0;
    text-align: center;
    color: #040000;
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 1.2;
}

.photo-hover .hover-ttl span {
    font-weight: normal;
}

.photo-hover .hover-img {
    margin: 0 auto;
    padding: 20px 0 10px;
    text-align: center;
    background: url('../images/line_logo.png') no-repeat 50% 100%;
    -webkit-background-size: 150px auto;
    -o-background-size: 150px auto;
    background-size: 150px auto;
}

.photo-hover .hover-text {
    margin: 0;
    padding: 8px 25px 0;
    letter-spacing: -1px;
    line-height: 1.4;
}

.photo-hover .hover-text.small {
    font-size: 11px;
    font-size: 1.1rem;
}

@-webkit-keyframes fadeInLeft {
    0% {
        -webkit-transform: translate(-20px);
        transform: translate(-20px);
    }
    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

@-moz-keyframes fadeInLeft {
    0% {
        -webkit-transform: translate(-20px);
        transform: translate(-20px);
    }
    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

@-o-keyframes fadeInLeft {
    0% {
        -webkit-transform: translate(-20px);
        transform: translate(-20px);
    }
    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

@keyframes fadeInLeft {
    0% {
        -webkit-transform: translate(-20px);
        transform: translate(-20px);
    }
    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

.fadeInLeft {
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-animation-name: fadeInLeft;
    -moz-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}
.fade-wrap {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
       -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
         -o-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
}

.animated {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}

.footer-sns {
    height: 70px;
    padding: 25px 0 0;
    background: #c8c6bf;
}

.footer-sns-in {
    width: 220px;
    margin: 0 auto;
    padding: 0;
}

.footer-sns-in li {
    display: inline-block;
    float: left;
    width: 50%;
    padding: 5px 0;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
}

.footer-sns-in li:first-child {
    padding: 5px 10px 5px 0;
    border-right: 1px solid #000;
}

.footer-link {
    height: 100px;
    background: #282828;
}

.footer-link-in {
    position: relative;
    margin: 0;
    list-style: none;
    text-align: center;
}

.footer-link-in li {
    position: absolute;
}

.footer-link-in li:first-child {
    top: 30px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.footer-link-in li:last-child {
    top: -90px;
    right: 10px;
}

.footer-copyright {
    height: 45px;
    padding-top: 75px;
}


/*! --------------------------------

Tools

-------------------------------- */

.m0a {
    margin: 0 auto;
}

.mt00 {
    margin-top: 0px !important;
}

.mb00 {
    margin-bottom: 0px !important;
}

.pt00 {
    padding-top: 0px !important;
}

.pb00 {
    padding-bottom: 0px !important;
}

.mt05 {
    margin-top: 5px !important;
}

.mb05 {
    margin-bottom: 5px !important;
}

.pt05 {
    padding-top: 5px !important;
}

.pb05 {
    padding-bottom: 5px !important;
}

.mt10 {
    margin-top: 10px !important;
}

.mb10 {
    margin-bottom: 10px !important;
}

.pt10 {
    padding-top: 10px !important;
}

.pb10 {
    padding-bottom: 10px !important;
}

.mt15 {
    margin-top: 15px !important;
}

.mb15 {
    margin-bottom: 15px !important;
}

.pt15 {
    padding-top: 15px !important;
}

.pb15 {
    padding-bottom: 15px !important;
}

.mt20 {
    margin-top: 20px !important;
}

.mb20 {
    margin-bottom: 20px !important;
}

.pt20 {
    padding-top: 20px !important;
}

.pb20 {
    padding-bottom: 20px !important;
}

.mt25 {
    margin-top: 25px !important;
}

.mb25 {
    margin-bottom: 25px !important;
}

.pt25 {
    padding-top: 25px !important;
}

.pb25 {
    padding-bottom: 25px !important;
}

.mt30 {
    margin-top: 30px !important;
}

.mb30 {
    margin-bottom: 30px !important;
}

.pt30 {
    padding-top: 30px !important;
}

.pb30 {
    padding-bottom: 30px !important;
}

.mt35 {
    margin-top: 35px !important;
}

.mb35 {
    margin-bottom: 35px !important;
}

.pt35 {
    padding-top: 35px !important;
}

.pb35 {
    padding-bottom: 35px !important;
}

.mt40 {
    margin-top: 40px !important;
}

.mb40 {
    margin-bottom: 40px !important;
}

.pt40 {
    padding-top: 40px !important;
}

.pb40 {
    padding-bottom: 40px !important;
}

.mt45 {
    margin-top: 45px !important;
}

.mb45 {
    margin-bottom: 45px !important;
}

.pt45 {
    padding-top: 45px !important;
}

.pb45 {
    padding-bottom: 45px !important;
}

.mt50 {
    margin-top: 50px !important;
}

.mb50 {
    margin-bottom: 50px !important;
}

.pt50 {
    padding-top: 50px !important;
}

.pb50 {
    padding-bottom: 50px !important;
}

.mt55 {
    margin-top: 55px !important;
}

.mb55 {
    margin-bottom: 55px !important;
}

.pt55 {
    padding-top: 55px !important;
}

.pb55 {
    padding-bottom: 55px !important;
}

.mt60 {
    margin-top: 60px !important;
}

.mb60 {
    margin-bottom: 60px !important;
}

.pt60 {
    padding-top: 60px !important;
}

.pb60 {
    padding-bottom: 60px !important;
}

.mt65 {
    margin-top: 65px !important;
}

.mb65 {
    margin-bottom: 65px !important;
}

.pt65 {
    padding-top: 65px !important;
}

.pb65 {
    padding-bottom: 65px !important;
}

.mt70 {
    margin-top: 70px !important;
}

.mb70 {
    margin-bottom: 70px !important;
}

.pt70 {
    padding-top: 70px !important;
}

.pb70 {
    padding-bottom: 70px !important;
}

.mt75 {
    margin-top: 75px !important;
}

.mb75 {
    margin-bottom: 75px !important;
}

.pt75 {
    padding-top: 75px !important;
}

.pb75 {
    padding-bottom: 75px !important;
}

.mt80 {
    margin-top: 80px !important;
}

.mb80 {
    margin-bottom: 80px !important;
}

.pt80 {
    padding-top: 80px !important;
}

.pb80 {
    padding-bottom: 80px !important;
}

.mt85 {
    margin-top: 85px !important;
}

.mb85 {
    margin-bottom: 85px !important;
}

.pt85 {
    padding-top: 85px !important;
}

.pb85 {
    padding-bottom: 85px !important;
}

.mt90 {
    margin-top: 90px !important;
}

.mb90 {
    margin-bottom: 90px !important;
}

.pt90 {
    padding-top: 90px !important;
}

.pb90 {
    padding-bottom: 90px !important;
}

.mt95 {
    margin-top: 95px !important;
}

.mb95 {
    margin-bottom: 95px !important;
}

.pt95 {
    padding-top: 95px !important;
}

.pb95 {
    padding-bottom: 95px !important;
}

.mt100 {
    margin-top: 100px !important;
}

.mb100 {
    margin-bottom: 100px !important;
}

.pt100 {
    padding-top: 100px !important;
}

.pb100 {
    padding-bottom: 100px !important;
}
