@charset "utf-8";
/* CSS Document */

.pickup-block01 {
  margin-top: 70px;
  background: url(../images/img-ua-facade.jpg) no-repeat 50% 316px;
}
.pickup-block-in {
  width: 1000px;
  margin: 0 auto;
}

.pickup-block02 {
  margin-top: 60px;
  padding-top: 70px;
  background: #f7f5ed url(../images/img-muji-renewal.jpg) no-repeat 50% 530px;
}
.pickup-block-in {
  width: 1000px;
  margin: 0 auto;
}

.pickup-hd {
  display: table;
  width: 100%;
}
.pickup-hd-item01, .pickup-hd-item02 {
  display: table-cell;
  vertical-align: top;
}
.pickup-hd-item01 {
  position: relative;
  width: 400px;
  padding-right: 58px;
}
.pickup-floor {
  position: absolute;
  top: -13px;
  left: -13px;
}
.pickup-hd-box {
  display: inline-block;
  margin-top: 15px;
  padding: 15px 20px;
  background: #F4F4F4;
  color: #7F7E7E;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1.6;
}
.pickup-hd-box.type02 {
  padding: 10px 20px;
  background: #ECEAE2;
}
.pickup-point01 {
  margin-top: 260px;
  display: table;
  width: 100%;
}
.pickup-point01-item01, .pickup-point01-item02 {
  display: table-cell;
  vertical-align: top;
}
.pickup-point01-item01 {
  width: 575px;
  padding-right: 80px;
  padding-top: 180px;
  line-height: 1.875;
  font-weight: bold;
}
.pickup-oe {
  overflow: hidden;
}
.pickup-oe-pic {
  float: left;
  /*margin-right: 45px;*/
  /*margin-bottom: 30px;*/
}
.pickup-oe-title {
  font-size: 2.4rem;
  font-weight: bold;
}
.pickup-oe-title-ja {
  font-size: 1.3rem;
}
.pickup-oe-body {
  margin-left: 515px;
  /*font-size: 1.5rem;*/
}
.pickup-oe-txt01 {
  font-weight: bold;
}
.pickup-oe-txt02 {
  line-height: 1.8;
}
.pickup-oe02 {
  display: table;
  width: 100%;
  margin-top: 30px;
}
.pickup-oe02-item01, .pickup-oe02-item02 {
  display: table-cell;
  vertical-align: top;
}
.pickup-oe02-item01 {
  width: 190px;
  text-align: right;
  padding-right: 20px;
  border-right: 1px solid #000;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: bold;
}
.pickup-oe02-item02 {
  padding-left: 20px;
  font-size: 1.2rem;
}
.pickup-point02 {
  margin-top: 750px;
  font-size: 0;
}
.pickup-point02-item {
  display: inline-block;
  width: 312px;
  margin-right: 30px;
  vertical-align: top;
  font-size: 1.4rem;
}
.pickup-point02-item:nth-child(3n) {
  margin-right: 0;
}
.pickup-point02-pic {
  margin-top: 38px;
}
.pickup-point02-txt01 {
  margin-top: 25px;
  font-size: 1.9rem;
  font-weight: bold;
}
.pickup-point02-txt02 {
  margin-top: 5px;
}

.pickup-point03-pic{
  margin-top: 50px;
}

.pickup-point03 {
  margin-top: 15px;
  font-size: 0;
}

.pickup-bdrbox01 {
  position: relative;
  padding: 5px;
  border: 2px solid #333;
}
.pickup-bdrbox01-in {
  padding: 60px 50px;
  border: 1px solid #333;
}
.pickup-bdrbox01-ttl {
  position: absolute;
  top: -9px;
  left: 0;
  width: 100%;
  text-align: center;
}
.pickup-talkshow-block {
  display: table;
  width: 100%;
}
.pickup-talkshow-pic,.pickup-talkshow-body {
  display: table-cell;
  vertical-align: top;
}
.pickup-talkshow-pic {
  width: 360px;
  padding-right: 50px;
}
.pickup-talkshow-body {
}
.pickup-talkshow-graybox {
  margin-top: 20px;
  padding: 30px;
  background: #ECEAE2;
}

/* limited */

.main {
    position: relative;
    /*margin-bottom: 280px;*/
}

.main .main-in {
    /*max-width: 1740px;*/
    margin: 0 auto;
}

@-webkit-keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.photo-wrap {
    width: 100%;
    margin: 0 auto;
    padding-top: 60px;
}

.photo-block {
    position: relative;
    /*display: none;*/
    float: left;
    overflow: hidden;
    width: 490px;
    height: 490px;
    margin-bottom: 20px;
}
/*
.photo-block.blk {
    border: 8px solid #0a0909;
}

.photo-block.red {
    border: 8px solid #ca191d;
}

.photo-block.orange {
    border: 8px solid #ed6f25;
}*/

.photo-block-in {
    display: block;
    cursor: pointer;
}

.photo-block-in .visual {
    -webkit-transition: -webkit-transform 0.8s ease;
    -moz-transition: -moz-transform 0.8s ease;
    -o-transition: -o-transform 0.8s ease;
    transition: transform 0.8s ease;
}

.photo-block-in:hover .visual {
    -webkit-transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
}

.photo-hover {
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
    /*display: block !important;*/
    width: 470px;
    height: 470px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: left;
    background: rgba(255, 255, 255, 0.7);
}

.photo-hover .icon {
    position: absolute;
    top: -0px;
    left: -0px;
    width: 125px;
    height: 125px;
    content: "";
}

.photo-hover .icon.new {
    background: url('../images/ico-new.png') no-repeat 0 0;
}
.photo-hover .icon.renewal {
    background: url('../images/ico-renew.png') no-repeat 0 0;
}
.photo-hover .icon.limited {
    background: url('../images/ico-limited.png') no-repeat 0 0;
}
/*.photo-hover .icon.renewal {
    background: url('../images/icon_renewal.png') no-repeat 0 0;
}*/


.photo-hover .badge {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 142px;
    height: 40px;
    background: url(../images/badge-ch.png) no-repeat 0 0;
}


.photo-hover .hover-ttl {
    width: 380px;
    margin: 70px auto 0;
    padding-left: 30px;
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: bold;
}

.photo-hover .hover-ttl span {
    font-weight: normal;
}

.photo-hover .hover-img {
    max-width: 380px;
    margin: 0 auto;
    padding: 15px 0 15px;
    text-align: center;
    border-bottom: 1px solid #000;
}

.photo-hover .hover-text {
    width: 380px;
    margin: 12px auto 10px;
    -ms-word-break: break-all;
        word-break: break-all;
}
.photo-hover .hover-text a {
  text-decoration: underline;
}
.photo-hover .hover-text .hover-shopinfo {
    display: block;
    width: 89px;
    height: 20px;
    margin-top: 12px;
    background: url('../images/btn_shopinfo.png') no-repeat 0 0;
}

.photo-hover .hover-box{
    width: 380px;
    margin: 0 auto;
    display: table;
}

.photo-hover .hover-box .box-img{
    display: table-cell;
    vertical-align: middle;
    margin-right: 20px;
}



.photo-hover .hover-box .box-txt{
    display: table-cell;
    vertical-align: middle;
    width: 230px;
}



@-webkit-keyframes fadeInLeft {
    0% {
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-moz-keyframes fadeInLeft {
    0% {
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-o-keyframes fadeInLeft {
    0% {
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes fadeInLeft {
    0% {
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}


.photo-hover .fukuoka-only{
    position: absolute;
    top: 0px;
    right: 21px;
    width: 77px;
    height: 98px;
    content: "";
    background: url('../images/icon_fukuoka-only.png') no-repeat 0 0;
}
.photo-hover .national{
    position: absolute;
    top: 0px;
    right: 21px;
    width: 77px;
    height: 98px;
    content: "";
    background: url('../images/icon_national.png') no-repeat 0 0;
}
.photo-hover .kyusyu-only{
    position: absolute;
    top: 0px;
    right: 21px;
    width: 77px;
    height: 98px;
    content: "";
    background: url('../images/icon_kyusyu-only.png') no-repeat 0 0;
}

.fadeInLeft {
    position: relative;
    -webkit-animation-name: fadeInLeft;
    -moz-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}

.animated {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}
