@charset "utf-8";
/* CSS Document */

.lead {
  margin-top: 80px;
  text-align: center;
  font-size: 3.3rem;
  font-weight: bold;
  line-height: 1.272727273;
}

.article {
  padding: 10px 0 116px;
  font-size: 1.6rem;
  line-height: 2;
}
.article:nth-child(2n+1) {
  background: url(../images/askew02.png) no-repeat 50% 100%;
}
.article:nth-child(2n) {
  background: #F8F8F7 url(../images/askew03.png) no-repeat 50% 100%;
}
.article-in {
  width: 1000px;
  margin: 0 auto;
}
.article-hd {
  position: relative;
  /*padding-bottom: 40px;*/
}
.article-hd:after {
  content: "";
  display: block;
  width: 90px;
  height: 2px;
  margin: 38px auto 0;
  background: #000;
}
.article-num {
  text-align: center;
}
.article-title {
  margin-top: 35px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
}
.article-note {
  margin-top: 15px;
  font-size: 1.4rem;
  line-height: 1.714285714;
  color: #E60012;
  text-align: center;
}
.article-body {
  margin-top: 50px;
}
.article-colblock {
  display: -webkit-flex; /* Safari */
  display: flex;
  justify-content: space-between;
}
.article-colblock.center {
  justify-content: center;
}
.article-colblock-item {
  width: 475px;
}
.article-imgbox {
  position: relative;
}
.article-imgbox-img {
}
.article-imgbox-logo {
  position: absolute;
  left: -10px;
  bottom: -93px;
}
.article-txt01 {
  margin-top: 30px;
  font-size: 2.0rem;
  font-weight: bold;
  line-height: 1.4;
  text-align: center;
}
.article-txt01.type02 {
  margin-left: 150px;
  text-align: left;
}
.article-txt02 {
  margin-top: 25px;
}

.open {
  display: -webkit-flex;
  display: flex;
}
.open-item {
}