/*------------------------------------------
  Base
------------------------------------------*/
body {
  font-size: 1.4em;
  background: #fff url(../images/bg-star.gif) no-repeat center top;
  background-attachment: fixed; }

figure, figcaption {
  margin: 0;
  padding: 0; }

/*------------------------------------------
  Layout
------------------------------------------*/
.contents {
  /*width: 1000px;*/
  margin: 95px auto 0; }
  .contents .page-catch {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    font-size: 1.8rem;
    margin-top: 24px;
    margin-bottom: 80px; }

.photo-list {
  width: 1000px;
  margin: 0 auto;
}
.photo-list ul li {
  float: left;
  width: 220px;
  padding-bottom: 70px;
  position: relative;
  margin-right: 40px;
  margin-bottom: 60px;
  opacity: 0; }
  .photo-list ul li:last-child {
    margin-right: 0; }

.photo-list ul a {
  position: relative;
  display: block; }
  .photo-list ul a:hover {
    opacity: 1; }
    .photo-list ul a:hover .list-item-on {
      opacity: 1;
      -webkit-transition: opacity .6s;
      -moz-transition: opacity .6s;
      -ms-transition: opacity .6s;
      -o-transition: opacity .6s;
      transition: opacity .6s; }

.photo-list ul .staff-catch {
  position: absolute;
  left: 0;
  top: 260px;
  z-index: 10; }

.photo-list .list-item-on {
  position: absolute;
  left: 0;
  top: 0;
  width: 220px;
  height: 280px;
  opacity: 0;
  -webkit-transition: opacity .6s;
  -moz-transition: opacity .6s;
  -ms-transition: opacity .6s;
  -o-transition: opacity .6s;
  transition: opacity .6s; }
  .photo-list .list-item-on .text {
    position: absolute;
    width: 220px;
    height: 280px;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    display: table;
    text-align: center; }
  .photo-list .list-item-on .text-in {
    display: table-cell;
    vertical-align: middle;
    color: #fff;
    text-align: center; }
  .photo-list .list-item-on .floor {
    margin-bottom: 6px; }
    .photo-list .list-item-on .floor img {
      vertical-align: top; }
  .photo-list .list-item-on .shop {
    padding-bottom: 6px;
    margin-bottom: 6px;
    font-size: 16px;
    font-size: 1.6rem;
    position: relative; }
    .photo-list .list-item-on .shop:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 90px;
      height: 1px;
      background: #fff;
      margin-left: -45px; }
  .photo-list .list-item-on .name span {
    font-size: 18px;
    font-size: 1.8rem; }

.photo-list .active li {
  opacity: 1;
  -webkit-transition: opacity .6s;
  -moz-transition: opacity .6s;
  -ms-transition: opacity .6s;
  -o-transition: opacity .6s;
  transition: opacity .6s; }
  .photo-list .active li:first-child {
    -webkit-transition-delay: .3s;
    -moz-transition-delay: .3s;
    -ms-transition-delay: .3s;
    -o-transition-delay: .3s;
    transition-delay: .3s; }
  .photo-list .active li:nth-child(2) {
    -webkit-transition-delay: .5s;
    -moz-transition-delay: .5s;
    -ms-transition-delay: .5s;
    -o-transition-delay: .5s;
    transition-delay: .5s; }
  .photo-list .active li:nth-child(3) {
    -webkit-transition-delay: .7s;
    -moz-transition-delay: .7s;
    -ms-transition-delay: .7s;
    -o-transition-delay: .7s;
    transition-delay: .7s; }
  .photo-list .active li:last-child {
    -webkit-transition-delay: .9s;
    -moz-transition-delay: .9s;
    -ms-transition-delay: .9s;
    -o-transition-delay: .9s;
    transition-delay: .9s; }

/* detail */
body.star-detail {
  background: #fff url(../images/bg-star02.gif) no-repeat center top;
  background-attachment: fixed; }
  body.star-detail .contents {
    margin: 0;
    width: auto; }
  body.star-detail .footer {
    margin-top: 0; }

.staff-detail {
  width: 1000px;
  margin: 0 auto 95px; }

.profile-block {
  display: table;
  margin-bottom: 80px; }
  .profile-block .photo {
    display: table-cell;
    vertical-align: middle;
    padding-right: 40px; }
  .profile-block .text {
    display: table-cell;
    vertical-align: middle;
    width: 500px;
    font-size: 16px;
    font-size: 1.6rem; }
    .profile-block .text .staff-catch {
      font-size: 24px;
      font-size: 2.4rem;
      font-style: italic;
      padding-bottom: 4px;
      border-bottom: 4px solid #000;
      margin-bottom: 40px; }
    .profile-block .text .floor {
      margin-bottom: 8px; }
      .profile-block .text .floor img {
        vertical-align: top; }
    .profile-block .text .shop {
      margin-bottom: 15px; }
    .profile-block .text .link {
      width: 150px;
      margin-bottom: 40px; }
      .profile-block .text .link a {
        display: block;
        text-align: center;
        background: #fff;
        border: 1px solid #000;
        padding: 6px 0 8px; }
        .profile-block .text .link a:hover {
          background: #f6ff03;
          opacity: 1; }
      .profile-block .text .link img {
        vertical-align: middle; }
    .profile-block .text .name {
      margin-bottom: 20px;
      font-size: 26px;
      font-size: 2.6rem; }
      .profile-block .text .name span {
        font-size: 34px;
        font-size: 3.4rem; }
    .profile-block .text .staff-sns li {
      padding: 5px 0 5px 34px; }
    .profile-block .text .staff-sns a {
      text-decoration: underline; }
    .profile-block .text .staff-sns .item01 {
      background: url(../images/star/ico-instagram.png) no-repeat left center; }
    .profile-block .text .staff-sns .item02 {
      background: url(../images/star/ico-wear.png) no-repeat left center; }

.question-block {
  margin-bottom: 20px; }
  .question-block dl {
    width: 800px;
    margin: 0 auto; }
  .question-block dt {
    font-size: 16px;
    font-size: 1.6rem;
    font-style: italic;
    font-weight: bold;
    padding: 16px 10px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000; }
    .question-block dt span {
      color: #777777;
      padding-right: 14px; }
  .question-block dd {
    padding: 20px 30px 50px;
    line-height: 1.8; }
    .question-block dd p {
      padding-bottom: 15px; }
      .question-block dd p:last-child {
        padding-bottom: 0; }

body.star-detail-women .question-block dd {
  color: #fd528f; }

body.star-detail-men .question-block dd {
  color: #0284e9; }

.photo-block {
  margin-bottom: 40px; }

.message-block ul {
  text-align: center; }
  .message-block ul li {
    display: inline-block;
    margin: 0 25px;
    width: 428px;
    height: 406px;
    vertical-align: top; }
  .message-block ul .title {
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: bold;
    padding-top: 70px;
    margin-bottom: 40px;
    background: url(../images/star/bg-comment-title.png) no-repeat center bottom; }
    .message-block ul .title .icon {
      margin-bottom: 8px; }
  .message-block ul .comment {
    text-align: left;
    width: 280px;
    margin: 0 auto;
    line-height: 1.8; }
  .message-block ul .item01 {
    background: url(../images/star/star01.gif) no-repeat center; }
  .message-block ul .item02 {
    background: url(../images/star/star02.gif) no-repeat center; }

/* star footer */
.star-footer .star-footer-logo {
  text-align: center;
  padding: 40px 0 30px; }

.bnr-group {
  margin-top: 80px;
  text-align: center;
}
.bnr-group a {
  display: inline-block;
  margin-right: 40px;
}
.bnr-group a:nth-child(2n) {
  margin-right: 0;
}
.bnr-group a.end {
  cursor: default;
}
.bnr-group a.end:hover {
  opacity: 1;
}

.blog-block {
  margin-top: 70px;
  background: rgba(0,0,0,0.1);
  padding: 40px 0 110px;
}
.blog-block .blog-title {
  text-align: center;
  margin-bottom: 40px;
}
.blog-block .blog {
  width: 1000px;
  margin: 0 auto;
}
.blog_parts_block .column5_blog_list_block_01 .each_post_block {
  margin-top: 0;
  margin-bottom: 16px;
  width: 180px;
  margin-right: 22px;
  border: 1px solid #000;
}
.blog_parts_block .column5_blog_list_block_01 .each_post_block:nth-child(2n) {
  margin-right: 22px;
}
.blog_parts_block .column5_blog_list_block_01 .each_post_block:nth-child(5n) {
  margin-right: 0;
}
.blog_parts_block .column5_blog_list_block_01 .each_post_block .inner {
  padding: 8px;
}
.blog_parts_block .column5_blog_list_block_01 .imgLiquidBox {
  height: 162px;
  border-bottom: none;
}
.blog_parts_block .column5_blog_list_block_01 .like_block {
    position: absolute;
    width: 52px;
    height: 18px;
    padding: 40px 5px 0 0;
    right: 9px;
    top: 111px;
    text-align: right;
    background: url(/common/images/common_like_bg.png) no-repeat left top;
    color: #ff3366;
}
.blog_parts_block .column5_blog_list_block_01 .post_shop {
  font-size: 12px;
  padding-top: 14px;
  padding-bottom: 14px;
  border-bottom: 1px dotted #999;
}
.blog_parts_block .column5_blog_list_block_01 .post_title {
  padding: 0;
  font-size: 12px;
  font-size: 1.2rem;
  padding-top: 14px;
}
.blog_parts_block .column5_blog_list_block_01 .inner .post_title a:link {
  color: #46639F;
}
.blog_parts_block .column5_blog_list_block_01 .post_store {
  display: none;
}
/*------------------------------------------
  Clearfix
------------------------------------------*/
.clearfix, .photo-list ul {
  *zoom: 1; }
  .clearfix:after, .photo-list ul:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0; }
