@charset "utf-8";

body {
  background:linear-gradient(90deg,#f9f9f6 0%,#f9f9f6 50%,#e9e8db 50%,#e9e8db 100%) !important;
}

img:not([width]) {
  zoom: 1;
}

/*
 floor nav
*/
.floor_nav_in{
  color: #666666;
}
body.floor1 .floor_nav_floor1 .floor_nav_in{
  color: #31a254;
}
body.floor1 .floor_nav_floor1 .floor_nav_in .icon_arrow01{
  background: #31a254;
}
body.floor2 .floor_nav_floor2 .floor_nav_in{
  color: #31a254;
}
body.floor2 .floor_nav_floor2 .floor_nav_in .icon_arrow01{
  background: #31a254;
}
body.floor3 .floor_nav_floor3 .floor_nav_in{
  color: #31a254;
}
body.floor3 .floor_nav_floor3 .floor_nav_in .icon_arrow01{
  background: #31a254;
}
body.floor4 .floor_nav_floor4 .floor_nav_in{
  color: #31a254;
}
body.floor4 .floor_nav_floor4 .floor_nav_in .icon_arrow01{
  background: #31a254;
}

.btn_block_07 {
  clear: both;
  margin-top: 20px;
  margin-bottom: 20px;
}

#main {
  background: transparent;
  padding-bottom: 50px;
}
#main h2 {
  color:#0061a7;
  /*border-bottom:1px solid #0061a7;*/
  font-weight:bold;
}

#main .ttlShops,
#main .ttlBlog {
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 3px 0px;
  color: #fff;
}
/*
 category nav
*/
.category_nav_wrap {
  margin-top: 23px;
}
.category_nav {
  width: 100%;
  background: #FFF;
  -webkit-transform: translate3d(0,0,0);
     -moz-transform: translate3d(0,0,0);
      -ms-transform: translate3d(0,0,0);
       -o-transform: translate3d(0,0,0);
          transform: translate3d(0,0,0);
}
.js-fixed.fixed {
  position: fixed;
  top: 0;
  z-index: 1000;
}
.category_nav ul {
  display: table;
  width: 100%;
  border: 1px solid #E50012;
  border-left: none;
  border-right: none;
  text-align: center;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.category_nav__item {
  position: relative;
  display: table-cell;
  font-size: large;
  width: 33%;
  border-left: 1px solid #E50012;
  vertical-align: middle;
  line-height: 1.357142857;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.category_nav__item:first-child {
  border-left: none;
}

/* タブ3つ */
.category_nav.type01 .category_nav__item {
  width: 33%;
}
.category_nav.type01 .category_nav__item:nth-child(2) {
  width: 34%;
}

/* タブ2つ */
.category_nav.type02 .category_nav__item {
  width: 50%;
}

.category_nav__item a {
  display: inline-block;
  color: #E50012;
  font-weight: bold;
  font-size: 14px;
  padding: 13px 0;
}
body.check .category_nav li.category_nav__item01,
body.blog .category_nav li.category_nav__item02,
body.limited .category_nav li.category_nav__item03{
  background: #E50012;
}
body.check .category_nav li.category_nav__item01 a,
body.blog .category_nav li.category_nav__item02 a,
body.limited .category_nav li.category_nav__item03 a {
  color: #fff;
}

body.check .category_nav li.category_nav__item01:after,
body.blog .category_nav li.category_nav__item02:after,
body.limited .category_nav li.category_nav__item03:after{
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  border-top: 6px solid #E50012;
  border-right: 7px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 7px solid transparent;
  left: 50%;
  bottom: -13px;
  margin-left: -7px;
}


/*
.category_nav{
  width: 100%;
  -webkit-transform: translate3d(0,0,0);
     -moz-transform: translate3d(0,0,0);
      -ms-transform: translate3d(0,0,0);
       -o-transform: translate3d(0,0,0);
          transform: translate3d(0,0,0);
}
.js-fixed.fixed {
  position: fixed;
  top: 0;
  z-index: 1000;
}
.js-content{
  border-top: none;
}
.category_nav ul{
  width: 100%;
  display: block;
}

.category_nav li{
  position: relative;
  padding-bottom: 15px;
  width: 33%;
  float: left;
}
.category_nav li:nth-child(2){
  width: 34%;
}
body.check .category_nav li.category_nav__item01:after,
body.blog .category_nav li.category_nav__item02:after,
body.limited .category_nav li.category_nav__item03:after{
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  border: 13px solid transparent;
  border-top-color: #e50012;
  left: 50%;
  bottom: -9px;
  margin-left: -15px;
}
.category_nav li .category_nav_in{
  display: table;
  color: #ffffff;
  text-align: center;
  background: #e50012;
  width: 100%;
  padding: 15px 0;
  border-left: 2px dotted #ffffff;
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.category_nav li:first-child .category_nav_in{
  border-left: 1px solid #e50012  ;
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.category_nav li.current .category_nav_in{
  background: #e50012;
}
.category_nav li.current .category_nav_in p{
  font-size: 14px;
  line-height: 1.357142857;
  font-weight: bold;
}
*/

/* floor title */
.shop_list_trigger .trigger_in {
  background: #e50012;
  color:#ffffff;
}

.icon_arrow02:after {
  border-top-color: #e50012;
}

/* snavi -------------------------------------------------------------- */
.snavi {
  margin-top: 25px;
}
.snavi ul {
  text-align: center;
  font-size: 0;
  line-height: 0;
}
.snavi ul li {
  display: inline-block;
  margin: 0 2px;
  vertical-align: top;
  font-size: 0;
  line-height: 0;
}

.bnr-area {
  margin: 18px 10px 0;
}
.page_comment {
  padding: 8px 15px;
}
.contentsWrapper {
  background:#fff;
}

.title_block_01 {
  background-image:none;
  background-color:#fff;
}

.title_block_01 h2 {
  text-align: center;
  width: 100%;
}

.item_block_01 {
  padding: 0 ;
  margin:0;
}


.title_block {
  margin-bottom:0;
}

.thumbnail_block {
    border: 1px solid #CCCCCC;
    margin: 0 5px 5px 0;
}

.floor_nav_in{
  padding: 6px 12px;
}

/* footerカスタマイズ */
.footer_illust img {
  width: 100%;
}
.footer {
  position: relative;
  background-color: #e50012;
  padding:30px 0;
}
.pagetop {
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: -22px;
}
.sitetop a {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  background: url(../images/ft_arrow.png) no-repeat left center;
  background-size: 14px;
  padding-left: 19px;
  letter-spacing: 1.7px;
}
.sitetop {
  margin: 30px 0 18px;  
}
.copyright {
  color: #fff;
  font-size: 8px;
}
.page_comment {
  border-top: none;
}

/*clearfix*/
.clearfix:after {
  clear:both;
  content:".";
  display:block;
  height:0;
  visibility:hidden;
}

.clearfix {
  min-height:1px;
  position:relative;
}

* html .clearfix {
  height:1px;
}
.contents-wrap__in {
  width: 930px;
  margin: 0 auto;
  background: #fff;
}
/**
****kaeru
**/
.thumbnail_block .kaeru_block{
    position: absolute;
    top: 0px;
    left: 5px;
    width: 25px;
    height: 29px;
    background: url(/common/images/buy.png) no-repeat left top;
    background-size: 25px;
}

.thumbnail_block .kaeru_hotblog_block{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 25px;
    height: 29px;
    background: url(/common/images/buy.png) no-repeat left top;
    background-size: 25px;
}

.blog_parts_block.limited {
  margin-top: 40px;
}
.blog_parts_block.limited .like_number {
  display: none;
}
.blog_parts_block.limited .thumbnail_block_wrap {
  color: #E50012;
}
.blog_parts_block.limited .thumbnail_block_wrap a {
  color: #E50012;
}
.blog_parts_block.limited .thumbnail_block_wrap .thumbnail_block {
    border: none;
    /*margin: 0 5px 5px 0;*/
}

.blog_parts_block.limited .btn_block_07{
  background:#e50012;
}

/* header */
#container #header {
  margin: 0px;
}

.nav-anchor {
  margin: 25px 15px 0px;
  display: flex;
  justify-content: space-between;
}
.nav-anchor li {width: 48%;}
.nav-anchor li img {width: 100%;}

/* ttl */
.ttl-border {
  margin: 0px 12px;
  position: relative;
}
.ttl-border:before {
  content: "";
  display: block;
  width: 78%;
  height: 1px;
  background-color: #010104;
  position: absolute;
  right: 0px;
  top: 8px; 
}

/* shops */
#main .ttlShops {
  margin-bottom: 40px;
}
.list-shops {
  margin: 0px 12px;
}
.list-shops .item-list-shops {
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 5px 20px 0px rgba(7, 0, 2, 0.05);
  margin-bottom: 40px;
  padding: 5px;
  position: relative;
  box-sizing: border-box;
}
.list-shops .item-list-shops:nth-child(2n) {margin-right: 0px;}
.list-shops .item-list-shops .floor {
  width: 50px;
  height: 50px;
  color: #ffffff;
  font-size: 10px;
  text-align: center;
  border-radius: 50%;
  background-color: #000000;
  padding-top: 11px;
  position: absolute;
  left: -10px;
  top: -25px;
  box-sizing: border-box;
}
.list-shops .item-list-shops .image,
.list-shops .item-list-shops .brand {
  display: table-cell;
  vertical-align: middle;
}
.list-shops .item-list-shops .image {
  width: 62.5%;
  box-shadow: 0px 5px 20px 0px rgba(7, 0, 2, 0.05);
}
.list-shops .item-list-shops .image img {
  width: 100%;
  vertical-align: bottom;
}
.list-shops .item-list-shops .brand {
  text-align: center;
  padding-left: 10px;
}
.list-shops .item-list-shops .brand .logo img {width: 100%;}
.list-shops .item-list-shops a .brand .name {
  color:#323333 !important;
  font-size: 10px;
}

/* footer */
#footer-site {
  height: 103px;
  background-color: #000000;
  padding-top: 38px;
  position: relative;
  box-sizing: border-box;
}
#footer-site .btn-sitetop {
  margin-bottom: 35px;
}
#footer-site .btn-pagetop {
  position: absolute;
  left: 50%;
  top: -30px;
  transform: translateX(-50%);
}

/*************************************
helper classes
*************************************/

.fs13 { font-size: 13px; }
.fs15 { font-size: 15px; }
.fs20 { font-size: 20px; }

.mt00 {
  margin-top: 0px !important;
}

.mt05 {
  margin-top: 5px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mt15 {
  margin-top: 15px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mt25 {
  margin-top: 25px !important;
}

.mt30 {
  margin-top: 30px !important;
}

.mt35 {
  margin-top: 35px !important;
}

.mt40 {
  margin-top: 40px !important;
}

.mt45 {
  margin-top: 45px !important;
}

.mt50 {
  margin-top: 50px !important;
}

.mt55 {
  margin-top: 55px !important;
}

.mt60 {
  margin-top: 60px !important;
}

.mt65 {
  margin-top: 65px !important;
}

.mt70 {
  margin-top: 70px !important;
}

.mt75 {
  margin-top: 75px !important;
}

.mt80 {
  margin-top: 80px !important;
}

.mt85 {
  margin-top: 85px !important;
}

.mt90 {
  margin-top: 90px !important;
}

.mt95 {
  margin-top: 95px !important;
}

.mt100 {
  margin-top: 100px !important;
}

.mb00 {
  margin-bottom: 0px !important;
}

.mb05 {
  margin-bottom: 5px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.mb15 {
  margin-bottom: 15px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.mb25 {
  margin-bottom: 25px !important;
}

.mb30 {
  margin-bottom: 30px !important;
}

.mb35 {
  margin-bottom: 35px !important;
}

.mb40 {
  margin-bottom: 40px !important;
}

.mb45 {
  margin-bottom: 45px !important;
}

.mb50 {
  margin-bottom: 50px !important;
}

.mb55 {
  margin-bottom: 55px !important;
}

.mb60 {
  margin-bottom: 60px !important;
}

.mb65 {
  margin-bottom: 65px !important;
}

.mb70 {
  margin-bottom: 70px !important;
}

.mb75 {
  margin-bottom: 75px !important;
}

.mb80 {
  margin-bottom: 80px !important;
}

.mb85 {
  margin-bottom: 85px !important;
}

.mb90 {
  margin-bottom: 90px !important;
}

.mb95 {
  margin-bottom: 95px !important;
}

.mb100 {
  margin-bottom: 100px !important;
}

.ml00 {
  margin-left: 0px !important;
}

.ml05 {
  margin-left: 5px !important;
}

.ml10 {
  margin-left: 10px !important;
}

.ml15 {
  margin-left: 15px !important;
}

.ml20 {
  margin-left: 20px !important;
}

.ml25 {
  margin-left: 25px !important;
}

.ml30 {
  margin-left: 30px !important;
}

.ml35 {
  margin-left: 35px !important;
}

.ml40 {
  margin-left: 40px !important;
}

.ml45 {
  margin-left: 45px !important;
}

.ml50 {
  margin-left: 50px !important;
}

.ml55 {
  margin-left: 55px !important;
}

.ml60 {
  margin-left: 60px !important;
}

.ml65 {
  margin-left: 65px !important;
}

.ml70 {
  margin-left: 70px !important;
}

.ml75 {
  margin-left: 75px !important;
}

.ml80 {
  margin-left: 80px !important;
}

.ml85 {
  margin-left: 85px !important;
}

.ml90 {
  margin-left: 90px !important;
}

.ml95 {
  margin-left: 95px !important;
}

.ml100 {
  margin-left: 100px !important;
}

.mr00 {
  margin-right: 0px !important;
}

.mr05 {
  margin-right: 5px !important;
}

.mr10 {
  margin-right: 10px !important;
}

.mr15 {
  margin-right: 15px !important;
}

.mr20 {
  margin-right: 20px !important;
}

.mr25 {
  margin-right: 25px !important;
}

.mr30 {
  margin-right: 30px !important;
}

.mr35 {
  margin-right: 35px !important;
}

.mr40 {
  margin-right: 40px !important;
}

.mr45 {
  margin-right: 45px !important;
}

.mr50 {
  margin-right: 50px !important;
}

.mr55 {
  margin-right: 55px !important;
}

.mr60 {
  margin-right: 60px !important;
}

.mr65 {
  margin-right: 65px !important;
}

.mr70 {
  margin-right: 70px !important;
}

.mr75 {
  margin-right: 75px !important;
}

.mr80 {
  margin-right: 80px !important;
}

.mr85 {
  margin-right: 85px !important;
}

.mr90 {
  margin-right: 90px !important;
}

.mr95 {
  margin-right: 95px !important;
}

.mr100 {
  margin-right: 100px !important;
}

.pt00 {
  padding-top: 0px !important;
}

.pt05 {
  padding-top: 5px !important;
}

.pt10 {
  padding-top: 10px !important;
}

.pt15 {
  padding-top: 15px !important;
}

.pt20 {
  padding-top: 20px !important;
}

.pt25 {
  padding-top: 25px !important;
}

.pt30 {
  padding-top: 30px !important;
}

.pt35 {
  padding-top: 35px !important;
}

.pt40 {
  padding-top: 40px !important;
}

.pt45 {
  padding-top: 45px !important;
}

.pt50 {
  padding-top: 50px !important;
}

.pt55 {
  padding-top: 55px !important;
}

.pt60 {
  padding-top: 60px !important;
}

.pt65 {
  padding-top: 65px !important;
}

.pt70 {
  padding-top: 70px !important;
}

.pt75 {
  padding-top: 75px !important;
}

.pt80 {
  padding-top: 80px !important;
}

.pt85 {
  padding-top: 85px !important;
}

.pt90 {
  padding-top: 90px !important;
}

.pt95 {
  padding-top: 95px !important;
}

.pt100 {
  padding-top: 100px !important;
}

.pb00 {
  padding-bottom: 0px !important;
}

.pb05 {
  padding-bottom: 5px !important;
}

.pb10 {
  padding-bottom: 10px !important;
}

.pb15 {
  padding-bottom: 15px !important;
}

.pb20 {
  padding-bottom: 20px !important;
}

.pb25 {
  padding-bottom: 25px !important;
}

.pb30 {
  padding-bottom: 30px !important;
}

.pb35 {
  padding-bottom: 35px !important;
}

.pb40 {
  padding-bottom: 40px !important;
}

.pb45 {
  padding-bottom: 45px !important;
}

.pb50 {
  padding-bottom: 50px !important;
}

.pb55 {
  padding-bottom: 55px !important;
}

.pb60 {
  padding-bottom: 60px !important;
}

.pb65 {
  padding-bottom: 65px !important;
}

.pb70 {
  padding-bottom: 70px !important;
}

.pb75 {
  padding-bottom: 75px !important;
}

.pb80 {
  padding-bottom: 80px !important;
}

.pb85 {
  padding-bottom: 85px !important;
}

.pb90 {
  padding-bottom: 90px !important;
}

.pb95 {
  padding-bottom: 95px !important;
}

.pb100 {
  padding-bottom: 100px !important;
}

.pl00 {
  padding-left: 0px !important;
}

.pl05 {
  padding-left: 5px !important;
}

.pl10 {
  padding-left: 10px !important;
}

.pl15 {
  padding-left: 15px !important;
}

.pl20 {
  padding-left: 20px !important;
}

.pl25 {
  padding-left: 25px !important;
}

.pl30 {
  padding-left: 30px !important;
}

.pl35 {
  padding-left: 35px !important;
}

.pl40 {
  padding-left: 40px !important;
}

.pl45 {
  padding-left: 45px !important;
}

.pl50 {
  padding-left: 50px !important;
}

.pl55 {
  padding-left: 55px !important;
}

.pl60 {
  padding-left: 60px !important;
}

.pl65 {
  padding-left: 65px !important;
}

.pl70 {
  padding-left: 70px !important;
}

.pl75 {
  padding-left: 75px !important;
}

.pl80 {
  padding-left: 80px !important;
}

.pl85 {
  padding-left: 85px !important;
}

.pl90 {
  padding-left: 90px !important;
}

.pl95 {
  padding-left: 95px !important;
}

.pl100 {
  padding-left: 100px !important;
}

.pr00 {
  padding-right: 0px !important;
}

.pr05 {
  padding-right: 5px !important;
}

.pr10 {
  padding-right: 10px !important;
}

.pr15 {
  padding-right: 15px !important;
}

.pr20 {
  padding-right: 20px !important;
}

.pr25 {
  padding-right: 25px !important;
}

.pr30 {
  padding-right: 30px !important;
}

.pr35 {
  padding-right: 35px !important;
}

.pr40 {
  padding-right: 40px !important;
}

.pr45 {
  padding-right: 45px !important;
}

.pr50 {
  padding-right: 50px !important;
}

.pr55 {
  padding-right: 55px !important;
}

.pr60 {
  padding-right: 60px !important;
}

.pr65 {
  padding-right: 65px !important;
}

.pr70 {
  padding-right: 70px !important;
}

.pr75 {
  padding-right: 75px !important;
}

.pr80 {
  padding-right: 80px !important;
}

.pr85 {
  padding-right: 85px !important;
}

.pr90 {
  padding-right: 90px !important;
}

.pr95 {
  padding-right: 95px !important;
}

.pr100 {
  padding-right: 100px !important;
}

.fz10 {
  font-size: 10px !important;
}

.fz11 {
  font-size: 11px !important;
}

.fz12 {
  font-size: 12px !important;
}

.fz13 {
  font-size: 13px !important;
}

.fz14 {
  font-size: 14px !important;
}

.fz15 {
  font-size: 15px !important;
}

.fz16 {
  font-size: 16px !important;
}

.fz17 {
  font-size: 17px !important;
}

.fz18 {
  font-size: 18px !important;
}

.fz19 {
  font-size: 19px !important;
}

.fz20 {
  font-size: 20px !important;
}

.ta-c {
  text-align: center;
}

.ta-l {
  text-align: left;
}

.ta-r {
  text-align: right;
}

.dy-b {
  display: block;
}

.dy-ib {
  display: inline-block;
}

.dy-i {
  display: inline;
}

.fl-l {
  float: left;
}

.fl-r {
  float: right;
}