@charset "utf-8";
/* CSS Document */


/***
*
* blog_parts
*
*/


.post_image{
  position:relative;
  /*margin-bottom:15px;*/
}

.like_block{
  display: none;
  position:absolute;
  width:52px;
  height:18px;
  padding:40px 5px 0 0;
  right:1px;
  bottom:1px;
  text-align:right;
  background:url(/common/images/common_like_bg.png) no-repeat left top;
}
.like_block p{
  color:#ff3366;
}

/*  ＊コメントアウトするとデフォルトになる
.blog_parts_view_type_1 .more_post a{
  display: block;
  width: 431px;
  height: 49px;
  margin: 0 auto;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: url("../images/btn_more.png") no-repeat left
  top;
}*/

.blog_parts_view_type_1 {
    /*padding-bottom: 60px;*/
}
/*
kaeru
*/
.post_image .kaeru_block{
  position: absolute;
  top: -10px;
  left: -10px;
  width: 40px;
  height: 46px;
  background: url(/common/images/buy.png) no-repeat scroll left top rgba(0, 0, 0, 0);
}

.blog {
  width: 287px;
  margin: 30px auto 0;
}