@charset "utf-8";
/* CSS Document */

.nav-nr {
  position: relative;
  margin-top: 40px;
  height: 40px;
  text-align: center;
}
.nav-nr:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #000;
  font-size: 0;
  z-index: 1;
}
.nav-nr-list {
  position: relative;
  z-index: 2;
}
.nav-nr-list-item {
  display: inline-block;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.nav-nr-list-link {
  display: block;
  width: 95px;
  height: 40px;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
  background: no-repeat 50% 50%;
}
.nav-nr-list-link.type01 {
  background-image: url(../images/newshop/nav-nr01.png);
  -webkit-background-size: 55px auto;
       -o-background-size: 55px auto;
          background-size: 55px auto;
}
.nav-nr-list-link.type02 {
  background-image: url(../images/newshop/nav-nr02.png);
  -webkit-background-size: 34px auto;
       -o-background-size: 34px auto;
          background-size: 34px auto;
}
.nav-nr-list-link.type03 {
  background-image: url(../images/newshop/nav-nr03.png);
  -webkit-background-size: 34px auto;
       -o-background-size: 34px auto;
          background-size: 34px auto;
}
body.pickup .nav-nr-list-item.type01,
body.annex .nav-nr-list-item.type02,
body.main .nav-nr-list-item.type03 {
  border: 1px solid #000;
  border-bottom: none;
  background-color: #FFF;
}

.pickup-block01 {
  margin-top: 29px;
  padding: 0 17px;
  /*background: url(../images/newshop/img-ua-facade.jpg) no-repeat 50% 316px;*/
}
.pickup-block01 .pickup-block-in {
}

.pickup-block02 {
  margin-top: 30px;
  padding: 30px 17px;
  background: #f7f5ed ;
  /*background: #f7f5ed url(../images/newshop/img-muji-facade.jpg) no-repeat 50% 530px;*/
}
.pickup-block02 .pickup-block-in {
}
.pickup-block03 {
  padding: 0 17px;
}


.pickup-hd {
}
.pickup-hd-item01, .pickup-hd-item02 {
  margin-top: 25px;
}
.pickup-hd-item01 {
}
.pickup-floor {
  text-align: center;
}
.pickup-logo {
  margin-top: 25px;
  text-align: center;
}
.pickup-hd-box {
  margin-top: 13px;
  padding: 10px;
  background: #F4F4F4;
  color: #7F7E7E;
  font-weight: bold;
  font-size: 1.1rem;
  line-height: 1.6;
}
.pickup-hd-box.type02 {
  padding: 10px 20px;
  background: #ECEAE2;
}
.pickup-facade {
  margin: 20px -17px 0;
}
.pickup-facade img {
  width: 100%;
}
.pickup-point01 {
  margin-top: 25px;
}
.pickup-point01-item01, .pickup-point01-item02 {
}
.pickup-point01-item01 {
  /*width: 575px;*/
  /*padding-right: 80px;*/
  /*padding-top: 180px;*/
  line-height: 1.875;
  /*font-weight: bold;*/
}
.pickup-oe {
  overflow: hidden;
}
.pickup-oe-pic {
  /*float: left;*/
  /*margin-right: 45px;*/
  /*margin-bottom: 30px;*/
}
.pickup-oe-title {
  margin-top: 25px;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  line-height: 1.4;
}
.pickup-oe-title-ja {
  font-size: 0.9rem;
}
.pickup-oe-body {
  /*margin-left: 515px;*/
  /*font-size: 1.5rem;*/
}
.pickup-oe-txt01 {
  font-weight: bold;
  font-size: 1.1rem;
  text-align: center;
}
.pickup-oe-txt02 {
  font-size: 1.1rem;
  line-height: 1.8;
}
.pickup-oe02 {
  margin-top: 20px;
  padding: 20px;
  background: #f4f4f5;
}
.pickup-oe02-item01, .pickup-oe02-item02 {
}
.pickup-oe02-item01 {
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
}
.pickup-oe02-item02 {
  margin-top: 15px;
  font-size: 1.1rem;
}
.pickup-point02 {
  margin-top: 25px;
}
.pickup-point02-item {
  vertical-align: top;
  font-size: 1.4rem;
  margin-top: 20px;
}
.pickup-point02-item:first-child {
  margin-top: 0;
}
.pickup-point02-pic {
  margin-top: 20px;
}
.pickup-point02-txt01 {
  margin-top: 12px;
  font-size: 1.5rem;
  font-weight: bold;
}
.pickup-point02-txt02 {
  margin-top: 5px;
  font-size: 1.1rem;
}

.pickup-bdrbox01 {
  position: relative;
  padding: 3px;
  border: 2px solid #333;
}
.pickup-bdrbox01-in {
  padding: 25px 20px;
  border: 1px solid #333;
}
.pickup-bdrbox01-ttl {
  position: absolute;
  top: -9px;
  left: 0;
  width: 100%;
  text-align: center;
}
.pickup-talkshow-block {
}
.pickup-talkshow-pic,.pickup-talkshow-body {
}
.pickup-talkshow-pic {
  /*padding-right: 50px;*/
}
.pickup-talkshow-body {
  margin-top: 15px;
}
.pickup-talkshow-graybox {
  margin-top: 20px;
  padding: 20px;
  background: #ECEAE2;
}
.prof {
  margin-top: 10px;
  font-size: 1.1rem;
}
.prof td {
  vertical-align: top;
}
.prof td:first-child {
  padding-right: 1em;
  white-space: nowrap;
}

/* limited */

.main {
    position: relative;
    /*margin-bottom: 280px;*/
}

.main .main-in {
    /*max-width: 1740px;*/
    margin: 0 auto;
}
@-webkit-keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.photo-wrap {
    width: 100%;
    margin: 0 auto;
}

.photo-block {
    position: relative;
    /*display: none;*/
    /*float: left;*/
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.photo-block.red {
    border: 4px solid #cb181d;
}

.photo-block.blk {
    border: 4px solid #110d0d;
}

.photo-block.orange {
    border: 4px solid #ed6f25;
}

.photo-block-in {
    display: block;
}

.photo-block-in .visual {
    -webkit-transition: -webkit-transform 0.8s ease;
    -moz-transition: -moz-transform 0.8s ease;
    -o-transition: -o-transform 0.8s ease;
    transition: transform 0.8s ease;
}

.photo-block-in .visual.is-active {
    -webkit-transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
}

.photo-hover {
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
    width: 93%;
    height: 93%;
    font-size: 1.1rem;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: left;
    background: rgba(255, 255, 255, 0.8);
}

.photo-hover .icon {
    position: absolute;
    top: 0px;
    left: -1px;
    width: 63px;
    height: 63px;
    content: "";
}

.photo-hover .icon {
    position: absolute;
    top: -0px;
    left: -0px;
    width: 63px;
    height: 63px;
    content: "";
}

.photo-hover .icon.new {
    background: url('../images/newshop/ico-new.png') no-repeat 0 0;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.photo-hover .icon.renewal {
    background: url('../images/newshop/ico-renew.png') no-repeat 0 0;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.photo-hover .badge {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 71px;
    height: 20px;
    background: url(../images/newshop/badge-ch.png) no-repeat 0 0;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.photo-hover .hover-ttl {
    /*position: absolute;*/
    /*top: 20px;*/
    /*left: 50%;*/
    /*width: 210px;*/
    margin: 0;
/*    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);*/
    margin-top: 15px;
    text-align: center;
    color: #040000;
    font-size: 1.0rem;
    line-height: 1.2;
    text-align: center;
    font-weight: bold;
}

.photo-hover .hover-ttl span {
    font-weight: normal;
}

.photo-hover .hover-img {
    margin: 0 auto;
    padding: 15px 0 6px;
    width: 250px;
    height: 30px;
    text-align: center;
    border-bottom: solid 1px #030000;
}
.photo-hover .hover-img img {
  /*width: auto;*/
  /*height: auto;*/
  /*max-width: 80%;*/
  /*max-height: 100%;*/
}
.photo-hover .hover-text {
    width: 250px;
    margin: 8px auto 5px;
    letter-spacing: -1px;
    line-height: 1.4;
}

.photo-hover .hover-text .hover-shopinfo {
    display: block;
    width: 66px;
    height: 16px;
    margin: 0 auto;
    margin-top: 8px;
    background: url('../images/btn_shopinfo.png?1439798125') no-repeat 0 0;
    -webkit-background-size: 66px auto;
    -o-background-size: 66px auto;
    background-size: 66px auto;
}

.photo-hover .hover-box{
    display: table;
    width: 250px;
    margin: 0 auto;
}

.photo-hover .hover-box .box-img{
    display: table-cell;
    vertical-align: middle;
    padding-right: 5px;
}

.photo-hover .hover-box .box-txt{
    display: table-cell;
    vertical-align: middle;
}

.photo-hover .small .hover-ttl{
    top: 10px;
}

.photo-hover .small .hover-img{
    padding-top: 60px;
}

.photo-hover .small .hover-text {
    font-size: 9px;
    font-size: 0.9rem;
    line-height: 11px;
}

.photo-hover .small .hover-box{
    font-size: 7px;
    font-size: 0.7rem;
    line-height: 11px;
}

@-webkit-keyframes fadeInLeft {
    0% {
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-moz-keyframes fadeInLeft {
    0% {
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-o-keyframes fadeInLeft {
    0% {
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes fadeInLeft {
    0% {
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.fadeInLeft {
    position: relative;
    -webkit-animation-name: fadeInLeft;
    -moz-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}

.animated {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}


