.staff-nav-block {
  background: #f4f3f3;
  padding: 45px 0;
  position: relative;
  overflow: hidden; }
  .staff-nav-block:before, .staff-nav-block:after {
    content: "";
    display: block;
    width: 2000px;
    height: 230px;
    position: absolute;
    top: 0;
    background: #f4f3f3;
    z-index: 1; }
  .staff-nav-block:before {
    left: 50%;
    margin-left: -2405px; }
  .staff-nav-block:after {
    right: 50%;
    margin-right: -2405px; }

.staff-nav-block-in {
  width: 810px;
  margin: 0 auto;
  position: relative; }

.staff-nav {
  width: 170px;
  margin: 0 auto; }
  .staff-nav .slick-slide {
    text-align: center;
    outline-style: none; }
    .staff-nav .slick-slide a {
      display: inline-block;
      position: relative;
      outline-style: none; }
      .staff-nav .slick-slide a:after {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 134px;
        height: 134px;
        border: 3px solid #070203; }
    .staff-nav .slick-slide img {
      display: inline;
      position: relative; }
  .staff-nav .slick-list {
    overflow: visible; }
  .staff-nav .slick-arrow {
    display: block;
    z-index: 10;
    position: absolute;
    top: 50%;
    width: 28px;
    height: 51px;
    margin-top: -25px; }
  .staff-nav .slick-prev {
    background: url(../images/star/btn-prev.png) no-repeat center;
    left: 0;
    margin-left: -60px; }
  .staff-nav .slick-next {
    background: url(../images/star/btn-next.png) no-repeat center;
    right: 0;
    margin-right: -60px; }

body.star-detail01 .staff-nav .item01 a:after {
  content: ""; }

body.star-detail02 .staff-nav .item02 a:after {
  content: ""; }

body.star-detail03 .staff-nav .item03 a:after {
  content: ""; }

body.star-detail04 .staff-nav .item04 a:after {
  content: ""; }

body.star-detail05 .staff-nav .item05 a:after {
  content: ""; }

body.star-detail06 .staff-nav .item06 a:after {
  content: ""; }

body.star-detail07 .staff-nav .item07 a:after {
  content: ""; }

body.star-detail08 .staff-nav .item08 a:after {
  content: ""; }

body.star-detail09 .staff-nav .item09 a:after {
  content: ""; }

body.star-detail10 .staff-nav .item10 a:after {
  content: ""; }

body.star-detail11 .staff-nav .item11 a:after {
  content: ""; }

body.star-detail12 .staff-nav .item12 a:after {
  content: ""; }

body.star-detail13 .staff-nav .item13 a:after {
  content: ""; }

body.star-detail14 .staff-nav .item14 a:after {
  content: ""; }

body.star-detail15 .staff-nav .item15 a:after {
  content: ""; }

body.star-detail16 .staff-nav .item16 a:after {
  content: ""; }
