/*  home.scss
------------------------------------------------------------*/
.guest {
  margin: 30px 0 45px; }

.txt_area {
  padding: 0 20px; }
  .txt_area .txt_area__in {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 60px 0;
    padding: 40px 15px;
    border: 3px solid #FFF;
    text-align: center;
    font-size: 15px;
    font-size: 1.5rem;
    color: #FFF;
    line-height: 1.6; }

.sns_block01 {
  padding: 0 5px; }
  .sns_block01 .sns_block01__in {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 65px 40px 55px;
    background: url("../images/home/sec02_bg.jpg") no-repeat 0 0;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    text-align: center; }
    .sns_block01 .sns_block01__in .txt {
      margin-bottom: 25px; }
    .sns_block01 .sns_block01__in .sns_list > li {
      display: inline-block;
      vertical-align: middle;
      margin-left: 25px; }
      .sns_block01 .sns_block01__in .sns_list > li:first-child {
        margin-left: 0; }

.txt-block01 {
  margin-top: 60px;
  padding: 0 20px; }
  .txt-block01 .list {
    border-top: 2px solid #000;
    background-color: #FFF; }
    .txt-block01 .list .ttl {
      position: relative;
      margin-bottom: 30px;
      padding: 12px 0;
      border-bottom: 1px solid #CACACA;
      font-size: 18px;
      font-size: 1.8rem;
      font-weight: bold;
      color: #ED1C24;
      text-align: center; }
      .txt-block01 .list .ttl:after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -14px;
        margin-bottom: -15px;
        width: 28px;
        height: 15px;
        background: url("../images/home/arr_tri.png") no-repeat 0 0;
        -webkit-background-size: 28px;
        -o-background-size: 28px;
        background-size: 28px; }
    .txt-block01 .list .txt {
      padding: 0 20px 40px 20px;
      line-height: 1.8; }
      .txt-block01 .list .txt span {
        font-size: 13px;
        font-size: 1.3rem;
        font-weight: bold; }
