/*  runway.scss
------------------------------------------------------------*/
.main-block {
  padding-bottom: 120px; }

.ttl_guest {
  position: absolute;
  bottom: -50px;
  left: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 20px; }
  .ttl_guest .ttl_guest__in {
    padding: 30px 50px 0;
    background-color: #ed1c24;
    text-align: center; }

.guest_area {
  margin-top: 80px;
  padding: 0 20px; }
  .guest_area .guest {
    margin-bottom: 20px;
    padding-bottom: 15px;
    background-color: #FFF; }
    .guest_area .guest .photo {
      margin-bottom: 15px; }
    .guest_area .guest .ttl {
      width: 164px;
      height: 25px;
      margin: 0 auto;
      background: url("../images/runway/guest_bg.png") no-repeat 0 0;
      -webkit-background-size: 164px;
      -o-background-size: 164px;
      background-size: 164px;
      font-size: 15px;
      font-size: 1.5rem;
      font-style: oblique;
      color: #FFF;
      text-align: center; }
    .guest_area .guest .txt {
      margin-top: 15px;
      padding: 0 16px; }

.txt01 {
  margin: 25px 0 80px;
  text-align: center; }

.contents_photo {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 5px; }
  .contents_photo.type01 {
    margin-bottom: 70px; }
  .contents_photo.type02 {
    margin-bottom: 75px; }

.txt_time {
  margin-bottom: 55px; }
