@charset "Shift_JIS";

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*
====================================================

START from here

====================================================
*/

body {
    font-family: "Yu Gothic", YuGothic, sans-serif;
}

.contentsWrapper {
    background-color: #e50012;
    outline: 20px solid #e50012;
    outline-offset: -20px;
    text-align: center;
    overflow-y: hidden;
    position: relative;
    z-index: 2000;
}

.contensWidth {
    margin: 0 auto;
    width: 1172px;
    box-sizing: border-box;
}

.pageWidth {
    margin-left:20px;
    margin-right:20px;
    overflow: hidden;
}

.fixedBar{
    position: fixed;
    width: 100%;
    min-width: 852px;
    height: 80px;
    border: 20px solid #e50012;
    border-bottom: none;
    background-color: #fff;
    box-sizing: border-box;
    z-index: 100;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.nav_left{
    padding:6px 0 0 6px;
}

.nav_right{
    display: flex;
    position: relative;
}

.imege__close{
    position: absolute;
    top: 14px;
    left: -7px;
    z-index: 10;
    display: none;
}


.image__menu{
    margin: 21px 29px 20px 0;
}

.image__menu:hover,
.image__close:hover
{
    opacity: 0.8;
    cursor: pointer;
}

.navlistArea{
     background-color: rgba(255, 255, 255, 0.902);
    padding-top: 70px;
    padding-bottom: 70px;
    margin-top: -2px;
    overflow: hidden;
    display: none;
}

.header__imgWrapper{
    margin-top: 180px;
}


.contensWidth.contensWidth--mv {
    margin-bottom: 80px;
}

.contensWidth.contensWidth--credits {
    background-color: #fff;
    padding: 70px 85px;
}



.followusonContents{
    position: relative;
    margin-top: 145px;
    margin-bottom: 145px;
    background-image: url(images/ptn_follow.png);
    background-position: 10px;
    height: 500px;

}

.pageWidth .image__centerFixed {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.icon__container{
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 347px;
    top: 278px;
    left: 50%;
    transform: translateX(-50%);
}

.sctarget{
 opacity: 0;
}


.col-1 .contents img,
.col-2 .contents img {
    width: 100%;
}

.col-2 {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.listItems {
    border-top: 1px solid #ed1c24;
}

.listItem {
    display: flex;
    border-bottom: 1px solid #ed1c24;
    padding: 13px 0;
}

.listItems__heading {
    flex-basis: 134px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #ed1c24;
}

.listItems__contents {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    padding: 18px 34px 23px;
}

.listItems__heading {
    font-size: 21px;
    color: #ed1c24;
    font-weight: bold;
}

.listItem__contetns__ttl {
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: bold;
}

.listItem__contents__body {
    font-size: 14px;
}

.listItems.listItems--menu{
    max-width: 852px;
    margin: 0 auto;
    border-width: 2px;
}

.listItems.listItems--menu .listItem{
    position: relative;
    height: 95px;
    border-width: 2px;    
}

.listItems.listItems--menu .listItem:after{
    content: "";
    position: absolute;
    width: 33px;
    height: 22px;
    background-image: url(images/arrow.png);
    background-repeat: no-repeat;
    top:50%;
    right: 20px;
    transform: translateY(-50%)
}

.listItems.listItems--menu .listItem.comingsoon:after,
.listItems.listItems--menu .listItem.comingsoon a{
    opacity: 0.5;
    cursor: default;
}

.listItems.listItems--menu .listItem.comingsoon:before{
    content: "";
    position: absolute;
    width: 150px;
    height: 22px;
    background-image: url(images/comingsoon.png);
    background-repeat: no-repeat;
    top:50%;
    left: 50px;
    transform: translateY(-50%)    
}

.listItems.listItems--menu .listItem a {
    position: relative;
    width: 100%;
}

.listItems.listItems--menu .listItem a img{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%)   
}




.sns-block {
    margin-top: 120px;
}

.sns-block .sns_list {
    text-align: center;
}

.sns-block .sns_list>li {
    display: inline-block;
    vertical-align: middle;
    margin-left: 4px;
}

.sns-block .sns_list>li:first-child {
    margin-left: 0;
}

.copyright {
    margin: 20px 0 75px;
    text-align: center;
    color: #FFF;
}


.btn_pagetop {
  position: fixed;
  bottom: 70px;
  right: 40px; }
